<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title> 
</head>
<body>
    <!-- /////////////////////////
        Header bar below
    ////////////////////////////// -->
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#log-in"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log in</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#guestpert-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Become a</span>TV
                        Guestpert</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#producer-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Producer, Booker,
                            Journalist</span>Start Here</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle"></input>
        <label for="navi-toggle" class="navigation__btn">
            <span class="navigation__icon">
                <span class="navigation__icon-line-up"></span>
                <span class="navigation__icon-line-middle"></span>
                <span class="navigation__icon-line-down"></span>
            </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">GuestPerts</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Hot Topics</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Services</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">FAQ</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Products</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TV On Camera Training</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TVGuestpert Publishing</a></li>
            </ul>
        </nav>
    </div>

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    
    <header class="header">
        <h1 class="heading-primary u-mar-t-3 u-mar-b-2"><span class="color-txt-golden">About</span> us</h1>
        <p class="paragraph-tertiary color-txt-dark container u-center-text">TVGuestpert, TVGuestpert Publishing, and TVOnCameraTraining.com are visionary media companies that seek to educate,enlighten and entertain the masses with the highest level of integrity. Our exposure grows our Guestperts’ core business</p>

        <div class="header__hero-container u-mar-b-8">
            <div class="header__hero-content-container u-mar-b-3">
                <div class="header__hero-img-container">
                    <img src="../../images/team/jaquie_round.png" alt="Jacquie Jordan picture" class="fluid-img">
                </div>
                <div class="header__hero-title-container">
                    <h1 class="header__hero-title">Jacquie <span class="text-bold-1">Jordan</span></h1>
                    <h1 class="header__hero-designation">Founder</h1>
                </div>
            </div>
            <p class="paragraph-tertiary color-txt-dark u-center-text">Jacquie has produced countless TV shows and been involved in booking, or producing 10,000+ television guests. Jacquie also works with new experts and exciting talent on their branding, promotion, marketing and developmentas well as on-camera skills</p>
            <div class="u-absCenter u-mar-t-3"  style="width: 100%;">
                <a class="button__ghost button__ghost--sm btn-read-more" href="/founder">Read More</a>
            </div>
        </div>
    </header>

    <!-- /////////////////////////
        Section about --cards
    ////////////////////////////// -->

    <section class="about">

        <div class="card" id="card__person--1">
            <div class="card__person-wrapper">
                <div class="card__person-photo-container">
                    <img src="../../images/team/about_img1.jpg" alt="" class="fluid-img card__person-photo">
                </div>
                <div class="card__person-content">
                    <h2 class="heading-secondary u-mar-b-2 person__name">Stephanie <span class="text-bold-1">Cobian</span></h2>
                    <h3 class="heading-tertiary person__role">VP of Talent Relatioins and Media Services</h3>
                    <p class="paragraph-tertiary u-mar-b-3 u-mar-t-3 color-txt-dark">Stephanie has booked, prepped and produced Guestperts for national radio and television appearances, host auditions, and studio development pitch meetings.  She is in the trenches with the producers and the experts working out the details of content and elements to provide the most effective, informative and entertaining appearances......... </p>
                    <a class="button__ghost button__ghost--sm btn-read-more">Read More</a>
                </div>
                <div class="person__details u-display-none">
                    <p>Stephanie has booked, prepped and produced Guestperts for national radio and television appearances, host auditions, and studio development pitch meetings.  She is in the trenches with the producers and the experts working out the details of content and elements to provide the most effective, informative and entertaining appearances.
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        Her contribution at TVGuestpert is in project managing the details of the Guestpert/Author books from manuscript to publication which gives her firsthand experience and support in launching their brand in the media. 
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        She leads many of the creative teams at TVGuestpert by working with all the Guestperts on a variety of their projects, including content development, creation of press kits, producing of demo reel/ speaker reels, catalogs, website development, and producing their radio shows, as well as acting liaison to the bookings department at TVGuestpert and to casting agencies and studio development teams worldwide.
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        Stephanie has held positions with "Project: Hollywood Cares" and with IBN Sports where she was in charge of streaming live football games and other events on the internet.  As writer, she won the student film award for best 'short' documentary titled “The Do-it-Center” filmed in Agoura Hills right before she graduated with a BS in Cinema and Television Arts with an emphasis in television from California State University Northridge. Stephanie resides in Los Angeles.
                    </p>
                </div>
            </div>
        </div>

        <div class="card" id="card__person--2">
            <div class="card__person-wrapper">
                <img src="../../images/golden_line-left.png" alt="background_picture" class="goldenline__left goldenline">
                <div class="card__person-photo-container">
                    <img src="../../images/team/richard_waner.jpg" alt="" class="fluid-img card__person-photo">
                </div>
                <div class="card__person-content">
                    <h2 class="heading-secondary u-mar-b-2 person__name">RICHARD <span class="text-bold-1">WANER</span></h2>
                    <h3 class="heading-tertiary person__role">VP of Media Marketing and Sales, Executive Producer</h3>
                    <p class="paragraph-tertiary u-mar-b-3 u-mar-t-3 color-txt-dark">Savvy with a flair for bringing products and people to the market place through multiple channels, Richard pioneered the infomercial industry for such companies as Robert Allen, Charles Schwab, Kemper Group, Fidelity Investments, and a host of products like "Think and Grow Rich." His love for Personal Development and helping others succeed earned him the position of  ... </p>
                    <a class="button__ghost button__ghost--sm btn-read-more">Read More</a>
                </div>
                <div class="person__details u-display-none">
                    <p>Savvy with a flair for bringing products and people to the market place through multiple channels, Richard pioneered the infomercial industry for such companies as Robert Allen, Charles Schwab, Kemper Group, Fidelity Investments, and a host of products like "Think and Grow Rich." His love for Personal Development and helping others succeed earned him the position of Business Development Executive for the Personal Success Institute which included top motivational leaders such as Zig Zigler and Dennis Waitley. Generating revenue in this multi-million dollar industry, Richard championed back end product in the expert arena and produced hundreds of hours of television.
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        With a proven ability to open big business opportunities, Richard has been instrumental in bringing forth magazines, tv shows and inspirational cards through distributors and has brought his skill set and connections to TVGuestpert and Jacquie Jordan Inc. Publishing. Richard successfully launched Los Angeles' long standing Venice Magazine with founder Walter Martinez and the very lucrative lead generating TV Show, "Investment World."
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        Richard has the ability to balance his strong marketing and sales muscle with creative flair that includes a background as a writer for Paramount Studios under legendary television writer/producer David Milch.
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        Richard has been at the helm of companies that have sold many innovative campaigns and marketing techniques to a host of Fortune 500 companies. His clients include Federal Express, Tony Robbins Companies, Trump Organization, Kemper Group, KLM Airlines, Colgate - Palmolive.
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        He is a Rain Maker in every sense of the word.
                    </p>
                </div>
            </div>
        </div>

        <div class="card" id="card__person--3">
            <div class="card__person-wrapper ">
                <div class="card__person-photo-container">
                    <img src="../../images/team/TVG Workshop Fernita with Rachel.jpg" alt="" class="fluid-img card__person-photo">
                </div>
                <div class="card__person-content">
                    <h2 class="heading-secondary u-mar-b-2 person__name">RACHEL <span class="text-bold-1">QUAILL</span></h2>
                    <h3 class="heading-tertiary person__role">Project Manager</h3>
                    <p class="paragraph-tertiary u-mar-t-3 u-mar-b-3 color-txt-dark">Rachel has worked with TVGuestpert as a production assistant, project manager, content creator, graphic designer and website developer since 2014. Always ready to jump on any new project that needs attention. Getting to know the Guestperts on a personal level as well as working with the TVGuestpert team to help develop each individual personal brand is a definite highlight of her role... </p>
                    <a class="button__ghost button__ghost--sm btn-read-more">Read More</a>
                </div>
                <div class="person__details u-display-none">
                    <p>Rachel has worked with TVGuestpert as a production assistant, project manager, content creator, graphic designer and website developer since 2014. Always ready to jump on any new project that needs attention. Getting to know the Guestperts on a personal level as well as working with the TVGuestpert team to help develop each individual personal brand is a definite highlight of her role.
                    </p>
                    <p> &nbsp; </p>
                    <p>
                        After graduating from  the University of Southern California with an M.A. in Visual Anthropology, where she wrote, produced and edited a film on mother’s raising their children in motels, titled, Behind Every Door, Rachel went on to work as a marketing professional with projects ranging from branded video content and graphics, website design to implementing product launches. With over 5 years of marketing experience, Rachel has developed her qualitative and quantitative skills by conducting market research as well as working on e-commerce marketing plans using Google products.
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card__person-wrapper">
                <img src="../../images/golden_line-right.png" alt="background_picture" class="goldenline__right goldenline">
                <div class="card__person-photo-container">
                    <img src="../../images/team/Souri pic cropped.jpg" alt="" class="fluid-img card__person-photo">
                </div>
                <div class="card__person-content">
                    <h2 class="heading-secondary u-mar-b-2 person__name">SEREE <span class="text-bold-1">MALKIN</span></h2>
                    <h3 class="heading-tertiary person__role">Special Projects Assistant</h3>
                    <p class="paragraph-tertiary u-mar-b-3 u-mar-t-3 color-txt-dark">Seree graduated from UC Santa Barbara with a degree in Political Science. She most  recently was an events manager and grant writer for a Los Angeles non-profit.</p>
                </div>
            </div>
        </div>

        <div class="card" id="card__person--5">
            <div class="card__person-wrapper">
                <div class="card__person-photo-container">
                    <img src="../../images/team/Mark Oguschewitz. 2018.jpg" alt="" class="fluid-img card__person-photo">
                </div>
                <div class="card__person-content">
                    <h2 class="heading-secondary u-mar-b-2 person__name">MARK <span class="text-bold-1">OGUSCHEWITZ</span></h2>
                    <h3 class="heading-tertiary person__role">Lead Editor</h3>
                    <p class="paragraph-tertiary u-mar-t-3 u-mar-b-3 color-txt-dark">Mark graduated from the Columbia College Film School in Chicago, Illinois in 1992 before relocating to Los Angeles to pursue a career in the movie industry. During his almost 20 years as a freelance editor, Mark has worked on numerous films, documentaries, webisodes, industrials, music videos, commercials and just about anything that needed editing. In 2013...
                    </p>
                    <a class="button__ghost button__ghost--sm btn-read-more">Read More</a>
                </div>
                <div class="person__details u-display-none">
                    <p>Mark graduated from the Columbia College Film School in Chicago, Illinois in 1992 before relocating to Los Angeles to pursue a career in the movie industry. During his almost 20 years as a freelance editor, Mark has worked on numerous films, documentaries, webisodes, industrials, music videos, commercials and just about anything that needed editing. In 2013, his work on the award winning short film LIBERATOR earned him the Best Editing award from CineRocKom International Film Festival.
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        Mark's work has also extended past the editing room. He has writing, producing, and directing credits on the short films A WRITER'S STATE OF MIND, THE PERFECT MAN, and GOURMET, which went on to win the Best Micro-Short honor at the "2007 International Horror and Sci-Fi Film Festival."
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        Mark's work with TVGuestpert has been ongoing for more than 15 years. He is heavily involved in the editing of Guestpert reels, as well as, TVG's promo trailers and reels.
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        Mark is also known for being a film reviewer for the website "Adventures by Daddy", the creative consultant for the podcast "Skywalking through Neverland" and the co-host of the podcast "Talking Apes TV." 
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card__person-wrapper">
                <img src="../../images/golden_line-left.png" alt="background_picture" class="goldenline__left goldenline">
                <div class="card__person-photo-container">
                    <img src="../../images/team/Luisa Hotz cropped.jpg" alt="" class="fluid-img card__person-photo">
                </div>
                <div class="card__person-content">
                    <h2 class="heading-secondary u-mar-b-2 person__name">LUISA <span class="text-bold-1">HOTZ</span></h2>
                    <h3 class="heading-tertiary person__role">Office Admin</h3>
                    <p class="paragraph-tertiary u-mar-t-3 u-mar-b-3 color-txt-dark">Luisa graduated from Los Andes University in Bogotá, Colombia with a degree in Business Administration. With more than 14 years of experience working abroad, she recently moved to Los Angeles to start a new path.</p>
                </div>
            </div>
        </div>

        <div class="about__others">
            <div class="about__others-container">
                <div class="about__others-content">
                    <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo about__others-logo">
                    <div class="about__others-info">
                        <h2 class="heading-secondary u-mar-b-2">LAURA <span class="text-bold-1">OLSEN</span></h2>
                        <h3 class="heading-tertiary u-mar-b-3">Bookings Department</h3>
                    </div>
                </div>

                <div class="about__others-content">
                    <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo about__others-logo">
                    <div class="about__others-info">
                        <h2 class="heading-secondary u-mar-b-2">Suzette <span class="text-bold-1">Lewis</span></h2>
                        <h3 class="heading-tertiary u-mar-b-3">Office Assistant</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating out those on this  site that have not been produced by us</p>
        </div>
    </section>

     <!-- **** Footer **** -->
     <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>

    <!-- //////////////////////////////////////
     //////// Popups Below//////////
    ////////////////////////////////////// -->

    <div class="popup"></div>
</body>
</html>