<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catagory_hotTopics</title>
</head>
<body>
    <!-- /////////////////////////
        Header bar below
    ////////////////////////////// -->
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#log-in"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log in</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#guestpert-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Become a</span>TV
                        Guestpert</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#producer-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Producer, Booker,
                            Journalist</span>Start Here</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle"></input>
        <label for="navi-toggle" class="navigation__btn">
            <span class="navigation__icon">
                <span class="navigation__icon-line-up"></span>
                <span class="navigation__icon-line-middle"></span>
                <span class="navigation__icon-line-down"></span>
            </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">GuestPerts</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Hot Topics</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Services</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">FAQ</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Products</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TV On Camera Training</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TVGuestpert Publishing</a></li>
            </ul>
        </nav>
    </div>

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <header class="header">
        <h1 class="heading-extra-big u-center-text">Business and finance</h1>
    </header>

    <section class="view-btns">
        <button href="#" class="button__primary " id="view-all-btn">View All</button>

        <div class="view-btns__guestpert-filter">
            <div class="view-btns__filter-btn" id="menu-box">
                <button href="#" class="button__ghost button__ghost--sm">View hot topics by</button>

                <div class="view-btns__menu-wrapper" id="menu">
                    <ul class="view-btns__menu">
                        <li>Darren Campo</li>
                        <li>Gyani</li>
                        <li>Ivy Spater</li>
                        <li>steve</li>
                    </ul>
                </div>
            </div>
            <span id="byGuestpert">All</span>
        </div>
    </section>

    <section class="hot-topics">
        <ul class="row__grid-4 u-mar-b-5 u-mar-t-5">
            <li class="hot-topics__cards-wrapper">
                <a href="#" class="card-4 hot-topics__cards">
                    <div class="hot-topics__title-container u-center-text">

                        <p class="hot-topics__title">
                            HOW TO UNDERSTAND THAT YOU'RE READY FOR YOUR ENTREPRENEURIAL JOURNEY
                        </p>
                        <svg class="hot-topics__icon hot-topics__icon--top-left">
                            <use xlink:href="#left-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-left">
                            <use xlink:href="#left-bottom"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--top-right">
                            <use xlink:href="#right-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-right">
                            <use xlink:href="#right-bottom"></use>
                        </svg>
                    </div>

                    <div class="hot-topics__title-duplicate u-center-text">
                        <p class="hot-topics__title">
                            HOW TO UNDERSTAND THAT YOU'RE READY FOR YOUR ENTREPRENEURIAL JOURNEY
                        </p>
                    </div>

                    <div class="hot-topics__content-container u-mar-t-2">
                        <p class="hot-topics__content-para u-center-text">
                            Beginning on your entrepreneurial journey often happens in one of two ways. The first is a reaction to being ...
                        </p>
                    </div>

                    <div class="hot-topics__guestpert-info u-mar-t-2 u-mar-b-2">
                        <div class="hot-topics__img-wrapper">
                            <div class="hot-topics__img-container">
                                <img src="../../images/Producer/John Edwards-min.jpg" alt="image" class="hot-topics__img fluid-img">
                            </div>
                        </div>
                        <div class="hot-topics__guestpert-content-container">
                            <p class="hot-topics__content-caption color-txt-dark text-bold-1 guestPert_name">Dr. Steve Taubman</p>
                            <p class="hot-topics__content-caption color-txt-dark">Mindfulness - expert, speaker, author</p>
                            <p class="hot-topics__content-caption color-txt-dark"></p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="hot-topics__cards-wrapper">
                <a href="#" class="card-4 hot-topics__cards">
                    <div class="hot-topics__title-container u-center-text">

                        <p class="hot-topics__title">
                            PTSD TIPS FOR THE REST OF US
                        </p>
                        <svg class="hot-topics__icon hot-topics__icon--top-left">
                            <use xlink:href="#left-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-left">
                            <use xlink:href="#left-bottom"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--top-right">
                            <use xlink:href="#right-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-right">
                            <use xlink:href="#right-bottom"></use>
                        </svg>
                    </div>

                    <div class="hot-topics__title-duplicate u-center-text">
                        <p class="hot-topics__title">
                            PTSD TIPS FOR THE REST OF US
                        </p>
                    </div>

                    <div class="hot-topics__content-container u-mar-t-2">
                        <p class="hot-topics__content-para u-center-text">
                            We've all heard about post traumatic stress disorder as a disabling and torturous consequence of battle; soldiers ...
                        </p>
                    </div>

                    <div class="hot-topics__guestpert-info u-mar-t-2 u-mar-b-2">
                        <div class="hot-topics__img-wrapper">
                            <div class="hot-topics__img-container">
                                <img src="../../images/Producer/John Edwards-min.jpg" alt="image" class="hot-topics__img fluid-img">
                            </div>
                        </div>
                        <div class="hot-topics__guestpert-content-container">
                            <p class="hot-topics__content-caption color-txt-dark text-bold-1 guestPert_name"> Dr. Darren Campo</p>
                            <p class="hot-topics__content-caption color-txt-dark">Mindfulness - Expert/ speaker/ author</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
            
    </section>

    <!-- **** Footer **** -->

    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating out those on this  site that have not been produced by us</p>
        </div>
    </section>

        <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>
</body>
</html>