<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>content_hotTopics</title>
</head>
<body>

     <!-- /////////////////////////
        Header bar below
    ////////////////////////////// -->
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#log-in"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log in</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#guestpert-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Become a</span>TV
                        Guestpert</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#producer-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Producer, Booker,
                            Journalist</span>Start Here</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle"></input>
        <label for="navi-toggle" class="navigation__btn">
            <span class="navigation__icon">
                <span class="navigation__icon-line-up"></span>
                <span class="navigation__icon-line-middle"></span>
                <span class="navigation__icon-line-down"></span>
            </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">GuestPerts</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Hot Topics</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Services</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">FAQ</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Products</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TV On Camera Training</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TVGuestpert Publishing</a></li>
            </ul>
        </nav>
    </div>

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->


    <section class="hot-topic">
        <div class="hot-topic__container">
            <div class="hot-topic__about-container">

                <div class="hot-topic__guestpert-img-part">
                    <div class="hot-topic__guestpert-img-container">
                        <img class="fluid-img" src="../../images/guestperts/1498513638-Gayani Headshot. 2017v2..jpg" alt="guestpert image" class="hot-topic__guestpert-img">
                    </div>
                </div>

                <div class="hot-topic__description-part">
                    <h2 class="heading-tertiary u-mar-b-3 hot-topic__heading">CAN WE BLAME DRUG COMPANIES FOR PHYSICIAN OVER-PRESCRIBING? (NO)</h2>
                    <div class="hot-topic__about-hotTopic">
                        <div class="hot-topic__txt-ttl">
                            <p class="paragraph-tertiary color-txt-dark text-bold-1">Guestpert</p>
                        </div>
                        <div class="hot-topic__txt-ans">
                            <p class="paragraph-tertiary color-txt-dark">Gyani DeSilva</p>
                        </div>
                    </div>
                    <div class="hot-topic__about-hotTopic">
                        <div class="hot-topic__txt-ttl">
                            <p class="paragraph-tertiary color-txt-dark text-bold-1">Category</p>
                        </div>
                        <div class="hot-topic__txt-ans">
                            <p class="paragraph-tertiary color-txt-dark">Addiction And Recovery</p>
                        </div>
                    </div>
                    <div class="hot-topic__about-hotTopic">
                        <div class="hot-topic__txt-ttl">
                            <p class="paragraph-tertiary color-txt-dark text-bold-1">Tags</p>
                        </div>
                        <div class="hot-topic__txt-ans">
                            <p class="paragraph-tertiary color-txt-dark">Drugs</p>
                        </div>
                    </div>

                    <p class="paragraph-tertiary color-txt-dark u-mar-t-2">Gayani DeSilva is a Child & Adolescent Psychiatrist with 20 years experience. She is the author of A Psychiatrist's Guide: Helping Parents Reach Their Depressed Tween, and A Psychiatrist's Guide: Stop Teen Addiction Before It Starts.</p>
                </div>
            </div>

            <div class="hot-topic__content-container">
                <h1>hello everyone from Gayani</h1>
                <p>This is important to know because depending on your area of expertise, you will know where you will fall in the media requested timeline of appearances. When a tragedy strikes - the first layer of bookings will go to Public Officials and Eyewitnesses. The media is looking for the government body to identify, declare, and detail what has officially occurred. This happens for the first 24 hours of news.
                </p>
                <p>On Day #2 of a Breaking News Story - the "Digesters" are called in. They don't necessarily need to have any direct relation or experience to the actual event; however, they have experience in the arena of conversation and they are booked to help the viewer "process the information" and "prevent something similar." This can be a former Government or Public Official or a personal story that relates to the experience that either the victims or the eyewitnesses have gone through. This is also the day that the requests will come from Therapists, Psychologists, Life Coaches, Psychiatrists, Grief and Trauma Experts. Producers and Bookers often work from an M.D. or Ph.D. and/or a credible institution backwards in credentials.
                </p>
                <img src="../../images/hot-topics/addiction_and_recovery.jpg" alt="hotTopic image">
                <p>On Day #2 of a Breaking News Story -<a href="www.google.com">Hello</a> the "Digesters" are called in. They don't necessarily need to have any direct relation or experience to the actual event; however, they have experience in the arena of conversation and they are booked to help the viewer "process the information" and "prevent something similar." This can be a former Government or Public Official or a personal story that relates to the experience that either the victims or the eyewitnesses have gone through. This is also the day that the requests will come from Therapists, Psychologists, Life Coaches, Psychiatrists, Grief and Trauma Experts. Producers and Bookers often work from an M.D. or Ph.D. and/or a credible institution backwards in credentials.
                </p>
                <ul>
                    <li>Hello</li>
                    <li>I am Ronny</li>
                    <li>I am the best developer</li>
                    <li>In the world now</li>
                    <li>I will become the best hacker soon</li>
                </ul>
            </div>
        </div>
    </section>


    <!-- **** Footer **** -->

    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating out those on this  site that have not been produced by us</p>
        </div>
    </section>

     <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>
</body>
</html>