<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <!-- /////////////////////////
        Header bar below
    ////////////////////////////// -->
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#log-in"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log in</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#guestpert-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Become a</span>TV
                        Guestpert</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#producer-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Producer, Booker,
                            Journalist</span>Start Here</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->


    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle"></input>
        <label for="navi-toggle" class="navigation__btn">
            <span class="navigation__icon">
                <span class="navigation__icon-line-up"></span>
                <span class="navigation__icon-line-middle"></span>
                <span class="navigation__icon-line-down"></span>
            </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">GuestPerts</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Hot Topics</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Services</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">FAQ</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Products</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TV On Camera Training</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TVGuestpert Publishing</a></li>
            </ul>
        </nav>
    </div>

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <header class="header">
        
        <div class="hero">
            <div class="hero__figure-container">
                <img src="../../images/contact-figure.png" alt="contact-illustration" class="hero__figure fluid-img">
            </div>

            <div class="hero__contact-form-container">
                <form action="#" method="POST" class="form hero__contact-form">
                    <div class="form__group--contact">
                        <label for="name" class="form__label">Name</label>
                        <input type="text" maxlength="40" class="form__control" id="name" required>
                    </div>
                    <div class="form__group--contact">
                        <label for="email" class="form__label">Email</label>
                        <input type="email" class="form__control" id="email" required>
                    </div>
                    <div class="form__group--contact">
                        <label for="phone" class="form__label">Phone</label>
                        <input type="number" class="form__control" id="phone" required>
                    </div>
                    <div class="form__group--contact">
                        <label for="email" class="form__label">Comment</label>
                        <textarea class="form__control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form__group--contact u-mar-t-3">
                        <button class="form__submit-btn form__submit-btn--pink" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        
    </header>

    <section class="address">
        <div class="address__container">
            <h3 class="heading-tertiary u-mar-b-2">Emails:</h3>
            <p class="paragraph-tertiary color-txt-dark u-center-text">Suzette Lewis, Office Admin: <span class="text-bold-1">Assistant@TVGuestpert.com</span></p>
            <p class="paragraph-tertiary color-txt-dark u-center-text">Stephanie Cobian, VP of Media Services & Talent Relations: <span class="text-bold-1"> SCobian@TVGuestpert.com</span></p>
            <p class="paragraph-tertiary color-txt-dark u-center-text">Laura Olson, Lead Booker: <span class="text-bold-1">Bookings@TVGuestpert.com</span></p>
            <p class="paragraph-tertiary color-txt-dark u-center-text">Richard Waner, VP of Marketing & Sales: <span class="text-bold-1">RWaner@TVGuestpert.com</span></p>
            <p class="paragraph-tertiary color-txt-dark u-center-text">Jacquie Jordan, CEO: <span class="text-bold-1">JJordan@TVGuestpert.com</span></p>
            
            <div class="address__border"></div>

            <h3 class="heading-tertiary u-mar-b-2">Mailing:</h3>
            <p class="paragraph-tertiary color-txt-dark u-center-text">TVGuestpert  •  11664 National Blvd, #345 • Los Angeles, CA. 90064</p>
        </div>
    </section>

    <section class="founder">
        <div class="founder__container">
            <div class="founder__img-container">
                <img src="../../images/team/JJ.NewsletterHeader.jpg" alt="jacquie photo" class="founder__img fluid-img">
            </div>
            <p>We have crossed over a decade of media development and platform building with the most extraordinary authors, experts, business owners and entrepreneurs one could encounter.  As our experts' message and businesses have grown, we have grown too.  On average, we receive 300+ booking leads a day for our Guestperts.  We produce Emmy qualified broadcast television shows and digital projects for many of our Guestperts. We produce Emmy qualified broadcast television shows and digital projects for many of our Guestperts.  We produced several syndicated radio series heard nationwide.  Our New York Times Bestselling Publishing company can get a finished manuscript on bookstore bookshelves nationwide within 6-9 months.  It is this that I am most proud of, our distinction from not being a self-publishing company; however, we can teach authors how to successfully self-publish your book, if that is your avenue of choice.</p>

            <p>&nbsp;</p>

            <p>Our branding department is A-List in Talent.  We have produced top-notch websites in a variety of codes.  We shoot celebrity-style headshots, demo reels, speaker reels, and sizzle reels, and we have rocked many red carpet and backstage events at major Award Shows with our own books and Guestperts.</p>
            
            <p>&nbsp;</p>

            <p>We have placed Guestperts into lucratively paid hosting, paid speaking, and paid spokesperson opportunities having negotiated solid deals.</p>
            
            <p>&nbsp;</p>

            <p>Our offices are upstairs from Facebook in the booming Playa Vista section of Los Angeles.  We have tapped the best in social networking for our Guestperts which has included launching programs such as "365 Days of Social Media."</p>
        </div>
    </section>

    <section class="feedback">
        <h2 class="heading-tertiary">producer feedback</h2>
        <div class="feedback__card u-mar-t-5">
            <div class="feedback__img-wrapper">
                <div class="feedback__profile-img">
                    <img src="../../images/Producer/John Edwards-min.jpg" alt="image" class="feedback__img fluid-img">
                </div>
            </div>
            <div class="feedback__content-container">
                <p class="paragraph-tertiary color-txt-dark feedback__text">Jacquie has the ability to maintain a fair balance between the voice of the project she is producing and the needs of her guests. By integrating her pesronal warmth, wit, and ability to get to the heart of an issue, the end result is guaranteed to be a winner.</p>
                <p class="paragraph-tertiary color-txt-dark u-mar-t-3 text-bold-1">John Edwards , TV Host, Psychic Medium and author of "Crossing Over"</p>
            </div>
        </div>

        <div class="feedback__card u-mar-t-5">
            <div class="feedback__img-wrapper">
                <div class="feedback__profile-img">
                    <img src="../../images/Producer/Maury Povich-min.jpg" alt="image" class="feedback__img fluid-img">
                </div>
            </div>
            <div class="feedback__content-container">
                <p class="paragraph-tertiary color-txt-dark feedback__text">Jacquie ought to know how to get you on TV... she's put half the country on TV... including me.</p>
                <p class="paragraph-tertiary color-txt-dark u-mar-t-3 text-bold-1">Maury Povich , Television Host</p>
            </div>
        </div>
        <div class="feedback__card u-mar-t-5">
            <div class="feedback__img-wrapper">
                <div class="feedback__profile-img">
                    <img src="../../images/Producer/OWN-min.jpg" alt="image" class="feedback__img fluid-img">
                </div>
            </div>
            <div class="feedback__content-container">
                <p class="paragraph-tertiary color-txt-dark feedback__text">Couldn't have booked it better myself. Working with TVGuestpert was like I hired my own handpicked team. They had the efficiency, drive and ambition to book my show with the original A+ talent every producer dreams of.</p>
                <p class="paragraph-tertiary color-txt-dark u-mar-t-3 text-bold-1">JMegan Salvia , Producer, OWN and Ask Dr. Nandi</p>
            </div>
        </div>
    </section>

    <section class="message" >
        <div class="message__txt message__txt--success">sfdsdfsdfsdf</div>
    </section>
    <section class="message" style="display: flex;">
        <div class="message__txt message__txt--error">sfdsdfsdfsdf</div>
    </section>
    <!-- **** Footer **** -->

    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating out those on this  site that have not been produced by us</p>
        </div>
    </section>

     <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>
</body>
</html>