<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
</head>
<body>
    <!-- /////////////////////////
        Header bar below
    ////////////////////////////// -->
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#log-in"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log in</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#guestpert-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Become a</span>TV
                        Guestpert</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#producer-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Producer, Booker,
                            Journalist</span>Start Here</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle"></input>
        <label for="navi-toggle" class="navigation__btn">
            <span class="navigation__icon">
                <span class="navigation__icon-line-up"></span>
                <span class="navigation__icon-line-middle"></span>
                <span class="navigation__icon-line-down"></span>
            </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">GuestPerts</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Hot Topics</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Services</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">FAQ</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Products</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TV On Camera Training</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TVGuestpert Publishing</a></li>
            </ul>
        </nav>
    </div>

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <section class="faq">
        <div class="heading-secondary u-mar-b-5">Frequently Asked Questions</div>

        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    What is a Media Development Company
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <h3>INTEGRATIVE MEDIA PLATFORMS FOR EXPERTS AND BUSINESSES</h3>
                <p>Our media development company, Jacquie Jordan Inc./TVGuestpert.com is a portal for incubating talent, products, messages, and businesses. As a media development company we produce and develop content and product within the integrity of the membership community. As we leverage the profile and publicity of our Guest Experts (AKA “Guestperts”) in the media, their market value rises. This happens as a result of specific planning, growth, and development of our Guestpert clientele. As a company, we are then able to set up larger media properties for our Guestpert’s in publishing, features, television, radio, and as a result grow their businesses.</p>
            </div>
        </div>

        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    Who is a TVGuestpert?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <h3>GAIN EXPOSURE TO GROW YOUR CORE BUSINESS</h3>
                <p>A TVGuestpert is a professional in a given field with a particulat expertise who has a message to share. TVGuestperts may have personal experiences that they want to share to the community at large through television. Guest experts are ofetn seen on talk shows and news shows. A perfect example of a guest expert would be Dr. Phil, when he used to repeatedly appear on Oprah (before he landed his own TV show, of course)!</p>
            </div>
        </div>

        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    What is TVGuestpert.com
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <h3>GAIN EXPOSURE TO GROW YOUR CORE BUSINESS</h3>
                <p>TVGuestpert.com is a place where television producers come to book their guests, talent and Guestperts for their shows. It's also a place for people who want to get on TV... those who have expertise, talent and/or a message to share. The site is marketed globally to the booking industry. You can say it is amortized public relations. It's a community, when one Guestpert succeeds, we all succeed. When a Guestpert does well on television it increases opportunities and raises the reputation of the group as a whole.</p>
            </div>
        </div>


        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    What If I Have a Publicist or Publisher?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <div class="faq__video">
                    <iframe width="590" height="640" src="https://www.youtube.com/embed/LliAL3JV9Rc?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    Can Anyone Be a TVGuestpert?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <p>We believe that everyone has some experience or area of expertise that television producers can use on their shows. Every person who applies for membership to TVGuestpert.com is considered and reviewed to determine if they are an appropriate match with our community.</p>
                <p>&nbsp;</p>
                <p>The company Founder, Television Producer Jacquie Jordan, has booked at least 10,000 guests on television. In her experience, the demand for television guests is on-going and insatiable.</p>
                <p>&nbsp;</p>
                <p>It's important to note that we adhere to high standards when we provide on camera guests. Producers know that TVGuestpert members are media-savvy, will follow protocol, are media trained or experienced, and most of all... will make really good TV!</p>
            </div>
        </div>


        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    How Does TVGuestpert.com Work?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <p>We market our whole database of Guestperts globally to bookers and producers in television, radio, web content providers, and in print. We are coming to the table in the media world by providing content and experts who deliver, which is why TVGuestperts booking department receives 300 media leads a day filtered out to the appropriate experts.</p>
            </div>
        </div>


        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    Do You Only Deal with Television?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <p>Of course not. We deal with print, broadcast radio, internet radio, new media, speaking engagements, and online media. Our teams' experience, as veteran television producers, makes TV a focal point of our website. It's the decades worth of TVGuestpert's relationships in television that serves as the solid foundation for all that we do</p>
                <p><b>Our bookings include:</b></p>
                <img src="../../images/brands/all brands.jpg" alt="all brands" class="faq__answer-all-brands-img">
            </div>
        </div>

        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    Why Do People Want to Get on TV?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <p>Television publicity is still invaluable in raising credibility. The exposure translates into increased business, book sales, web trafic, credibility, influence, and most importantly branding. Studies have shown, when someone has been on television as a guest, people tend to regard them as trustworthy respected and experienced. Part of our job at TVGuestpert.com is to mediate our Guestperts' overall visions and goals with their television exposure and translate it all into their business.</p>
                <p>&nbsp;</p>
                <div class="faq__answer-images-container">
                    <img src="../../images/Gayani.jpg" alt="all brands">
                </div>
            </div>
        </div>

        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    Do I Get Paid to be on TV?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <div class="faq__video">
                    <iframe width="590" height="640" src="https://www.youtube.com/embed/LliAL3JV9Rc?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>


        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    What Are the Various Production Reels?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <p>These reels are quite different than the purpose, the design, and the strategy if our traditional Video Demo Reels. </p>
                <p>&nbsp;</p>

                <p><b>RESULTS REEL:</b></p>
                <p>A Results Reel is a compliation of previous appearances.</p>
                <p>&nbsp;</p>
                
                <p><b>SPEAKERS REEL:</b></p>
                <p>We produce Speakers Reels, as many speakers bureaus have reached out to TVGuestpert to book our Experts as their speakers. We have found that this has become a lucrative stream of income for our Guestperts.</p>
                <p>&nbsp;</p>
                
                <p><b>HOST DEMO REELS</b></p>
                <p>For the experiences TVGuestpert who has laid the groundwork of his/her platform and is ready to step into the role of show host.</p>
                <p>&nbsp;</p>

                <p><b>COMPANY PROFILE DEMO REELS</b></p>
                <p>These reels are for your business-to-business or direct to customer marketing. Perfect for showcasing your company to potential clients.</p>
                <p>&nbsp;</p>

                <p><b>PRODUCT DEMO REELS</b></p>
                <p>A commercial for your product or service to be used in email campaigns, your sales materials, presentations, tradeshows, on your website and across the internet.</p>
                <p>&nbsp;</p>

                <p><b>INVESTOR REELS</b></p>
                <p>A video produced for the purpose of demonstrating the value of your company to potential investors.</p>
                <p>&nbsp;</p>

                <p><b>BOOK REELS</b></p>
                <p>For the author who's looking for an edge when pitching the big publishing houses.</p>
                <p>&nbsp;</p>

                <p><b>POLITICAL CAMPAIGN REELS</b></p>
                <p>Get your message out to the voters with video. Use it on your campaign website, YouTube and at your events to help win that election!</p>
                <p>&nbsp;</p>
                
            </div>
        </div>


        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    What do I Need to Know About Speaking Points?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">

                <p><b>For Print:</b></p>
                <p>You want to write up enough information that a journalist or blogger can pull a quote from you for their article. They will come back if they like what you wrote but need additional information or more of an explanation on something.</p>
                <p>&nbsp;</p>
                
                <p><b>For TV & Radio:</b></p>
                <p>Producer want the take home information in your speaking points. What does the viewer get from watching your segment?</p>
                <p>Our Bookings Department will always read a Guestperts Hot Topic or their email submitted speaking points before sending out to any producer or journalist or booker. We'll always let you know if we think you should add more "meat on the bones", so to speak.</p>
                <p>If the speaking points are picked up by a journalist, they will share it accordingly with our booking team. Journalists are motivated to let TVG know because they don't want the content to show up someplace else, and they want the social media shares.</p>
                <p>TVG data-bases all pitches which is our reference to what has gone out. We also cross reference and search to see if the speaking points by a Guestpert were picked up.</p>
                <p>If we have other opportunities to use the speaking points, we do. In addition, we highly recommend that you set up a Google Alert for both your name and your book title.</p>
                <p>&nbsp;</p>

                <p>For more help, please email Laura Olson: <a href="Bookings@TVGuestpert.com">Bookings@TVGuestpert.com</a></p>
                
            </div>
        </div>


        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    Do I Get Paid to be on TV?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <div class="faq__video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/whRbiAh2Rp0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>


        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    Do I Need to Already Have a Platform?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <div class="faq__video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gyXu6XElftY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>


        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    What If I Say The Wrong Thing On TV?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <div class="faq__video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/KGxS_uUjW7g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>


        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    What is the Difference Between Scripted and Non-Scripted Television?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <div class="faq__video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Qx7fUURoy5Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>


        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    How Wide Do I Go On Topics?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <div class="faq__video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SF-3NgD6GjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        

        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    How Do I Promote My Book On TV?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <div class="faq__video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/EPx7pc5uuy0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>


        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    What If The TV Host Doesn't Ask the Right Questions?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <div class="faq__video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/blYYcAOw6Fw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    What If I Don't Have the Skills?
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <div class="faq__video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VexOGJ1aWb4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </section>


    <!-- /////////////////////////
        Footer 
    ////////////////////////////// -->
    
    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating out those on this  site that have not been produced by us</p>
        </div>
    </section>

     <!-- **** Footer **** -->
     <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>
</body>
</html>