<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestperts</title>
</head>
<body>
    <!-- /////////////////////////
        Header bar below
    ////////////////////////////// -->
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#log-in"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log in</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#guestpert-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Become a</span>TV
                        Guestpert</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#producer-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Producer, Booker,
                            Journalist</span>Start Here</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle"></input>
        <label for="navi-toggle" class="navigation__btn">
            <span class="navigation__icon">
                <span class="navigation__icon-line-up"></span>
                <span class="navigation__icon-line-middle"></span>
                <span class="navigation__icon-line-down"></span>
            </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">GuestPerts</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Hot Topics</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Services</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">FAQ</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Products</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TV On Camera Training</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TVGuestpert Publishing</a></li>
            </ul>
        </nav>
    </div>

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->
    
    <header class="header">
        <div class="header__hero-wrapper">
            <div class="hero">
                <div class="search-box  u-mar-b-2">
                    <div class="form__search">
                        <input class="form__control form__search-input" autocomplete="off" id="search-input"  type="text" placeholder="Search Guestperts" required>
                        <input type="hidden" class="form__hidden-input" value="" id="hidden-input">
                        <button class="form__search-btn form__search-btn-sm" id="form-search-btn">
                            <svg class="form__search-icon">
                                <use xlink:href="#magnifying-glass"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="featured__autocomplete-options form__autocomplete">
                        <div class="custom-select">
                            <div class="custom-options"></div>
                        </div>
                    </div>
                </div>
                <div class="hero__filter-btn-container">
                    Search By
                    <button class="hero__filter-btn hero__filter-btn--active">All</button>
                    <button class="hero__filter-btn">Platinum</button>
                    <button class="hero__filter-btn">Elite</button>
                    <button class="hero__filter-btn">Standard</button>
                    <button class="hero__filter-btn">produced Reels</button>
                    <button class="hero__filter-btn">Expertise</button>
                </div>

                <button class="hero__btn-see-show">A-Z guestpert List</button>
            </div>
        </div>
    </header>

    <!-- /////////////////////////
        A-Z Guestpert name list
    ////////////////////////////// -->

    <section class="guestpert-list">
        <ul class="guestpert-list__box"></ul>
    </section>

    <!-- /////////////////////////
        Section guestperts --cards
    ////////////////////////////// -->

    <section class="guestperts">

        <div class="card"> 
            <!-- below line is temporary -->
            <div class="card__marker card__marker--standard u-mar-t-2">Standard</div>
            <div class="card__person-wrapper ">
                <div class="card__person-photo-container">
                    <img src="../../images/guestperts/1493250524-DarrenCampoHeadshot.2017.jpg" alt="" class="fluid-img card__person-photo">
                </div>
                <div class="card__person-content">
                    <h2 class="heading-secondary u-mar-b-2">Darren Campo<span class="text-bold-1"></span></h2>
                    <h2 class="heading-tertiary">TV Producer, Author</h2>
                    <!-- below line is temporary -->
                    <p class="paragraph-secondary text-bold-2">Entertainment</p>
                    <p class="paragraph-tertiary u-mar-b-3 u-mar-t-3 color-txt-dark">Darren Campo's creative instinct has put him in leading roles at Court TV, truTV, CBS and Food Network.  His philosophical ingenuity has fostered a body of intriguing novels, "Alex Detail's Revolution," "Alex Detail's Rebellion," "Disappearing Spell," and "Stingers."...  </p>
                    <button class="button__ghost button__ghost--sm">Read More</button>
                    
                    <!-- below line is temporary -->
                    <img src="../../images/Tvg-logo.png" alt="premium" class="card__premium-logo">
                </div>
            </div>
        </div>
        
        <div class="card">
            <!-- below line is temporary -->
            <div class="card__marker card__marker--platinum u-mar-t-2">Platinum</div>
            <div class="card__person-wrapper">
                <img src="../../images/golden_line-left.png" alt="background_picture" class="goldenline__left goldenline">
                <div class="card__person-content">
                    <h2 class="heading-secondary u-mar-b-2">Dr. Gayani DeSilva MD<span class="text-bold-1"></span></h2>
                    <h2 class="heading-tertiary">Child & Adolescent Psychiatrist</h2>
                    <!-- below line is temporary -->
                    <p class="paragraph-secondary text-bold-2">Psychiatrist, Children, Adolescents, Mental Health</p>
                    <p class="paragraph-tertiary u-mar-b-3 u-mar-t-3 color-txt-dark">Gayani DeSilva is a Child & Adolescent Psychiatrist with 20 years experience. She is the author of A Psychiatrist's Guide: Helping Parents Reach Their Depressed Tween, and A Psychiatrist's Guide: Stop Teen Addiction Before It Starts ... </p>
                    <button class="button__ghost button__ghost--sm">Read More</button>
                    <!-- below line is temporary -->
                    <img src="../../images/Tvg-logo.png" alt="premium" class="card__premium-logo">
                </div>
                <div class="card__person-photo-container">
                    <img src="../../images/guestperts/1498513638-Gayani Headshot. 2017v2..jpg" alt="" class="fluid-img card__person-photo">
                </div>
            </div>
        </div>
    </section>

    <!-- /////////////////////////////////////// -->
    <!-- ///--- Page Numbers ---/// -->
    <!-- /////////////////////////////////////// -->
    <div class="page u-mar-t-2">
        <ul class="page__list" id="page__list">
        </ul>
    </div>

    
    <!-- /////////////////////////
        Footer 
    ////////////////////////////// -->
    
    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating out those on this  site that have not been produced by us</p>
        </div>
    </section>

     <!-- **** Footer **** -->
     <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>
</body>
</html>