<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestpert</title>
</head>

<body>
    <!-- /////////////////////////
        Header bar below
    ////////////////////////////// -->
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#log-in"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log in</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#guestpert-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Become a</span>TV
                        Guestpert</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#producer-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Producer, Booker,
                            Journalist</span>Start Here</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle"></input>
        <label for="navi-toggle" class="navigation__btn">
            <span class="navigation__icon">
                <span class="navigation__icon-line-up"></span>
                <span class="navigation__icon-line-middle"></span>
                <span class="navigation__icon-line-down"></span>
            </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">GuestPerts</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Hot Topics</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Services</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">FAQ</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Products</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TV On Camera Training</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TVGuestpert Publishing</a></li>
            </ul>
        </nav>
    </div>

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <header class="header">
        <div class="header__strip header__strip--platinum">Platinum Guestpert</div>

        <!-- /////////////////////////////////
            For Reel and Book cover
            /////////////////////////////////
        -->

        <!-- <div class="hero slide-1">
            <div class="hero__img-wrapper">
                <div class="hero__img-container">
                    <img src="../../images/guestperts/1493250524-DarrenCampoHeadshot.2017.jpg" alt="image"
                        class="hero__img fluid-img">
                </div>
            </div>
            <div class="hero__content-container">
                <div class="hero__guestpert-info">
                    <h2 class="heading-secondary hero__heading">Dr. Gayani DeSilva MD</h2>
                    <p class="paragraph-primary hero__guestpert-designation">Tv Producer, Author</p>
                    <div class="hero__guestpert-expertise">
                        <p class="hero__caption-txt-bg color-txt-dark">Expertise: Entertainment</p>
                        <p class="hero__caption-txt-sm color-txt-dark">Television Producer and executive, Author and
                            Professor</p>
                    </div>
                </div>
                <div class="hero__media-container">
                    <div class="hero__book-img-container">
                        <img src="../../images/books/1503705615-Alex Detail's Revolution. Front Book Cover.jpg"
                            alt="book image" class="hero__book-img fluid-img">
                    </div>
                    <div class="hero__reel-container">
                        <iframe src="https://player.vimeo.com/video/263431303" width="640" height="360" frameborder="0"
                            allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
        </div> -->

        <!-- /////////////////////////////////
            For Reel only
            /////////////////////////////////
        -->

        <div class="hero slide-2">
            <div class="hero__img-wrapper">
                <div class="hero__img-container">
                    <img src="../../images/guestperts/1493250524-DarrenCampoHeadshot.2017.jpg" alt="image"
                        class="hero__img fluid-img">
                </div>
            </div>
            <div class="hero__content-container">
                <div class="hero__guestpert-info">
                    <h2 class="heading-secondary hero__heading">Dr. Gayani DeSilva MD</h2>
                    <p class="paragraph-primary hero__guestpert-designation">Tv Producer, Author</p>
                    <div class="hero__guestpert-expertise">
                        <p class="hero__caption-txt-bg color-txt-dark">Expertise: Entertainment</p>
                        <p class="hero__caption-txt-sm color-txt-dark">Television Producer and executive, Author and
                            Professor</p>
                    </div>
                </div>
                <div class="hero__media-container">
                    <div class="hero__reel-container">
                        <iframe src="https://player.vimeo.com/video/263431303" width="640" height="360" frameborder="0"
                            allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
        </div>

        <!-- /////////////////////////////////
            For without Reel
            /////////////////////////////////
        -->

        <!-- <div class="hero slide-3">
            <div class="hero__img-wrapper">
                <div class="hero__img-container">
                    <img src="../../images/guestperts/1493250524-DarrenCampoHeadshot.2017.jpg" alt="image" class="hero__img fluid-img">
                </div>
            </div>
            <div class="hero__content-container">
                <div class="hero__guestpert-info">
                    <h2 class="heading-secondary hero__heading">Dr. Gayani DeSilva MD</h2>
                    <p class="paragraph-primary hero__guestpert-designation">Tv Producer, Author</p>
                    <div class="hero__guestpert-expertise">
                        <p class="hero__caption-txt-bg color-txt-dark">Expertise: Entertainment</p>
                        <p class="hero__caption-txt-sm color-txt-dark">Television Producer and executive, Author and Professor</p>
                    </div>
                </div>
                <div class="hero__media-container">
                    <!-- <div class="hero__book-img-container">
                        <img src="../../images/books/1503705615-Alex Detail's Revolution. Front Book Cover.jpg" alt="book image" class="hero__book-img fluid-img">
                    </div> -->
        </div>
        </div>

        </div>
        </div>
    </header>

    <!-- scroll-bar__fixed -->
    <nav class="scroll-bar__wrapper ">
        <div class="scroll-bar scroll-bar--platinum">
            <ul class="scroll-bar__btn-list">
                <li><a href="#bio" class="scroll-bar__btn">Bio</a></li>
                <li><a href="#media" class="scroll-bar__btn">Media</a></li>
                <li><a href="#hot-topics" class="scroll-bar__btn">Hot Topics</a></li>
                <li><a href="#blog" class="scroll-bar__btn">Blog</a></li>
                <li><a href="#demo-reel" class="scroll-bar__btn">Demo Reel</a></li>
                <li><a href="#books" class="scroll-bar__btn">Book Cover</a></li>
            </ul>
        </div>
    </nav>
    <div class="scroll-bar__duplicate"></div>

    <section class="bio">
        <div class="bio__content-container">
            <div class="guestpert_personal-heading  u-mar-b-4">
                <h2 class="heading-secondary">Bio</h2>
            </div>

            <div class="bio__content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi molestiae blanditiis
                    mollitia omnis voluptate nobis doloribus sed unde ab quisquam saepe iusto consequatur recusandae est
                    commodi, dolor dolores, doloremque perspiciatis sit eius, quia minima velit beatae eaque. Voluptas
                    fugit
                    autem exercitationem expedita sunt eaque repudiandae mollitia veniam earum laboriosam perferendis
                    totam
                    a, necessitatibus molestiae sed fuga pariatur magnam perspiciatis ipsa aliquid! Facilis distinctio
                    iste
                    voluptatem saepe temporibus fugiat repellat asperiores quia fugit tenetur architecto delectus
                    officia
                    accusantium veniam nisi aperiam nihil similique, porro blanditiis, magni error non labore in
                    doloremque?
                    Animi similique, possimus ad eaque esse iste illo aliquid sed!</p>
                <p>Lorem, ipsum. <a href="www.google.com">Visit Google</a></p>
            </div>
        </div>
    </section>

    <section class="media">
        <div class="guestpert_personal-heading  u-mar-b-4">
            <h2 class="heading-secondary">Media</h2>
        </div>

        <div class="media__upcoming-appearances">
            <p3 class="paragraph-primary">UPCOMING APPEARANCES</p3>
            <div class="row__grid-4 u-mar-b-3 u-mar-t-3">

                <div class="card-4 media__cards">
                    <p class="media__para u-mar-b-2">Gayani DeSilva, MD discusses social media addiction on Access Live
                    </p>
                    <a href="#" class="media__video-container color-txt-dark">
                        <div class="media__video">Access live</div>
                        <svg class="media__play-icon">
                            <use xlink:href="#play-circle"></use>
                        </svg>
                    </a>
                </div>
                <div class="card-4 media__cards">
                    <p class="media__para u-mar-b-2">Remade In California to discuss anxiety and fear</p>
                    <a href="#" class="media__video-container color-txt-dark">
                        <div class="media__video">Remade In California, Charter</div>
                        <svg class="media__play-icon">
                            <use xlink:href="#play-circle"></use>
                        </svg>
                    </a>
                </div>

            </div>

            <!-- /////////////////////////////////////// -->
            <!-- ///--- Page Numbers ---/// -->
            <!-- /////////////////////////////////////// -->
            <div class="page">
                <ul class="page__list" id="page-upcomingAppearance">
                </ul>
            </div>
        </div>

        <div class="media__prior-appearances">
            <p3 class="paragraph-primary">PRIOR APPEARANCES</p3>
            <div class="row__grid-4 u-mar-b-3 u-mar-t-3">

                <div class="card-4 media__cards">
                    <p class="media__para u-mar-b-2">Gayani DeSilva, MD discusses social media addiction on Access Live
                    </p>
                    <a href="#" class="media__video-container color-txt-dark">
                        <div class="media__video">Access live</div>
                        <svg class="media__play-icon">
                            <use xlink:href="#play-circle"></use>
                        </svg>
                    </a>
                </div>
                <div class="card-4 media__cards">
                    <p class="media__para u-mar-b-2">Remade In California to discuss anxiety and fear</p>
                    <a href="#" class="media__video-container color-txt-dark">
                        <div class="media__video">Remade In California, Charter</div>
                        <svg class="media__play-icon">
                            <use xlink:href="#play-circle"></use>
                        </svg>
                    </a>
                </div>

            </div>
            <!-- /////////////////////////////////////// -->
            <!-- ///--- Page Numbers ---/// -->
            <!-- /////////////////////////////////////// -->
            <div class="page">
                <ul class="page__list" id="page-priorAppearance">
                </ul>
            </div>
        </div>
    </section>

    <section class="hot-topics">
        <div class="guestpert_personal-heading  u-mar-b-4">
            <h2 class="heading-secondary">hot topics</h2>
        </div>
        <ul class="row__grid-4 ">
            <li class="hot-topics__cards-wrapper">
                <a href="#" class="card-4 hot-topics__cards">
                    <div class="hot-topics__title-container u-center-text">

                        <p class="hot-topics__title">
                            HOW TO UNDERSTAND THAT YOU'RE READY FOR YOUR ENTREPRENEURIAL JOURNEY
                        </p>
                        <svg class="hot-topics__icon hot-topics__icon--top-left">
                            <use xlink:href="#left-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-left">
                            <use xlink:href="#left-bottom"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--top-right">
                            <use xlink:href="#right-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-right">
                            <use xlink:href="#right-bottom"></use>
                        </svg>
                    </div>

                    <div class="hot-topics__title-duplicate u-center-text">
                        <p class="hot-topics__title">
                            HOW TO UNDERSTAND THAT YOU'RE READY FOR YOUR ENTREPRENEURIAL JOURNEY
                        </p>
                    </div>

                    <div class="hot-topics__content-container u-mar-t-2">
                        <p class="hot-topics__content-para u-center-text">
                            Beginning on your entrepreneurial journey often happens in one of two ways. The first is a
                            reaction to being ...
                        </p>
                    </div>

                    <div class="hot-topics__guestpert-info u-mar-t-2 u-mar-b-2">
                        <div class="hot-topics__img-wrapper">
                            <div class="hot-topics__img-container">
                                <img src="../../images/Producer/John Edwards-min.jpg" alt="image"
                                    class="hot-topics__img fluid-img">
                            </div>
                        </div>
                        <div class="hot-topics__guestpert-content-container">
                            <p class="hot-topics__content-caption color-txt-dark text-bold-1">Dr. Steve Taubman</p>
                            <p class="hot-topics__content-caption color-txt-dark">Mindfulness - expert, speaker, author
                            </p>
                            <p class="hot-topics__content-caption color-txt-dark"> </p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="hot-topics__cards-wrapper">
                <a href="#" class="card-4 hot-topics__cards">
                    <div class="hot-topics__title-container u-center-text">

                        <p class="hot-topics__title">
                            PTSD TIPS FOR THE REST OF US
                        </p>
                        <svg class="hot-topics__icon hot-topics__icon--top-left">
                            <use xlink:href="#left-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-left">
                            <use xlink:href="#left-bottom"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--top-right">
                            <use xlink:href="#right-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-right">
                            <use xlink:href="#right-bottom"></use>
                        </svg>
                    </div>

                    <div class="hot-topics__title-duplicate u-center-text">
                        <p class="hot-topics__title">
                            PTSD TIPS FOR THE REST OF US
                        </p>
                    </div>

                    <div class="hot-topics__content-container u-mar-t-2">
                        <p class="hot-topics__content-para u-center-text">
                            We've all heard about post traumatic stress disorder as a disabling and torturous
                            consequence of battle; soldiers ...
                        </p>
                    </div>

                    <div class="hot-topics__guestpert-info u-mar-t-2 u-mar-b-2">
                        <div class="hot-topics__img-wrapper">
                            <div class="hot-topics__img-container">
                                <img src="../../images/Producer/John Edwards-min.jpg" alt="image"
                                    class="hot-topics__img fluid-img">
                            </div>
                        </div>
                        <div class="hot-topics__guestpert-content-container">
                            <p class="hot-topics__content-caption color-txt-dark text-bold-1">Dr. Steve Taubman</p>
                            <p class="hot-topics__content-caption color-txt-dark">Mindfulness - Expert/ speaker/ author
                            </p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <!-- /////////////////////////////////////// -->
        <!-- ///--- Page Numbers ---/// -->
        <!-- /////////////////////////////////////// -->
        <div class="page">
            <ul class="page__list" id="page-hotTopics">
            </ul>
        </div>
    </section>

    <section class="blog">
        <div class="guestpert_personal-heading  u-mar-b-4">
            <h2 class="heading-secondary">BLOG</h2>
        </div>

        <div class="blog__content u-absCenter">
            <div class="blog__card">
                <h3 class="blog__heading u-mar-b-2">Every Breaking News Story Follows An Arc</h3>
                <p class="paragraph-tertiary blog__para">This is important to know because depending on your area of
                    expertise, you will know where you will fall in the media requested timeline of appearances. When a
                    tragedy strikes - the first layer of bookings ...</p>
                <a href="#" class="blog__button color-txt-golden"> Continue Reading</a>
            </div>
            <div class="blog__card">
                <h3 class="blog__heading u-mar-b-2">Alert! Don't be the United Airlines CEO </h3>
                <p class="paragraph-tertiary blog__para">TVGuestpert.com Every Story follows it's own precipitous news
                    arc.
                    That's why we, the publicists at TVGuestpert, know how to place the story on the particular wave of
                    crisis. "It's all about 'pivoting' the ...</p>
                <a href="#" class="blog__button color-txt-golden"> Continue Reading</a>
            </div>
        </div>

        <!-- /////////////////////////////////////// -->
        <!-- ///--- Page Numbers ---/// -->
        <!-- /////////////////////////////////////// -->
        <div class="page">
            <ul class="page__list" id="page-blogs">
            </ul>
        </div>
    </section>

    <section class="demo-reel">
        <div class="guestpert_personal-heading  u-mar-b-4">
            <h2 class="heading-secondary">Demo Reel</h2>
        </div>

        <div class="row__grid-4 u-mar-b-3 u-mar-t-3">
            <div class="card-4 demo-reel__cards">

            </div>
            <div class="card-4 demo-reel__cards">

            </div>
        </div>
        <!-- /////////////////////////////////////// -->
        <!-- ///--- Page Numbers ---/// -->
        <!-- /////////////////////////////////////// -->
        <div class="page">
            <ul class="page__list" id="page-reel">
            </ul>
        </div>
    </section>



    <section class="books">
        <div class="guestpert_personal-heading  u-mar-b-4">
            <h2 class="heading-secondary">Book Cover</h2>
        </div>

        <div class="row__grid-4 u-mar-b-3 u-mar-t-3">
            <div class="card-4 books__cards">
                <div class="books__img-container">
                    <img src="../../images/books/1503704437-APsychiatristGuide.FINAL.HighRes2.jpg" alt="book image"
                        class="books__img fluid-img">
                </div>
                <div class="books__btn-container">
                    <a href="#" class="books__btn button__detail">Detail</a>
                </div>
            </div>

            <div class="card-4 books__cards">
                <div class="books__img-container">
                    <img src="../../images/books/1503705615-Alex Detail's Revolution. Front Book Cover.jpg"
                        alt="book image" class="books__img fluid-img">
                </div>
                <div class="books__btn-container">
                    <a href="#" class="books__btn button__detail">Detail</a>
                </div>
            </div>
            <div class="card-4 books__cards">
                <div class="books__img-container">
                    <img src="../../images/books/1553193329-Stop Teen Addiction. Final Book Cover.jpg" alt="book image"
                        class="books__img fluid-img">
                </div>
                <div class="books__btn-container">
                    <a href="#" class="books__btn button__detail">Detail</a>
                </div>
            </div>
            <div class="card-4 books__cards">
                <div class="books__img-container">
                    <img src="../../images/books/1584398997-Joanna Book Cover---Culture Shock.jpg" alt="book image"
                        class="books__img fluid-img">
                </div>
                <div class="books__btn-container">
                    <a href="#" class="books__btn button__detail">Detail</a>
                </div>
            </div>

        </div>
        <!-- /////////////////////////////////////// -->
        <!-- ///--- Page Numbers ---/// -->
        <!-- /////////////////////////////////////// -->
        <div class="page">
            <ul class="page__list" id="page-boks">
            </ul>
        </div>
    </section>

    <!-- /////////////////////////
        Footer 
    ////////////////////////////// -->

    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a
                Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating
                out those on this site that have not been produced by us</p>
        </div>
    </section>

    <!-- **** Footer **** -->
    <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>


</body>

</html>