<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700&display=swap"
        rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <!-- /////////////////////////
        Header bar
    ////////////////////////////// -->

    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#log-in"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log in</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#guestpert-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Become a</span>TV
                        Guestpert</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#producer-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Producer, Booker,
                            Journalist</span>Start Here</span>
                </a>
            </li>
        </ul>
    </nav>


    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle"></input>
        <label for="navi-toggle" class="navigation__btn">
            <span class="navigation__icon">
                <span class="navigation__icon-line-up"></span>
                <span class="navigation__icon-line-middle"></span>
                <span class="navigation__icon-line-down"></span>
            </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">GuestPerts</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Hot Topics</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Services</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">FAQ</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Products</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TV On Camera Training</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TVGuestpert Publishing</a></li>
            </ul>
        </nav>
    </div>


    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->


    <header class="header">
        <div class="header__slide">

            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides slides__container">

                    <li class="glide__slide slide-1">
                        <div class="slide-1__hero-fig-container">
                            <div class="slide-1__image-container">
                                <img src="../../images/slide-1-boundary.png" alt="" class="slide-1__image-boundary">
                            </div>
                            <div class="slide-1__illustration-container">
                                <svg class="slide-1__illustration">
                                    <use xlink:href="#camera"></use>
                                </svg>
                            </div>

                            <a href="#play-video" class="button__play slide-1__button-play"
                                data-url="https://www.youtube.com/embed/mzncJGWe5hM">
                                <svg class="button__play-icon">
                                    <use xlink:href="#play-circle"></use>
                                </svg>
                                Play video
                            </a>

                        </div>

                        <div class="slide-1__content-container">
                            <h1 class="slide-1__title heading-primary u-mar-b-2">the business of <span
                                    class="text-bold-2">business</span></h1>
                            <p class="paragraph-tertiary u-mar-b-3 color-txt-dark">FRONT & CENTER WITH JACQUIE
                                JORDAN, joined with her co-hosts Phillip
                                Andrew Barbb and Stephanie Cobian: This is the show where we talk with the change
                                agents,
                                storytellers, and activators behind the scenes making impact, now "Front & Center
                            </p>
                            <a href="#" class="button__ghost button__ghost--large">Broadcast podcast</a>
                        </div>
                    </li>


                    <li class="glide__slide slide-2">
                        <div class="slide-2__img-wrapper">
                            <div class="slide-2__img-container">
                                <img src="../../images/books/1584398997-Joanna Book Cover---Culture Shock.jpg"
                                    alt="book image" class="fluid-img slide-2__img">
                                <span class="slide-2__img-background--1 slide-2__img-background"></span>
                                <span class="slide-2__img-background--2 slide-2__img-background"></span>
                                <span class="slide-2__img-background--3 slide-2__img-background"></span>
                                <span class="slide-2__img-background--4 slide-2__img-background"></span>

                                <!-- <a href="#play-video" class="button__play slide-2__play-btn" data-url="https://www.youtube.com/embed/mzncJGWe5hM">
                                    <svg class="button__play-icon slide-2__btn-icon">
                                        <use xlink:href="#play-circle"></use>
                                    </svg>
                                    Play video
                                </a> -->

                            </div>
                        </div>

                        <div class="slide-2__content">
                            <div class="guestpert_personal-heading slide-2__author-name-container">
                                <p class="paragraph-secondary slide-2__author-name">Joanna Dodd Massey</p>
                            </div>

                            <div class="heading-primary">Culture shock</div>
                            <p class="paragraph-secondary color-txt-dark u-mar-t-3">For the first time ever, there
                                are five generations in the workplace with different backgrounds, ideals and
                                expectations. With workers from 18-to-85-years-old, organizations are experiencing
                                more miscommunication and misunderstandings than ever before.</p>
                        </div>
                    </li>


                    <li class="glide__slide slide-3">
                        <div class="slide-3__curvy-bg--v">
                            <img src="../../images/curve-bg.png" alt="curve-bg" class="fluid-img">
                        </div>
                        <div class="slide-3__curvy-bg--h">
                            <img src="../../images/curve-bg-h.png" alt="curve-bg" class="fluid-img">
                        </div>
                        <div class="slide-3__img-wrapper">
                            <div class="slide-3__img-container">
                                <svg class="slide-3__img">
                                    <use xlink:href="#slide3tv"></use>
                                </svg>

                                <a href="#play-video" class="button__play slide-3__button-play"
                                    data-url="https://www.youtube.com/embed/fdeQiqH0adY">
                                    <svg class="button__play-icon">
                                        <use xlink:href="#play-circle"></use>
                                    </svg>
                                    Play video
                                </a>
                            </div>
                        </div>

                        <div class="slide-3__content">
                            <div class="guestpert_personal-heading slide-3__author-name-container u-mar-t-3">
                                <p class="paragraph-secondary slide-3__author-name">Ivy Slater</p>
                            </div>

                            <div class="heading-primary u-mar-t-4 ">Coffee Connection</div>
                            <p class="paragraph-secondary color-txt-dark u-mar-t-3">Ivy Slater talks making a coffee
                                connection on ABC's Your California Life. What does your coffee says about your
                                ability to connect? Ivy is a Leadership Coach and author of, <i>From the Barre to
                                    the Boardroom: Choreographing Business Success Through Authentic
                                    Relationships</i>
                            </p>
                        </div>
                    </li>


                    <li class="glide__slide slide-4">
                        <div class="slide-4__hero-container">
                            <div class="slide-4__content">
                                <div class="guestpert_personal-heading slide-4__author-name-container u-mar-t-3">
                                    <p class="paragraph-secondary slide-4__author-name">GAYANI DESILVA</p>
                                </div>

                                <div class="heading-primary u-mar-t-4 u-center-text">TVGUESTPERT APPEARANCE</div>
                                <p class="paragraph-secondary color-txt-dark u-mar-t-3">Guestpert Gayani DeSilva, MD
                                    discusses social media addiction among children and teens on NBC's nationally
                                    syndicated show Access Live!</p>
                            </div>

                            <div class="slide-4__img-container">
                                <img src="../../images/slide4img.png" alt="image frame" class="slide-4__frame">


                                <a href="#play-video" class="button__play slide-4__button-play"
                                    data-url="https://www.youtube.com/embed/VVI0UzEueuA">
                                    <svg class="button__play-icon slide-4__btn-icon">
                                        <use xlink:href="#play-circle"></use>
                                    </svg>
                                    Play video
                                </a>
                            </div>

                        </div>

                    </li>

                    <li class="glide__slide slide-5">

                        <div class="slide-5__content-container">
                            <div class="slide-5__content">
                                <div class="guestpert_personal-heading slide-5__author-name-container">
                                    <p class="paragraph-secondary slide-5__author-name">TVG WORKSHOP</p>
                                </div>

                                <div class="heading-primary slide-5__content-heading">MEDIA MARKETING LUNCHEON</div>
                                <p class="paragraph-secondary color-txt-dark u-mar-t-3">Saturday, April 25th, 2020
                                    from 1-5 pm in Playa Vista. Meet the producer and be a celebrity Guestpert. This
                                    intensive platform building luncheon includes one-on-one time with a decision
                                    making producer, content building, on-camera time, professional contructive
                                    feedback, take home “Get on TV!” kit and lunch.</p>
                            </div>
                        </div>

                        <div class="slide-5__img-wrapper">
                            <div class="slide-5__img-container">
                                <img src="../../images/media-marketing.jpg" alt="marketing image"
                                    class="fluid-img slide-5__img">

                                <!-- a href="#play-video" class="button__play slide-5__button-play"
                                    data-url="https://www.youtube.com/embed/VVI0UzEueuA">
                                    <svg class="button__play-icon slide-5__btn-icon">
                                        <use xlink:href="#play-circle"></use>
                                    </svg>
                                    Play video
                                    </a>< -->
                            </div>
                            <div class="slide-5__img-wrapper-hlf"></div>
                        </div>

                    </li>
                </ul>
            </div>

            <div class="glide__bullets glide__bullets--header" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
                <button class="glide__bullet" data-glide-dir="=2"></button>
                <button class="glide__bullet" data-glide-dir="=3"></button>
                <button class="glide__bullet" data-glide-dir="=4"></button>
            </div>
        </div>

    </header>


    <section class="company-tags">
        <div class="container u-center-text">
            <div class="company-tags__modal-txt">TVGuestpert is a Full Service Media Development, Publishing, Management
                and Production Company</div>
            <div class="company-tags__modal-txt">Where TV Producers Come to Book Their Next Guest Expert</div>
            <div class="company-tags__modal-txt">TVGuestpert Grows Our Clients' Core Businesses</div>

            <span class="company-tags__txt-type" data-wait="7000"></span>
        </div>
    </section>


    <section class="featured featured__guestperts">
        <img src="../../images/golden_line-left.png" alt="background_picture" class="goldenline__left goldenline">
        <div class="featured__search">
            <h2 class="heading-secondary u-center-text u-mar-b-2">featured <span class="text-bold-1">guestperts</span>
            </h2>
            <div class="search-box">
                <form action="#" class="form__search" method="POST">
                    <input class="form__control form__search-input" name="guestpert-keyword" autocomplete="off"
                        aria-autocomplete="none" spellcheck="false" type="text" placeholder="Search Guestperts"
                        required>
                    <input type="hidden" name="guestpert-id" class="form__hidden-input">
                    <button class="form__search-btn form__search-btn-sm" type="submit">
                        <svg class="form__search-icon">
                            <use xlink:href="#magnifying-glass"></use>
                        </svg>
                    </button>
                </form>
                <div class="featured__autocomplete-options form__autocomplete">
                    <div class="custom-select">
                        <div class="custom-options"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery" id="gallery__guestpert">

            <!-- ------ Minimum 5 Hot Topics with content ------ -->
            <img class="gallery__modal-img" src="../../images/guestperts/1493250524-DarrenCampoHeadshot.2017.jpg"
                data-title1="Daren Campo" data-title2="TV Producer & Author" data-id="555555555555555">
            <img class="gallery__modal-img" src="../../images/guestperts/1498513638-Gayani Headshot. 2017v2..jpg"
                data-title1="Gayani DeSilva" data-title2="Child & Adolescent Psychiatrist" data-id="44444444444444444">
            <img class="gallery__modal-img" src="../../images/guestperts/1532551543-4z4a7656 (2)..jpg"
                data-title1="Shannon O'Dowd" data-title2="TV Host & Media Trainer" data-id="333333333333333333">
            <img class="gallery__modal-img"
                src="../../images/guestperts/1576546502-Simpson_Portraits_Joanna_Massey_7630 (2)..jpg"
                data-title1="Joanna Dodd Massey" data-title2="President & CEO, JDMA" data-id="22222222222222222">
            <img class="gallery__modal-img" src="../../images/guestperts/ToniPatillo.jpg" data-title1="Toni Patilo"
                data-title2="TV Host & Media Trainer" data-id="54444444454545454544554">
            <img class="gallery__modal-img" src="../../images/guestperts/Ivy headshot.jpg" data-title1="Ivy Spater"
                data-title2="Writer" data-id="fffffffffffffffffffff">


            <ul class="gallery__img-list">
                <li class="gallery__img-container">
                    <div class="gallery__img-frame">
                        <img src="../../images/guestperts/1493250524-DarrenCampoHeadshot.2017.jpg" alt=""
                            class="gallery__img">
                        <div class="gallery__about-img">
                            <p3 class="caption-text-bg text-bold-1">Daren Campo</p3>
                            <p3 class="caption-text-sm">TV Producer & Author</p3>
                        </div>
                    </div>
                </li>
                <li class="gallery__img-container">
                    <div class="gallery__img-frame">
                        <img src="../../images/guestperts/1498513638-Gayani Headshot. 2017v2..jpg" alt=""
                            class="gallery__img">
                        <div class="gallery__about-img">
                            <p3 class="caption-text-bg text-bold-1">Gayani DeSilva
                            </p3>
                            <p3 class="caption-text-sm ">Child & Adolescent Psychiatrist</p3>
                        </div>
                    </div>
                </li>
                <li class="gallery__img-container">
                    <div class="gallery__img-frame">
                        <img src="../../images/guestperts/1532551543-4z4a7656 (2)..jpg" alt="" class="gallery__img">
                        <div class="gallery__about-img">
                            <p3 class="caption-text-bg text-bold-1">Shannon O'Dowd</p3>
                            <p3 class="caption-text-sm ">TV Host & Media Trainer</p3>
                        </div>
                    </div>
                </li>
                <li class="gallery__img-container">
                    <div class="gallery__img-frame">
                        <img src="../../images/guestperts/1576546502-Simpson_Portraits_Joanna_Massey_7630 (2)..jpg"
                            alt="" class="gallery__img">
                        <div class="gallery__about-img">
                            <p3 class="caption-text-bg text-bold-1">Joanna Dodd Massey</p3>
                            <p3 class="caption-text-sm ">President & CEO, JDMA</p3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>


    <section class="ribon-sm ribon__upcoming-guestpert">
        <div class="ribon-sm__title">requested <span class="text-bold-1"> Appearance</span></div>

        <div class="ribon-sm__upcoming-modals" data-designation="TV Host & Media Trainer">Shannon O'Dowd</div>
        <div class="ribon-sm__upcoming-modals" data-designation="TV Producer & Author">Daren Campo</div>
        <div class="ribon-sm__upcoming-modals" data-designation="Child & Adolescent Psychiatrist">Gayani DeSilva</div>

        <div class="ribon-sm__content paragraph-primary text-bold-1 ribon-sm__shrink" data-wait="7000">
            <div class="ribon-sm__content-txt-container">
                <span class="ribon-sm__primary-content">
                    Shannon O'Dowd
                </span>
                <span class="caption-text-sm ribon-sm__caption u-text-left">TV
                    Host & Media Trainer
                </span>
            </div>
        </div>
    </section>


    <section class="featured featured__hot-topics">
        <img src="../../images/golden_line-right.png" alt="background_picture" class="goldenline__right goldenline">

        <div class="gallery">

            <!-- ------ Minimum 5 Hot Topics with content ------ -->
            <img class="gallery__modal-img" src="../../images/guestperts/1493250524-DarrenCampoHeadshot.2017.jpg"
                data-title1="The Royals will do" data-title2="Daren Campo" data-id="sdfsdfsdfsdfsdf">
            <img class="gallery__modal-img" src="../../images/guestperts/1498513638-Gayani Headshot. 2017v2..jpg"
                data-title1="The Royals or the" data-title2="Gayani de seilva" data-id="dfgdfgdfgdfgdfgdfgdfg">
            <img class="gallery__modal-img" src="../../images/guestperts/1532551543-4z4a7656 (2)..jpg"
                data-title1="The Royals and" data-title2="Joanna Dodd Massey" data-id="3242345sdf34dsf34dfg">
            <img class="gallery__modal-img" src="../../images/guestperts/Steve_Taubman.jpg" data-title1="The Royals and"
                data-title2="Joanna Dodd Massey" data-id="3242345sdf34dsf34dfg">
            <img class="gallery__modal-img" src="../../images/guestperts/ToniPatillo.jpg" data-title1="The Royals and"
                data-title2="Joanna Dodd Massey" data-id="3242345sdf34dsf34dfg">
            <img class="gallery__modal-img" src="../../images/guestperts/Ivy headshot.jpg"
                data-title1="The Royals and the people" data-title2="I am Ivy Spater" data-id="3242345sdf34dsf34dfg">


            <ul class="gallery__img-list">
                <li class="gallery__img-container">
                    <div class="gallery__img-frame">
                        <img src="../../images/guestperts/1576546502-Simpson_Portraits_Joanna_Massey_7630 (2)..jpg"
                            alt="" class="gallery__img ">
                        <div class="gallery__about-img">
                            <p3 class="caption-text-bg text-bold-1"></p3>
                            <p3 class="caption-text-sm "></p3>
                        </div>
                    </div>
                </li>
                <li class="gallery__img-container">
                    <div class="gallery__img-frame">
                        <img src="../../images/guestperts/Ivy headshot.jpg" alt="" class="gallery__img">
                        <div class="gallery__about-img">
                            <p3 class="caption-text-bg text-bold-1">
                            </p3>
                            <p3 class="caption-text-sm "></p3>
                        </div>
                    </div>
                </li>
                <li class="gallery__img-container">
                    <div class="gallery__img-frame">
                        <img src="../../images/guestperts/Steve_Taubman.jpg" alt="" class="gallery__img">
                        <div class="gallery__about-img">
                            <p3 class="caption-text-bg text-bold-1"></p3>
                            <p3 class="caption-text-sm "></p3>
                        </div>
                    </div>
                </li>
                <li class="gallery__img-container">
                    <div class="gallery__img-frame">
                        <img src="../../images/guestperts/ToniPatillo.jpg" alt="" class="gallery__img">
                        <div class="gallery__about-img">
                            <p3 class="caption-text-bg text-bold-1"></p3>
                            <p3 class="caption-text-sm "></p3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="featured__search">
            <h2 class="heading-secondary u-center-text u-mar-b-2">Featured<span class="text-bold-1"> Hot Topics</span>
            </h2>
            <div class="search-box">
                <form action="#" class="form__search" method="POST">
                    <input class="form__control form__search-input" name="hotTopic-keyword" autocomplete="off"
                        aria-autocomplete="none" spellcheck="false" type="text" placeholder="Search Hot Topics"
                        required>
                    <input type="hidden" name="hotTopic-id" class="form__hidden-input">
                    <button class="form__search-btn form__search-btn-sm" type="submit">
                        <svg class="form__search-icon">
                            <use xlink:href="#magnifying-glass"></use>
                        </svg>
                    </button>
                </form>
                <div class="featured__autocomplete-options form__autocomplete">
                    <div class="custom-select">
                        <div class="custom-options"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ribon-sm ribon__hotTopics">
        <div class="ribon-sm__title">Hot<span class="text-bold-1"> Topics</span></div>

        <div class="ribon-sm__hotTopics-modals">Cost of having an affair</div>
        <div class="ribon-sm__hotTopics-modals">Creative Real Estate Marketing Tactics</div>
        <div class="ribon-sm__hotTopics-modals">What Goals Should Really Stand For</div>

        <div class="ribon-sm__content paragraph-primary text-bold-1" data-wait="5000">Cost of having an affair</div>
    </section>


    <section class="founder">
        <div class="founder__bio">
            <div class="founder__bio-box">

                <h1 class="heading-secondary founder__name-box u-mar-b-2">JACQUIE JORDAN <br> <span class="heading-tertiary u-mar-t-1">FOUNDER</span></h1>
                <p class="paragraph-tertiary u-center-text color-txt-dark">Jacquie has produced countless TV shows and been involved
                    in
                    booking, or producing 10,000+ television guests. Jacquie also works with exciting new experts and
                    celebrity clients on their branding, promotion, marketing and development, as well as on-camera
                    skills
                </p>
                <a href="#" class="button__primary u-mar-t-2">Read More</a>
            </div>

            <div class="founder__img-container">
                <img src="../../images/team/jaquie_round.png" alt="Jaquie Jordan picture" class="fluid-img">
            </div>
        </div>
    </section>


    <section class="blog">
        <h2 class="heading-secondary u-mar-b-3">Jaquie's blogs</h2>
        <div class="blog__card u-mar-b-5">
            <h3 class="blog__heading u-mar-b-2">Every Breaking News Story Follows An Arc</h3>
            <p class="paragraph-tertiary blog__para">This is important to know because depending on your area of
                expertise, you will know where you will fall in the media requested timeline of appearances. When a
                tragedy strikes - the first layer of bookings ...</p>
            <a href="#" class="blog__button color-txt-golden"> Continue Reading</a>
        </div>
        <div class="blog__card">
            <h3 class="blog__heading u-mar-b-2">Alert! Don't be the United Airlines CEO </h3>
            <p class="paragraph-tertiary blog__para">TVGuestpert.com Every Story follows it's own precipitous news arc.
                That's why we, the publicists at TVGuestpert, know how to place the story on the particular wave of
                crisis. "It's all about 'pivoting' the ...</p>
            <a href="#" class="blog__button color-txt-golden"> Continue Reading</a>
        </div>

        <a href="#" class="button__primary u-mar-t-4">More blogs by Jaquie Jordan</a>

    </section>


    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a
                Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating
                out those on this site that have not been produced by us</p>
        </div>
    </section>

    <section class="featured-books">
        <p class="caption-text-sm color-txt-dark">TVGuestpert Publishing</p>
        <h1 class="heading-secondary u-mar-b-3">featured <span class="text-bold-1">books</span></h1>
        <div class="row__grid-featured-books u-mar-b-5">
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide featured-books__img-container">
                            <a href="#" class="featured-books__links">
                                <img src="../../images/books/1503704437-APsychiatristGuide.FINAL.HighRes2.jpg"
                                    alt="book" class="featured-books__img">
                                <div class="featured-books__best-seller featured-books__best-seller--active">Best Seller
                                </div>
                            </a>
                        </li>
                        <li class="glide__slide featured-books__img-container">
                            <a href="#" class="featured-books__links">
                                <img src="../../images/books/1503705615-Alex Detail's Revolution. Front Book Cover.jpg"
                                    alt="book" class="featured-books__img">
                            </a>
                        </li>
                        <li class="glide__slide">
                            <a href="#" class="featured-books__links">
                                <img src="../../images/books/1553193329-Stop Teen Addiction. Final Book Cover.jpg"
                                    alt="book" class="featured-books__img">
                            </a>
                        </li>
                        <li class="glide__slide">
                            <a href="#" class="featured-books__links">
                                <img src="../../images/books/1584398997-Joanna Book Cover---Culture Shock.jpg"
                                    alt="book" class="featured-books__img">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="testimonials">
        <h1 class="heading-secondary u-center-text u-mar-b-3">guestpert's Testimonials</h1>
        <div class="row__grid-2">
            <div class="card-2 testimonials__container">
                <blockquote class="testimonials__text-container u-mar-t-2 u-center-text">

                    <!-- /////////////////////////
                        To be filled by backend
                    ////////////////////////////// -->
                    <p class="testimonials__para color-txt-dark">
                        I am soooo grateful to have had this great experience. And we have sewn 10,000+ seeds and gotten
                        millions of impressions. How amazing! Thank you so much for my best-selling book
                    </p>
                    <!-- /////////////////////////
                        To be filled by backend
                    ////////////////////////////// -->

                    <img src="../../images/guestperts/1493250524-DarrenCampoHeadshot.2017.jpg" alt="Daren Campo"
                        class="testimonials__photo">
                    <span class="triangle"></span>
                </blockquote>
                <figcaption class="testimonials__user u-mar-b-3">
                    <p class="testimonial__username paragraph-secondary">Daren Campo</p>
                    <p class="testimonials__para color-text-dark">TVGuestpert Published Author</p>
                </figcaption>
            </div>

            <div class="card-2 testimonials__container">
                <blockquote class="testimonials__text-container u-mar-t-2 u-center-text">

                    <!-- /////////////////////////
                        To be filled by backend
                    ////////////////////////////// -->
                    <p>
                        Authors dream - New York Times Bestselling Author; Today Show appearance on the day the book
                        comes out, and a People Magazine snapshot of celebrity Jordin Sparks holding our book and
                        complimenting us on the Books Buzz Page - We experienced all of that collaborating with the team
                        at Jacquie Jordan Inc. for our New York Times Bestselling Book, "Taming Your Alpha Bitch".
                    </p>
                    <!-- /////////////////////////
                        To be filled by backend
                    ////////////////////////////// -->

                    <img src="../../images/guestperts/1532551543-4z4a7656 (2)..jpg" alt="Daren Campo"
                        class="testimonials__photo">
                    <span class="triangle"></span>
                </blockquote>
                <figcaption class="testimonials__user u-mar-b-3">
                    <p class="testimonial__username paragraph-secondary">Christy Whitman</p>
                    <p class="testimonials__para color-text-dark">TVGuestpert Publishing New York Times Bestselling
                        Author</p>
                </figcaption>
            </div>
        </div>
    </section>



    <!-- **** Footer **** -->
    <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <div class="footer__newsletter-btn-container">
                        <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </footer>


    <div class="popup" id="play-video">
        <a href="#" class="popup__close"></a>

        <div class="popup__video-container">
            <iframe src="" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

    </div>

</body>

</html>