<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot_topics</title>
</head>
<body>
    <!-- /////////////////////////
        Header bar below
    ////////////////////////////// -->
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#log-in"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log in</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#guestpert-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Become a</span>TV
                        Guestpert</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#producer-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Producer, Booker,
                            Journalist</span>Start Here</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->


    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle"></input>
        <label for="navi-toggle" class="navigation__btn">
            <span class="navigation__icon">
                <span class="navigation__icon-line-up"></span>
                <span class="navigation__icon-line-middle"></span>
                <span class="navigation__icon-line-down"></span>
            </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">GuestPerts</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Hot Topics</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Services</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">FAQ</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Products</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TV On Camera Training</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TVGuestpert Publishing</a></li>
            </ul>
        </nav>
    </div>

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <header class="header">
        <div class="header__hero-wrapper">
            <div class="hero">
                <h2 class="heading-secondary u-mar-b-5"><span class="color-txt-red text-bold-1">Hot</span> Topics</h2>
                <div class="form__search u-mar-b-2">
                    <input class="form__control form__search-input" autocomplete="off" id="search-input" type="text" placeholder="Search Hot Topics" required>
                    <button class="form__search-btn form__search-btn-sm" type="submit">
                        <svg class="form__search-icon">
                            <use xlink:href="#magnifying-glass"></use>
                        </svg>
                    </button>
                </div>
                <p class="paragraph-tertiary u-center-text color-txt-dark">
                    We work with our Guestperts to develop their sound-bites, content, and message that created the most possibilities to getting booked on TV! Here are our main Hot Topic Categories where you can find the right Hot Topic and Guestpert for your show.
                </p>
            </div>
        </div>
    </header>

    <!-- /////////////////////////
        Catagories below
    ////////////////////////////// -->

    <section class="hot-topics">
        <h2 class="heading-secondary u-mar-t-5 color-txt-red u-center-text">what's hot, right now</h2>

        
        <div class="row__grid-6 u-mar-b-5 u-mar-t-5">

            <li class="card-6 hot-topics__cards">
                <a href="#" class="hot-topics__go-to">
                    <div class="hot-topics__img-container">
                        <img src="../../images/hot-topics/addiction_and_recovery.jpg" alt="image" class="fluid-img hot-topics__img">
                    </div>
                    <p class="hot-topics__title u-center-text">Addiction & Recovery</p>
                </a>
            </li>
            <li class="card-6 hot-topics__cards">
                <a href="#" class="hot-topics__go-to">
                    <div class="hot-topics__img-container">
                        <img src="../../images/hot-topics/addiction_and_recovery.jpg" alt="image" class="fluid-img hot-topics__img">
                    </div>
                    <p class="hot-topics__title u-center-text">Addiction & Recovery</p>
                </a>
            </li>
            <li class="card-6 hot-topics__cards">
                <a href="#" class="hot-topics__go-to">
                    <div class="hot-topics__img-container">
                        <img src="../../images/hot-topics/addiction_and_recovery.jpg" alt="image" class="fluid-img hot-topics__img">
                    </div>
                    <p class="hot-topics__title u-center-text">Addiction & Recovery</p>
                </a>
            </li>
            <li class="card-6 hot-topics__cards">
                <a href="#" class="hot-topics__go-to">
                    <div class="hot-topics__img-container">
                        <img src="../../images/hot-topics/addiction_and_recovery.jpg" alt="image" class="fluid-img hot-topics__img">
                    </div>
                    <p class="hot-topics__title u-center-text">Addiction & Recovery</p>
                </a>
            </li>
            <li class="card-6 hot-topics__cards">
                <a href="#" class="hot-topics__go-to">
                    <div class="hot-topics__img-container">
                        <img src="../../images/hot-topics/addiction_and_recovery.jpg" alt="image" class="fluid-img hot-topics__img">
                    </div>
                    <p class="hot-topics__title u-center-text">Addiction & Recovery</p>
                </a>
            </li>
            <li class="card-6 hot-topics__cards">
                <a href="#" class="hot-topics__go-to">
                    <div class="hot-topics__img-container">
                        <img src="../../images/hot-topics/addiction_and_recovery.jpg" alt="image" class="fluid-img hot-topics__img">
                    </div>
                    <p class="hot-topics__title u-center-text">Addiction & Recovery</p>
                </a>
            </li>
            <li class="card-6 hot-topics__cards">
                <a href="#" class="hot-topics__go-to">
                    <div class="hot-topics__img-container">
                        <img src="../../images/hot-topics/addiction_and_recovery.jpg" alt="image" class="fluid-img hot-topics__img">
                    </div>
                    <p class="hot-topics__title u-center-text">Addiction & Recovery</p>
                </a>
            </li>
            <li class="card-6 hot-topics__cards">
                <a href="#" class="hot-topics__go-to">
                    <div class="hot-topics__img-container">
                        <img src="../../images/hot-topics/addiction_and_recovery.jpg" alt="image" class="fluid-img hot-topics__img">
                    </div>
                    <p class="hot-topics__title u-center-text">Addiction & Recovery</p>
                </a>
            </li>
            <li class="card-6 hot-topics__cards">
                <a href="#" class="hot-topics__go-to">
                    <div class="hot-topics__img-container">
                        <img src="../../images/hot-topics/addiction_and_recovery.jpg" alt="image" class="fluid-img hot-topics__img">
                    </div>
                    <p class="hot-topics__title u-center-text">Addiction & Recovery</p>
                </a>
            </li>
        </div>
        
    </section>

    <!-- **** Footer **** -->

    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating out those on this  site that have not been produced by us</p>
        </div>
    </section>

     <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>
</body>
</html>
