<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaquie Jordan</title>
</head>

<body>
    <!-- /////////////////////////
        Header bar below
    ////////////////////////////// -->
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#log-in"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log in</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#guestpert-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Become a</span>TV
                        Guestpert</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#producer-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Producer, Booker,
                            Journalist</span>Start Here</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->


    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle"></input>
        <label for="navi-toggle" class="navigation__btn">
            <span class="navigation__icon">
                <span class="navigation__icon-line-up"></span>
                <span class="navigation__icon-line-middle"></span>
                <span class="navigation__icon-line-down"></span>
            </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">GuestPerts</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Hot Topics</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Services</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">FAQ</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Products</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TV On Camera Training</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TVGuestpert Publishing</a></li>
            </ul>
        </nav>
    </div>

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <header class="header">
        <div class="header__slide">
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide ">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/acROmQMmG7A"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </li>
                        <li class="glide__slide ">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/48NWaLkDcME"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </li>
                        <li class="glide__slide ">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/OxOYWxRCZMo"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </li>
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                        <svg class="glide__arrow-icon">
                            <use xlink:href="#chevron-left"></use>
                        </svg>
                    </button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                        <svg class="glide__arrow-icon">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="glide__bullets glide__bullets--appearance" data-glide-el="controls[nav]">
                    <button class="glide__bullet" data-glide-dir="=0"></button>
                    <button class="glide__bullet" data-glide-dir="=1"></button>
                    <button class="glide__bullet" data-glide-dir="=2"></button>
                </div>
            </div>
        </div>
    </header>

    <section class="content">
        <h2 class="heading-secondary u-mar-b-5 u-center-text">Jacquie Jordan</h2>

        <p><span><img
                src="blob:https://www.tiny.cloud/3ba9cca7-e604-44a6-a9f3-a9976c2b328b" width="187" height="136" />
                <strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.&nbsp;</span></p>
        <p ><span><img
                    src="blob:https://www.tiny.cloud/e5f4a942-e6c4-4fc3-bb69-b083c8342543" width="123"
                    height="260" /><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                Ipsum.&nbsp;</span></p>

        <p><img src="/webadmin/webroot/readandwriteeditorfiles///Dolly Parton.JPG" border="0"
                alt="" width="116" height="145">Jacquie has been involved in booking, supervising or producing as many
            as 10,000+ television guests. Her reign has come from successfully launching and executing many syndicated
            daytime programs and cable shows. Known for her ability to find the heart of any story, Jacquie garnered her
            second Daytime Emmy nomination for Best Show on Donny &amp; Marie (Sony Pictures Television).</p>
        <p><img
                src="/webadmin/webroot/readandwriteeditorfiles/JJ with Steven Spielberg and Peter Guber.jpg" border="0"
                alt="" width="127" height="163">Jacquie’s foray in talent comes from her time in the trenches as a
            nationally recognized producer in broadcast television.As Showrunner of the long running AMC series Sunday
            Morning Shootout, hosted by Hollywood Icons - Chair of Mandalay Entertainment, Peter Guber and Former
            Editor-in-Chief of Variety, Peter Bart. Celebrity guests produced by Jacquie include Steven Spielberg,
            Charlize Theron, Clint Eastwood, Angelina Jolie, Peter Jackson, George Clooney and Dustin Hoffman.</p>
        <p>Simultaneously, as Executive Producer, Jacquie launched the copy-cat formula of Shootout for the TVGuide
            Channel, Square-Off with a focus on the television industry hosted by Andy Wallenstein&nbsp;and Brian Lowry
            of Variety. Jacquie vetted the best the industry had to offer – from NBC head Ben Silverman, Shonda Rhimes
            to known television stars like Jon Cryer and Mark Harmon.</p>
        <p>As a New York Times Best Selling Publisher, Publisher's Weekly is quoted as saying, "Jordan seems to have
            succeeded at her goal as laid out on the TVGuestpert website," when talking about the success of The
            TVGuestpert Publishing orchestrated, <em>The Art of Having It All</em> hitting the coveted list.</p>
        <p><img src="http://tvguestpert.com///webadmin/webroot/readandwriteeditorfiles///On-Camera.jpg" border="0"
                alt="Ultimate On-Camera Guidebook"><img
                src="http://tvguestpert.com///webadmin/webroot/readandwriteeditorfiles///Heartfelt Marketing FINAL Book Cover.jpg"
                border="0" alt="" ><img
                src="http://tvguestpert.com///webadmin/webroot/readandwriteeditorfiles///GetOnTV_BookCover.BV.jpg"
                border="0" alt="" >As a published author of the new, <em>The Ultimate On-Camera
                Guidebook: Hosts*Experts*Influencers</em> (TVGuestpert Publishing 2019), along with her previous books,
            <em>Get on TV! The Insider’s Guide to Pitching the Producers and Promoting Yourself!</em> (Sourcebooks 2006)
            and <em>Heartfelt Marketing: Allowing the Universe to be Your Business Partner</em> (BurmanBooks 2010), she
            has been featured in Entrepreneur Magazine, Selling Power Magazine, Feedback Magazine, Emmy Magazine, and
            the cover of Woman’s World Magazine. As a commentator on television regarding the business of the industry
            and pop culture, Jacquie’s appearances include Fox Reality, Good Day New York, Fox, ABC Family, CBS’s Big
            Shot Live, TV Guide Channel, CBS Evening News, FX and countless radio shows.&nbsp;&nbsp;Jacquie is a
            graduate of the University of Delaware, with a B.A. in Communications and a minor in theater.</p>
        <p><img src="http://tvguestpert.com///webadmin/webroot/readandwriteeditorfiles///JJ Emmy Insert (2).jpg"
                border="0" alt="" width="172" height="172">She currently resides in Los Angeles spending her free time
            practicing yoga and raising awareness around animal neglect.</p>

    </section>



    <section class="blog u-absCenter u-mar-b-3" id="blog">
        <h2 class="heading-secondary u-mar-b-3">Jaquie's blogs</h2>
        <div class="blog__card">
            <h3 class="blog__heading u-mar-b-2">Every Breaking News Story Follows An Arc</h3>
            <p class="paragraph-tertiary blog__para">This is important to know because depending on your area of
                expertise, you will know where you will fall in the media requested timeline of appearances. When a
                tragedy strikes - the first layer of bookings ...</p>
            <a href="#" class="blog__button color-txt-golden"> Continue Reading</a>
        </div>
        <div class="blog__card">
            <h3 class="blog__heading u-mar-b-2">Alert! Don't be the United Airlines CEO </h3>
            <p class="paragraph-tertiary blog__para">TVGuestpert.com Every Story follows it's own precipitous news arc.
                That's why we, the publicists at TVGuestpert, know how to place the story on the particular wave of
                crisis. "It's all about 'pivoting' the ...</p>
            <a href="#" class="blog__button color-txt-golden"> Continue Reading</a>
        </div>
    </section>

    <!-- /////////////////////////////////////// -->
    <!-- ///--- Page Numbers ---/// -->
    <!-- /////////////////////////////////////// -->
    <div class="page u-mar-b-8">
        <ul class="page__list" id="page__list">
        </ul>
    </div>

    <div id="scroll" data-scroll="true"></div>

    <!-- **** Footer **** -->

    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a
                Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating
                out those on this site that have not been produced by us</p>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>

</body>

</html>