<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="MainTopic">
        <h1>Website Privacy Policy</h1>
    </div>
    <div class="TopicContainer">
        <div class="Topic">
            <h3>July 19th, 2018</h3>
            <p>
                Your privacy is critically important to us. At Jacquie Jordan, Inc.,
                we have a few fundamental principles: We don't share your personal
                information with anyone except to comply with the law. We do assume
                discretionary permission case by case if we are going to pass your
                information to a professional media outlet, booker or journalist, as
                these are connections you have hired us to foster on your behalf. We
                don't store personal information on our servers or the offsite servers
                of the third party service providers we use to provide our core
                services unless required for the on-going operation of one of our
                services. In our website, we aim to make it as simple as possible for
                you to control what is visible to the public, seen by search engines,
                kept private, and permanently deleted.
            </p>

            <h3>Below is our privacy policy which incorporates these goals:</h3>
            <p>
                Jacquie Jordan, Inc. operates several websites including
                TVGuestpert.com, TVOnCameraTraining.com, TVGuestpertPublishing.com,
                and GuestpertPublishing.com, (collectively, the "Websites"), as well
                as a number of social media applications (collectively, the
                "Applications") on behalf of our customers. It is Jacquie Jordan, Inc.
                policy to respect your privacy regarding any information we may
                collect while operating our Websites and Applications.
            </p>

            <h3>Personally-Identifying Information</h3>
            <p>
                Certain users of the the Websites and Applications choose to interact
                with Jacquie Jordan, Inc. in ways that require Jacquie Jordan, Inc. to
                gather personally-identifying information. The amount and type of
                information that Jacquie Jordan, Inc. gathers depends on the nature of
                the interaction. For example, we ask users to provide a username and
                an email address if we are building their social media platform. Those
                who engage in transactions with Jacquie Jordan, Inc. are asked to
                provide additional personally-identifying information, including, as
                necessary, their first and last name, physical address, telephone
                number, and additional data that may be required to complete a task.
                In each case, Jacquie Jordan, Inc. collects such information only
                insofar as is necessary or appropriate to fulfill the purpose of the
                user interaction with Jacquie Jordan, Inc. Jacquie Jordan, Inc. does
                not share personally-identifying information other than as described
                below. Users can always refuse to supply personally-identifying
                information, with the caveat that it may prevent Jacquie Jordan, Inc.
                from engaging in certain websites and Application-related activities.
            </p>

            <h3>Sharing of Personally-Identifying Information</h3>
            <p>
                Jacquie Jordan, Inc. shares personally-identifying information only
                with those of its employees, contractors and affiliated organizations
                that need to know that information in order to process it on Jacquie
                Jordan, Inc.’s behalf or to provide services. Jacquie Jordan, Inc.
                will not rent or sell personally-identifying information to anyone.
                Other than to its employees, contractors and affiliated organizations,
                as described above, Jacquie Jordan, Inc. discloses
                personally-identifying information only when required to do so by law,
                or when Jacquie Jordan, Inc. in good faith finds that disclosure is
                reasonably necessary to protect the property or rights of Jacquie
                Jordan, Inc., third parties or the public at large.
            </p>

            <h3>Use of Email Addresses and Push Notifications</h3>
            <p>
                If you are a user of the Websites and Applications and have supplied
                your email address, Jacquie Jordan, Inc. will send you emails to tell
                you about your media inquiries, solicit your feedback, or just keep
                you up to date with what is going on with TVGuestpert and our services
                and products. We use outside subscription software such as Constant
                Contact and Infusionsoft to keep these communications effective on our
                behalf. Within the rules and restrictions of their operations, your
                email and names will be held on their site under our account.
            </p>

            <h3>Protection of Information</h3>
            <p>
                Jacquie Jordan, Inc. takes all measures reasonably necessary to
                protect against the unauthorized access, use, alteration, loss, or
                destruction of personally-identifying information. For financial
                payments, we request signatures on payment authorization forms for
                each authorization. We do not charge a card without a signature
                specifically for the nature of the charge. We do use PayPal,
                Quickbooks, and Zelle for payments that have been authorized, and your
                information is stored there again under their privacy and protection
                rules as it relates specifically to our business account.
            </p>

            <h3>Cookies</h3>
            <p>
                A cookie is a string of information that a web server stores on a
                user's computer or other device, and that the user's device provides
                back to the web server each time the user returns. Jacquie Jordan,
                Inc. cookies are part of the Websites and Applications to remember
                your user preferences and make available to you the services provided
                through the Websites and Applications. By using the Websites and
                Applications you consent to the use of cookies by Jacquie Jordan, Inc.
                as described above.
            </p>

            <h3>Do-Not-Track Disclosures</h3>
            <p>
                Neither Jacquie Jordan, Inc. nor any third party engages in the
                collection of personally-identifiable information about your online
                activities over time and across third-party websites or online
                services when you are accessing or using the Websites and
                Applications. For this reason, the Websites and Applications do not
                respond to "Do Not Track" signals or other mechanisms providing you
                the ability to exercise choice regarding the collection of such
                information.
            </p>

            <h3>Age Limitation</h3>
            <p>
                The Websites and Applications are not directed and should not be
                available to children under 18 years of age. We do not knowingly
                collect any kind of personal information from children under 18 years
                of age. If you are under the age of 18, do not use the Websites and
                Applications or otherwise provide us with personal information. If we
                become aware that such information has been collected, we will
                immediately delete such information. If any parent or guardian learns
                or otherwise becomes aware of a child under 18 years of age using the
                Websites and Applications or otherwise providing personal information
                to us, please contact us.
            </p>

            <h3>Review of and Changes to Personally-Identifying Information</h3>
            <p>
                Email us at Assistant@TVGuestpert.com to find out what
                personally-identifying information we have collected about you and
                request any necessary changes.
            </p>

            <h3>Privacy Policy Changes</h3>
            <p>
                Although most changes are likely to be minor, Jacquie Jordan, Inc. may
                change its Privacy Policy from time to time, and in Jacquie Jordan,
                Inc.’s sole discretion. Changes to the Privacy Policy will be
                effective as of the date we post the revised version on this page or
                make it otherwise accessible through the Websites and Applications as
                a notification and will apply only to our collection, use and sharing
                of information after such date. Jacquie Jordan, Inc. encourages users
                to frequently check this page for any changes to its Privacy Policy.
                If you have a TVGuestpert account, you should also check your
                Membership Log In Page for alerts to these changes. After the
                effective date of any change in this Privacy Policy, your continued
                use of the Websites and Applications, other than to review the revised
                version of this Privacy Policy, will constitute your acceptance of
                such change.
            </p>

            <h3>Your Consent</h3>
            <p>
                By using the Website, you declare your consent to our collection, use,
                and sharing of any information pertaining to you as described in this
                Privacy Policy. IF YOU DO NOT CONSENT TO OUR COLLECTION, USE, AND
                SHARING OF YOUR INFORMATION AS DESCRIBED IN THIS PRIVACY POLICY,
                PLEASE EXIT AND DO NOT USE THE WEBSITES AND APPLICATIONS.
            </p>

            <h3>Effective Date</h3>
            <p>
                The effective date of this Privacy Policy is displayed at the top of
                its first page. The first online casinos for real money
                <a href="#">https://catscasinos.co.uk/real-money-casinos/</a>
                opened their virtual doors more than ten years ago, and now hundreds
                of different online casinos are available from which you can play in a
                good mood without leaving your own home. Online casinos for real money
                are convenient, because you can plunge into the world of emotions and
                get not only real money, but also a lot of unforgettable emotions!
                People who prefer to raise their adrenalin levels in their bodies are
                increasingly choosing casinos for real money. This type of
                entertainment awakens interest in a fascinating story and can also
                tickle your nerves when a player decides to play online casinos. And
                as a pleasant bonus - an opportunity to win and feel the rustle of
                real banknotes in your wallet when you exit the system. When you look
                through all the available casinos, you have to make sure that the
                online casino for real money you choose is serious and protects you
                and your money. All online casinos presented on our website are
                serious! You can trust us because we have chosen only the best for our
                players.
            </p>
        </div>
    </div>
</html>