<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
</head>

<body>
    <!-- /////////////////////////
        Header bar
    ////////////////////////////// -->

    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#log-in"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log in</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#guestpert-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Become a</span>TV
                        Guestpert</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#producer-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Producer, Booker,
                            Journalist</span>Start Here</span>
                </a>
            </li>
        </ul>
    </nav>


    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle"></input>
        <label for="navi-toggle" class="navigation__btn">
            <span class="navigation__icon">
                <span class="navigation__icon-line-up"></span>
                <span class="navigation__icon-line-middle"></span>
                <span class="navigation__icon-line-down"></span>
            </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">GuestPerts</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Hot Topics</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Services</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">FAQ</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Products</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TV On Camera Training</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TVGuestpert Publishing</a></li>
            </ul>
        </nav>
    </div>


    <!-- /////////////////////////
        About Product
    ////////////////////////////// -->

    <section class="product_details">
        <div class="product_details__box">


            <div class="product_details__card-wrapper">
                <div class="card-4 products__cards">
                    <div class="products__cards-details">
                        <div class="products__title-container">
                            <h3 class="products__heading">A Psychiatrist's Guide </h3>
                        </div>
                        <div class="products__content-container">
                            <div class="products__description">
                                <p class="products__para">Surviving Five Generations in One Workplace</p>
                            </div>
                            <div class="products__price u-mar-b-3">$9.99</div>
                            <div class="products__buttons">
                                <form action="/buyProduct">
                                    <button class="products__buy-btn">
                                        <div class="products__icon-container">
                                            <svg class="products__icon">
                                                <use xlink:href="#shopping-cart"></use>
                                            </svg>
                                        </div>
                                        <span class="products__price-txt">Proceed to Buy</span>
                                    </button>
                                </form>
                                <a href="#" class="products__listen-btn">Listen Now</a>
                            </div>
                        </div>
                        <div class="products__effect"></div>
                    </div>
                    <div class="products__img-wrapper">
                        <div class="products__img-container">
                            <img src="../../images/books/1503704437-APsychiatristGuide.FINAL.HighRes2.jpg" alt="image"
                                class="fluid-img">
                        </div>
                        <div class="products__best-seller">Best Seller</div>
                    </div>

                </div>
            </div>


            <div class="product_details__content-container u-mar-t-3">
                <h2 class="heading-secondary u-mar-b-3 product_details__title">A Psychiatrist's Guide</h2>
                <p> <strong> Stop Teen Addiction Before It Starts </strong></p>
                <p>&nbsp;</p>
                <p>
                    A Psychiatrist’s Guide: Stop Teen Addiction Before It Starts outlines how addictive substances and
                    activities hijack the teenage brain to create an addiction. This book demystifies addiction from a
                    neurological and psychological perspective--explaining the way the brain changes in response to
                    addictive stimuli and in response to psychological factors.
                </p>
                <p>&nbsp;</p>
                <p>
                    The teenage brain and psyche are particularly vulnerable to developing addictions, because during
                    the teen years, the brain is in a phase of rapid and profound development. Moreover, more than half
                    of all suicides were with people who were intoxicated.
                </p>
                <p>&nbsp;</p>
                <p>
                    With a non-judgmental approach, Gayani describes family dynamics and parenting choices that
                    inadvertently promote the development of an addiction. Armed with knowledge about how addiction
                    develops, Dr. DeSilva coaches parents on how to optimize their parenting strategies to help their
                    children avoid getting addicted.
                </p>
            </div>
        </div>

        <div class="edit" style="display: block;" id="edit">
            <!-- ---- Form Header ---- -->
            <div class="edit__heading"></div>
            <p class="paragraph-primary u-center-text edit__form-heading u-mar-t-2">PLEASE FILL OUT THE FORM BELOW AND WE WILL CONTACT YOU ABOUT YOUR ORDER</p>

            <!-- ---- Form Begining ---- -->
            <form action="#" method="POST" class="edit__form-container edit__form-container--hotTopics">
                <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>

                <!-- ------Inputs and Lebels------ -->

                <div class="form__group--settings">
                    <label for="fullName" class="form__label">
                        <span class="form__label--caps">Full Name*</span>
                    </label>
                    <input type="text" maxlength="100" class="form__control" id="fullName" required>
                </div>
                
                <div class="form__group--settings">
                    <label for="email" class="form__label">
                        <span class="form__label--caps">Email*</span>
                    </label>
                    <input type="email" maxlength="100" class="form__control" id="email" required>
                </div>

                <div class="form__group--settings">
                    <label for="phone" class="form__label">
                        <span class="form__label--caps">Phone*</span>
                    </label>
                    <input type="number" class="form__control" id="phone" required>
                </div>
                
                <div class="form__group--settings">
                    <label for="promo" class="form__label">
                        <span class="form__label--caps">Promo Code</span>
                    </label>
                    <input type="text" maxlength="20" class="form__control" id="promo">
                </div>
                

                <div class="form__group--settings">
                    <label for="address" class="form__label">
                        <span class="form__label--caps">Address*</span>
                    </label>
                    <textarea type="text" class="form__control" id="address" required></textarea>
                </div>

                <!-- ------Buttons------ -->
                <div class="edit__form-button-container u-mar-t-5">
                    <button type="submit" class="form__submit-btn--orange form__submit-btn">Place Order</button>
                </div>
            </form>
        </div>

    </section>




    <!-- **** Footer **** -->

    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a
                Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating
                out those on this site that have not been produced by us</p>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>


</body>

</html>