<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>

<body>
    <!-- /////////////////////////
        Header bar below
    ////////////////////////////// -->
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#log-in"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log in</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#guestpert-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Become a</span>TV
                        Guestpert</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#producer-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Producer, Booker,
                            Journalist</span>Start Here</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->


    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle"></input>
        <label for="navi-toggle" class="navigation__btn">
            <span class="navigation__icon">
                <span class="navigation__icon-line-up"></span>
                <span class="navigation__icon-line-middle"></span>
                <span class="navigation__icon-line-down"></span>
            </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">GuestPerts</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Hot Topics</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Services</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">FAQ</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Products</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TV On Camera Training</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TVGuestpert Publishing</a></li>
            </ul>
        </nav>
    </div>

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <header class="header">
        <h1 class="heading-primary u-center-text"><span class="color-txt-golden">Our</span> Services</h1>
        <div class="header__hero-container">
            <div class="header__hero-text-container">
                <p class="paragraph-tertiary color-txt-dark header__hero-text">Our media development company,
                    TVGuestpert, is a portal for incubating talent, products, messages, and businesses. As a media
                    development company we produce and develop content and product within the integrity of the
                    membership community. As we leverage the profile and publicity of our Guestperts in the media, their
                    market value rises. This happens as a result of specific planning, growth, and development of our
                    Guestpert clientele. As a company, we are then able to set up larger media properties for our
                    Guestpert's in publishing, television, radio, and as a reult grow their business. </p>
            </div>
            <div class="header__hero-figure-container">
                <svg class="header__hero-figure">
                    <use xlink:href="#our_services-vector"></use>
                </svg>
            </div>
        </div>
    </header>

    <!-- /////////////////////////
        cards below
    ////////////////////////////// -->

    <section class="services">
        <div class="row__grid-4 u-mar-b-5 u-mar-t-5">
            <div class="card-4 services__cards" id="std-membership">
                <h3 class="paragraph-primary">Standard Guestpert Membership</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">Standard Guestpert Membership allows you to post your
                    profile: biography, headshot, areas of expertise, and segment pitches (aka Hot Topics) on the
                    TVGuestpert website...</p>
                <a href="#popup-std-membership" class="services__read-more color-txt-dark">Read More <span class="dash"> &#x2192;</span></a>
            </div>
            <div class="card-4 services__cards" id="elite-membership">
                <h3 class="paragraph-primary">Elite GuestPert Membership</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">Elite Guestpert Membership provides all the features of
                    the Standard Membership Profile: biography, areas of expertise, pitches...</p>
                <a href="#popup-elite-membership" class="services__read-more color-txt-dark">Read More <span class="dash"> &#x2192;</span></a>
            </div>
            <div class="card-4 services__cards" id="elite-plus-membership">
                <h3 class="paragraph-primary">Elite Plus GuestPert Membership</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">Recognized as a "run and gun"
                    Provides all the features of the Standard Membership and Elite Membership Plus : Stratetegic
                    placement launch...</p>
                <a href="#popup-elite-plus-membership" class="services__read-more color-txt-dark">Read More <span class="dash"> &#x2192;</span></a>

            </div>
            <div class="card-4 services__cards" id="platinum-membership">
                <h3 class="paragraph-primary">Platinum GuestPert Membership</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">Recognized as a Media Management Account Provides all of
                    the features of the Elite Plus Membership Plus: Book Publishing Services...</p>
                <a href="#popup-platinum-membership" class="services__read-more color-txt-dark">Read More <span class="dash"> &#x2192;</span></a>
            </div>
            <div class="card-4 services__cards" id="publishing-services">
                <h3 class="paragraph-primary">Publishing Services</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">What makes our publishing services unique is that we are
                    not a 'self-publishing' company. There are no 'agent fees.' We can turn around the publishing
                    process of a book in...</p>
                <a href="#popup-publishing-services" class="services__read-more color-txt-dark">Read More <span class="dash"> &#x2192;</span></a>
            </div>
            <div class="card-4 services__cards" id="video-production">
                <h3 class="paragraph-primary">Video Production</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">A reel of past performances highlights is always helpful,
                    but here at TVGuestpert, we strongly recommend showing producers not just what you've done, but
                    what...</p>
                <a href="#popup-video-production" class="services__read-more color-txt-dark">Read More <span class="dash"> &#x2192;</span></a>
            </div>
            <div class="card-4 services__cards" id="camera-training">
                <h3 class="paragraph-primary">On Camera Training</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">Once you get booked on TV, there is a whole process for
                    protecting the integrity of your message, honoring the booking, and delivering a successful
                    interview for yourself and the...</p>
                <a href="#popup-camera-training" class="services__read-more color-txt-dark">Read More <span class="dash"> &#x2192;</span></a>
            </div>
            <div class="card-4 services__cards" id="broadcast-radio-distribution">
                <h3 class="paragraph-primary">Broadcast Radio Distribution</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">We have distribution deals with several local broadcast
                    stations and can produce four hourly radio shows a month. Schedule will depend on several varying
                    production...</p>
                <a href="#popup-broadcast-radio-distribution" class="services__read-more color-txt-dark">Read More <span class="dash"> &#x2192;</span></a>
            </div>
            <div class="card-4 services__cards" id="celebrity-headshot-photography">
                <h3 class="paragraph-primary">Celebrity Headshot Photography</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">Our professional celebrity photographers can transform
                    your headshots. TVG's photographer has shot for Ben Affleck, Tom Hanks, Morgan Freeman, Jane Lynch,
                    Tim Robbin...</p>
                <a href="#popup-celebrity-headshot-photography" class="services__read-more color-txt-dark">Read More <span class="dash"> &#x2192;</span></a>
            </div>
            <div class="card-4 services__cards" id="press-kits">
                <h3 class="paragraph-primary">Press Kits</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">We have a full service graphic designer to produce a press
                    kit that will get you booked on TV! We also help you fashion the content of your press kit/materials
                    so that it is consistent...</p>
                <a href="#popup-press-kits" class="services__read-more color-txt-dark">Read More <span class="dash"> &#x2192;</span></a>
            </div>
            <div class="card-4 services__cards" id="website-design">
                <h3 class="paragraph-primary">Website Design</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">TVGuestpert will provide full service web design to keep
                    it all within your branding. We realized early on that we were bringing to the table amazing
                    television appearances that...</p>
                <a href="#popup-website-design" class="services__read-more color-txt-dark">Read More <span class="dash"> &#x2192;</span></a>
            </div>
            <div class="card-4 services__cards" id="media-consultation">
                <h3 class="paragraph-primary">Media Consultation</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">Media Consultation is the active development of your media
                    plan, vision, strategy, and overall message. We evaluate your current platform and help you design a
                    blueprint for...</p>
                <a href="#popup-media-consultation" class="services__read-more color-txt-dark">Read More <span class="dash"> &#x2192;</span></a>
            </div>
        </div>
    </section>


    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a
                Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating
                out those on this site that have not been produced by us</p>
        </div>
    </section>

    <!-- **** Footer **** -->
    <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>



    <!-- //////////////////////////////////////
    ///////////////////////////////////////////
    //////// Popups Below/////////////////
    ///////////////////////////////////////////
    ////////////////////////////////////// -->

    <div class="popup" id="popup-std-membership">
        <a href="#std-membership" class="popup__close"></a>

        <!-- //////////////////////////////////////
        //////// Content Box /////////
        ////////////////////////////////////// -->
        <div class="popup__content-wrapper">
            <div class="popup__content">
    
                <div class="popup__close-icon-container">
                    <a href="#std-membership" class="popup__close--icon"></a>
                </div>
    
                <!-- //////////////////////////////////////
                    //////// Text /////////
                    ////////////////////////////////////// -->
    
                <div class="popup__content-txt">
                    <h2 class="heading-secondary u-mar-b-3 popup__heading">Standard Guestpert Membership</h2>
    
                    <p>Standard Guestpert Membership allows you to post your profile: biography,
                        headshot, areas of expertise, and segment pitches (aka Hot Topics) on the TVGuestpert website.
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        The quick and easy resource allows TVGuestpert's extensive network of television producers to find
                        just the talent they need - fast and easy - all with the click of a mouse. Any producer looking for
                        your type of expertise can instantly find you.
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        "FYI, you have a referral source in me, if anyone calls wanting to know how awesome you are and that
                        you are worth every penny, have them call me!"
                    </p>
                </div>
    
            </div>

        </div>
    </div>


    <div class="popup" id="popup-elite-membership">
        <a href="#elite-membership" class="popup__close"></a>

        <!-- //////////////////////////////////////
        //////// Content Box /////////
        ////////////////////////////////////// -->
        <div class="popup__content-wrapper">
            <div class="popup__content">

                <div class="popup__close-icon-container">
                    <a href="#elite-membership" class="popup__close--icon"></a>
                </div>

                <!-- //////////////////////////////////////
                //////// Text /////////
                ////////////////////////////////////// -->

                <div class="popup__content-txt">
                    <h2 class="heading-secondary u-mar-b-3 popup__heading">Elite Guestpert Membership</h2>

                    <p>Elite Guestpert Membership provides all the features of the Standard
                        Membership Profile: biography, areas of expertise, pitches.
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p class="text-bold-1 ">Plus:</p>
                    <p>
                        Blogging <br>
                        Inclusion in rotation as Featured Guestpert on the front page of TVGuestpert.com. <br>
                        Social Media Maintenance <br>
                        Crafted Pitches by TVGuestpert <br>
                        Demo Tape Video Streaming - Guestperts with a hosted demo reel have a higher booking rate
                        because television is a visual medium - meaning that Producers can see who you are and what you
                        can do for the show.
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        We will host demo reels - whether or not they are produced by us. Demo reels produced by us will
                        feature the company logo on it for distinction for producers.
                    </p>
                </div>
            </div>

        </div>
    </div>


    <div class="popup" id="popup-elite-plus-membership">
        <a href="#elite-plus-membership" class="popup__close"></a>

        <!-- //////////////////////////////////////
        //////// Content Box /////////
        ////////////////////////////////////// -->
        <div class="popup__content-wrapper">
            <div class="popup__content">
    
                <div class="popup__close-icon-container">
                    <a href="#elite-plus-membership" class="popup__close--icon"></a>
                </div>
    
                <!-- //////////////////////////////////////
                    //////// Text /////////
                    ////////////////////////////////////// -->
    
                <div class="popup__content-txt">
                    <h2 class="heading-secondary u-mar-b-3 popup__heading">Elite Plus Guestpert Membership</h2>
    
                    <p class=" text-bold-1">Also recognized as a "run and gun".</p>
                    <p>&nbsp;</p>
    
                    <p>Provides all the features of the Standard Membership: profile, biography, areas
                        of expertise, and pitches. </p>
                    <p>&nbsp;</p>
    
                    <p>Provides all of the features of the Elite Membership: blogging, Featured
                        Guestpert front page rotation, social media maintentance, crafted pitches and demo reel streaming.
                    </p>
                    <p>&nbsp;</p>
    
                    <p class="text-bold-1 ">Plus:</p>
                    <p>
                        Stratetegic placement/launch to reach goals in preconfirmed time frame<br>
                        Active pitching <br>
                        Monthly conference calls to review pitching status and bookings <br>
                    </p>
                </div>
    
            </div>

        </div>
    </div>


    <div class="popup" id="popup-platinum-membership">
        <a href="#platinum-membership" class="popup__close"></a>

        <!-- //////////////////////////////////////
        //////// Content Box /////////
        ////////////////////////////////////// -->
        <div class="popup__content-wrapper">
            <div class="popup__content">
    
                <div class="popup__close-icon-container">
                    <a href="#platinum-membership" class="popup__close--icon"></a>
                </div>
    
                <!-- //////////////////////////////////////
                    //////// Text /////////
                    ////////////////////////////////////// -->
    
                <div class="popup__content-txt">
                    <h2 class="heading-secondary u-mar-b-3 popup__heading">Platinum Guestpert Membership</h2>
    
                    <p class=" text-bold-1">Also recognized as a Media Management Account</p>
                    <p>&nbsp;</p>
    
                    <p>Provides all of the features of the Elite Plus Membership</p>
                    <p>&nbsp;</p>
    
                    <p class="text-bold-1 ">Plus:</p>
                    <p>
                        Book Publishing Services<br>
                        National Distribution<br>
                        Strategic Media Management<br>
                    </p>
                    <p>&nbsp;</p>
                    <p>Does not include Ghostwriting. Please contact office at 310-584-1504 for more
                        information</p>
                </div>
            </div>

        </div>
    </div>



    <div class="popup" id="popup-publishing-services">
        <a href="#publishing-services" class="popup__close"></a>

        <!-- //////////////////////////////////////
        //////// Content Box /////////
        ////////////////////////////////////// -->
        <div class="popup__content-wrapper">

            <div class="popup__content">
    
                <div class="popup__close-icon-container">
                    <a href="#publishing-services" class="popup__close--icon"></a>
                </div>
    
                <!-- //////////////////////////////////////
                    //////// Text /////////
                    ////////////////////////////////////// -->
    
                <div class="popup__content-txt">
                    <h2 class="heading-secondary u-mar-b-3 popup__heading">Publishing Services</h2>
    
                    <p class=" text-bold-1">PUBLISHING BACKED BY A TV PLATFORM</p>
                    <p>&nbsp;</p>
    
                    <p>What makes our publishing services unique is that we are not a 'self-publishing'
                        company. There are no 'agent fees.' We can turn around the publishing process of a book in under one
                        year. We have the infrastructure to promote and sell the book, and in our new business model, we
                        split profits with authors as a business partnership</p>
                    <p>&nbsp;</p>
    
                    <p>Under a one year Platinum Membership Account, TVGuestpert Publishing will publish
                        a completed manuscript for national distribution with one of our known associations, ie. Ingram or
                        New Leaf depending on the product of the media campaign</p>
                    <p>&nbsp;</p>
    
                    <p>Under this arrangement, TVGuestpert Publishing will pick up all of the hard copy
                        expenses related to the publishing and distribution of the book including, but not limited to, cover
                        design, production galley, Chicago Style Copy Editing, infrastructure to support national bookstore
                        distribution in conjunction with a TVGuestpert Platinum Membership to coordinate and promote the
                        book nationally</p>
                    <p>&nbsp;</p>
    
                    <p>The advantage of having your book published under this arrangement is that you
                        get the publishing and the PR under the same roof. </p>
                    <p>&nbsp;</p>
    
                    <p class="text-bold-1 ">GHOSTWRITING SERVICES</p>
                    <p>
                        If you already have a book that is self-published, TVGuestpert Publishing will consider picking up
                        the distribution costs of the book under a Platinum Membership
                    </p>
                    <p>&nbsp;</p>
    
                    <p class="text-bold-1 ">EBOOKS AND AUDIO BOOKS</p>
                    <p>
                        Our Publishing department goes page by page through your book and creates your eBook for both Kindle
                        and Nooks. We also have our author read their book in its entirety for audio book platforms.
                        TVGuestpert Publishing will set up a new account or add to a preexisting account for all eBook and
                        audio book platforms
                    </p>
                    <p>&nbsp;</p>
    
                    <p class="text-bold-1 ">EBOOKS AND AUDIO BOOKS</p>
                    <p>
                        Our Publishing department goes page by page through your book and creates your eBook for both Kindle
                        and Nooks. We also have our author read their book in its entirety for audio book platforms.
                        TVGuestpert Publishing will set up a new account or add to a preexisting account for all eBook and
                        audio book platforms
                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>
                        <i>"I am soooo grateful to have had this great experience... Thank you so much for my bestselling
                            book."</i>
                    </p>
                    <p class=" text-bold-1">
                        &mdash; Darren Campo, author of the TVGuestpert Published books, Alex Detail’s Revolution and Alex
                        Detail’s Rebellion, Platinum Guestpert
                    </p>
                </div>
    
            </div>
        </div>
    </div>


    <div class="popup" id="popup-video-production">
        <a href="#video-production" class="popup__close"></a>

        <!-- //////////////////////////////////////
        //////// Content Box /////////
        ////////////////////////////////////// -->
        <div class="popup__content-wrapper">

            <div class="popup__content">

                <div class="popup__close-icon-container">
                    <a href="#video-production" class="popup__close--icon"></a>
                </div>

                <!-- //////////////////////////////////////
                    //////// Text /////////
                    ////////////////////////////////////// -->

                <div class="popup__content-txt">
                    <h2 class="heading-secondary u-mar-b-3 popup__heading">Video Production</h2>

                    <p class=" text-bold-1">PRODUCING OPPORTUNITY FOR PEOPLE</p>
                    <p>&nbsp;</p>

                    <p>DEMO REEL & SPEAKER REEL SERVICES</p>
                    <p>&nbsp;</p>

                    <p>A reel of past performances highlights is always helpful, but here at
                        TVGuestpert, we strongly recommend showing producers not just what you've done, but what you
                        WILL be doing when you land those bookings. Our professionally produced demo reels are not clip
                        oriented. We script, shoot and edit brand new material and interviews that show producers
                        exactly what you will do for them in content that is fresh and fits your brand and position you
                        for upcoming opportunities. We can put your demo reel online; instant access for inquiring
                        producers! As an additional bonus, we can also produce a Speakers Reel for clients who wish to
                        explore the lucrative world of speaking engagments and tours</p>
                    <p>&nbsp;</p>

                    <p><i>"I love it!! Thank you for all the hard work. I am very happy with the
                            demo reel. I will be playing this one before my seminars starting next week!"</i></p>
                    <p class=" text-bold-1">
                        &mdash; Christopher Dukes, Standard Guestpert
                    </p>
                    <p>&nbsp;</p>

                    <p>"I’ve had the pleasure of working with Jacquie for years… I’ve taken her
                        training classes, as well as private coaching sessions. The result? I learned how to package
                        myself into media sound bites and an on-camera presence. Jacquie’s team taught me make-up,
                        helped me prepare camera ready outfits for travel, created my sizzle reel, and much more. If
                        you’re looking to move into media as an expert in your space, Jacquie with her sage experience
                        on countless productions will get you to where you’re going. Jacquie’s creativity, generosity,
                        good will, and always upbeat attitude make working with her an absolute pleasure."</p>
                    <p class=" text-bold-1">
                        &mdash; Dianne Gubin, Elite Guestpert
                    </p>
                    <p>&nbsp;</p>
                </div>

            </div>
        </div>
    </div>



    <div class="popup" id="popup-camera-training">
        <a href="#camera-training" class="popup__close"></a>

        <!-- //////////////////////////////////////
        //////// Content Box /////////
        ////////////////////////////////////// -->
        <div class="popup__content-wrapper">

            <div class="popup__content">

                <div class="popup__close-icon-container">
                    <a href="#camera-training" class="popup__close--icon"></a>
                </div>

                <!-- //////////////////////////////////////
                    //////// Text /////////
                    ////////////////////////////////////// -->

                <div class="popup__content-txt">
                    <h2 class="heading-secondary u-mar-b-3 popup__heading">On Camera Training</h2>

                    <p class=" text-bold-1">LIGHTS, CAMERA, GET ON TV</p>
                    <p>&nbsp;</p>

                    <p>LEARNING VITAL ON CAMERA SKILLS</p>
                    <p>&nbsp;</p>

                    <p>Once you get booked on TV, there is a whole process for protecting the integrity of your message, honoring the booking, and delivering a successful interview for yourself and the producer that booked you. And, of course, you want to be asked back! Our proactive, interactive teaching service is recommended to all clients, old and new to the camera. It's as much content delivery as it is a skillful performace.</p>
                    <p>&nbsp;</p>
                    
                    <p>Join TVGuestpert for an intensive platform development workshop.</p>
                    <p>
                        * Learn firsthand what producers need <br>
                        * How to keep your story fresh <br>
                        * How news hooks keep you relevant <br>
                        * The danger of being a one-trick pony <br>
                        * Find out what makes a celebrity Guestpert <br>
                        * Showcase yourself in this rare opportunity on camera in front of a TV Producer
                    </p>
                    
                    <p>&nbsp;</p>
                    <img src="../../images/Diana and Bedros on Camera.jpg" alt="">
                    <p>&nbsp;</p>
                    

                    <p><i>"TVGuestpert’s TVOnCamera Training is so important even when you think you’ve mastered being in the media many times now and you’re a pro. I just had an experience in the Hot Seat on 20/20 representing my client, as his counselor, who was under their scrutiny and investigations. From TVGuestpert’s trainings and my dozens of interviews under my belt, I felt prepared for anything. I learned differently when I was questioned about my client in a way that threw me off, even though I spoke my truth. I managed through the brutal 5 minutes because of my trainings with TVGuestpert, which allowed me to ride the wave even through the darkness."</i></p>
                    <p class=" text-bold-1">
                        &mdash; Lisa Haisha, Elite Guestpert
                    </p>
                    <p>&nbsp;</p>

                    <p>"Jacquie is so tuned into what is going on in the world of TV. You should take her training before a network lures her away to be its President!"</p>
                    <p class=" text-bold-1">
                        &mdash; Carole Lieberman, M.D., Media Psychiatrist, Elite Guestpert
                    </p>
                    <p>&nbsp;</p>
                </div>

            </div>
        </div>
    </div>


    <div class="popup" id="popup-broadcast-radio-distribution">
        <a href="#broadcast-radio-distribution" class="popup__close"></a>

        <!-- //////////////////////////////////////
        //////// Content Box /////////
        ////////////////////////////////////// -->
        <div class="popup__content-wrapper">

            <div class="popup__content">

                <div class="popup__close-icon-container">
                    <a href="#broadcast-radio-distribution" class="popup__close--icon"></a>
                </div>

                <!-- //////////////////////////////////////
                    //////// Text /////////
                    ////////////////////////////////////// -->

                <div class="popup__content-txt">
                    <h2 class="u-mar-b-3">From production to syndication</h2>

                    <p>We have distribution deals with several local broadcast stations and can produce four hourly radio shows a month. Schedule will depend on several varying production details such as time slot; post production; and location.</p>
                    <p>&nbsp;</p>
                    
                    <p class=" text-bold-1">Stations Include:</p>
                    <p>
                        KZSB 1290AM Santa Barbara/Ojai/Montecito <br>
                        WGRL Fondu Lac WI <br>
                        KLAW Marshland OR <br>
                        KMAZ Goldfield MN <br>
                        WRUBMenominee IL <br>
                        KZAB Northport WA <br>
                        WGTM Townsend TN <br>
                        WANF Moores NY <br>
                        KPPA Mindemines MO <br>
                        KKRP Cowlington OK <br>
                        KTAH Frances UT <br>
                        KLJS Eureka MT <br>
                        WDRQ Philo OH<br>
                        KQBN Franklin CO <br>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <div class="popup" id="popup-celebrity-headshot-photography">
        <a href="#celebrity-headshot-photography" class="popup__close"></a>

        <!-- //////////////////////////////////////
        //////// Content Box /////////
        ////////////////////////////////////// -->
        <div class="popup__content-wrapper">

            <div class="popup__content">

                <div class="popup__close-icon-container">
                    <a href="#celebrity-headshot-photography" class="popup__close--icon"></a>
                </div>

                <!-- //////////////////////////////////////
                    //////// Text /////////
                    ////////////////////////////////////// -->

                <div class="popup__content-txt">
                    <h2 class="u-mar-b-3">CELEBRITY PHOTOGRAPHERS FOR YOUR CLOSEUP</h2>

                    <p>Our professional celebrity photographers can transform your headshots. TVG's photographer has shot for Ben Affleck, Tom Hanks, Morgan Freeman, Jane Lynch, Tim Robbins, Katey Segal, Terrence Howard, Taraji P. Henson, Morena Baccarin, Ben McKenzie and many more.</p>
                    <p>&nbsp;</p>
                    
                    <p class=" text-bold-1">Our starting package includes:</p>
                    <p>
                        Studio Photography <br>
                        2.5 Hours of Studio Time <br>
                        2.5 Hours Make-up Artist <br>
                        Hair Touchups: Please arrive hair ready <br>
                        2 Looks (1-2 outfit changes) <br>
                        Headshot, 1/2 Body and Full Length <br>
                        100-150 Striking Color Processed Images <br>
                        1 Selected Retouched Photo within 30 days of shoot: Professional recommendation for selected money shot <br>
                        Planning Call Before Photo Shoot <br>
                        Brand Vision Baord: Based on Planning Call and your image needs for your shoot day; to capture your unique spirit and business<br>
                        Edited, Striking Color Corrected, and High Resolutions JPGS<br>
                        Photo Session Delivered Digitally <br>
                        All Usage and Printing Rights<br>
                    </p>
                    <p>&nbsp;</p>
                    <p><i>TVGuestpert will project manage overall shoot: logistics, pre and post.</i></p>
                </div>

            </div>
        </div>
    </div>


    <div class="popup" id="popup-press-kits">
        <a href="#press-kits" class="popup__close"></a>

        <!-- //////////////////////////////////////
        //////// Content Box /////////
        ////////////////////////////////////// -->
        <div class="popup__content-wrapper">

            <div class="popup__content">

                <div class="popup__close-icon-container">
                    <a href="#press-kits" class="popup__close--icon"></a>
                </div>

                <!-- //////////////////////////////////////
                    //////// Text /////////
                    ////////////////////////////////////// -->

                <div class="popup__content-txt">
                    <h2 class="u-mar-b-3">Press Kits</h2>

                    <p class=" text-bold-1">LIGHTS, CAMERA, GET ON TV</p>
                    <p>&nbsp;</p>

                    <p>We have a full service graphic designer to produce a press kit that will get you booked on TV! We also help you fashion the content of your press kit/materials so that it is consistent in reflecting your overall branding message and style. Our press kits are unique to the Guestperts community and are published like a glossy magazine.</p>
                    <p>&nbsp;</p>

                    <p>
                        <i>"OMG!! It is amazing!! I love it. You put a lot of loving energy into this project...for which I am eternally grateful. You may not believe this, but after I read through the entire press kit you just sent me, I cried. It was like seeing my life and all my professional accomplishments flash in front of me and I was so proud. In fact, right now I am still catching my breath as this press kit has blown me away."</i>
                    </p>
                    <p class="text-bold-1">&mdash; Eve Michaels, author of TVGuestpert Published book, Dress Code: Ending Fashion Anarchy, Platinum Guestpert</p>
                </div>

            </div>
        </div>
    </div>


    <div class="popup" id="popup-website-design">
        <a href="#website-design" class="popup__close"></a>

        <!-- //////////////////////////////////////
        //////// Content Box /////////
        ////////////////////////////////////// -->
        <div class="popup__content-wrapper">

            <div class="popup__content">

                <div class="popup__close-icon-container">
                    <a href="#website-design" class="popup__close--icon"></a>
                </div>

                <!-- //////////////////////////////////////
                    //////// Text /////////
                    ////////////////////////////////////// -->

                <div class="popup__content-txt">
                    <h2 class="u-mar-b-3">Website Design</h2>

                    <p class=" text-bold-1">SITES THAT CLICK WITH TELEVISION OPPORTUNITIES</p>
                    <p>&nbsp;</p>

                    <p>TVGuestpert will provide full service web design to keep it all within your branding. We realized early on that we were bringing to the table amazing television appearances that were not translating to business for the Guestpert. We came to find out that many websites were actually web-pages that didn't provide or collect data needed to build a media platform. TVGuestpert's own IT team and graphic design group will customize a personal website.</p>
                    <p>&nbsp;</p>
                    
                    <p>
                        <i>"This website is so amazing! The absolutely most sophisticated technology, responsive design, and absolutely beautiful."</i>
                    </p>
                    <p class="text-bold-1">&mdash; Darren Campo, author of the TVGuestpert Published books, Alex Detail’s Revolution and Alex Detail’s Rebellion, Platinum Guestpert</p>
                    <p>&nbsp;</p>

                    <p>
                        <i>"You did it!! You actually got Jack excited about his gorgeous website. It looks AMAZING. BRAVO!!! Picture us jumping up and down. Well, make that me jumping up and down and Jack grinning ear to ear."</i>
                    </p>
                    <p class="text-bold-1">&mdash; Jack H. Harris and his wife Judith Parker Harris, author of the TVGuestpert Published book, Father of the Blob: The Making of a Monster Smash and Other Hollywood Tales, Platinum Guestpert</p>
                </div>

            </div>
        </div>
    </div>


    <div class="popup" id="popup-media-consultation">
        <a href="#media-consultation" class="popup__close"></a>

        <!-- //////////////////////////////////////
        //////// Content Box /////////
        ////////////////////////////////////// -->
        <div class="popup__content-wrapper">

            <div class="popup__content">

                <div class="popup__close-icon-container">
                    <a href="#media-consultation" class="popup__close--icon"></a>
                </div>

                <!-- //////////////////////////////////////
                    //////// Text /////////
                    ////////////////////////////////////// -->

                <div class="popup__content-txt">
                    <h2 class="u-mar-b-3">Media Consultation</h2>

                    <p>Media Consultation is the active development of your media plan, vision, strategy, and overall message. We evaluate your current platform and help you design a blueprint for raising your profile in the meda. During our initial consultations with you, we examine your past media experieince, and your overall vision and we determine what action steps need to be taken in the spaces in between.</p>
                    <p>&nbsp;</p>
                    <img src="../../images/Jacquie Jordan with Abby Gooch.jpg" alt="media-consultation image">
                    <p>The following is a breakdown of the areas we work that a media consultation may cover:</p>
                    <p>&nbsp;</p>
                    
                    <p><b>BRANDING:</b> A brand is the symbolic embodiment of all the information connected with your product. As a television guest expert, YOU are the product. Our philosophy is to create a distinct yet consistent identity for the Guestpert's overall media package while honoring their mission statement and making sure they can deliver.</p>

                    <p>&nbsp;</p>
                    <p><b>BIO:</b> A bio is a one page biography constructed specificially for use as part of your media plan. In order to maximize the effectiveness of your bio, it should be designed by someone who "speaks the language" of the specific target audience.</p>
                    
                    <p>&nbsp;</p>
                    <p><b>PRESS KIT:</b> A press kit is a pre-packaged set of promotional materials which usually includes a Demo Reel, articles, reviews, photos, and background information on the person(s). Television show producers are bombarded by thousands of press kits and various other material submissions. In order to ensure that your press kit and materials are most likely to be seen by the producers, during out media consutlations, we can advise you on creating and packaging them in a way that overcomes the unique barriers that exist in television production offices whether electronic or material.</p>
                    
                    <p>&nbsp;</p>
                    <p><b>DEVELOPMENT OF CONTENT:</b> We work with our Guestperts to develop their sound-bites, content, and message that creates the most possibilities for getting booked on TV! We often refer to these as Hot Topics. The most underrated yet valuable service as a Guestpert can invest in, learn, and practice is the development of creating sellable speaking points because the currency of the language of bookings is segment topics. The wider an expert's message can be crafted, the broader the chance a Guestpert has in creating and attracting the most possible media requests. Your participation in your own content development is crucial to the outcome of your success in your media career. In addition, we have seen that the creating of content opens up all sorts of unexpected and unforeseen opportunities for the Guestpert. </p>
                    
                    <p>&nbsp;</p>
                    <p><i>"Working with Jacquie Jordan and the TVGuestpert team has been one of the best decisions for my career. Jacquie and her team helped me hone in my brand message and created amazing tools to support the vision of my brand, including my demo reel and press kit (which is always complimented). They also set up meetings with key producers and have helped me to secure amazing television appearances, brand sponsorships and opportunities. I have learned so much from them and I am grateful that I have a team looking out for me!"</i></p>
                    <p><b>&mdash; Nina Sutton , Author of The Chic Mom’s Guide to Feeling Fabulous, Elite Guestpert</b></p>

                    <p>&nbsp;</p>
                    <p><i>As a Guestpert, we highly recommend that you put "Member of TVGuestpert.com" on your web-site and marketing materials accordingly, as it a media privilage to be a TVGuestpert.</i></p>
                </div>

            </div>
        </div>
    </div>
</body>

</html>