<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Terms of Use</title>
</head>

<body>
    <!-- /////////////////////////
        Header bar below
    ////////////////////////////// -->
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#log-in"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log in</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#guestpert-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Become a</span>TV
                        Guestpert</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#producer-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Producer, Booker,
                            Journalist</span>Start Here</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->

    <div class="MainTopic">
        <h1>Website Terms of Use</h1>
    </div>
    <div class="TopicContainer">
        <div class="Topic">
            <h3>WEBSITE SERVICE AGREEMENT / TERMS OF USE</h3>
            <p>
                The services that JACQUIE JORDAN, INC. provides to members of
                TVGUESTPERT.COM are subject to the following Terms of Use.
            </p>

            <h3>DESCRIPTION OF SERVICES</h3>
            <ul>
                <li>
                    JACQUIE JORDAN, INC., through its Web Property TVGUESTPERT.COM, will
                    provide any person who is approved by JACQUIE JORDAN INC., in its
                    sole discretion, and who subscribes to TVGUESTPERT.COM ("Member")
                    with a personal profile on a web page that contains their Brand
                    Identity, Photo, Contact Information and other materials such as,
                    but not limited to, video files, informational content, links to
                    products, biography and head shot ("Materials") specific to level of
                    membership. Member is solely responsible for providing all Materials
                    to TVGUESTPERT.COM for placement on the web site.
                </li>
                <li>
                    TVGUESTPERT.COM provides Members with increased visibility to
                    executives in the television medium through direct marketing and web
                    search engine results. TVGUESTPERT.COM will be marketed to available
                    and interested parties in the industry seeking qualified candidates.
                    JACQUIE JORDAN, INC. does not guarantee that exposure to media or
                    any marketing done by JACQUIE JORDAN, INC., on behalf of Member will
                    result in bookings.
                </li>
                <li>
                    Membership commences when TVGUESTPERT.COM has received all
                    Materials, initial payment, and Member's profile goes online and
                    shall continue until terminated as contemplated herein.
                </li>
            </ul>

            <h3>TERMS OF USE</h3>
            <ul>
                <li>
                    The right to use TVGUESTPERT.COM is personal to Member and is not
                    transferable to any other person or entity. Member is responsible
                    for all use of Member's account (under any screen name or password,
                    if any) and for ensuring that all use of Member's account complies
                    fully with the provisions of this agreement. Member shall be
                    responsible for protecting the confidentiality of Member's password,
                    if any.
                </li>
                <li>
                    JACQUIE JORDAN, INC. shall have the right at any time, in its sole
                    discretion, to change or discontinue any aspect or feature of
                    TVGUESTPERT.COM including, but not limited to, content and hours of
                    availability.
                </li>
            </ul>

            <h3>MEMBER CONDUCT</h3>
            <ul>
                <li>
                    Member shall use TVGUESTPERT.COM for lawful purposes only. Member
                    shall not post or transmit through TVGUESTPERT.COM any material
                    which violates or infringes in any way upon the rights of others,
                    which is unlawful, threatening, abusive, defamatory, invasive of
                    privacy or public rights, vulgar, obscene, profane or otherwise
                    objectionable, which encourages conduct that would constitute a
                    criminal offense, give rise to civil liability or otherwise violate
                    any law, or which, without TVGUESTPERT.COM's express prior approval,
                    contains advertising or any solicitation with respect to products or
                    services. Any conduct by Member that in TVGUESTPERT.COM's discretion
                    restricts or inhibits any other Member from using or enjoying
                    TVGUESTPERT.COM will not be permitted. Member shall not use
                    TVGUESTPERT.COM to advertise or perform any commercial solicitation,
                    including, but not limited to, the solicitation of Members to become
                    subscribers of other online information services competitive with
                    TVGUESTPERT.COM without prior written approval.
                </li>
                <li>
                    TVGUESTPERT.COM contains copyrighted material, trademarks and other
                    proprietary information, including, but not limited to, text,
                    photos, videos, graphics, and the entire contents of
                    TVGUESTPERT.COM. These materials are copyrighted as a collective
                    work under the United States copyright laws. TVGUESTPERT.COM and its
                    content providers each shall have the right to assert and enforce
                    such provisions directly or on its own behalf. Member may not
                    modify, publish, transmit, participate in the transfer of sale,
                    create derivative works, or in any way exploit, any of the content,
                    in whole or in part. Member may download copyrighted material for
                    Member's personal use only. Except as otherwise expressly permitted
                    under copyright law, no copying, redistribution, retransmission,
                    publication or commercial exploitation of downloaded material will
                    be permitted without the express written permission of
                    TVGUESTPERT.COM and the copyright owner. Member acknowledges that it
                    does not acquire any ownership rights by downloading copyrighted
                    material.
                </li>
                <li>
                    Member shall not upload, post or otherwise make available on
                    TVGUESTPERT.COM any material protected by copyright, trademark or
                    other proprietary right without the express permission of the owner
                    of the copyright, trademark or other proprietary right and the
                    burden of determining that any material is not protected by
                    copyright rests with member. Member shall be solely liable for any
                    damage resulting from any infringement of copyrights, proprietary
                    rights or any other harm resulting from such a submission and shall
                    indemnify TVGUESTPERT.COM and JACQUIE JORDAN, INC., including
                    reasonable attorneys' fees, for any and all claims related thereto.
                    By submitting material to any public area of TVGUESTPERT.COM, Member
                    automatically grants, or warrants that the owner of such material
                    has expressly granted TVGUESTPERRT.COM the royalty-free, perpetual,
                    irrevocable, non-exclusive right and license to use, reproduce,
                    modify, adapt, publish, translate and distribute such material (in
                    whole or in part) worldwide and/or to incorporate it in other works
                    in any form, media or technology now known or hereafter developed
                    for the full term of any copyright that may exist in such material.
                    Member also hereby permits any other Member to access, view, store
                    and/or reproduce the material for that Member's personal use. Member
                    hereby grants TVGUESTPERT.COM the right to edit, copy, publish and
                    distribute any material made available on TVGUESTPERT.COM by Member.
                </li>
            </ul>

            <h3>USE OF SERVICES</h3>
            <p>
                TVGUESTPERT.COM may add services to the web site that contain
                discussion forums, chat areas, news groups, email services, bulletin
                board services, communities, personal web pages, calendars, photo
                albums and/or other messaging or communication facilities designed to
                enable Member to communicate with others (each a "Communication
                Service" and collectively "Communication Services"). Member agrees to
                use the Communication Services only to post, send and receive messages
                and material that are proper and, when applicable, related to the
                particular Communication Service. By way of example, and not as a
                limitation, Member agrees that when using the Communication Services,
                Member will not:
            </p>
            <ul>
                <li>
                    Use the Communication Services in connection with surveys, contests,
                    pyramid schemes, chain letters, junk email, spamming or any
                    duplicative or unsolicited messages (commercial or otherwise).
                </li>
                <li>
                    Defame, abuse, harass, stalk, threaten or otherwise violate the
                    legal rights (such as rights of privacy and publicity) of others.
                </li>
                <li>
                    Upload, or otherwise make available, files that contain images,
                    photographs, software or other material protected by intellectual
                    property laws, including by way of example and not as limitation,
                    copyright or trademark laws (or by rights of privacy or publicity)
                    unless Member owns or controls the rights thereto or has received
                    all necessary permissions to do the same.
                </li>
                <li>
                    Use any material or information, including images or photographs,
                    which are made available through the Communication Services in any
                    manner that infringes on any copyright, trademark, patent, trade
                    secret, or other proprietary right of any party.
                </li>
                <li>
                    Upload files that contain any viruses, Trojan horses, worms, time
                    bombs, cancelbots, corrupted files, or any other similar software or
                    programs that may damage the operation of another's computer or
                    property of another.
                </li>
                <li>
                    Falsify or delete any copyright management information, such as
                    author attributions, legal or proper notices or proprietary
                    designations or labels of the origin or source of software or other
                    material contained in a file that is uploaded.
                </li>
                <li>
                    Restrict or inhibit any other Member from using and enjoying the
                    Communication Services.
                </li>
                <li>
                    Harvest or otherwise collect information about others, including
                    email addresses.
                </li>
                <li>Violate any applicable laws or regulations.</li>
                <li>Create a false identity for the purpose of misleading others</li>
                <li>
                    Use, download or otherwise copy, or provide (whether or not for a
                    fee) to a person or entity any directory of Members of the
                    Communication Services or other Member or usage information or any
                    portion thereof.
                </li>
            </ul>
            <p>
                TVGUESTPERT.COM has no obligation to monitor the Communication
                Services. However, TVGUESTPERT.COM reserves the right to review
                materials posted to the Communication Services and to remove any
                Materials at its sole discretion. TVGUESTPERT.COM reserves the right,
                in its sole discretion, to terminate Member's access to any or all of
                the Communication Services at any time, without notice, for any reason
                whatsoever. TVGUESTPERT.COM reserves the right at all times to
                disclose any information it deems necessary to satisfy any applicable
                law, regulation, legal process or governmental request, or to edit,
                refuse to post or to remove any information or materials, in whole or
                in part, in JACQUIE JORDAN, INC.'s sole discretion.
            </p>

            <h3>LIMITATION OF LIABILITY</h3>
            <ul>
                <li>
                    TVGUESTPERT.COM does not claim ownership of the materials Member
                    provides to TVGUESTPERT.COM (including feedback and suggestions) or
                    post, upload, input or submit to any Services or its associated
                    services for review by the general public, or by the members of any
                    public or private community (each a "Submission" and collectively
                    "Submissions"). However, Member acknowledges that by posting,
                    uploading, inputting, providing or submitting ("Posting")
                    Submissions, Member is granting JACQUIE JORDAN, INC., its affiliated
                    companies and necessary sub-licensees permission to use Member's
                    Submissions in connection with the operation of their internet
                    businesses (including without limitation, all TVGUESTPERT.COM
                    Services), including without limitation, the license rights to copy,
                    distribute, transmit, publicly display, reproduce, edit and reformat
                    Member's Submissions; to publish Member's name in connection with
                    Member's Submission; and the right to sublicense such rights to any
                    supplier of the Services contemplated hereunder.
                </li>
                <li>
                    TVGUESTPERT.COM is a distributor (and not a publisher) of content
                    supplied by third parties and Members. Accordingly, TVGUESTPERT.COM
                    has no more editorial control over such content than does a public
                    library, bookstore, or newsstand. Member acknowledges that any
                    opinions, advice, statements, services, offers, or other information
                    or content expressed or made available by third parties, including
                    information providers, Members or any other Member of
                    TVGUESTPERT.COM, are those of the respective author(s) or
                    distributor(s) and not of JACQUIE JORDAN, INC. Member further
                    acknowledges that neither TVGUESTPERT.COM nor any third party
                    provider of information guarantees the accuracy, completeness, or
                    usefulness of any content, nor its merchantability or fitness for
                    any particular purpose.
                </li>
                <li>
                    Member expressly agrees that use of TVGUESTPERT.COM is at Member's
                    sole risk. Member acknowledges that neither JACQUIE JORDAN, INC.,
                    its affiliates nor any of their respective employees, agents, third
                    party content providers or licensors warrant that TVGUESTPERT.COM
                    will be uninterrupted or error free; nor do they make any warranty
                    as to the results that may be obtained from use of TVGUESTPERT.COM,
                    or as to the accuracy, reliability or content of any information,
                    service, or merchandise provided through TVGUESTPERT.COM.
                </li>
                <li>
                    TVGUESTPERT.COM is provided on an "as is" basis without warranties
                    of any kind, either express or implied including, but not limited
                    to, warranties of title or implied warranties of merchantability or
                    fitness for a particular purpose, other than those warranties which
                    are implied by and incapable of exclusion, restriction or
                    modification under the laws applicable to this agreement.
                </li>
            </ul>

            <h3>MEDIATION</h3>
            <ul>
                <li>
                    By entering into this agreement, TVGuestpert and Member both agree
                    to mediate all differences arising out of said agreement.
                </li>
                <li>
                    In consideration of the terms and covenants of this agreement, and
                    other valuable consideration, the receipt of which is acknowledged,
                    the parties agree as follows:
                </li>
            </ul>

            <h3>SECTION ONE</h3>
            <h2>MATTERS TO BE SUBMITTED TO MEDIATION</h2>
            <p>
                All disputes and controversies of every kind and nature between the
                parties to this agreement arising out of or in connection with
                TVGuestpert.com as to the existence, construction, validity,
                interpretation or meaning, performance, nonperformance, enforcement,
                operation, breach, continuance, or termination of the agreement shall
                be submitted to mediation pursuant to the procedure set forth in this
                agreement.
            </p>

            <h3>SECTION TWO</h3>
            <h2>PROCEDURE</h2>
            <ul>
                <li>
                    Either party may demand such mediation in writing within 30 days
                    after the controversy arises, which demand shall include the name of
                    the mediator appointed by the party demanding mediation, together
                    with a statement of the matter in controversy.
                </li>
                <li>
                    Within 30 days after such demand, the other party shall name its
                    mediator, or in default of such naming, such mediator shall be named
                    immediately by the Arbitration Committee of the American Arbitration
                    Association, and the two mediators so selected shall name a third
                    mediator within 30 days or, in lieu of such agreement on a third
                    mediator by the two mediators so appointed, a third arbitrator shall
                    be appointed by the Arbitration Committee of the American
                    Arbitration Association.
                </li>
                <li>
                    An award rendered by a majority of the mediators appointed under
                    this agreement shall be final and binding on all parties to the
                    proceeding during the period of this agreement, and judgment on such
                    award may be entered by either party in the highest court, state or
                    federal, having jurisdiction.
                </li>
            </ul>

            <h3>SECTION THREE</h3>
            <h2>AGREEMENT AS BAR TO SUIT</h2>
            <ul>
                <li>
                    The provisions of this agreement shall be a complete defense to any
                    suit, action, or proceeding instituted in any federal, state, or
                    local court or before any administrative tribunal with respect to
                    any controversy or dispute arising during the period of this
                    agreement and which is arbitrable as set forth in this agreement.
                </li>
                <li>
                    The mediation provisions of this agreement shall, with respect to
                    such controversy or dispute, survive the termination or expiration
                    of any TVGustpert.com subscription.
                </li>
            </ul>

            <h3>SECTION FOUR</h3>
            <h2>LACK OF MEDIATORS' AUTHORITY TO MODIFY AGREEMENT</h2>
            <p>
                Nothing contained in this agreement shall be deemed to give the
                mediators any authority, power, or right to alter, change, amend,
                modify, add to, or subtract from any of the provisions of
                TVGUESTPERT.COM WEB SITE SERVICE AGREEMENT/TERMS OF USE.
            </p>

            <h3>GOVERNING LAW</h3>
            <p>
                It is agreed that this agreement shall be governed by, construed, and
                enforced in accordance with the laws of the State of California.
            </p>

            <h3>MODIFICATION OF AGREEMENT</h3>
            <p>
                Any modification of this agreement or additional obligation assumed by
                either party in connection with this agreement shall be binding only
                if evidenced in writing signed by each party or an authorized
                representative of each party.
            </p>

            <h3>NOTICES</h3>
            <h2>BILLING TERMS</h2>
            <ul>
                <li>First credit/debit charge is due upon executed agreement.</li>
                <li>
                    All following credit/debit card payments are charged on the 15th of
                    each month consecutively.
                </li>
                <li>
                    All credit/debit payments are charged an additional 3% processing
                    fee.
                </li>
                <li>
                    If payment arrangement is preapproved as monthly check payments,
                    TVGuestpert still requires a credit card in the case that check is
                    not received by due date. TVGuestpert then has permission to charge
                    credit card with 3% processing fee.
                </li>
                <li>No cancellations, no refunds, no transfers, no substitutions.</li>
                <li>
                    Within 48 hours of unrendered payment, office will notify CLIENT for
                    resolution.
                </li>
            </ul>

            <h2>FEES</h2>
            <ul>
                <li>
                    Reconciliation of account after 48 hours will incur a $350.00 late
                    fee. All contract rates still accrue.
                </li>
                <li>
                    Chargeback(s): If a customer initiates a chargeback, TVGuestpert may
                    assess a $50.00 processing fee for each individual chargeback in
                    addition to passing on the bank fees associated with the
                    chargeback(s).
                </li>
                <li>
                    Returned Check(s): TVGuestpert may assess a $50.00 processing fee on
                    all returned checks in addition to passing on the bank fees
                    associated with the returned check(s).
                </li>
                <li>
                    Delinquent Accounts: All accounts 15 days past due may be disabled
                    until balances are paid in full.
                </li>
                <li>
                    Third-Party Collections Service: In the event the delinquent account
                    is submitted to a third-party collections service, CLIENT will be
                    responsible for all fees associated with the third-party collections
                    service.
                </li>
            </ul>
            <h2>NON-RENEWAL</h2>
            <ul>
                <li>
                    Closing an account with TVGuestpert cannot be done by simply
                    canceling the credit/debit card. TVGuestpert will continue to treat
                    this as an open account and the billing cycle will continue,
                    resulting in a past due account that may be turned over to a
                    third-party collection service.
                </li>
                <li>
                    Non-renewals are for completed contracts. It is imperative that
                    account non-renewals are done in writing to a TVGuestpert
                    representative to ensure account closure thirty days before their
                    final month. TVGuestpert will reciprocate the notification of
                    non-renewals to the CLIENT in writing for CLIENT’s records.
                </li>
                <li>
                    Non-Renewal of an account does not dismiss outstanding invoices. At
                    the time of non-renewal, any outstanding balance must be settled.
                    All non-renewal accounts with an outstanding balance may be
                    automatically turned over to a third-party collection service.
                </li>
            </ul>
            <h2>MORALITY CLAUSE</h2>
            <ul>
                <li>
                    TVGuestpert reserves the right to terminate membership at any time,
                    without a refund, due to unprofessional behavior with the TVG staff
                    or with any 3rd party production staff.
                </li>
            </ul>
            <h2>DISPUTES</h2>
            <ul>
                <li>
                    CLIENT’s dissatisfaction of service does not justify non-payment.
                    TVGuestpert holds CLIENT accountable for responsiveness,
                    availability, willingness, participation, and collaboration.
                    TVGuestpert’s registered CLIENT is the sole party that TVGuestpert
                    is responsible to for communication and services rendered.
                    TVGuestpert reserves the right to amend and/or make up in time for
                    any service claims left to CLIENT’s
                </li>
            </ul>
            <h2>TVGUESTPERT WALK THRU & STRATEGIC MEDIA CONSULTATION CALL</h2>
            <ul>
                <li>
                    For New Guestperts: To help you succeed and get the most from
                    TVGuestpert, the TVGuestpert Walk Thru and the 30 minute Strategic
                    Media Consultation Call is mandatory. Services must be used within
                    30 days from membership start date. Walk Thru needs to be scheduled
                    and completed first before TVGuestpert Strategic Media Consultation
                    Call is scheduled. If either or both do not get scheduled within the
                    first 30 days of signing up, standard media consultation rates apply
                    of $350.00 an hour, as outlined in the TVGuestpert Rates and
                    Services Comprehensive Sheet.
                </li>
            </ul>

            <h3>WHOLE AGREEMENT</h3>
            <p>
                This agreement represents the whole agreement between the parties and
                wholly supersedes any agreement to understanding whatsoever between
                the parties. By joining TVGUESTPERT.COM Member agrees to be bound by
                the Terms of Use contained herein.
            </p>
        </div>
    </div>

</body>

</html>