
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
 // defines 1 rem -- global value
    font-size: 62.5%; 
    @include respond(tab-land) { //width <1200
      font-size: 56.25%;
    }
    @include respond(tab-port) { // width < 900 
      font-size: 50%;
    }
    @include respond(phone) { // width < 600 
      font-size: 44%;
    }
    @include respond(big-desktop) {
      font-size: 78%;
    }
}

body {
  box-sizing: border-box;
}