body {
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
}

////////////////////////////////////
//****** headings *******//
////////////////////////////////////

.heading-primary {
    color: $color-primary;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 300;
    backface-visibility: hidden;
    line-height: 5rem;
}

.heading-secondary{ 
  font-size: 3.5rem;
  line-height: 3.5rem;
  text-align: left;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  letter-spacing: 1px;
  color: $color-primary;
  transition: all 0.2s;


  &:hover{
    transform: scale(1.1);
    text-shadow: 5px 7px 8px $color-grey-dark;
  }
}

.heading-tertiary{
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: $color-primary-dark;
  text-transform: capitalize;
}


.heading-extra-big{
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 300;
  color: $color-primary-dark;
  padding: 0 1rem;
  text-shadow: 5px 7px 8px $color-grey-dark;
}
////////////////////////////////////
//****** paragraph *******//
////////////////////////////////////

.paragraph-primary{
  font-size: 2rem !important;
  color: $color-primary-dark;
  line-height: 2.5rem;
  @include respond(tab-land) { //width <1200
    font-size: 1.9rem !important;
  }
  @include respond(small-screen) { //width <500
    font-size: 1.6rem !important;
  }
  @include respond(x-small-screen) { //width <400
    font-size: 1.5rem !important ;
  }
}
.paragraph-secondary{
  font-size: 1.8rem;
  color: $color-secondary-text;
  color: $color-secondary-text;
  @include respond(tab-land) { //width <1200
    font-size: 1.7rem
  }
  @include respond(small-screen) { //width <500
    font-size: 1.5rem
  }
}

.paragraph-tertiary{
  font-size: $default-font-size;
}

.paragraph__not-found{
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 300;
  color: gainsboro;
}



////////////////////////////////////
//****** captions *******//
////////////////////////////////////

.caption-text-bg{
  font-size: 1.7rem;
  color: $color-secondary-dark;
  text-transform: capitalize;
  line-height: 2rem;
  letter-spacing: 1px;
  padding-top: 3px;

  @include respond(tab-land) { //width <1200
    font-size: 1.5rem
  }
  @include respond(x-small-screen) { //width <1200
    letter-spacing: none;
  }
}

.caption-text-sm{
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  color: $color-secondary-dark;
}

////////////////////////////////////
//****** text color *******//
////////////////////////////////////

.color-txt-dark{
  color: $color-secondary-text !important;
}

.color-txt-golden{
  color: $color-secondary;
}

.color-txt-golden-2{
  color:  #DCB554;
}

.color-txt-red{
  color: #EA2027;
}Z


////////////////////////////////////
//****** text-bold *******//
////////////////////////////////////
.text-bold-0{
  font-weight: 400;
}

.text-bold-1{
  font-weight: 700;
}
.text-bold-2{
  font-weight: 900;
}

////////////////////////////////////
//****** text-transform *******//
////////////////////////////////////
.txt-capitalize{
  text-transform: capitalize;
}
.txt-uppercase{
  text-transform: uppercase;
}