// center-text
.u-center-text{
    text-align: center;
}

.u-text-left{
    text-align: left;
}

.u-absCenter{
    @include absCenter;
}

.u-flexCenter{
    display: flex;
    justify-content: space-between;
}

.u-marAuto{
    margin: 0 auto;
}

// margin-bottom

.u-mar-b-1{
    margin-bottom: 1rem !important;
}
.u-mar-b-2{
    margin-bottom: 2rem !important;
}
.u-mar-b-3{
    margin-bottom: 3rem !important;
}
.u-mar-b-4{
    margin-bottom: 4rem !important;
}
.u-mar-b-5{
    margin-bottom: 5rem !important;
}
.u-mar-b-6{
    margin-bottom: 6rem !important;
}
.u-mar-b-7{
    margin-bottom: 7rem !important;
}
.u-mar-b-8{
    margin-bottom: 8rem !important;
}
.u-mar-b-9{
    margin-bottom: 9rem !important;
}
.u-mar-b-10{
    margin-bottom: 10rem !important;
}


// margin-top

.u-mar-t-1{
    margin-top: 1rem !important;
}
.u-mar-t-2{
    margin-top: 2rem !important;
}
.u-mar-t-3{
    margin-top: 3rem !important;
}
.u-mar-t-4{
    margin-top: 4rem !important;
}
.u-mar-t-5{
    margin-top: 5rem !important;
}
.u-mar-t-6{
    margin-top: 6rem !important;
}
.u-mar-t-7{
    margin-top: 7rem !important;
}
.u-mar-t-8{
    margin-top: 8rem !important;
}
.u-mar-t-9{
    margin-top: 9rem !important;
}
.u-mar-t-10{
    margin-top: 10rem !important;
}

.u-mar-r-1{
    margin-right: 1rem !important;
}

//////////////////////////////
//--- set order---//
//////////////////////////////
.u-high-order{
    order: 10;
}

//////////////////////////////
//--- Display None---//
//////////////////////////////
.u-display-none{
    display: none !important;
}