// COLORS
$color-primary-light :#581c4236;
$color-primary:	#8A1253; 
$color-primary-dark:#662552; 
$color-primary-transparent:#8a125296;

$color-secondary-light:#F3E6BA;
$color-secondary:#EDDA97;
$color-secondary-dark:#e1c15299;

$color-tertiary-light:#F6ECCB;
$color-tertiary:#EDE5EA;
$color-tertiary-dark:#F9F3DC;

$color-secondary-text:#722B59;
$color-tertiary-text:#961165;


$color-white: white;
$color-black:#000;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #495a6d;



$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgba(226, 226, 226, 0.842);


// FONT
$default-font-size: 1.7rem;

// Container-width
$default-container-width: 70%; //127rem

// SHADOW
$box-shadow-hover: 0 .7rem 1rem rgba($color-black ,.6);
$box-shadow-active: 0 5px 1rem rgba($color-black, 0.4);

// PATH
$background-img-1: url(../images/header_bg-1-sm.png);
$background-img-2:  linear-gradient(rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.97)) ,url(../images/background-shapes.png);
$background-img-3: linear-gradient(360deg, #FFFFFF 7.24%, rgba(255, 255, 255, 0) 99.54%), rgba(102, 37, 82, 0.15);
$background-img-4: url(../images/Group-min.png);
$background-img-5: linear-gradient(180deg, #FFFFFF 7.24%, rgba(255, 255, 255, 0) 99.54%), rgba(102, 37, 82, 0.15);
$background-img-6: linear-gradient(rgba(255, 255, 255, 0.377), rgba(255, 255, 255, 0.384)) , url(../images/contact__background.jpg);

$background-standard-1: linear-gradient(90deg, rgba(198, 114, 105, 0.128) 0%, rgba(170, 133, 118, 0.8) 17.19%, rgba(161, 100, 73, 0.8) 32.29%, rgba(173, 114, 92, 0.8) 47.39%, rgba(158, 86, 66, 0.8) 64.16%, rgba(177, 121, 109, 0.8) 79.55%, rgba(205, 134, 126, 0.12) 100%);
$background-elite-1: linear-gradient(90deg, rgba(239, 187, 146, 0.08) 0%, #EFBB92 24.47%, #E7B28C 46.86%, #EFBB92 69.25%, rgba(208, 155, 123, 0.1) 94.73%);
$background-platinum-1: linear-gradient(90deg, rgba(177, 177, 177, 0) 3.17%, rgba(177, 177, 177, 0.8) 36.93%, rgba(145, 145, 145, 0.8) 60.14%, rgba(177, 177, 177, 0.8) 76.49%, rgba(177, 177, 177, 0) 97.06%);
