<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producer Enquiries</title>
</head>

<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->


    <section class="guestperts u-mar-t-5">
        <h1 class="heading-primary u-center-text">Make an enquiry</h1>

        <div class="form__search u-mar-b-3 u-mar-t-6">
            <input class="form__control form__search-input" id="search-input" type="text"
                placeholder="Search Guestperts" required>
            <input type="hidden" value="" class="form__hidden-input" id="hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="row u-mar-b-5 u-mar-t-5" id="guestpert-box">
            <div class="guestpert" data-id="8293j32h4jkh8798jdsfhk324hjk324">
                <span class="enquiryNum">22</span>
                <div class="guestpert__img">
                    <img src="../../images/guestperts/1493250524-DarrenCampoHeadshot.2017.jpg" class="fluid-img"
                        alt="guestpert image">
                </div>
                <div class="guestpert__info">
                    <span class="guestpert__name">Darren Campo</span>
                    <span class="guestpert__title">TV Producer</span>
                </div>
            </div>
        </div>

        
        <!-- /////////////////////////////////////// -->
        <!-- ///--- Page Numbers ---/// -->
        <!-- /////////////////////////////////////// -->
        <div class="page">
            <ul class="page__list" id="page__list-guestperts"></ul>
        </div>

    </section>

    


    <section class="enquiries-section u-display-none">

        <div class="enquiries__show-btns">
            <button class="button__primary btn-createNew" >create new</button>
            <button class="button__primary btn-backToGuestperts" data-back="read">Back</button>
        </div>


        <ul class="allEnquiries">
            <li class="enquiry">
                <div class="enquiry__title">
                    <span>TEDMED</span>
                </div>
                <ul class="info-list u-mar-t-2">
                    <li>
                        <p class="info-list__key">Date</p>
                        <p class="info-list__value">11 Sept 2017</p>
                    </li>
                    <li>
                        <p class="info-list__key">Media</p>
                        <p class="info-list__value">Live</p>
                    </li>
                    <li>
                        <p class="info-list__key">Show</p>
                        <p class="info-list__value">TEDMED</p>
                    </li>
                    <li>
                        <p class="info-list__key">Topic</p>
                        <p class="info-list__value">AI Psychology and Personal Success </p>
                    </li>
                    <li>
                        <p class="info-list__key">Ratings</p>
                        <div class="info-list__value">
                            <div class="star-rate__reading">
                                <label for="r1" class="check"><input type="checkbox" id="r1" /></label>
                                <label for="r2" class="check"><input type="checkbox" id="r2" /></label>
                                <label for="r3" class="check"><input type="checkbox" id="r3" /></label>
                                <label for="r4" class="check"><input type="checkbox" id="r4" /></label>
                                <label for="r5" class="check"><input type="checkbox" id="r5" /></label>
                                <label for="r6" class="check"><input type="checkbox" id="r6" /></label>
                                <label for="r7" class="check"><input type="checkbox" id="r7" /></label>
                                <label for="r8" class="check"><input type="checkbox" id="r8" /></label>
                                <label for="r9" class="check"><input type="checkbox" id="r9" /></label>
                                <label for="r10" class="check"><input type="checkbox" id="r10" /></label>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="enquiry">
                <div class="enquiry__title">
                    <span>TEDMED</span>
                </div>
                <ul class="info-list u-mar-t-2" >
                    <li>
                        <p class="info-list__key">Date</p>
                        <p class="info-list__value">11 Sept 2017</p>
                    </li>
                    <li>
                        <p class="info-list__key">Media</p>
                        <p class="info-list__value">Live</p>
                    </li>
                    <li>
                        <p class="info-list__key">Show</p>
                        <p class="info-list__value">TEDMED</p>
                    </li>
                    <li>
                        <p class="info-list__key">Topic</p>
                        <p class="info-list__value">AI Psychology and Personal Success </p>
                    </li>
                    <li>
                        <p class="info-list__key">Ratings</p>
                        <div class="info-list__value">
                            <div class="star-rate__reading">
                                <label for="r1" class="check"><input type="checkbox" id="r1" /></label>
                                <label for="r2" class="check"><input type="checkbox" id="r2" /></label>
                                <label for="r3" class="check"><input type="checkbox" id="r3" /></label>
                                <label for="r4" class="check"><input type="checkbox" id="r4" /></label>
                                <label for="r5" class="check"><input type="checkbox" id="r5" /></label>
                                <label for="r6" class="check"><input type="checkbox" id="r6" /></label>
                                <label for="r7" class="check"><input type="checkbox" id="r7" /></label>
                                <label for="r8" class="check"><input type="checkbox" id="r8" /></label>
                                <label for="r9" class="check"><input type="checkbox" id="r9" /></label>
                                <label for="r10" class="check"><input type="checkbox" id="r10" /></label>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- ///--- Page Numbers ---/// -->
        <!-- /////////////////////////////////////// -->
        <div class="page">
            <ul class="page__list" id="page__list-enquiries"></ul>
        </div>

    </section>

    <section class="animation" id="animation"></section>


    <section class="edit">

        <div class="books__show-btns u-mar-t-2 u-mar-b-5" style="padding-left:1rem;">
            <button class="button__primary btn-backToEnquiries">Go Back</button>
        </div>

        <!-- ---- Form Header ---- -->
        <div class="edit__heading"></div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create New Enquiry</h2>


        <!-- /////////////////////////
             ----- Personal Info ------ 
            ////////////////////////////// -->
        <form action="/producer/createEnquiry?guestpertId='ssdlfklsdjf'" method="POST"
            class="edit__form-container edit__form-container--enquiry u-mar-b-3">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>

            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="media" class="form__label">
                    <span class="form__label--caps">Media</span>
                </label>
                <input type="text" name="media" class="form__control" id="media" required>
            </div>
            <div class="form__group--settings">
                <label for="show" class="form__label">
                    <span class="form__label--caps">show</span>
                </label>
                <input type="text" name="show" class="form__control" id="show" required>
            </div>
            <div class="form__group--settings">
                <label for="airDate" class="form__label">
                    <span class="form__label--caps">Air Date</span>
                </label>
                <input type="date" name="airDate" class="form__control" id="airDate" required>
            </div>
            <div class="form__group--settings">
                <label for="location" class="form__label">
                    <span class="form__label--caps">location</span>
                </label>
                <input type="text" name="location" class="form__control" id="location" required>
            </div>
            <div class="form__group--settings">
                <label for="topic" class="form__label">
                    <span class="form__label--caps">topic</span>
                </label>
                <input type="text" name="topic" class="form__control" id="topic" required>
            </div>

            <div class="form__group--settings u-display-none" id="note_rating">
                <label for="topic" class="form__label">
                    <span class="form__label--caps">Please come back later , to rate the guestpert</span>
                </label>
            </div>

            <div class="form__group--settings" id="ratingContainer">
                <label for="rating" class="form__label">
                    <span class="form__label--caps">Leave a rating</span>
                </label>
                <input type="hidden" name="rating" id="ratingValue">
                <div class="smileybox">
                    <label for="r1" class="check"><input type="checkbox" class="str-inp" id="r1" /></label>
                    <label for="r2" class="check"><input type="checkbox" class="str-inp" id="r2" /></label>
                    <label for="r3" class="check"><input type="checkbox" class="str-inp" id="r3" /></label>
                    <label for="r4" class="check"><input type="checkbox" class="str-inp" id="r4" /></label>
                    <label for="r5" class="check"><input type="checkbox" class="str-inp" id="r5" /></label>
                    <label for="r6" class="check"><input type="checkbox" class="str-inp" id="r6" /></label>
                    <label for="r7" class="check"><input type="checkbox" class="str-inp" id="r7" /></label>
                    <label for="r8" class="check"><input type="checkbox" class="str-inp" id="r8" /></label>
                    <label for="r9" class="check"><input type="checkbox" class="str-inp" id="r9" /></label>
                    <label for="r10" class="check"><input type="checkbox" class="str-inp" id="r10" /></label>
                </div>
            </div>


            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">Send Inquiry</button>
            </div>
        </form>
    </section>

    <div id="csrf" data-csrf=""></div>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>
    <!-- **** Footer **** -->

    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a
                Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating
                out those on this site that have not been produced by us</p>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>
</body>

</html>