 /////////////////////////
////// Header below ////
/////////////////////////

.header{
    display: flex;
    align-items: center;
    flex-direction: column;

    &__hero-container{
        width: 70%;
        margin-top: 15rem;
        position: relative;
        background-color: $color-tertiary-light;
        padding: 1rem 3rem 3rem 3rem;

        display: flex;
        align-items: flex-start;
        flex-direction: column;

        @include respond(x-small-screen) { //width <400
            width: 85%;
        }
    }

    
    &__hero-content-container{
        display: flex;
        // height: 12rem;


        @include respond(small-screen) { //width <500
            flex-direction: column;
            width: 100%;
            align-items: center;
        }
    }


    &__hero-img-container{
        display: inline-block;
        margin-top: -12rem;
        height: 25rem;
        width: 25rem;
        
        @include respond(tab-port) { //width <900
            height: 22rem;
            width: 22rem;
        }
        @include respond(phone) { //width <600
            height: 19rem;
            width: 19rem;
            margin-top: -9rem;
        }

        
    }
    
    &__hero-img{
        height: 100%;
        width: 100%;
    }
    
    &__hero-title-container{
        display: flex;
        flex-direction: column;
        height: fit-content;
        @include respond(small-screen) { //width <500
            align-items: center;
        }
    }
    
    &__hero-title{
        font-size: 4.5rem;
        font-weight: 300;
        color: $color-primary;
        @include respond(tab-port) { //width <900
            font-size: 3.5rem;
        }
    }

    &__hero-designation{
        font-size: 3rem;
        font-weight: 300;
        color: $color-primary;
        margin-top: -1rem;
    }
}

////////////////////////////////////
//****** About--others *******//
////////////////////////////////////


.about{
    &__others{
        @include absCenter;
        margin-top: 5rem;
        padding: 7rem;
        border-top: 1px solid $color-secondary;
        @include respond(phone) { //width <600
            padding: 5rem 0;
        }   
    }

    &__others-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        *:not(:last-child){
            margin-bottom: 3rem;
        }

    }

    &__others-content{
        display: flex;
        align-items: center;
        img{
            margin-right: 3rem;
        }
    }


    
}