.testimonial{
    
    &__card{
        border: 1px solid $color-primary-light;
        @include card-hover-shadow;
    }

    &__btn-container{
        margin-top: 3rem;
        width: 30rem;
        display: flex;
        justify-content: space-between;
    }
}