.slides{


    &__card{
        width: 85%;
        margin: 3rem auto;
        padding: 3rem;
        border-radius: 1rem;
        border: 2px solid $color-primary-light;
        display: flex;

        @include respond(tab-port) { //width <900
            @include absCenter;
        }
        @include respond(phone) { //width <600
            width: 95%;
        }
    }

    // picture setting
    &__content-left{
        flex: 0 0 35rem;

        @include respond(tab-port) { //width <900
            flex: 0;
            margin: 0 0 5rem 0;
        }
    }

    &__picture{
        max-width: 25rem;
        height: auto;
    }

    // Content at right side
    &__content-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;


        @include respond(tab-port) { //width <900
            @include absCenter;
        }
    }

    &__info{
        width: 32rem;
    }

    // Video link setting

    &__video-container{
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    &__video{
        display: flex;
        align-items: center;

        span{
            color: $color-primary-dark;
            letter-spacing: 1px;
        }
    }

    &__video-icon{
        fill: $color-primary-dark;
        height: 5rem;
        width: 5rem;
        margin-right: 2rem;
    }

    &__show-btns{
        margin: 1rem;
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }


    &__more-details{
        width: fit-content;
        margin-bottom: 2rem;
    }
}

.slide__caption-container{
    color: $color-secondary-text;
    margin: 3rem 0;

    p{
        font-size: 1.6rem;
    }
    a{
        color: inherit;
    }
}