.newsletter-subscriber{
    @include absCenter;

    &__card{
        border: 1px solid $color-primary-light;
        border-radius: 1rem;
        padding: 2rem;
        transition: all .2s;
        @include card-hover-shadow;
    }

    &__info{
        margin-bottom: 2rem;
        
        li{
            display: flex;
            margin-bottom: 1rem;
            overflow-x: auto;
            @include respond(small-screen){
                flex-direction: column;
             }

            @include scrollBarHori;
        }
     }

     &__key{
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $color-primary-dark;
        flex: 0 0 7rem;
        font-weight: 600;

        @include respond(small-screen){
           flex: 0;
        }
    }

    &__value{
        font-size: 1.3rem;
        text-align: justify;
        color: $color-primary-dark;
    }

    &__card-btns{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
}