.slides{

    &__card{
        width: 85%;
        margin: 3rem auto;
        padding: 3rem;
        border-radius: 1rem;
        border: 2px solid $color-primary-light;
        display: flex;

        @include respond(tab-port) { //width <900
            @include absCenter;
        }
        @include respond(phone) { //width <600
            width: 95%;
        }
    }

    // picture setting
    &__content-left{
        margin-right: 3rem;

        @include respond(tab-port) { //width <900
            flex: 0;
            margin: 0 0 5rem 0;
        }
    }

    // Video link setting
    &__video{
        display: flex;
        align-items: center;

        iframe{
            height: 30rem;
            width: 55rem;
            
            @include respond(tab-land) { //width <1200
                height: 25rem;
                width: 45rem;
            }

            @include respond(x-small-screen) { //width <1200
                height: 21rem;
                width: 38rem;
            }
        }

        span{
            color: $color-primary-dark;
            letter-spacing: 1px;
        }
    }


    // Content at right side
    &__content-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;


        @include respond(tab-port) { //width <900
            @include absCenter;
        }
    }

    &__info{
        width: 32rem;
        margin: 0;
    }
    
}