.dashboard{
    @include absCenter;
    height: 80vh;

    &__shortcut{
        border-collapse: collapse;
    }
    
    &__shortcut th{
        padding: 1rem;
        height: 13rem;
        width: 18rem;
        border: 1px solid $color-primary-dark;
        @include respond(x-small-screen) { //width <500
            width: 14rem;
            height: 11rem;
          }
    }

    &__shortcut-link{
        text-decoration: none;
        font-size: 1.6rem;
        color: $color-primary-dark;
        text-transform: capitalize;
        @include absCenter;
    }

    &__icon{
        fill: $color-primary;
        height: 6rem;
        width: 7rem;
        @include respond(x-small-screen) { //width <500
            width: 6rem;
            height: 6rem;
          }
    }
}