 .newsletter-history{
     @include absCenter;

     &__card{
         border: 1px solid $color-primary-light;
         margin: 2rem 0;
         padding: 2rem;
         border-radius: 1rem;
         width: 80%;
         
         @include respond(tab-port){
            width: 90%;
         }
     }

     &__info{
        
        li{
            display: flex;
            margin-bottom: 3rem;
            @include respond(small-screen){
                flex-direction: column;
             }
        }
     }

     &__key{
         font-size: $default-font-size;
         text-transform: uppercase;
         color: $color-primary-dark;
         flex: 0 0 11rem;
         font-weight: 600;

         @include respond(small-screen){
            flex: 0;
         }
     }

     &__value{
         font-size: 1.3rem;
         text-align: justify;
         color: $color-primary-dark;
     }
 }