.frontEnd{
    min-height: 75vh;
    @include absCenter;

    
    &__cards{
        @include absCenter;
        height: 11rem;
        text-decoration: none;
        border-radius: 5px;
        background: rgb(102,37,82);
        background: linear-gradient(180deg, rgba(102,37,82,1) 50%, rgba(255,255,255,1) 50%);
        transition: all .2s;
        -webkit-box-shadow: 0px 0px 9px 1px rgba(69,15,69,1);
        -moz-box-shadow: 0px 0px 9px 1px rgba(69,15,69,1);
        box-shadow: 0px 0px 9px 1px rgba(69,15,69,1);

        &:hover{
            transform: translateY(-1rem);
            -webkit-box-shadow: -1px 2px 27px -4px rgba(69,15,69,1);
            -moz-box-shadow: -1px 2px 27px -4px rgba(69,15,69,1);
            box-shadow: -1px 2px 27px -4px rgba(69,15,69,1);
        }

        &:active{
            transform: translateY(-.7rem); 
            -webkit-box-shadow: -1px 2px 10px 1px rgba(69,15,69,1);
            -moz-box-shadow: -1px 2px 10px 1px rgba(69,15,69,1);
            box-shadow: -1px 2px 10px 1px rgba(69,15,69,1);
        }
    }

    &__page{
        width: 80%;
        height: 4rem;
        @include absCenter;
        font-size: $default-font-size;
        text-transform: uppercase;
        color: $color-primary-dark;
        background-color: white;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
}