.settings{

    &__other-emails{
        display: flex;

        #settings__btn-newEmail{
            order: 1;
        }
    }

    &__other-emails-box{
        width: 100%;
    }

    &__mailAddress{
        display: flex;

        #settings__btn-newMailAddress{
            order: 1;
        }
    }

}
