.row{
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    @include respond(phone) { //width <600
        padding: 2rem;
    };
}

.form__search{
    display: flex;
    justify-content: center;
}


.allEnquiries{
    padding: 1rem; 
}

.info-list__key{
    flex: 0 0 10rem;
}

.enquiries__show-btns{
    margin: 5rem 3rem;
}

.enquiry-btns{
    margin-left: 4rem; 
}