.email-template{
    @include absCenter;

    &__show-btns{
        margin: 5rem auto;
        width: 70%;
    }


    &__cards{
        border: 1px solid $color-primary-light;
        @include absCenter;
        transition: all .2s;
        overflow: hidden;

        &:hover{
            -webkit-box-shadow: 0px 0px 9px 1px rgba(69,15,69,1);
            -moz-box-shadow: 0px 0px 9px 1px rgba(69,15,69,1);
            box-shadow: 0px 0px 9px 1px rgba(69,15,69,1);
            border: none;
        }
    }

    &__heading{
        background-color: $color-primary-dark;
        width: 100%;
        padding: 1rem 0;
        display: flex;
        justify-content: center;
    }

    &__icon{
        height: 6rem;
        width: 6rem;
        fill: $color-white;
    }

    &__content{
        padding: 1rem;
    }

    &__btns{
        display: flex;
        justify-content: center;
    }
}