.ht-categories{

    &__card{
        border: 1px solid $color-primary-light;
        border-radius: 1rem;
        overflow: hidden;
        transition: all .2s;

        @include card-hover-shadow;
    }

    &__show-btns{
        width: 70%;
    }

    &__info{
        background-color: $color-primary-light;
        padding: 2.5rem 1rem;
    }

    &__main-txt{
        font-size: 1.4rem;
        text-transform: capitalize;
        line-height: 1.7rem ;
        text-align: center;
        color: $color-primary-dark;
    }


    &__btn-container{
        padding: 1.5rem 0;
        @include absCenter;
    }
}