.home{
    min-height: 80vh;
    @include absCenter;


    &__cards{
        border: 1px solid $color-primary-light;
        height: 11rem;
        background-color: white;
        display: block;
        position: relative;
        margin: 2rem;

        &:hover{
            -webkit-box-shadow: 0px 0px 9px 1px rgba(69,15,69,1);
            -moz-box-shadow: 0px 0px 9px 1px rgba(69,15,69,1);
            box-shadow: 0px 0px 9px 1px rgba(69,15,69,1);
            border: none;
        }
    }

    &__sections{
        background-color: $color-primary-dark;
        width: 108%;
        bottom: .5rem;
        left: -1rem;
        border-radius: 0px 0px 7px 7px;
        -moz-border-radius: 0px 0px 7px 7px;
        -webkit-border-radius: 0px 0px 7px 7px;
        border: 0px solid #000000;
        padding: 1.5rem;
        position: absolute;
        text-transform: uppercase;
        @include absCenter;
        font-size: $default-font-size;
        letter-spacing: 1px;
        color: white;
        transition: all .2s;
    }

    &__cards:hover  &__sections{
        bottom: 1rem;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
    }
    
    &__icon{
        height: 2rem;
        width: 2rem;
        position: absolute;
        z-index: -18;

        &--top-left{
            left: 0;
            top: -2rem;
        }
        &--top-right{
            right: 0;
            top: -2rem;
        }
    }
}