.blog{
    @include absCenter;
    background: $background-img-5;
    width: 80%;
    padding: 1rem 0 5rem 0;
    @include respond(small-screen) { //width <500
        width: 90%;
    }
    

    // border: 2px solid $color-primary-dark;
    margin: 0 auto 5rem auto;
    border-radius: 4px;


    &__img-container{
        height: 25rem;
        width: 45rem;
        margin-top: 3rem;
        border: 3px solid $color-primary-dark;

        @include respond(small-screen) { //width <500
            height: 23rem;
            width: 36rem;
        }


        border-radius: 30px 0px 30px 0px;
        -moz-border-radius: 30px 0px 30px 0px;
        -webkit-border-radius: 30px 0px 30px 0px;
    }

    &__img{
        border-radius: 30px 0px 30px 0px;
        -moz-border-radius: 30px 0px 30px 0px;
        -webkit-border-radius: 30px 0px 30px 0px;
        transform: translate(1rem ,-1rem);
        -webkit-box-shadow: 10px 9px 17px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 9px 17px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 9px 17px 0px rgba(0,0,0,0.75);

    }

    &__txt{
        margin: 5rem 0 2rem 0;
        text-align: justify;
        font-size: $default-font-size;
        letter-spacing: 1px;
        width: 90%;
        color: $color-primary-dark;
        font-size: 1.6rem;

        img{
            max-width: 50%;
            margin: 1rem 1rem 0 0;
            display: inline-block;
            
            @include respond(tab-land) { //width <1200
                max-width: 60%;
            };
            @include respond(tab-port) { //width <900
                max-width: 70%;
            };
            @include respond(small-screen) { //width <500
                max-width: 90%;
                margin-bottom: 1.5rem;
            };
        }

        a{
            color: $color-primary-dark;
        }
    }

    &__created-info{
        display: block;
        width: 90%;

    }

    &__caption{
        font-size: 1.4rem;
        text-transform: capitalize;
        color: $color-primary-dark;
        margin-top: 1rem;
        text-align: left;
    }
}