.header{
    min-height: 70vh;
    @include absCenter;
    background-color: $color-tertiary;
    background-image:  $background-img-1;
    overflow: hidden;

    .heading-extra-big{
        @include respond(small-screen) { //width <500
            font-size: 7.2rem;
        }
    }
}

//////////////////////////
/// View Btns ///
//////////////////////////

.view-btns{
    display: flex;
    align-items: center;
    margin: 5rem auto 0 auto;
    width: 90%;

    &__guestpert-filter{
        display: flex;
        align-items: center;

        span{
            font-size: 1.2rem;
            text-transform: uppercase;
            color: $color-primary;
            font-weight: 600;
        }
    }

    &__filter-btn{
        margin-right: 2rem;
        position: relative;
    }

    &__menu-wrapper{
        position: absolute;
        display: none;
        z-index: 1;
    }
    
    &__menu{
        border-radius: 7px;
        margin-top: 1rem;
        min-width: 22rem;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 46rem;
        background-color: white;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(163,163,163,1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(163,163,163,1);
        box-shadow: 0px 0px 5px 0px rgba(163,163,163,1);
        @include scrollBarVer;

        ul{
            list-style: none;
            height: fit-content;
        }

        .active{
            background-color: $color-primary-light;
        }

        li{
            text-transform: capitalize;
            font-size: 1.3rem;
            color: $color-primary-dark;
            padding: 1rem;
            cursor: pointer;
            transition: all .2s;

            &:hover{
                background-color: $color-primary-light;
            }
            &:active{
                background-color: darken($color-primary-light, 10);
            }
        }

    }

    & > *:not(:last-child){
        margin-right: 3rem; 
    }
}



