.hot-topic{
    @include absCenter;
    background: $background-img-5;
    width: 80%;
    margin: 5rem auto 12rem auto;
    border-radius: 3rem;
    @include respond(tab-port) { //width <900
        width: 90%;
    };
    @include respond(phone) { //width <600
        width: 95%;
    };

    &__container {
        padding: 10rem 3rem;
        @include respond(tab-port) { //width <900
            padding: 2rem 3rem 8rem 3rem;
            
        };
    }


    /////////////////////////////////////
    //**** hot topic info box ****//
    /////////////////////////////////////
    &__about-container{
        display: flex;
        padding-bottom: 5rem;
        border-bottom: 2px solid $color-primary-light;

        @include respond(tab-port) { //width <900
            @include absCenter;
        };
    }

    /////////////////////////////////////
    //**** hot topic guestpert image ****//
    /////////////////////////////////////
    &__guestpert-img-part{
        padding-right: 2rem;
        flex: 0 0 20%;

        @include respond(tab-port) { //width <900
            margin-bottom: 2rem;
        };
    }

    &__guestpert-img-container{
        width: 22rem;
        height: 22rem;
        padding: 1rem;
        background-color: $color-primary-dark;
        border-radius: 50%;

        img{
            border-radius: 50%;
        }
    }


    /////////////////////////////////////
    //**** hot topic info container ****//
    /////////////////////////////////////

    &__description-part{
        margin-left: 5%;

    }

    &__heading{
        text-transform: uppercase;
    }


    /////////////////////////////////////
    //**** hot topic category tags etc ****//
    /////////////////////////////////////

    &__about-hotTopic {
        display: flex ;
    }

    &__txt-ttl{
        flex: 0 0 10rem;
    }


    /////////////////////////////////////
    //**** hot topic content container ****//
    /////////////////////////////////////

    &__content-container{
        padding-top: 3rem;
        color: $color-primary-dark;
        text-align: justify;
        font-size: $default-font-size;
        letter-spacing: 1px;
        color: $color-primary-dark;
        font-size: 1.6rem;

        p, ul, li, a, span{
            text-align: justify;
            font-size: $default-font-size;
            letter-spacing: 1px;
            color: $color-primary-dark;
            font-size: 1.6rem;
        }
        
        img{
            max-width: 50%;
            margin: 1rem 1rem 0 0;
            display: inline-block;
            
            @include respond(tab-land) { //width <1200
                max-width: 60%;
            };
            @include respond(tab-port) { //width <900
                max-width: 70%;
            };
            @include respond(small-screen) { //width <500
                max-width: 90%;
                margin-bottom: 1.5rem;
            };
        }
    }
}