.header{
    background-image: url(../images/contact__background.jpg);
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    // background-size: cover;
    min-height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    display: flex;
    justify-content: space-around;
    width: 95rem;
    background-color: white;
    margin: 5rem 0;

    @include respond(tab-port) { //width <900
        width: 90%;
    }
    @include respond(phone) { //width <600
        flex-direction: column;
        width: 80%;
    }

    &__figure-container{
        flex: 0 0 50%;
        display: flex;
        align-items: flex-end;
        @include respond(phone) { //width <600
            display: none;
        }
    }
    &__contact-form-container{
        border-left: 1px solid $color-primary;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        padding: 3rem;
        @include respond(phone) { //width <600
            border-radius: 5px;
            border: none;
        }
    }
    &__contact-form{
        width: 80%;
        @include respond(tab-port) { //width <900
            width: 95%;
        }
        @include respond(phone) { //width <600
            width: 70%;
        }
        @include respond(small-screen) { //width <500
            width: 90%;
        }
    }

    &__form-input{
        width: 90%;
    }
} 

/////////////////////////////// 
///// Section Address /////
/////////////////////////////// 

.address{

    margin: 5rem auto;
    display: flex;
    justify-content: center;

    &__container{
        @include absCenter;

        border: 1px solid $color-primary-light;
        border-radius: 1rem;
        padding: 5rem 1rem;
        width: 70%;
        background: $background-img-3;

        @include respond(tab-land) { //width <1200
            width: 95rem;
        }
        @include respond(tab-port) { //width <900
            width: 90%;
        }
    }

    &__border{
        width: 60%;
        margin: 5rem 0;
        height: 1px;
        background-color: $color-primary-light;
    }
}

/////////////////////////////// 
///// Section FOUNDER /////
/////////////////////////////// 

.founder{
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    background-color: $color-tertiary-dark;
    
    &__container{
        padding: 5rem 1rem; 
        width: 70%;

        @include respond(tab-land) { //width <1200
            width: 95rem;
        }
        @include respond(tab-port) { //width <900
            width: 90%;
        }
    }

    &__img-container{
        height: 23rem;
        width: 32rem;
        margin: .8rem 4rem 1rem 0;
        float: left;
        border: 1px solid $color-primary;
        border-radius: 40px 0px 40px 0px;
        -moz-border-radius: 40px 0px 40px 0px;
        -webkit-border-radius: 40px 0px 40px 0px;

        @include respond(small-screen) { //width <500
            float: none;
            margin: 0 auto 3rem auto;
        }
    }

    &__img{
        border-radius: 40px 0px 40px 0px;
        -moz-border-radius: 40px 0px 40px 0px;
        -webkit-border-radius: 40px 0px 40px 0px;
        transform: translateX(-1rem) translateY(-1rem);
    }

    
    p{
        text-align: justify;
        color: $color-primary-dark;
        font-size: 1.6rem;
    }
}

/////////////////////////////// 
///// Section FEEDBACK /////
/////////////////////////////// 

.feedback{
    margin: 5rem auto;
    @include absCenter;

    &__card{
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.23);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.23);
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.23);
    }

    &__content-container{
        p{
            font-size: 1.6rem;
            color: $color-primary-dark;
        }
    }
}
