.faq {
    @include absCenter;
    margin: 4rem auto;
    width: 80%;
    background: url(../images/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    @include respond(x-small-screen) {
        width: 90%;
    }

    &__container {
        width: 100%;
    }

    &__checkbox {
        display: none;
    }

    &__question {
        display: flex;
        margin-top: 3rem;
        align-items: center;
        cursor: pointer;
        border: none;
        background: inherit;

        &:focus {
            outline: none;
        }
    }
    &__icon {
        height: 4rem;
        width: 4rem;
        margin-right: 3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-secondary;
        position: relative;
        border: 2px solid $color-primary-dark;

        .after,
        .before {
            display: inline-block;
            height: 3px;
            width: 2.6rem;
            background-color: $color-primary-dark;
            border-radius: 10rem;
            top: 50%;
            left: 50%;
            transition: all 0.2s;
        }
        .after {
            margin-left: -2.6rem;

            &--inactive {
                transform: rotate(90deg);
            }
        }

        .before {
            &--inactive {
                transform: rotate(-180deg);
            }
        }
    }

    &__question-text {
        font-size: 1.8rem;
        color: $color-primary;
    }

    ///////////////////////////////
    /////// Answer
    //////////////////////

    &__answer {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        color: $color-primary;
        background-color: $color-tertiary-dark;
        border-radius: 7px;
        margin-top: 3rem;
        width: 100%;
        padding: 4rem;
        overflow: hidden;
        transition: all 0.3s;

        p {
            font-size: $default-font-size;
            color: $color-primary;
        }

        h3 {
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 2.5rem;
            color: $color-primary-dark;
            text-transform: capitalize;
            margin-bottom: 3rem;
        }

        &--inactive {
            height: 0;
            padding: 0 4rem;
        }

        ////////////////////////////////////////
        ///------ Video ------///
        ////////////////////////////////////////
        iframe {
            height: 35rem;
            width: 63rem;

            @include respond(tab-port) {
                //width <900
                height: 32rem;
                width: 58rem;
            }
            @include respond(phone) {
                //width <600
                height: 28rem;
                width: 54rem;
            }
            @include respond(small-screen) {
                //width <500
                height: 24rem;
                width: 43rem;
            }
            @include respond(x-small-screen) {
                //width <500
                height: 21rem;
                width: 37rem;
            }
        }

        //////////////////////
        /////// Images
        //////////////////////
        &-all-brands-img {
            width: 90%;
        }

        img {
            width: 31.5rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
        }

        /////////////////////////////
        ////// links

        a {
            color: $color-primary-dark;
        }
    }
}
