.media{
    background-color: $color-tertiary-dark;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //---- Create btn ----//
    &__show-btns{
        width: 90%;
        margin-top: 3rem;
    }
    
    //---- Cards ----//
    &__cards{
        background-color: $color-tertiary-light;
        padding: 1rem;
        border: 1px solid $color-primary-light;
    }
    
    //---- Title ----//
    &__para{
        font-size: 1.5rem;
        color: $color-primary;
    }


    //////////////////////////
    /// Buttons container ///
    /////////////////////////

    &__card-btns{
        display: flex;
        justify-content: space-between;
    }

}