.blogs{
    @include absCenter;
    position: relative;
    padding: 5rem 0;

    ///---- Create and See btns -----//
    &__show-btns{
        margin-top: 3rem;
        width: 80%;
        
        button{
            margin-right: 1rem;
        }
    }
    
    
    ///---- Hot Topics Card -----//
    &__cards-wrapper{
        list-style: none;
        transition: all .3s;
        &:hover{
            transform: translateY(-1rem);
        }
    }
    
    &__cards{
        text-decoration: none;
        border: 1px solid $color-primary-light;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
        background-color: white;
        min-height: 30rem;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
    }
    
    ///---- Deep Pink box with title -----//
    &__title-container{
        background-color: $color-primary-dark;
        width: 108%;
        position: absolute;
        display: inline-block;
        padding: 1.5rem;
        top: 3rem;
    }
    
    &__icon{
        position: absolute;
        height: 2rem;
        width: 2rem;
        display: inline-block;
        z-index: -6546;
        
        &--top-left{
            left: 0;
            top: -2rem;
        }
        &--top-right{
            right: 0;
            top: -2rem;
        }
        &--bottom-left{
            left: 0;
            bottom: -2rem;
        }
        &--bottom-right{
            right: 0;
            bottom: -2rem;
        }
    }


    &__title{
        color: $color-secondary;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
    &__title-duplicate{
        color: black;
        padding: 1.5rem .6rem;
        margin-top: 3rem;
    }

    
    ////////////////////////////////
    /// Card Edit & Delete Btns ///
    //////////////////////////////

    &__card-btns{
        display: flex;
        width: 80%;
        justify-content: space-between;
    }
}