.orders{
    background: linear-gradient(180deg, #FFFFFF -57.4%, rgba(255, 255, 255, 0) 42.6%), rgba(138, 18, 83, 0.06) url(../images/header_bg-1-sm.png);
    position: relative;
    min-height: 80vh;
    padding: 5rem 0;
}