.books{
    @include absCenter; 
    // background: linear-gradient(180deg, #FFFFFF -57.4%, rgba(255, 255, 255, 0) 42.6%), rgba(138, 18, 83, 0.06) url(../images/header_bg-1-sm.png);
    position: relative;
    padding: 5rem 0;

    ///---- Create and See btns -----//
    &__show-btns{
        margin-top: 3rem;
        width: 80%;
        
        button{
            margin-right: 1rem;
        }
    }


    ///---- Books Info -----//
    &__info{
        margin:  0 auto;
    }

     ////////////////////////////////
    /// Card Edit & Delete Btns ///
    //////////////////////////////
    
    &__card-btns{
        display: flex;
        width: 90%;
        justify-content: space-between;
        position: absolute;
        z-index: 10;
        left: 5%;
        bottom: 0;
    }


}