.reel {
    @include absCenter;
    // background: linear-gradient(180deg, #FFFFFF -57.4%, rgba(255, 255, 255, 0) 42.6%), rgba(138, 18, 83, 0.06) url(../images/header_bg-1-sm.png);
    position: relative;
    padding: 5rem 0;

    ///---- Create and See btns -----//
    &__show-btns {
        margin-top: 3rem;
        width: 80%;
        display: flex;
        justify-content: flex-start;

        button {
            margin-right: 1rem;
        }
    }

    ///---- Reel container and video -----//

    &__cards {
        @include absCenter;
        padding: 1rem;
        // background-color: $color-primary-light;
        border: 1px solid $color-primary-light;
        transition: all 0.2s;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(184, 184, 184, 1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(184, 184, 184, 1);
        box-shadow: 0px 0px 5px 0px rgba(184, 184, 184, 1);

        &:hover {
            -webkit-box-shadow: 0px 0px 22px 3px rgba(184, 184, 184, 1);
            -moz-box-shadow: 0px 0px 22px 3px rgba(184, 184, 184, 1);
            box-shadow: 0px 0px 22px 3px rgba(184, 184, 184, 1);
        }

        iframe {
            width: 100%;
            height: 12rem;
        }
    }

    //////////////////////////
    /// Buttons container ///
    /////////////////////////

    &__card-btns {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
