.header{
    
    padding: 8rem 0;
    @include absCenter; 
    background: linear-gradient(180deg, #FFFFFF -57.4%, rgba(255, 255, 255, 0) 42.6%), rgba(138, 18, 83, 0.06) url(../images/header_bg-1-sm.png);
    position: relative;
    @include respond(phone) { //width <1200
        padding: 5rem 0;
    }
    

    &__guestpert-image-container{
        position: relative;
        height: 23rem;
        width: 23rem;
        padding: .5rem;
        background-color: $color-primary-dark;
        border-radius: 50%;
        -webkit-box-shadow: 4px 6px 11px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 6px 11px 0px rgba(0,0,0,0.75);
        box-shadow: 4px 6px 11px 0px rgba(0,0,0,0.75);
        margin-bottom: 2rem;
        transition: background-color .2s;
        
        img{
            border-radius: 50%;
            transition: all .2s;
        }
        
        span{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5rem;
            color: rgb(255, 255, 255);
            text-align: center;
            display: none;
            transition: display .2s;
            text-transform: capitalize;
            letter-spacing: 1px;
        }

    }

    &__guestpert-image-container:hover{
        background-color: darken( $color-primary-dark, 15% );

        img{
            opacity: .4;
            @supports (filter: blur() or (-webkit-filter: blur()) or (-moz-filter: blur())){
                filter: blur(5px);
            }
        }

        span{
            display: inline-block;
        }
    }

    ////////////////////////////////////////
    ////----- Typography ----////
    ////////////////////////////////////////

    &__guestpert-name {
        font-size: 3.5rem;
        line-height: 3.5rem;
        text-align: center;
        font-weight: 300;
        display: inline-block;
        letter-spacing: 1px;
        color: $color-primary;
        text-transform: capitalize;
        transition: all 0.2s;


        &:hover{
            transform: scale(1.1);
            text-shadow: 5px 7px 8px $color-grey-dark;
        }
    }

    &__guestpert-title{
        font-size: 1.1rem;
        color: $color-primary-dark;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    &__caption-txt-bg{
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        word-spacing: 6px;
        letter-spacing: 1px;
    }

    &__caption-txt-sm{
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
        text-transform: capitalize;
        word-spacing: 3px;
        letter-spacing: 1px;
    }

    ////////////////////////////////////////
    ////----- Ribon ----////
    ////////////////////////////////////////

    &__ribon{
        position: absolute;
        left: 50%;
        bottom: -2.2rem;
        transform: translateX(-50%);
        width: 30rem;
        height: 5rem;
        border-radius: 1rem;
        text-align: center;
        font-size: $default-font-size;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 3px;
        color: $color-secondary;
        background-color: $color-primary-dark;
        display: flex;
        

        @include absCenter;
    }
}

.walkthrough{
    padding: 9rem 0; 
    @include absCenter;

    iframe{
        height: 35rem;
        width: 65rem;

        @include respond(tab-port) { //width <900
            height: 32rem;
            width: 58rem;
        }
        @include respond(phone) { //width <600
            height: 28rem;
            width: 54rem;
        }
        @include respond(small-screen) { //width <500
            height: 24rem;
            width: 43rem;
        }
        @include respond(x-small-screen) { //width <500
            height: 21rem;
            width: 37rem;
        }
    }
}