.header{
    min-height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: $background-img-2;
    background-size: cover;

    &__hero-wrapper{
        background-color: white;
    }

}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    background-color: rgba(102, 37, 82, 0.04);
    padding: 10rem 15rem;
    
    @include respond(tab-port) { //width <900
        padding: 8rem; 
    }
    @include respond(phone) { //width <600
        padding: 8rem 1rem; 
    }
    
    
    &__filter-btn-container{
        font-size: 1.4rem;
        letter-spacing: 1px;
        @include respond(phone) { //width <600
            font-size: 1.4rem;
            letter-spacing: 1px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;  
        }
    }
    
    &__filter-btn{
        padding: 5px 6px;
        border-radius: 2px;
        border: 1px solid $color-primary;
        background-color: transparent;
        color: $color-primary-dark;
        transition: all .2s ease-out;
        
        @include respond(phone) { //width <600
            margin-bottom: 5px;
            margin-left: 7px;
            font-size: 1.5rem;
        }


        &:focus{
            outline: none;
        }

        &:hover, &--active{
            color: white;
            background-color: $color-primary-dark;
            box-shadow: $box-shadow-hover;
            transform: translateY(-2px);
        }
        
        &:active{
            box-shadow: $box-shadow-active;
            transform: translateY(-1px);    
        }
    }

    &__btn-see-show {
        padding: 1rem 2rem;
        border-radius: 5rem;
        font-size: 1.4rem;
        position: absolute;
        border: none;
        background-color: $color-primary-dark;
        color: white;
        letter-spacing: 1px;
        text-transform: capitalize;
        bottom: -1.6rem;
        cursor: pointer;

        &:focus{
            outline: none;
        }
    }
}



.guestpert-list{
    // margin-bottom: 5rem;
    @include absCenter;
    height: 0;
    overflow: hidden;
    transition: all .2s;

    &__active{
        height: fit-content;
        margin-bottom: 1rem;
    }
    
    &__box{
        display: grid;
        width: 85%;
        grid-template-columns: repeat(6, 1fr);
        background-color: $color-primary-light;
        border-radius: 1rem;

        @include respond(phone) { //width <600
            width: 85%;
        }
        @include respond(small-screen) { //width <500
            width: 90%;
        }
        
        
        @include respond(tab-land) { //width <1200
            grid-template-columns: repeat(5, 1fr);
        }
        @include respond(tab-port) { //width <900
            grid-template-columns: repeat(4, 1fr);
        }
        @include respond(phone) { //width <600
            grid-template-columns: repeat(2, 1fr);
        }

        li{
            padding: 0 2px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            list-style: none;
            cursor: pointer;
            margin: 1rem 1px;

            
            a{
                text-decoration: none;
                letter-spacing: 1px;
                font-size: 1.4rem;
                text-transform: capitalize;
                color: $color-primary;
            }
        }
    }
}