.header{
    background-color: $color-tertiary;
    background-image: $background-img-1;
    // min-height: 80vh;
    &__strip{
        height: 6rem;
        text-align: center;
        font-size: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        &--platinum{
            background: linear-gradient(90deg, #B1B1B1 -6.8%, #888888 30.24%, #919191 79.17%, #B1B1B1 98.37%);
        }
        &--elite{
            background: linear-gradient(90deg, #EFBB92 0%, #EECEB4 10.94%, #EFBB92 27.08%, #E7B28C 40.09%, #D1967A 52.07%, #CF937C 63.01%, #E2AB90 79.67%, #EFBB92 91.97%, #D09B7B 99.98%);
        }
        &--standard{
            background: linear-gradient(90deg, #583531 0%, #773E2F 12.5%, #844D3A 22.92%, #A16449 35.42%, #AD725C 47.39%, #9A4F45 59.89%, #9E5642 73.96%, #8D4637 84.89%, #6F3D38 94.79%);
        }
    }
}


.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include respond(small-screen) { //width <500
        flex-direction: column;
    }

    //////////////////////////////////
    //// GuestPert Image////
    //////////////////////////////////

    &__img-wrapper{
        padding: 2rem;
        flex: 0 0 38%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img-container{
        height: 39rem;
        width: 39rem;
        border-radius: 30px 0px 30px 0px;
        -moz-border-radius: 30px 0px 30px 0px;
        -webkit-border-radius: 30px 0px 30px 0px;
        border: 5px solid $color-primary-light;
        margin: 10rem 0;

        @include respond(tab-land) { //width <1200
            height: 31rem;
            width: 31rem;
        }
        @include respond(tab-port) { //width <900
            height: 29rem;
            width: 29rem;
        }
        @include respond(small-screen) { //width <500
            margin: 0;
        }
    }
    &__img{
        border-radius: 30px 0px 30px 0px;
        -moz-border-radius: 30px 0px 30px 0px;
        -webkit-border-radius: 30px 0px 30px 0px;
        transform: translateX(-1rem) translateY(-1rem);
    }

    //////////////////////////////////
    //// About Guestpert ////
    //////////////////////////////////

    &__content-container{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        min-height: 30rem;
        padding-right: 1rem;
        margin: 3rem 0;

        @include respond(x-small-screen) { //width <500
            align-items: center;
        }
        @include respond(x-small-screen) { //width <500
            padding: 0;
            width: 95%;
        }
    }

    //////////////////////////////////
    //// GuestPert Info ////
    //////////////////////////////////
    
    &__guestpert-info{
        display: flex;
        flex: 1;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-around;
        @include respond(x-small-screen) { //width <400
            align-items: center;
        }
    }

    &__guestpert-designation{
        color: #B4903B;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 2rem 0;
    }

    &__guestpert-expertise{
        @include respond(x-small-screen) { //width <400
            text-align: center;
        }
    }

    &__heading{
        @include respond(x-small-screen) { //width <400
            text-align: center;
        }
    }

    &__caption-txt-bg{
        font-size: $default-font-size;
        text-transform: uppercase;
        word-spacing: 6px;
        letter-spacing: 1px;
    }

    &__caption-txt-sm{
        font-size: 1.6rem;
        text-transform: capitalize;
        letter-spacing: 1px;
    }

    //////////////////////////////////
    //// GuestPert Media ////
    //////////////////////////////////

    &__media-container{
        display: flex;
        justify-content: flex-start;
        margin-top: 3rem;
    }


    &__book-img-container{
        width: 20rem;
        height: 29rem;
        margin-right: 2rem;
    }
    &__reel-container{
        height: 29rem;
        width: 50rem;
    }
}


////////////////////////////
// When reel and book cover are present
///////////////////////////

.slide-1{

    .hero__book-img-container{
        
        @include respond(tab-land) { //width <1200
            width: 18rem;
            height: 27rem;
            margin-right: 1rem;
        }
        @include respond(x-small-screen) { //width <400
            width: 16rem;
            height: 24rem;
        }
    }
 
    .hero__reel-container{

        iframe{
            height: 100%;
            width: 100%;
        }

        @include respond(tab-land) { //width <1200
            height: 27rem;
            width: 42rem;
        }
        @include respond(tab-port){ // width <900
            display: none;
        }
        @include respond(small-screen) { //width <500
            display: inline-block;
            height: 19rem;
            width: 35rem;
        }
        @include respond(x-small-screen){ // width <400
            display: none;
        }
    }
}

////////////////////////////
// When only reel is present
///////////////////////////

.slide-2{
    .hero__content-container{
        @include respond(small-screen) { //width <400
            align-items: center;
        }
    }
    //////////////////////////////////
    //// GuestPert Info ////
    //////////////////////////////////
    
    .hero__guestpert-info{
        
        @include respond(small-screen) { //width <400
            align-items: center;
        }
    }

    .hero__guestpert-expertise{
        @include respond(small-screen) { //width <400
            text-align: center;
        }
    }

    &__heading{
        @include respond(x-small-screen) { //width <400
            text-align: center;
        }
    }

    //////////////////////////////////
    //// GuestPert Media ////
    //////////////////////////////////


    .hero__reel-container{

        iframe{
            height: 100%;
            width: 100%;
        }

        @include respond(tab-land) { //width <1200
            height: 27rem;
            width: 47rem;
        }
        @include respond(tab-port){ // width <900
            height: 20rem;
            width: 33rem;
        }
        @include respond(small-screen) { //width <500
            height: 19rem;
            width: 35rem;
        }
    }
}

////////////////////////////
// When no reel is present
///////////////////////////
.slide-3{
    .hero__content-container{
        @include respond(small-screen) { //width <400
            align-items: center;
        }
    }

    //////////////////////////////////
    //// GuestPert Info ////
    //////////////////////////////////
    
    .hero__guestpert-info{
        
        @include respond(small-screen) { //width <400
            align-items: center;
        }
    }

    .hero__guestpert-expertise{
        @include respond(small-screen) { //width <500
            text-align: center;
        }
    }

    &__heading{
        @include respond(x-small-screen) { //width <400
            text-align: center;
        }
    }
}

////////////////////////////
// Scroll-bar
///////////////////////////

.scroll-bar{
    
    height: 6rem;

    &__wrapper{
        background-color: white;
    }

    &__duplicate{
        display: none;
        background-color: transparent;
        height: 6rem;
        width: 100%;
    }

    &--platinum{
        background: linear-gradient(90deg, rgba(177, 177, 177, 0.152) 0.49%, rgba(177, 177, 177, 0.8) 21.1%, rgba(136, 136, 136, 0.8) 41.15%, rgba(145, 145, 145, 0.8) 60.14%, rgba(177, 177, 177, 0.8) 83.9%, rgba(177, 177, 177, 0.152) 100.35%);
    }
    &--elite{
        background: linear-gradient(90deg, #EFBB92 0%, #EECEB4 10.94%, #EFBB92 27.08%, #E7B28C 40.09%, #D1967A 52.07%, #CF937C 63.01%, #E2AB90 79.67%, #EFBB92 91.97%, #D09B7B 99.98%);
    }
    &--standard{
        background: linear-gradient(90deg, #583531 0%, #773E2F 12.5%, #844D3A 22.92%, #A16449 35.42%, #AD725C 47.39%, #9A4F45 59.89%, #9E5642 73.96%, #8D4637 84.89%, #6F3D38 94.79%);
    }

    &__btn-list{
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    &__btn{
        text-decoration: none;
        font-size: 1.4rem;
        color: $color-primary;
        display: inline-block;
        background-color: $color-grey-light-1;
        border-radius: 2px;
        padding: 8px 1.5rem;
        transition: all .2s;

        &:hover{
            background-color: $color-grey-light-2;
            transform: translateY(-1px);
        }

        @include respond(x-small-screen) { //width <400
            padding: 6px 8px;
        }
    }

    &__fixed{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 900;
    }
}

////////////////////////////
// Section Bio
///////////////////////////

.bio{
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    
    &__content-container{
        @include absCenter;
        width: 70%;
        background: $background-img-3;
        padding: 4rem;
        text-align: justify;
        color: $color-primary-dark;
        border: 2px solid $color-primary-light;
        border-radius: 1rem;
        font-size: 1.6rem;
        letter-spacing: 1px;
        
        a{
            color: $color-primary-dark;
        }

        @include respond(phone) { //width <600
            padding: 2rem;
        }
        @include respond(tab-port) { //width <900
            width: 90%
        }
    }

}

////////////////////////////
// Section Media
///////////////////////////

.media{
    background-color: $color-tertiary-dark;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    &__upcoming-appearances , &__prior-appearances{
        @include absCenter;
        width: 100%;
    }

    &__cards{
        background-color: $color-tertiary-light;
        padding: 1rem;
        border: 1px solid $color-primary-light;
    }

    &__para{
        font-size: 1.6rem;
        color: $color-primary;
        @include respond(big-desktop){
            font-size: 1.4rem;
        }
    }
    
    &__video-container{
        display: flex;
        align-items: center;
    }
    &__video{
        flex: 1;
        text-transform: capitalize;
        font-size: 1.3rem;

        @include respond(big-desktop){
            font-size: 1.2rem;
        }
    }
    &__play-icon{
        height: 4rem;
        width: 4rem;
        padding-left: 1rem;
        fill: $color-primary;
    }
}

////////////////////////////
// All hot topics
///////////////////////////

.hot-topics{
    padding: 3rem 0;
    @include absCenter;
}

////////////////////////////
// All Blogs
///////////////////////////
.blog{
    padding: 3rem 0;
    @include absCenter;
    background-color: $color-primary-light;

    &__content{
        &>*:not(:last-child){
            margin-bottom: 4rem;
        }
    }

}

////////////////////////////
// Reels
///////////////////////////

.demo-reel{
    padding: 3rem 0;
    @include absCenter;

    &__cards{
        height: 15rem;
        background-color: $color-primary-light;

        iframe{
            height: 100%;
            width: 100%;
        }
    }
}

////////////////////////////
// Books
///////////////////////////

.books{
    padding: 3rem 0;
    @include absCenter;
    background-color: $color-tertiary-light;
    
    &__cards{
        border: 2px solid $color-primary-light;
        padding: .5rem;
        @include absCenter;
        -webkit-box-shadow: -1px 0px 9px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 0px 9px 0px rgba(0,0,0,0.75);
        box-shadow: -1px 0px 9px 0px rgba(0,0,0,0.75);
        background-color: $color-primary-dark;
        transition: all .2s;
        &:hover{
            transform: translateY(-1rem);
        }
    }
    &__img-container{
        width: 100%;
        height: 35rem;
    }
    &__btn{
        margin-top: 1rem;
    }
}




////////////////////////////
// Show More
///////////////////////////

.button-show-more{
    align-self: flex-end;
    margin-right: 15%;
}