////////////////////////////////////
//****** Header *******//
////////////////////////////////////

.header {
    min-height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: $background-img-1;
    background-size: contain;
    overflow: hidden;
}

////////////////////////////////////
//****** Company Tags *******//
////////////////////////////////////

.company-tags {
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/tvg_ribon.png);
    background-position: center;
    background-size: contain;
    @include respond(tab-land) {
        //width <1200
        height: 10rem;
    }

    &__txt-type {
        text-transform: uppercase;
        font-size: $default-font-size;
        color: $color-primary-dark;
        word-spacing: 3px;

        & > .txt {
            border-right: 0.2rem solid $color-primary-dark;
        }
    }

    &__modal-txt {
        display: none;
    }
}

////////////////////////////////////
//****** Featured *******//
////////////////////////////////////

.featured {
    // height: 50rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include respond(tab-port) {
        //width <900
        flex-direction: column;
        height: auto;
        background: linear-gradient(105deg, #fcfcfc 0%, rgba(249, 249, 249, 1) 34%, rgba(156, 128, 145, 1) 100%);
    }

    &__guestperts {
        background: linear-gradient(
            100deg,
            rgba(255, 255, 255, 1) 50%,
            rgba(9, 9, 121, 1) 50%,
            rgba(220, 207, 215, 1) 50%
        );
        @include respond(tab-port) {
            //width <900
            background: linear-gradient(
                105deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(249, 249, 249, 1) 34%,
                rgba(156, 128, 145, 1) 100%
            );
            order: 1;
            overflow: hidden;
        }
    }
    &__hot-topics {
        background: linear-gradient(
            100deg,
            rgba(220, 207, 215, 1) 50%,
            rgba(9, 9, 121, 1) 50%,
            rgba(255, 255, 255, 1) 50%
        );
        @include respond(tab-port) {
            //width <900
            background: linear-gradient(
                105deg,
                rgba(156, 128, 145, 1) 0%,
                rgba(249, 249, 249, 1) 34%,
                rgba(255, 255, 255, 1) 100%
            );
            overflow: hidden;
            order: 1;
        }
    }

    &__search {
        display: flex;
        flex-direction: column;
        min-width: 31rem;
        z-index: 10;

        @include respond(tab-port) {
            //width <900
            align-items: center;
            margin: 3rem 0;
        }
    }

    &__autocomplete-options {
        width: 32rem;
    }
}

////////////////////////////////////
//****** Ribon *******//
////////////////////////////////////
.ribon-sm {
    display: flex;
    justify-content: center;
    background-color: $color-tertiary-light;
    align-items: center;
    padding: 0 2rem;

    &__title {
        text-transform: uppercase;
        font-size: 1.6rem;
        word-spacing: 5px;
        font-weight: 300;
        margin: 2rem 0;
        color: $color-primary-dark;
        @include respond(x-small-screen) {
            //width <400
            font-size: 1.4rem;
        }
    }

    &__content {
        padding: 5px 2rem;
        background-color: $color-primary-dark;
        border-radius: 3px;
        color: $color-secondary;
        margin: 1rem 0 1rem 2rem;
        clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
        transition: transform 0.2s;
        overflow: hidden;
        max-width: 70%;
        text-align: center;
        @include respond(x-small-screen) {
            //width <400
            font-size: 1.4rem;
            padding: 5px 1.7rem;
            margin-left: 1rem;
        }
    }

    &__content-txt-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__shrink {
        transform: scaleX(0.01);
        transform-origin: left;
    }

    &__upcoming-modals,
    &__hotTopics-modals {
        display: none;
    }
}

////////////////////////////////////
//****** Founder Bio *******//
////////////////////////////////////
.founder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;

    &__name-box {
        @include absCenter;
    }

    &__bio {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-tertiary-dark;
        flex: 0 0 70%;
        flex-direction: column-reverse;
        padding-top: 3rem;

        @include respond(phone) {
            flex: 0 0 90%;
        }

        &-box {
            flex: 1;
            display: flex;
            padding: 3rem;
            border-radius: 3px;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @include respond(tab-port) {
                margin-right: 0;
            }
        }
    }

    &__img-container {
        height: 22rem;
        width: 22rem;

        @include respond(tab-port) {
            margin: 0;
        }
    }
}

////////////////////////////////////
//****** BLOG *******//
////////////////////////////////////

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0;
    background-color: $color-tertiary;
}

////////////////////////////////////
//****** FEATURED BOOKS *******//
////////////////////////////////////

.featured-books {
    background-color: $color-tertiary-light;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8rem 0;

    &__img-container {
        height: auto !important;
        position: relative;
    }

    &__best-seller {
        display: none;
        position: absolute;
        width: 100%;
        height: 8rem;
        text-align: center;
        justify-content: center;
        background-color: $color-primary-transparent;
        font-size: 2.5rem;
        color: $color-secondary;
        bottom: 10;
        &--active {
            display: flex;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}

////////////////////////////////////
//****** TESTIMONIALS *******//
////////////////////////////////////

.testimonials {
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__container {
        display: flex;

        justify-content: center;
        flex-direction: column;
        align-items: center;

        // background-color: $color-tertiary;
        -webkit-box-shadow: 4px 2px 22px 0px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 4px 2px 22px 0px rgba(0, 0, 0, 0.23);
        box-shadow: 4px 2px 22px 0px rgba(0, 0, 0, 0.23);
        border-radius: 7px 7px 7px 7px;
        -moz-border-radius: 7px 7px 7px 7px;
        -webkit-border-radius: 7px 7px 7px 7px;

        p {
            font-size: 1.6rem;
            letter-spacing: 1px;
            word-spacing: 2px;
            color: $color-primary-dark;
        }
    }

    &__text-container {
        width: 75%;

        margin-bottom: 7rem;
        position: relative;
        padding: 2rem 4rem;
        border-radius: 1rem;
        background-color: #eee;
        background-color: $color-tertiary-dark;

        @include respond(tab-land) {
            //width <1200
            width: 80%;
            padding: 2rem 2rem;
            margin-bottom: 4rem;
        }

        @include respond(small-screen) {
            //width <600
            width: 75%;
            padding: 1rem 1rem;
        }

        &::before {
            content: "\201C";
            position: absolute;
            top: -2.7rem;
            left: 0rem;
            font-size: 20rem;
            font-family: inherit;
            line-height: 1;
            color: #9a9a9a36;
        }
    }

    &__photo {
        height: 8rem;
        position: absolute;
        left: -30px;
        bottom: -4rem;
        width: 8rem;
        border-radius: 50%;
    }

    &__user {
        width: 75%;
        text-align: right;

        @include respond(tab-land) {
            //width <1200
            width: 80%;
        }

        @include respond(small-screen) {
            //width <600
            width: 75%;
        }
    }
}
