.header{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: $background-img-2;
    background-size: cover;

    &__hero-wrapper{
        background-color: white;
        border-radius: 150px 0px 0px 0px;
        -moz-border-radius: 150px 0px 0px 0px;
        -webkit-border-radius: 150px 0px 0px 0px;
        overflow: hidden;
        width: 103rem;
        @include respond(tab-land) { //width <1200
            width: 90%; 
        }
        @include respond(phone) { //width <600
            border-radius: 110px 0px 0px 0px;
            -moz-border-radius: 110px 0px 0px 0px;
            -webkit-border-radius: 110px 0px 0px 0px;
        }
    }
}


.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7E3AF;
    padding: 7rem 5rem;
    
    @include respond(tab-land) { //width <900
        padding:8rem; 
    }
    @include respond(phone) { //width <600
        padding: 8rem 1rem; 
    }
    @include respond(big-desktop) {
        padding: 12rem;
    }

}

////////////////////////////////////////////
///--- Hot Topics Categories Section ---///
//////////////////////////////////////////

.hot-topics{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: $background-img-3;
    
    &__cards{
        list-style: none;
        a{
            text-decoration: none ;
        }
    }

    &__img-container{
        height: 15rem;
        width: 15rem;
        border-radius: 1rem;
        overflow: hidden;
        background-color: $color-primary-dark;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        transition: all.2s;
    }

    //--- On Hover ---//
    
    &__cards:hover &__img{
        transform: scale(1.2);
        opacity: .2;
    }
    &__cards:hover  &__title{
        color: white;
        transform: translateY(-9rem);
        font-weight: 400;
    }
    &__cards:hover &__img-container{
        -webkit-box-shadow: 0px 0px 31px 0px rgba(102,37,82,1);
        -moz-box-shadow: 0px 0px 31px 0px rgba(102,37,82,1);
        box-shadow: 0px 0px 31px 0px rgba(102,37,82,1);
        transform: translateY(-1rem);
    }
    &__cards:active &__img-container{
        -webkit-box-shadow: 0px 0px 18px 4px rgba(102,37,82,1);
        -moz-box-shadow: 0px 0px 18px 4px rgba(102,37,82,1);
        box-shadow: 0px 0px 18px 4px rgba(102,37,82,1);
        transform: translateY(-.5rem);
    }
    
    //--- Image and Title ---//
    &__img{
        transform: scale(1);
        transition: all .2s ease-out;
    }

    &__title{
        color: $color-primary-dark;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 3px 1.2rem;
        line-height: 1.7rem;
        transition: all .3s ease-out;
        text-transform: capitalize;
    }
}