.header {
    min-height: 85vh;
    background: $background-img-1;
    // background-color: lighten($color-primary-light, .6);
    padding: 8rem 0;
    display: flex;
    align-items: center;

    &__slide {
        background-color: #fdfdfd;
        width: 80rem;

        @include respond(tab-port) {
            width: 66rem;
        }
        @include respond(small-screen) {
            width: 52rem;
        }
        @include respond(x-small-screen) {
            width: 40rem;
        }

        padding: 1rem;
        margin: 0 auto;

        li {
            height: 45rem;
            @include respond(tab-port) {
                height: 35rem;
            }
            @include respond(x-small-screen) {
                height: 23rem;
            }
        }

        iframe {
            height: 100%;
            width: 100%;
        }
    }
}

.content {
    padding: 8rem 15%;
    background: $background-img-3;
    @include respond(tab-port) {
        padding: 8rem 11%;
    }
    @include respond(phone) {
        padding: 8rem 6%;
    }

    h2{
        display: block;
    }

    img {
        width: 23rem;
        height: auto;
        @include respond(tab-port) {
            width: 19rem;
            height: auto;
        }
        @include respond(phone) {
            width: 17rem;
            height: auto;
        }
      
        @include respond(x-small-screen) {
            width: 13rem; 
            height: auto;
        }       
    }
    p {
        font-size: $default-font-size;
        letter-spacing: 1px;
        color: $color-primary;
        text-align: justify;
        width: 100%;
        padding-bottom: 2rem;

        &:last-of-type{
            @include clearfix;
        }

        &:nth-of-type(odd) {
            img{
                margin: 1rem 3rem 1rem 0;
                float: left;
                @include respond(phone) {
                    margin: 0rem 1.5rem 1rem 1rem;
                }
                @include respond(small-screen) {
                    margin: 0rem 1rem 1rem 1rem;
                }
            }
        }
        &:nth-of-type(even) {
            img{
                margin: 0rem 1rem 1rem 3rem;
                float: right;
    
                @include respond(phone) {
                    margin: 0rem 1rem 1rem 1.5rem;
                }
            }
        }
    }
}

.blog__card{
    margin-bottom: 1rem;
}
