.header{
    background: $background-img-1;


    &__hero-container{
        padding: 5rem 0;
        margin: 0 auto;
        @include absCenter;
        width: 80%;
    
        p{
            margin-top: 3rem;
        }
    }
}


.log-in{
    @include absCenter;
    padding: 10rem 0;
    background-image: url(../images/bg-login.png);
    background-size: cover;

    ////////////////////////////////////////
    ////// Vector illustration

    &__vector{
        height: 20rem;
        width: 20rem;
        margin-bottom: -3px;
    }

    ////////////////////////////////////////
    ////// Form

    &__form-container{
        background-color: $color-tertiary-light;
        border-radius: 5px;
        padding: 2rem;
        width: 70%;
        @include absCenter;

        @include respond(small-screen) { //width <500
            width: 80%;
        }
        @include respond(x-small-screen) { //width <400
            width: 90%;
        }
    }
    
    &__form{
        width: 90%;
        @include absCenter;
    }
    
    &__label{
        z-index: 10;
    }

    &__input{
        flex: 1;
        padding-left: 5rem;
        margin-left: -3.5rem;
    }

    &__submit-btn{
        align-self: flex-end;
    }

    ////////////////////////////////////////
    ////// Small Btns

    &__small-btns{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 2rem;

        @include respond(small-screen) { //width <500
            flex-direction: column;
            align-items: flex-start;
        }
    }
    
    &__remember-btn{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 1.2rem;
        word-spacing: 2px;
        color: $color-primary;

        @include respond(small-screen) { //width <500
            margin-bottom: 1rem;
        }
        
    }

    &__remember-me-label-container{
        display: flex;
        align-items: center;
    }

    &__remember-me-checkbox{
        display: none;
    }

    &__remember-me-checkbox:checked + &__remember-me-label-container &__remember-me-icon{
        fill: $color-primary;
    }

    &__remember-me-icon{
        height: 1.5rem;
        width: 1.5rem;
        fill: $color-grey-dark-2;
        margin-right: 2rem;
    }


    ////////////////////////////////////////
    ////// Forgot your password

    &__forgot-password-container{
        display: flex;
        align-items: center;
    }

    &__forgot-password-btn{
        font-size: 1.2rem;
        word-spacing: 2px;
        text-decoration: none;
        color: $color-primary;
    }

}

////////////////////////////////////////
    ////// Updates Section

.updates{
    margin: 5rem 0;
    @include absCenter;
    
    &__content-container{
        background: url(../images/bg-lat.png);
        background-size: cover;
        background-position: center;
        margin-top: 3rem;
        font-size: $default-font-size;
        width: 80%;
        background-color: $color-tertiary;
        padding: 5rem 8rem;
        color: $color-primary;
        text-align: justify;
        @include respond(small-screen) { //width <500
            width: 90%;
            padding: 5rem;
        }
        
    }
    
    &__bonus-container{
        margin-top: 5rem;
        text-align: center;
        font-size: $default-font-size;
        width: 80%;
        background-color: $color-tertiary;
        padding: 5rem 8rem;
        color: $color-primary;

        @include respond(small-screen) { //width <500
            width: 90%;
            padding: 5rem;
        }
    }

    &__sub-heading{
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__img-container{
        height: 15rem;
        width: 25rem;
        display: inline-block;
        background-color: white;
        margin-top: 2rem;
    }
}
