.MainTopic {
   margin-top: 8rem;

   h1 {
      font-size: 3rem;
      font-weight: 400;
      color: #662552;
      text-align: center;
      margin-bottom: 3rem;
      @include respond(small-screen) {
         font-size: 2.5rem;
      }
   }
}

.TopicContainer {
   margin-bottom: 8rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.Topic {
   width: 70%;
   color: #722b59;
   text-align: center;
   letter-spacing: 0.5px;
   word-spacing: 1px;
   border-radius: 7px;
   text-justify: inter-word;
   padding: 0.7rem 6rem;
   line-height: 1.5rem;
   background: linear-gradient(1turn, #fff 7.24%, hsla(0, 0%, 100%, 0) 99.54%), rgba(102, 37, 82, 0.15);
   border: 2px solid #ebe3e8;
   text-align: justify;

   line-height: 2.5rem;
   word-spacing: 7px;
   font-size: 1.4rem;

   @include respond(tab-land) {
      width: 80%;
      font-size: 1.6rem;
      line-height: 2.7rem;
   }
   @include respond(tab-port) {
      width: 85%;
   }
   @include respond(phone) {
      width: 90%;
   }
   @include respond(small-screen) {
      padding: 0.7px 3rem;
   }
   @include respond(x-small-screen) {
      padding: 0.7px 2rem;
   }

   h3 {
      font-size: 2rem;
      padding-top: 4rem;
      text-align: left;
      font-weight: 400;
      @include respond(small-screen) {
         font-size: 1.6rem;
         font-weight: 700;
      }
      @include respond(x-small-screen) {
         font-size: 1.4rem;
      }
   }

   h2 {
      font-size: 1.2rem;
      font-weight: 600;
      padding-top: 2rem;
   }
   p {
      padding-top: 1rem;
   }
   a{
      color: $color-primary-dark;
   }

   li {
      padding-bottom: 1rem;
      list-style-position: inside;
   }
}
