.product_details{
    padding: 5rem 0;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    &__box{
        display: flex;
        justify-content: space-around;
        @include respond(phone) { //width <600
            flex-direction: column;
        }
    }

    &__card-wrapper{
        flex: 0 0 45%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__content-container{
        flex: 1;
        padding-right: 8rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        @include respond(phone) { //width <500
            justify-content: center;
            align-items: center;
            padding: 0 3rem;
        }

        p{
            font-size: 1.6rem;
            color: $color-primary-dark;
            text-align: justify;
        }
    }
    
    &__title{

        @include respond(phone) { //width <600
            text-align: center;
        }

    }

    &__description-container{
        text-align: justify;
        line-height: 2.4rem;
    }
}



////////////////////////////////////
//// Shopping card width
///////////////////////////////////

.card-4{
    width: 25rem;
    border-radius: 5px;
    margin: 3rem 1.2rem;

    @include respond(tab-land) { //width <1200
        width: 24rem;
    }
}