.register{
    @include absCenter;
    margin: 8rem auto;
    background: $background-img-5;
    width: 75%;
    border-radius: 3rem;
    overflow: hidden;

    @include respond(tab-land) { //width <1200
        width: 80% ;
    }
    @include respond(phone) { //width <600
        width: 90% ;
    }


    &__heading{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $background-img-6;
        background-size: cover ;
        width: 100%;
        padding: 8rem 0;
    }

    &__info{
        @include absCenter;
        margin: 5rem 0;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        
        width: 80%;
    }


    ////////////////////////////////////////
    ////// Form begins
    &__form{
        @include absCenter;
        width: 80%;

        @include respond(phone) { //width <600
            width: 90% ;
        }
    }
    
    ////////////////////////////////////////
    ////// Form container
    &__form-container{
        background-color: $color-tertiary-dark;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 1rem;
        @include absCenter;
        
        &--account{
            padding: 3rem 5rem ;
        }

        &--personal{
            padding: 3rem 5rem 10rem 5rem;
        }

        @include respond(tab-land) { //width <1200
            padding: 3rem ;
        }

    }


    &__account-info-form{
        width: 90%;
        margin: 5rem 0 0 0;
        @include absCenter;
    }

    ////////////////////////////////////////
    ////// Form input

    &__input{
        flex: 1;
        padding-left: 5rem;
        margin-left: -3.5rem;
    }

    ////////////////////////////////////////
    ////// Form lebel icons
    
    &__label{
        z-index: 10;
    }
    
    ////////////////////////////////////////
    ////// Form buttons


    &__form-button-container{
        margin: 3rem 0 10rem 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        @include respond(phone){
            flex-direction: column;

            .form__submit-btn{
                margin-top: 2rem;
            }
        }
    }

}

