.header{
    background: $background-img-1;


    &__hero-container{
        padding: 5rem 0;
        margin: 0 auto;
        @include absCenter;
        width: 80%;
    
        p{
            margin-top: 3rem;
        }
    }
}


.reset{
    @include absCenter;
    padding: 10rem 0;
    background-image: url(../images/bg-login.png);
    background-size: cover;

    ////////////////////////////////////////
    ////// Vector illustration

    &__vector{
        height: 20rem;
        width: 20rem;
        margin-bottom: -3px;
    }

    ////////////////////////////////////////
    ////// Form

    &__form-container{
        background-color: $color-tertiary-light;
        border-radius: 5px;
        padding: 2rem;
        width: 70%;
        @include absCenter;

        @include respond(small-screen) { //width <500
            width: 80%;
        }
        @include respond(x-small-screen) { //width <400
            width: 90%;
        }
    }
    
    &__form{
        width: 90%;
        @include absCenter;
    }
    
    &__label{
        z-index: 10;
    }

    &__input{
        flex: 1;
        padding-left: 5rem;
        margin-left: -3.5rem;
    }

    &__submit-btn{
        align-self: flex-end;
    }

    &__msg{
        padding: 3rem 5px;
        font-size: 1.8rem;
        text-align: center;
        color: rgb(167, 1, 1);
        display: none;
    }
}


