.header{
    background-color: #F3EEF1;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__hero-container{
        display: flex;
        height: 80%;
        align-items: center;
        justify-content: space-evenly;

        @include respond(tab-port) { //width <900
            flex-direction: column;
            justify-content: center;
          }
    }

    &__hero-text-container{
        flex: 0 0 40%;
        margin-right: -15rem;

        @include respond(tab-land) { //width <1200
            flex: 0 0 51%;
            margin-right: -15rem;
        }

        @include respond(tab-port) { //width <900
            width: 80%;
            margin: 0;
            order: 1;
            height: fit-content;
          }
    }
    
    &__hero-text{
        text-align: justify;
        // background-color: lightseagreen;
    }

    &__hero-figure-container{
        // background-color: lightsalmon;
        flex: 0 0 50%;
        height: 100%;
        display: flex;
        align-items: center;

        @include respond(tab-port) { //width <900
            width: 80%;
            margin-bottom: 3rem;
          }
    }

    &__hero-figure{
        width: 100%;
        height: 100%;
    }
}

.services{
    display: flex;
    justify-content: center;
}