.testimonial {
    @include absCenter;

    ///////////////////////////////////
    ///////// Testimonial card
    ///////////////////////////////////
    &__card {
        -webkit-box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.75);
        margin-bottom: 5rem;

        @include respond(phone) {
            //width <900
            padding: 1.5rem;
        }
    }
}


.newsletter{
    margin-left: 15rem;
    transition: all .2s;

    @include respond(tab-port) { //width <900
       @include absCenter;
       margin-left: 0;
    }

    &__active{
        height: fit-content;
    }
    
    &__box{
        display: grid;
        width: 85%;
        grid-template-columns: repeat(6, 1fr);
        background-color: $color-primary-light;
        border-radius: 1rem;

        @include respond(phone) { //width <600
            width: 85%;
        }
        @include respond(small-screen) { //width <500
            width: 90%;
        }
        
        
        @include respond(tab-land) { //width <1200
            grid-template-columns: repeat(5, 1fr);
        }
        @include respond(tab-port) { //width <900
            grid-template-columns: repeat(4, 1fr);
        }
        @include respond(phone) { //width <600
            grid-template-columns: repeat(2, 1fr);
        }

        li{
            padding: 0 2px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            list-style: none;
            cursor: pointer;
            margin: 1rem 1px;

            
            a{
                text-decoration: none;
                letter-spacing: 1px;
                font-size: 1.4rem;
                text-transform: capitalize;
                color: $color-primary;
            }
        }
    }
}
