.login{

    @include absCenter;
    height: 100vh;
    background-color: #fdf1ff;

    &__form{
        padding: 3rem;
        border: 6px solid $color-primary-dark;
    }

    &__form-container{
        background-color: $color-tertiary-light;
        border-radius: 5px;
        padding: 2rem;
        width: 70%;
        @include absCenter;
        
        @include respond(small-screen) { //width <500
            width: 80%;
        }
        @include respond(x-small-screen) { //width <400
            width: 90%;
        }
    }
}

.form{

    &__label-icon{
        height: 2rem;
        width: 2rem;
        margin-right: -2.5rem;
    }

    input{
        padding-left: 3.5rem;
        width: 40rem;
    }

}