<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    <div class="login">
        <div class="login__logo">
            <img src="../../images/Tvg-logo.png" alt="logo img">
        </div>
        <form action="/admin/login" method="POST" class="form login__form">
            <div class="form__group--auth">
                <label for="name" class="form__label-icon">
                    <svg class="header-bar__icon">
                        <use xlink:href="#username"></use>
                    </svg>
                </label>
                <input type="text" class="form__control log-in__input" placeholder="User Name" id="name" required>
            </div>
            <div class="form__group--auth">
                <label for="password" class="form__label-icon">
                    <svg class="header-bar__icon">
                        <use xlink:href="#password"></use>
                    </svg>
                </label>
                <input type="password" class="form__control log-in__input" placeholder="Password" id="password" required>
            </div>

            <div class="log-in__submit-btn u-mar-t-1">
                <button class="form__submit-btn form__submit-btn--pink" type="submit">LOGIN</button>
            </div>
        </form>
    </div>
</body>
</html>