<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <!-- /////////////////////////
        Header bar below
    ////////////////////////////// -->
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#log-in"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log in</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#guestpert-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Become a</span>TV
                        Guestpert</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#producer-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Producer, Booker,
                            Journalist</span>Start Here</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->


    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle"></input>
        <label for="navi-toggle" class="navigation__btn">
            <span class="navigation__icon">
                <span class="navigation__icon-line-up"></span>
                <span class="navigation__icon-line-middle"></span>
                <span class="navigation__icon-line-down"></span>
            </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">GuestPerts</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Hot Topics</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Services</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">FAQ</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Products</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TV On Camera Training</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TVGuestpert Publishing</a></li>
            </ul>
        </nav>
    </div>

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->
    
    <header class="header">
        <div class="header__hero-container">
            <h1 class="heading-primary u-center-text">LOG IN</h1>
            <p class="paragraph-tertiary color-txt-dark u-center-text">To protect your account from unauthorized access, TVGuestpert automatically ends your session after 20 minutes of inactivity and changes will not be saved unless all fields have been completed and saved. If your session ends, and the log in page is not displayed, click on the Log In, and you should be redirected to the Log in page, where you can log on again.</p>
        </div>
    </header>

    <section class="log-in">
        <svg class="log-in__vector">
            <use xlink:href="#login-vector"></use>
        </svg>
        <div class="log-in__form-container">
            <form action="#" method="POST" class="form log-in__form">
                <div class="form__group--auth">
                    <label for="name" class="form__label-icon">
                        <svg class="header-bar__icon">
                            <use xlink:href="#username"></use>
                        </svg>
                    </label>
                    <input type="text" class="form__control log-in__input" placeholder="User Name" id="name" required>
                </div>
                <div class="form__group--auth">
                    <label for="password" class="form__label-icon">
                        <svg class="header-bar__icon">
                            <use xlink:href="#password"></use>
                        </svg>
                    </label>
                    <input type="password" class="form__control log-in__input" placeholder="Password" id="password" required>
                </div>
            
                <div class="log-in__submit-btn u-mar-t-1">
                    <button class="form__submit-btn form__submit-btn--pink" type="submit">LOGIN</button>
                </div>

                <div class="log-in__small-btns">
                    <div class="log-in__remember-btn">
                        <input type="checkbox" class="log-in__remember-me-checkbox" id="log-in__remember-me-toggle"></input>
                        <label for="log-in__remember-me-toggle" class="log-in__remember-me-label-container">
                            <svg class="log-in__remember-me-icon">
                                <use xlink:href="#check-circle"></use>
                            </svg>
                            <div class="log-in__remember-me-text">
                                Remember Me 
                            </div>
                        </label>
                    </div>

                    <div class="log-in__forgot-password-container">
                        <a href="#" class="log-in__forgot-password-btn">
                            Forgot User Name | Forgot Password ?
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="updates">
        <h2 class="heading-secondary u-center-text">Tvguestpert updates</h2>

        <div class="updates__content-container">
            <div class="heading-tertiary u-mar-b-3 u-center-text">TVGUESTPERT PUBLISHING LEGACY EVENT</div>
            
            <p class="updates__para">Join New York Times Best-Selling Publisher, Jacquie Jordan, for a sixty minute interactive weekly video conference to structure, start, and write the book that you've been putting off!</p>
            <p>&nbsp;</p>
            <p class="updates__para">Over 5 weeks, during our weekly Interactive group time will cover structure, marketing, publishing options, feedback, and includes discussions on your actual project and what needs to take place in order to write and launch your book in a Step by Step Organized and Timely Process.</p>
            <p>&nbsp;</p>
            
            <ul class="updates__list">
                <li>Start a resonable writing schedule</li>
                <li>Traditional VS self Plulishing advantages & disadvantages</li>
                <li>Acquiriing celebrity endorsements, testimonials & forewords</li>
                <li>Overcoming the limitations that KILL most manuscripts</li>
                <li>Marketing plan that sells your book STARTS when you put Pen to Paper</li>
                <li>PLUS: Learn the Bestsellers ADVANTAGE</li>
            </ul>
            
        </div>
        
        <div class="updates__bonus-container">
            <div class="heading-tertiary u-mar-b-3 u-center-text">BONUS</div>
            
            <p class="updates__para">TVGuestpert Publishing will read your book within the first six months following our final conference and email you concrete and easy to understand critiques to better your book!</p>
            <p>&nbsp;</p>
            <p class="updates__para">Total for the class is $1,125.00; but you receive a discount by visiting our site.
            Discount offer: $995.00.</p>
            <p>&nbsp;</p>
            <p class="updates__sub-heading">Discount-Sign Up Here</p>
            <p class="updates__para">A Published Book is the BEST Business Card an Expert can have!</p>

            <div class="updates__img-container">
                <img src="../../images/TVG PublishingTeleseminar.jpg" alt="bonus image" class="fluid-img">
            </div>
            
        </div>
    </section>

    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating out those on this  site that have not been produced by us</p>
        </div>
    </section>

     <!-- **** Footer **** -->
     <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>

</body>
</html>