<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <!-- /////////////////////////
        Header bar below
    ////////////////////////////// -->
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#log-in"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log in</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#guestpert-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Become a</span>TV
                        Guestpert</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#producer-register"></use>
                    </svg>
                    <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Producer, Booker,
                            Journalist</span>Start Here</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->


    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle"></input>
        <label for="navi-toggle" class="navigation__btn">
            <span class="navigation__icon">
                <span class="navigation__icon-line-up"></span>
                <span class="navigation__icon-line-middle"></span>
                <span class="navigation__icon-line-down"></span>
            </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">GuestPerts</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Hot Topics</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Services</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">FAQ</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Products</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TV On Camera Training</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TVGuestpert Publishing</a></li>
            </ul>
        </nav>
    </div>

    <!-- //////////////////////////////////
    ////---- Navigation ----////
    ////////////////////////////////// -->

    <section class="register">

        <!-- Register Header -->
        <div class="register__heading">
            <h1 class="heading-primary">Register</h1>
        </div>

        <!-- Register additional info -->
        <div class="register__info">
            <h2 class="heading-tertiary  u-center-text">PRODUCER / BOOKER / JOURNALIST START HERE</h2>
            <p class="paragraph-tertiary u-mar-t-3 color-txt-dark u-center-text">This service is Free for you.
                TVGuestpert.com is not an ordinary expert listing site. THe difference is that this website has been
                designed by television producers to meet the specific needs of television producers. We only require
                that you be a verifiable televisioin producer and summit the registration form below</p>
        </div>



        <!-- /////////////////////////
        Form container
        ////////////////////////////// -->

        <form action="#" method="POST" class="form register__form">

            <!-- /////////////////////////
        Account Info
        ////////////////////////////// -->
            <div class="register__form-container register__form-container--account">

                <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>
                <h2 class="heading-tertiary u-center-text register__account-form-heading">ACCOUNT INFORMATION</h2>

                <!-- /////////////////////////
                Inputs and Lebels
                ////////////////////////////// -->
                <div class="register__account-info-form">
                    <div class="form__group--settings">
                        <label for="firstname" class="form__label">
                            <span class="form__label--caps">username*</span>
                        </label>
                        <input type="text" class="form__control" placeholder="username" id="username" required>
                    </div>
                    <div class="form__group--settings">
                        <label for="firstname" class="form__label">
                            <span class="form__label--caps">password*</span>
                        </label>
                        <input type="text" class="form__control" maxlength="6" placeholder="password" id="password" required>
                    </div>
                    <div class="form__group--settings">
                        <label for="firstname" class="form__label">
                            <span class="form__label--caps">email*</span>
                        </label>
                        <input type="email" class="form__control" placeholder="email" id="email" required>
                    </div>
                </div>
            </div>

            <!-- /////////////////////////
        Personal Info
        ////////////////////////////// -->

            <div class="register__form-container register__form-container--personal">

                <h2 class="heading-tertiary u-center-text register__account-form-heading">PERSONAL INFORMATION</h2>

                <!-- /////////////////////////
                Input and Lebels
                ////////////////////////////// -->
                <div class="register__account-info-form">
                    <div class="form__group--settings">
                        <label for="firstname" class="form__label">
                            <span class="form__label--caps">first name*</span>
                        </label>
                        <input type="text" class="form__control" placeholder="first name" id="firstname" required>
                    </div>

                    <div class="form__group--settings">
                        <label for="firstname" class="form__label">
                            <span class="form__label--caps">last name*</span>
                        </label>
                        <input type="text" class="form__control" placeholder="last name" id="firstname" required>
                    </div>

                    <div class="form__group--settings">
                        <label for="firstname" class="form__label">
                            <span class="form__label--caps">address*</span>
                        </label>
                        <textarea class="form__control" placeholder="address" id="address" required></textarea>
                    </div>

                    <div class="form__group--settings">
                        <label for="firstname" class="form__label">
                            <span class="form__label--caps">city*</span>
                        </label>
                        <input type="text" class="form__control" placeholder="city" id="city" required>
                    </div>

                    <div class="form__group--settings">
                        <label for="firstname" class="form__label">
                            <span class="form__label--caps">state / province*</span>
                        </label>
                        <input type="text" class="form__control" placeholder="state / province" id="state" required>
                    </div>

                    <div class="form__group--settings">
                        <label for="zipcode" class="form__label">
                            <span class="form__label--caps">zip code</span>
                        </label>
                        <input type="number" class="form__control" placeholder="zip code" id="zipcode" required>
                    </div>

                    <div class="form__group--settings">
                        <label for="country" class="form__label">
                            <span class="form__label--caps">country</span>
                        </label>
                        <input type="text" class="form__control" placeholder="country" id="country" required>
                    </div>

                    <div class="form__group--settings">
                        <label for="phone" class="form__label">
                            <span class="form__label--caps">phone*</span>
                        </label>
                        <input type="number" class="form__control" placeholder="phone" id="phone" required>
                    </div>

                    <div class="form__group--settings">
                        <label for="website" class="form__label">
                            <span class="form__label--caps">website</span>
                        </label>
                        <input type="url" class="form__control" placeholder="website" id="website" required>
                    </div>

                    <div class="form__group--settings">
                        <label for="fax" class="form__label">
                            <span class="form__label--caps">fax</span>
                        </label>
                        <input type="number" class="form__control" placeholder="fax" id="fax" required>
                    </div>

                    <div class="form__group--settings">
                        <label for="fax" class="form__label">
                            <span class="form__label--caps">how did you hear about us?</span>
                        </label>
                        <input type="text" class="form__control" placeholder="How did you hear about us" id="knowingUs" required>
                    </div>

                    <div class="form__group--checkbox">
                        <label class="form__label">
                            <span class="form__label--caps">Would you like someone <br> to call you from tvg?</span>
                        </label>
                        <div class="checkbox-container">
                            <input type="checkbox" value="active" id="moreInfoCall" name="moreInfoCall"/>
                            <label for="moreInfoCall"></label>
                        </div>
                    </div>

                </div>
            </div>

            <!-- /////////////////////////
            Buttons
        ////////////////////////////// -->
            <div class="register__form-button-container">
                <a href="#" class="button__ghost button__ghost--sm">I am not a Robot</a>
                <button class="form__submit-btn--orange form__submit-btn">Begin</button>
            </div>
        </form>




        <!-- /////////////////////////
        Reibon
    ////////////////////////////// -->
    </section>

    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a
                Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating
                out those on this site that have not been produced by us</p>
        </div>
    </section>

    <!-- **** Footer **** -->
    <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>
</body>

</html>