<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Settings</title>
</head>

<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->


    <section class="books">
        <h1 class="heading-primary u-center-text">Books</h1>

        <div class="books__show-btns">
            <button class="button__primary btn-createNew" >create new</button>
        </div>

        <div class="row__grid-4 u-mar-b-5 u-mar-t-5">
            <div class="product_details__card-wrapper">
                <div class="card-4 products__cards">
                    <div class="products__cards-details">
                        <div class="products__title-container">
                            <h3 class="products__heading">A Psychiatrist's Guide </h3>
                        </div>

                        <ul class="info-list books__info u-mar-t-2 u-mar-b-4">
                            <li>
                                <p class="info-list__key">Published</p>
                                <p class="info-list__value publishedDate">11 Sept 2017</p>
                            </li>
                            <li>
                                <p class="info-list__key">Created</p>
                                <p class="info-list__value">11 Sept 2017</p>
                            </li>
                            <li>
                                <p class="info-list__key">Modified</p>
                                <p class="info-list__value">11 Sept 2017</p>
                            </li>
                            <li>
                                <p class="info-list__key">Active</p>
                                <p class="info-list__value activeStats">Yes</p>
                            </li>
                        </ul>

                        <div class="books__card-btns">
                            <button data-id="objId2" class="books__card-btn-edit button__primary">Edit</button>
                            <button data-id="objId2" class="books__card-btn-delete button__ghost button__ghost--sm">Delete</button>
                        </div>

                        <div class="products__effect card-4__effect"></div>
                    </div>
                    <div class="products__img-wrapper">
                        <div class="products__img-container">
                            <img src="../../images/books/1503704437-APsychiatristGuide.FINAL.HighRes2.jpg" alt="image"
                                class="fluid-img">
                        </div>
                        <div class="products__best-seller">Best Seller</div>
                    </div>

                </div>
            </div>
            
        </div>
    </section>

    <section class="animations" id="animations"></section>

    <section class="edit">

        <div class="books__show-btns u-mar-b-5">
            <button class="button__primary edit__show-cards">Show books</button>
        </div>

        <!-- ---- Form Header ---- -->
        <div class="edit__heading"></div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create New Book</h2>


        <!-- /////////////////////////
             ----- Personal Info ------ 
            ////////////////////////////// -->
        <form action="#" method="POST" class="edit__form-container edit__form-container--hotTopics">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>


            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="booktitle" class="form__label">
                    <span class="form__label--caps">book cover title*</span>
                </label>
                <input type="text" class="form__control" id="booktitle" required>
            </div>
            <div class="form__group--settings">
                <label for="publishDate" class="form__label">
                    <span class="form__label--caps">Published On</span>
                </label>
                <input type="date" class="form__control" id="publishDate" required>
            </div>
            
            <div class="form__group--settings" id="inpFile-box">
                <label for="choose-img-file" class="form__label">
                    <span class="form__label--caps">blog cover Image*</span>
                    <span class="form__inp-img">Choose Image</span>
                    <span class="form__inp-img--adrss "></span>
                    <span class="form__label--details u-mar-t-1">Image should be of max 200 KB and size should be of ratio 2:3</span>
                </label>
                <input type="file" id="choose-img-file">
            </div>
            <div class="form__group--checkbox">
                <label for="prefix" class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active" name="active" checked />
                    <label for="active"></label>
                </div>
            </div>
            <div class="form__group--settings">
                <label for="booktitle" class="form__label">
                    <span class="form__label--caps">book Description</span>
                </label>
                <textarea type="text" name="description" class="form__control" id="description" ></textarea>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">create</button>
            </div>
        </form>
    </section>
    

    <!-- **** Footer **** -->

    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a
                Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating
                out those on this site that have not been produced by us</p>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>

    <div class="popup">
        <div class="popup__del-box">

            <form action="#">
                <input type="hidden" value="234234234234234" class="card-id">
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this book?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </form>

        </div>
    </div>

    <section class="message">
        <div class="message__txt message__txt--error">Error in submitting changes. Try again later</div>
    </section>

    <div id="csrf" data-csrf="894864645"></div>
    <div id="guestpertId" data-guestpertId="dfg4d98fg468df4gd68g"></div>

</body>

</html>