<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section class="enquiries-section">
        <ul class="allEnquiries">
            <li class="enquiry">
                <div class="enquiry__title">
                    <span>TEDMED</span>
                </div>
                <ul class="info-list u-mar-t-2">
                    <li>
                        <p class="info-list__key">Date</p>
                        <p class="info-list__value">11 Sept 2017</p>
                    </li>
                    <li>
                        <p class="info-list__key">Media</p>
                        <p class="info-list__value">Live</p>
                    </li>
                    <li>
                        <p class="info-list__key">Show</p>
                        <p class="info-list__value">TEDMED</p>
                    </li>
                    <li>
                        <p class="info-list__key">Topic</p>
                        <p class="info-list__value">AI Psychology and Personal Success </p>
                    </li>
                    <li>
                        <p class="info-list__key">Ratings</p>
                        <div class="info-list__value">
                            <div class="star-rate__reading">
                                <label for="r1" class="check"><input type="checkbox" id="r1" /></label>
                                <label for="r2" class="check"><input type="checkbox" id="r2" /></label>
                                <label for="r3" class="check"><input type="checkbox" id="r3" /></label>
                                <label for="r4" class="check"><input type="checkbox" id="r4" /></label>
                                <label for="r5" class="check"><input type="checkbox" id="r5" /></label>
                                <label for="r6" class="check"><input type="checkbox" id="r6" /></label>
                                <label for="r7" class="check"><input type="checkbox" id="r7" /></label>
                                <label for="r8" class="check"><input type="checkbox" id="r8" /></label>
                                <label for="r9" class="check"><input type="checkbox" id="r9" /></label>
                                <label for="r10" class="check"><input type="checkbox" id="r10" /></label>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="enquiry">
                <div class="enquiry__title">
                    <span>TEDMED</span>
                </div>
                <ul class="info-list u-mar-t-2" >
                    <li>
                        <p class="info-list__key">Date</p>
                        <p class="info-list__value">11 Sept 2017</p>
                    </li>
                    <li>
                        <p class="info-list__key">Media</p>
                        <p class="info-list__value">Live</p>
                    </li>
                    <li>
                        <p class="info-list__key">Show</p>
                        <p class="info-list__value">TEDMED</p>
                    </li>
                    <li>
                        <p class="info-list__key">Topic</p>
                        <p class="info-list__value">AI Psychology and Personal Success </p>
                    </li>
                    <li>
                        <p class="info-list__key">Ratings</p>
                        <div class="info-list__value">
                            <div class="star-rate__reading">
                                <label for="r1" class="check"><input type="checkbox" id="r1" /></label>
                                <label for="r2" class="check"><input type="checkbox" id="r2" /></label>
                                <label for="r3" class="check"><input type="checkbox" id="r3" /></label>
                                <label for="r4" class="check"><input type="checkbox" id="r4" /></label>
                                <label for="r5" class="check"><input type="checkbox" id="r5" /></label>
                                <label for="r6" class="check"><input type="checkbox" id="r6" /></label>
                                <label for="r7" class="check"><input type="checkbox" id="r7" /></label>
                                <label for="r8" class="check"><input type="checkbox" id="r8" /></label>
                                <label for="r9" class="check"><input type="checkbox" id="r9" /></label>
                                <label for="r10" class="check"><input type="checkbox" id="r10" /></label>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- ///--- Page Numbers ---/// -->
        <!-- /////////////////////////////////////// -->
        <div class="page">
            <ul class="page__list" id="page__list-enquiries"></ul>
        </div>
    </section>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>
    <section class="animation" id="animation"></section>


</body>
</html>