<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot Topics Settings</title>
</head>

<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->

    <section class="hot-topics">
        <h1 class="heading-primary u-center-text">hot topics</h1>

        <div class="hot-topics__show-btns">
            <button class="button__primary btn-createNew">create new</button>
        </div>


        <ul class="row__grid-4 u-mar-b-5 u-mar-t-5">
            <li class="hot-topics__cards-wrapper">
                <div class="card-4 hot-topics__cards">
                    <div class="hot-topics__title-container u-center-text">

                        <!-- Title of Hot Topic -->
                        <p class="hot-topics__title">
                            PTSD TIPS FOR THE REST OF Us
                        </p>

                        <!-- 3D Look -->
                        <svg class="hot-topics__icon hot-topics__icon--top-left">
                            <use xlink:href="#left-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-left">
                            <use xlink:href="#left-bottom"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--top-right">
                            <use xlink:href="#right-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-right">
                            <use xlink:href="#right-bottom"></use>
                        </svg>
                    </div>

                    <!-- Duplicate hot topic title -->
                    <div class="hot-topics__title-duplicate u-center-text">
                        <p class="hot-topics__title">
                            PTSD TIPS FOR THE REST OF US
                        </p>
                    </div>

                    <ul class="info-list u-mar-t-2">
                        <li>
                            <p class="info-list__key">Category</p>
                            <p class="info-list__value">Entertainment & Celebrities</p>
                        </li>
                        <li>
                            <p class="info-list__key">Created</p>
                            <p class="info-list__value">11 Sept 2017</p>
                        </li>
                        <li>
                            <p class="info-list__key">Modified</p>
                            <p class="info-list__value">11 Sept 2017</p>
                        </li>
                        <li>
                            <p class="info-list__key">Active</p>
                            <p class="info-list__value">Yes</p>
                        </li>
                    </ul>

                    <div class="hot-topics__card-btns u-mar-t-2 u-mar-b-2">
                        <button data-id="5fbe2844a224ee68d8fce80e" class="hot-topics__card-btn-edit button__primary">Edit</button>
                        <button data-id="5fbe2844a224ee68d8fce80e"
                            class="hot-topics__card-btn-delete button__ghost button__ghost--sm">Delete</button>
                    </div>
                </div>
            </li>
            <li class="hot-topics__cards-wrapper">
                <div class="card-4 hot-topics__cards">
                    <div class="hot-topics__title-container u-center-text">

                        <!-- Title of Hot Topic -->
                        <p class="hot-topics__title">
                            PTSD TIPS FOR THE REST OF Us
                        </p>

                        <!-- 3D Look -->
                        <svg class="hot-topics__icon hot-topics__icon--top-left">
                            <use xlink:href="#left-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-left">
                            <use xlink:href="#left-bottom"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--top-right">
                            <use xlink:href="#right-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-right">
                            <use xlink:href="#right-bottom"></use>
                        </svg>
                    </div>

                    <!-- Duplicate hot topic title -->
                    <div class="hot-topics__title-duplicate u-center-text">
                        <p class="hot-topics__title">
                            PTSD TIPS FOR THE REST OF US
                        </p>
                    </div>

                    <ul class="info-list u-mar-t-2">
                        <li>
                            <p class="info-list__key">Category</p>
                            <p class="info-list__value">Entertainment & Celebrities</p>
                        </li>
                        <li>
                            <p class="info-list__key">Created</p>
                            <p class="info-list__value">11 Sept 2017</p>
                        </li>
                        <li>
                            <p class="info-list__key">Modified</p>
                            <p class="info-list__value">11 Sept 2017</p>
                        </li>
                        <li>
                            <p class="info-list__key">Active</p>
                            <p class="info-list__value">Yes</p>
                        </li>
                    </ul>

                    <div class="hot-topics__card-btns u-mar-t-2 u-mar-b-2">
                        <button data-id="5fbe2844a224ee68d8fce80e" class="hot-topics__card-btn-edit button__primary">Edit</button>
                        <button data-id="5fbe2844a224ee68d8fce80e"
                            class="hot-topics__card-btn-delete button__ghost button__ghost--sm">Delete</button>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <section id="animations"></section>


    <section class="edit">

        <div class="hot-topics__show-btns u-mar-b-5">
            <button class="button__primary edit__show-cards">See all Hot Topics</button>
        </div>

        <!-- /// Form Header /// -->
        <div class="edit__heading"></div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create New Hot topic</h2>

         <!-- /// Form Header /// -->
        <form action="#" method="POST" class="edit__form-container edit__form-container--hotTopics">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>

            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="inp-category" class="form__label">
                    <span class="form__label--caps">Category*</span>
                </label>
                <div class="custom-select-wrapper" id="custom-options-wrapper">
                    <div class="custom-select">
                        <div class="custom-select__trigger"><span>Select a Category</span>
                            <div class="arrow"></div>
                        </div>
                        <div class="custom-options">
                            <span class="custom-option" data-key="tesla">tesla</span>
                            <span class="custom-option" data-key="volvo">volvo</span>
                            <span class="custom-option" data-key="mercedes">mercedes</span>
                            <span class="custom-option" data-key="Maruti Suzuki">Maruti Suzuki</span>
                            <span class="custom-option" data-key="Hyundai Honda">Hyundai Honda</span>
                            <span class="custom-option" data-key="Toyota Mahindra">Toyota Mahindra</span>
                            <span class="custom-option" data-key="Tata Kia">Tata Kia</span>
                            <span class="custom-option" data-key="Jeep Volkswagen">Jeep Volkswagen</span>
                            <span class="custom-option" data-key="BMW Audi">BMW Audi</span>
                            <span class="custom-option" data-key="tesla">tesla</span>
                            <span class="custom-option" data-key="volvo">volvo</span>
                            <span class="custom-option" data-key="Datsun Mitsubishi">Datsun Mitsubishi</span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="category" id="inp-category">
            </div>

            <div class="form__group--settings">
                <label for="title" class="form__label">
                    <span class="form__label--caps">Title*</span>
                </label>
                <input type="text" class="form__control" id="title" required>
            </div>

            <div class="form__group--settings tag-box">
                <label for="tags" class="form__label">
                    <span class="form__label--caps">Tags*</span>
                </label>
                <div class="tags-input" data-name="tags-input">

                    <!-- <span class="tag" data-tag="Css">Css<span class="close">&#10007;</span></span>
                    <span class="tag" data-tag="JavaScript">JavaScript<span class="close">&#10007;</span></span>
                    <span class="tag" data-tag="HTML">HTML<span class="close">&#10007;</span></span> -->
                    
                    <input type="hidden" class="tags-input__hidden-input" name="tags-input">
                    <input type="text" AutoCompleteType="Disabled" autocomplete="off" id="tags" class="tags-input__main-input u-high-order">
                </div>
                <div class="tag__autoComplete">
                    <div class="custom-select">
                        <div class="custom-options">
                            <span class="custom-option">Bhutbhuti</span>
                            <span class="custom-option">Honda</span>
                            <span class="custom-option">Truck</span>
                            <span class="custom-option">Bhutbhuti</span>
                            <span class="custom-option">Honda</span>
                            <span class="custom-option">Truck</span>
                        </div>
                    </div>
                </div>
                <span class="form__error-msg"></span>
            </div>

            <div class="form__group--checkbox">
                <label for="prefix" class="form__label">
                    <span class="form__label--caps">Publish*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="activeStats" name="check" checked />
                    <label for="activeStats"></label>
                </div>
            </div>
            <div class="form__group--settings">
                <label for="openingPoint" class="form__label">
                    <span class="form__label--caps">Opening Speaking Point*</span>
                </label>
                <textarea type="text" class="form__control" id="openingPoint"></textarea>
            </div>
            <div class="form__group--settings">
                <label for="content" class="form__label">
                    <span class="form__label--caps">Content*</span>
                </label>
                <textarea type="text" class="form__control" id="content"></textarea>
            </div>




            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn" id="loco">save</button>
            </div>

        </form>

    </section>


    <!-- **** Footer **** -->

    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a
                Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating
                out those on this site that have not been produced by us</p>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>


    <div class="popup">
        <div class="popup__del-box">

            <form action="#">
                <input type="hidden" value="234234234234234" class="card-id">
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this topic ?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </form>

        </div>
    </div>

    <section class="message">
        <div class="message__txt message__txt--error">Error in submitting changes. Try again later</div>
    </section>

    <div id="csrf" data-csrf="123123dsf34234"></div>
    <div id="guestpertId" data-guestpertId="1233423423"></div>


</body>

</html>