<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Settings</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->

    <section class="media">
        <h1 class="heading-primary u-center-text">Media</h1>

        <div class="media__show-btns">
            <button class="button__primary btn-createNew">Create New</button>
        </div>


        <div class="row__grid-4 u-mar-b-3 u-mar-t-3">
    
            <div class="card-4 media__cards">
                <p class="media__para">Gayani DeSilva, MD discusses social media addiction on Access Live</p>
                <ul class="info-list u-mar-t-1">
                    <li>
                        <p class="info-list__key">Created<p>
                        <p class="info-list__value">11th Sept 2017</p>
                    </li>
                    <li>
                        <p class="info-list__key">App Date</p>
                        <p class="info-list__value">11 Sept 2017</p>
                    </li>
                    <li>
                        <p class="info-list__key">Active</p>
                        <p class="info-list__value">Yes</p>
                    </li>
                </ul>

                <div class="media__card-btns">
                    <button data-id="objId1" class="media__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId1" class="media__card-btn-delete button__ghost button__ghost--sm">Delete</button>
                </div>
            </div>
            <div class="card-4 media__cards">
                <p class="media__para">Gayani DeSilva, MD discusses social media addiction on Access Live</p>
                <p class="media__para text-bold-1">Access Live</p>
                <ul class="info-list u-mar-t-1">
                    <li>
                        <p class="info-list__key">Created<p>
                        <p class="info-list__value">11th Sept 2017</p>
                    </li>
                    <li>
                        <p class="info-list__key">App Date</p>
                        <p class="info-list__value">11 Sept 2017</p>
                    </li>
                    <li>
                        <p class="info-list__key">Active</p>
                        <p class="info-list__value">Yes</p>
                    </li>
                </ul>

                <div class="media__card-btns">
                    <button data-id="objId1" class="media__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId1" class="media__card-btn-delete button__ghost button__ghost--sm">Delete</button>
                </div>
            </div>
           
        </div>
    </section>


    <section id="animations"></section>


    <section class="edit">

        <div class="media__show-btns u-mar-b-5">
            <button class="button__primary edit__show-cards">See all Hot Topics</button>
        </div>

        <!-- ---- Form header design ---- -->
        <div class="edit__heading"></div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2 ">Create New Media</h2>


        <!-- ---- form begins ---- -->
        <form action="#" method="POST" class="edit__form-container u-mar-t-5 u-mar-b-5">
            <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>

            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="date" class="form__label">
                    <span class="form__label--caps">Appearance Date*</span>
                </label>
                <input type="date" class="form__control" id="date" required>
            </div>
            <div class="form__group--settings">
                <label for="appTopic" class="form__label">
                    <span class="form__label--caps">Appearance Topic*</span>
                    <span class="form__label--details">Maximum length is 65 characters, including space</span>
                </label>
                <input type="text" class="form__control" maxlength="65" id="appTopic" required>
            </div>
            <div class="form__group--settings">
                <label for="programTitle" class="form__label">
                    <span class="form__label--caps">Title Of Program*</span>
                </label>
                <input type="text" class="form__control" maxlength="60" id="programTitle" required>
            </div>
            <div class="form__group--settings">
                <label for="videoLink" class="form__label">
                    <span class="form__label--caps">Appearance link*</span>
                    <span class="form__label--details">Guestpert is required to have used their own .mov file of their appearance and either placed on their YouTube or Vimeo Channel to ensure and active and working link in perpetuity.</span>
                </label>
                <input type="url" class="form__control" id="videoLink" required>
            </div>
            <div class="form__group--settings tag-box">
                <label for="tags" class="form__label">
                    <span class="form__label--caps">Tags*</span>
                </label>
                <div class="tags-input" data-name="tags-input">

                    <!-- <span class="tag" data-tag="Css">Css<span class="close">&#10007;</span></span>
                    <span class="tag" data-tag="JavaScript">JavaScript<span class="close">&#10007;</span></span>
                    <span class="tag" data-tag="HTML">HTML<span class="close">&#10007;</span></span> -->
                    
                    <input type="hidden" class="tags-input__hidden-input" name="tags-input">
                    <input type="text" AutoCompleteType="Disabled" autocomplete="off" id="tags" class="tags-input__main-input u-high-order">
                </div>
                <div class="tag__autoComplete">
                    <div class="custom-select">
                        <div class="custom-options">
                            <span class="custom-option">Bhutbhuti</span>
                            <span class="custom-option">Honda</span>
                            <span class="custom-option">Truck</span>
                            <span class="custom-option">Bhutbhuti</span>
                            <span class="custom-option">Honda</span>
                            <span class="custom-option">Truck</span>
                        </div>
                    </div>
                </div>
                <span class="form__error-msg"></span>
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="activeStats" name="check" checked />
                    <label for="activeStats"></label>
                </div>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">Create</button>
            </div>
        </form>
    </section>


    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a
                Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating
                out those on this site that have not been produced by us</p>
        </div>
    </section>

    <!-- **** Footer **** -->
    <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>

    <div class="popup">
        <div class="popup__del-box">

            <form action="#">
                <input type="hidden" value="234234234234234" class="card-id">
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this media?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </form>

        </div>
    </div>

    <div id="csrf" data-csrf="894864645"></div>
    <div id="guestpertId" data-guestpertId="dfg4d98fg468df4gd68g"></div>

    <section class="message">
        <div class="message__txt message__txt--error">Error in submitting changes. Try again later</div>
    </section>
</body>
</html>