<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
</head>

<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->

    <section class="membership">
        <h1 class="heading-primary u-center-text">Membership renewel</h1>

        <div class="row__grid-4 u-mar-b-5 u-mar-t-5">
            <div class="membership__card-wrapper">
                <div class="membership__current-plan">
                    <svg class="membership__current-plan-icon">
                        <use xlink:href="#star"></use>
                    </svg>
                    <h3 class="heading-tertiary">Current Plan</h3>
                </div>
                <div class="membership__card membership__card--style-gp">
                    <div class="membership__title membership__title--style-gp">Standard</div>

                    <ul class="membership__features-box membership__features-box--style-gp">
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Headshot
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Biography
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Area of expertise
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            hot topics
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#close"></use>
                            </svg>
                            blogging
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#close"></use>
                            </svg>
                            inclusion in home page
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#close"></use>
                            </svg>
                            social media maintenance
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#close"></use>
                            </svg>
                            crafted pitches
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#close"></use>
                            </svg>
                            demo tape streaming
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#close"></use>
                            </svg>
                            book publishing
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#close"></use>
                            </svg>
                            national distribution
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#close"></use>
                            </svg>
                            stragic distribution
                        </li>
                    </ul>

                    <button class="membership__button membership__button--active">Upgrade</button>
                </div>
            </div>
            
            <div class="membership__card-wrapper">
                <div class="membership__current-plan membership__current-plan--active">
                    <svg class="membership__current-plan-icon">
                        <use xlink:href="#star"></use>
                    </svg>
                    <h3 class="heading-tertiary">Current Plan</h3>
                </div>
                <div class="membership__card membership__card--style-gp">
                    <div class="membership__title membership__title--style-gp">Elite</div>

                    <ul class="membership__features-box membership__features-box--style-gp">
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Headshot
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Biography
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Area of expertise
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            hot topics
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            blogging
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            inclusion in home page
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            social media maintenance
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            crafted pitches
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            demo tape streaming
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#close"></use>
                            </svg>
                            book publishing
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#close"></use>
                            </svg>
                            national distribution
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#close"></use>
                            </svg>
                            stragic distribution
                        </li>
                    </ul>

                    <button class="membership__button membership__button--active">Renew</button>
                </div>
            </div>
            
            <div class="membership__card-wrapper">
                <div class="membership__current-plan">
                    <svg class="membership__current-plan-icon">
                        <use xlink:href="#star"></use>
                    </svg>
                    <h3 class="heading-tertiary">Current Plan</h3>
                </div>
                <div class="membership__card membership__card--style-gp">
                    <div class="membership__title membership__title--style-gp">Platinum</div>

                    <ul class="membership__features-box membership__features-box--style-gp">
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Headshot
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Biography
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Area of expertise
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            hot topics
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            blogging
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            inclusion in home page
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            social media maintenance
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            crafted pitches
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            demo tape streaming
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            book publishing
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            national distribution
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            stragic distribution
                        </li>
                    </ul>

                    <button id="contactTvg" class="membership__button membership__button--active">Upgrade</button>
                </div>
            </div>
            
            </div>
        </div>
    </section>


     <!-- **** Footer **** -->

     <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a
                Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating
                out those on this site that have not been produced by us</p>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>
</body>

</html>