<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Orders</title>
</head>

<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->

    <section class="orders">
        <h1 class="heading-primary u-center-text u-mar-b-6">Your Orders</h1>

        <div class="orders__card">
            <div class="orders__img-container">
                <div class="orders__img">
                    <img src="../../images/books/1503704437-APsychiatristGuide.FINAL.HighRes2.jpg" alt="product image"
                        class="fluid-img">
                </div>
            </div>
            <div class="orders__info-container">
                <h2 class="heading-secondary">Alex Detail's Revolution</h2>

                <ul class="info-list u-mar-t-2">
                    <li>
                        <p class="info-list__key">Transaction Id</p>
                        <p class="info-list__value">1212121212121221</p>
                    </li>
                    <li>
                        <p class="info-list__key">Amount</p>
                        <p class="info-list__value">$11</p>
                    </li>
                    <li>
                        <p class="info-list__key">payment Status</p>
                        <p class="info-list__value">paid</p>
                    </li>
                    <li>
                        <p class="info-list__key">purchased On</p>
                        <p class="info-list__value">11 Sept 2019</p>
                    </li>
                    <li>
                        <p class="info-list__key">Address</p>
                        <p class="info-list__value">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore,
                            rerum.</p>
                    </li>
                </ul>

                <button class="button__primary u-mar-t-2">Download Invoice</button>
            </div>
        </div>
        <div class="orders__card">
            <div class="orders__img-container">
                <div class="orders__img">
                    <img src="../../images/books/1503704437-APsychiatristGuide.FINAL.HighRes2.jpg" alt="product image"
                        class="fluid-img">
                </div>
            </div>
            <div class="orders__info-container">
                <h2 class="heading-secondary">lalalalala Detail's Revolution</h2>

                <ul class="info-list u-mar-t-2">
                    <li>
                        <p class="info-list__key">Transaction Id</p>
                        <p class="info-list__value">1212121212121221</p>
                    </li>
                    <li>
                        <p class="info-list__key">Amount</p>
                        <p class="info-list__value">$11</p>
                    </li>
                    <li>
                        <p class="info-list__key">payment Status</p>
                        <p class="info-list__value">paid</p>
                    </li>
                    <li>
                        <p class="info-list__key">purchased On</p>
                        <p class="info-list__value">11 Sept 2019</p>
                    </li>
                    <li>
                        <p class="info-list__key">Address</p>
                        <p class="info-list__value">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore,
                            rerum.</p>
                    </li>
                </ul>

                <button class="button__primary u-mar-t-2">Download Invoice</button>
            </div>
        </div>
        <div class="page">
            <ul class="page__list" id="page__list"></ul>
        </div>
    </section>

    <!-- /////////////////////////////////////// -->
    <!-- ///--- Page Numbers ---/// -->
    <!-- /////////////////////////////////////// -->

    <!-- /////////////////////////
        Footer 
    ////////////////////////////// -->

    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a
                Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating
                out those on this site that have not been produced by us</p>
        </div>
    </section>

    <!-- **** Footer **** -->
    <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>
</body>

</html>