<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Settings</title>
</head>

<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->



    <section class="edit edit--active">
        <!-- /////////////////////////
                settings Header
        ////////////////////////////// -->
        <div class="edit__heading">
            <<div class="edit__guestpert-image-container">
                <!-- <img  src="../../images/user.png" alt="guestpert image" class="fluid-img"> -->
                <img src="../../images/guestperts/Ivy headshot.jpg" alt="<guestpert name> image" class="fluid-img">
                <span class="span span--in">Change profile picture</span>
                <span class="span span--out">Click here to change</span>
            </div>
        </div>



        <!-- /////////////////////////
             ----- Personal Info ------ 
            ////////////////////////////// -->
        <form action="#" method="POST" class="edit__form-container edit__form-container--personal">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>
            <h2 class="heading-tertiary u-center-text edit__form-heading">personal Information</h2>


            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="firstname" class="form__label">
                    <span class="form__label--caps">first name*</span>
                </label>
                <input type="text" class="form__control" id="firstname" required>
            </div>
            <div class="form__group--settings">
                <label for="lastname" class="form__label">
                    <span class="form__label--caps">last name*</span>
                </label>
                <input type="text" class="form__control" id="lastname" required>
            </div>
            <div class="form__group--settings">
                <label for="prefix" class="form__label">
                    <span class="form__label--caps">prefix</span>
                </label>
                <input type="text" class="form__control" id="prefix">
            </div>
            <div class="form__group--settings">
                <label for="nickname" class="form__label form__label--caps">nick name</label>
                <input type="text" class="form__control" id="nickname">
            </div>
            <div class="form__group--settings">
                <label for="title" class="form__label">
                    <span class="form__label--caps">title*</span>
                    <span class="form__label--details">Example: Scientist, Founder of ACME Center, Author of Guide
                        to the NorthPole and Beyond This field should NOT be filled out in narrative form</span>
                </label>
                <input type="text" class="form__control" id="title" required>
            </div>
            <div class="form__group--settings">
                <label for="tagline" class="form__label">
                    <span class="form__label--caps">Tag line</span>
                    <span class="form__label--details">2-3 sentences or Max- 90 words. This is your chance to
                        quickly grab the attention of a producer. This is found in the Browse Guestperts Directory
                        for Producers. What makes you so interesting?</span>
                </label>
                <input type="text" class="form__control" id="tagline">
            </div>
            <div class="form__group--settings">
                <label for="primaryexpertise" class="form__label">
                    <span class="form__label--caps">primary expertise*</span>
                </label>
                <input type="text" class="form__control" id="primaryexpertise" required>
            </div>
            <div class="form__group--settings">
                <label for="expexpertise" class="form__label">
                    <span class="form__label--caps">expanded expertise keywords</span>
                    <span class="form__label--details">Use 1-8 distinct words or very short phrases. Separate each
                        word or phrase with a comma. Example : DO: Areas of Expertise: Science, snow, global
                        warming, travel, weather, Doppler radar.</span>
                </label>
                <textarea type="text" class="form__control" id="expexpertise"></textarea>
            </div>
            <div class="form__group--settings">
                <label for="biography" class="form__label">
                    <span class="form__label--caps">Biography</span>
                </label>
                <textarea type="text" class="form__control" id="biography"></textarea>
            </div>


            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>

        </form>



        <!-- /////////////////////////
            ---- Contact Information-----
            ////////////////////////////// -->

        <form class="edit__form-container edit__form-container--contact">

            <h2 class="heading-tertiary u-center-text edit__form-heading">contact information</h2>

            <!-- ------Inputs and Lebels------ -->
            <div class="form__group--settings">
                <label for="adress" class="form__label">
                    <span class="form__label--caps">Adress</span>
                </label>
                <textarea type="text" class="form__control" id="adress"></textarea>
            </div>
            <div class="form__group--settings">
                <label for="city" class="form__label">
                    <span class="form__label--caps">City</span>
                </label>
                <input type="text" class="form__control" id="city" required>
            </div>
            <div class="form__group--settings">
                <label for="state" class="form__label">
                    <span class="form__label--caps">state</span>
                </label>
                <input type="text" class="form__control" id="state" required>
            </div>
            <div class="form__group--settings">
                <label for="email" class="form__label">
                    <span class="form__label--caps">email*</span>
                </label>
                <div class="edit__input-plus-btn">
                    <input type="email" class="form__control edit__change-inputs" disabled="disabled"
                        value="abc@xyz.com" id="email" required>
                    <div class="edit__btn-change" id="change-email">Change</div>
                </div>
            </div>
            <div class="form__group--settings">
                <label for="phone" class="form__label">
                    <span class="form__label--caps">phone*</span>
                </label>
                <div class="edit__input-plus-btn">
                    <input type="number" class="form__control edit__change-inputs" disabled="disabled"
                        value="1234567890" id="phone" required>
                    <div class="edit__btn-change" id="change-phone">Change</div>
                </div>
            </div>
            <div class="form__group--settings">
                <label for="website" class="form__label">
                    <span class="form__label--caps">website</span>
                </label>
                <input type="text" class="form__control" id="website">
            </div>
            <div class="form__group--settings">
                <label for="fax" class="form__label">
                    <span class="form__label--caps">fax</span>
                </label>
                <input type="text" class="form__control" id="fax">
            </div>
            <div class="form__group--settings">
                <label for="rssfeed" class="form__label">
                    <span class="form__label--caps">rss feed link</span>
                </label>
                <input type="text" class="form__control" id="rssfeed">
            </div>


            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>
        </form>

        

        <!-- /////////////////////////
        --------Credentials-----------
        ////////////////////////////// -->

        <form class="edit__form-container edit__form-container--credentials">

            <h2 class="heading-tertiary u-center-text edit__form-heading">Credentials</h2>

            <!-- ------Inputs and Lebels------ -->
            <div class="form__group--settings">
                <label for="username" class="form__label">
                    <span class="form__label--caps">user name</span>
                </label>
                <input type="text" class="form__control" disabled value="username" id="username" required>
            </div>
            <div class="form__group--settings">
                <label for="oldpassword" class="form__label">
                    <span class="form__label--caps">old password</span>
                </label>
                <input type="password" class="form__control" id="oldpassword" required>
            </div>
            <div class="form__group--settings">
                <label for="newpassword" class="form__label">
                    <span class="form__label--caps">new password</span>
                </label>
                <input type="password" class="form__control" id="newpassword" required>
            </div>
            <div class="form__group--settings">
                <label for="cnfrmpassword" class="form__label">
                    <span class="form__label--caps">confirm password</span>
                </label>
                <input type="password" class="form__control" id="cnfrmpassword" required>
            </div>


            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>
        </form>
    </section>


    <!-- /////////////////////////
        Footer 
    ////////////////////////////// -->

    <section class="ribon">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
        <div class="ribon__content u-center-text">
            <p class="paragraph-tertiary color-txt-dark">The TVGuestpert Logo is a Seal of Approval when placed on a
                Guestpert Profile. It let's you know that we producedthe Guestpert's demo and/or results reel separating
                out those on this site that have not been produced by us</p>
        </div>
    </section>

    <!-- **** Footer **** -->
    <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-icons">
                <img src="../../images/Tvg-logo.png" alt="" class="footer__logo">
                <div class="footer__caption paragraph-secondary">Stay Connected with</div>
                <ul class="footer__social-icons-list">
                    <a href="#twitter" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__icon-link">
                        <svg class="footer__social-icon">
                            <use xlink:href="#volume-mute"></use>
                        </svg>
                    </a>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                    <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                    <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                    <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                            use</a></li>
                    <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                            policy</a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <ul class="footer__copyright-list">
                    <li class="footer__box paragraph-primary">
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        2020 All rights reserved
                        <svg class="footer__copyright-icon">
                            <use xlink:href="#copyright"></use>
                        </svg>
                        TVGuestpert.com
                    </li>
                    <li class="footer__box paragraph-primary">
                        Email: <span class="text-bold-1">Assistant@TVGuestpert.com</span>
                    </li>
                    <li class="footer__box paragraph-primary">
                        call us: <span class="text-bold-1">310-584-1504</span>
                    </li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <form action="#" class="footer__form" method="POST">
                    <input class="footer__newsletter-input form__control" type="email" placeholder="Email Address"
                        required>
                    <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>

    <section class="popup">
        <div class="popup__change-profile-picture">
            <form action="/guestpert/changeProfilePic?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data">
                <div class="popup__change-image-container">
                    <div class="popup__change-img">
                        <img src="../../images/book_frame-2.png" alt="guestpert image" class="fluid-img"
                            id="imagePreview">
                    </div>
                    <input type="file" name="image" class="popup__input-img" id="image-input">
                    <div>
                      <label type="file" class="popup__input-lebel" for="image-input">Choose new image</label>
                      <span style="margin: 3px 0 0 5rem;" class="form__label--details">Image should be of 1:1 aspect ratio</span>
                    </div>
                </div>
                
                <div class="popup__change-btns-container">
                    <button class="button__primary">Keep changes</button>
                    <button class="button__ghost button__ghost--sm btn_cancel">cancel</button>
                </div>
            </form>
        </div>

        <div class="popup__change-email">

            <form>
                <p class="popup__msg">Verification code have beed sent in this email</p>
                <div class="form__group--settings">
                    <label for="newemail" class="form__label">
                        <span class="form__label txt-capitalize">New Email</span>
                    </label>
                    <div class="popup__input-verify-btn-container">
                        <input type="email" class="form__control popup__email-input" id="newemail" required>
                        <button class="popup__verify-button">verify</button>
                    </div>
                </div>
                <input type="number" class="form__control popup__verification-input" placeholder="Secret code" required>
                <div class="popup__new-email-btns">
                    <button class="button__primary button__ghost--sm">keep changes</button>
                    <button class="button__ghost button__ghost--sm btn_cancel">cancel</button>
                </div>
            </form>

        </div>


        <div class="popup__change-phone">

            <form>
                <p class="popup__msg">Verification code have beed sent in this number</p>
                <div class="form__group--settings">
                    <label for="newnumber" class="form__label">
                        <span class="form__label txt-capitalize">New Phone number</span>
                    </label>
                    <div class="popup__input-verify-btn-container">
                        <input type="number" class="form__control popup__phone-input" id="newnumber" required>
                        <button class="popup__verify-button">verify</button>
                    </div>
                </div>
                <input type="number" class="form__control popup__verification-input" placeholder="Secret code" required>
                <div class="popup__new-email-btns">
                    <button class="button__primary button__ghost--sm">keep changes</button>
                    <button class="button__ghost button__ghost--sm btn_cancel">cancel</button>
                </div>
            </form>

        </div>
    </section>

    <section class="message">
        <div class="message__txt message__txt--error">Error in submitting changes. Try again later</div>
    </section>

</body>

</html>