.address-bar{
    background-color: $color-primary-dark;
    display: flex;
    padding: 7px 0;
    align-items: center;

    //---- Hamburger menu
    &__hamburger-container{
        flex: 0 0 30rem;
        display: flex;
        justify-content: center;

        @include respond(tab-land) { //width <1200
            flex: 0 0 27rem;
        }
        @include respond(tab-port) { //width <900
            flex: 0 0 17rem;
        }
    }
    
    &__hamburger-btn{
        background-color: inherit;
        border: none;
        cursor: pointer;
        &:focus{
            outline: none;
        }
    }
    
    
    //---- address list
    &__links-list{
        display: flex;
        align-items: center;
        @include respond(small-screen) { //width <500
            display: none;
        }
    }
    
    &__link-box{
        margin: 0 .5rem;
        list-style: none;
    }

    &__link{
        align-items: center;
        justify-content: center;
        text-decoration: none;
        display: flex;
    }
    
    &__link-txt{
        color: white;
        text-transform: capitalize;
        font-size: 1.4rem;
        letter-spacing: 1px;
        font-weight: 300;
        text-align: center;
        @include respond(phone) { //width <600
            font-size: 1.2rem;
        }
    }

    //---- Address-bar Icon
    &__icon{
        height: 2rem;
        width: 2rem;
        fill: white;
    }
}