.goldenline{
    position: absolute;
    display: inline-block;
    height: 30rem;
    @include respond(tab-port) { //width <900
        display: none;
    }
    &__left{
        top: 0;
        left: 0;
    }
    &__right{
        bottom: 0;
        right: 0;
    }
}

@supports (clip-path: inset(50%)) {
    .triangle{
        display: inline-block;
        height: 40px;
        width: 35px;
        bottom: -38px;
        left: 30%;
        background: inherit;
        border: inherit;
        position: absolute;
        clip-path: polygon(17% 0, 0 100%, 100% 0);
    }
}

////////////////////////////
// heading style
///////////////////////////

.guestpert_personal-heading{
    background-image: $background-img-4;
    min-width: 20rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}