.button {
    &__ghost {
        border: 1px solid $color-primary;
        text-decoration: none;
        display: inline-block;
        transition: all 0.2s ease-out;
        cursor: pointer;

        &--large {
            text-transform: uppercase;
            font-size: $default-font-size;
            word-spacing: 7px;
            color: $color-primary-dark;
            padding: 0.8rem 2rem;
        }

        &--sm {
            color: $color-primary-dark;
            font-size: 1.4rem;
            padding: 0.8rem 2rem;
            text-transform: capitalize;
            background-color: transparent;
        }

        &:hover {
            background-color: $color-primary-dark;
            color: $color-white;
            transform: translateY(-3px);
            box-shadow: $box-shadow-hover;
        }

        &:active {
            transform: translateY(-1px);
            box-shadow: $box-shadow-active;
        }
        &:focus {
            outline: none;
        }
    }

    &__primary {
        text-decoration: none;
        text-transform: capitalize;
        padding: 1rem 2rem;
        background-color: $color-primary-dark;
        border: none;
        color: white;
        width: fit-content;
        cursor: pointer;
        letter-spacing: 1px;
        display: inline-block;
        font-size: 1.4rem;
        transition: all 0.2s;

        &--large {
            font-size: $default-font-size;
        }

        &--small {
            font-size: 1.2rem;
        }

        &:hover {
            transform: translateY(-3px);
            box-shadow: $box-shadow-hover;
        }
        &:active {
            transform: translateY(-1px);
            box-shadow: $box-shadow-active;
        }
        &:focus {
            outline: none;
        }
    }

    &__oval {
        padding: 0.9rem 2rem;
        border-radius: 3rem;
        border: none;
        background-color: $color-primary-dark;
        color: white;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            transform: translateY(-3px);
            box-shadow: $box-shadow-hover;
        }
        &:active {
            transform: translateY(-1px);
            box-shadow: $box-shadow-active;
        }
        &:focus {
            outline: none;
        }
    }

    &__float {
        position: absolute;
        bottom: 1.8rem;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.8rem 2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: $color-primary-dark;
        border: none;
        cursor: pointer;
        color: white;
        transition: all 0.2s;

        &:hover {
            transform: translate(-50%, -3px);
            box-shadow: $box-shadow-hover;
        }

        &:active {
            transform: translate(-50%, -1px);
            box-shadow: $box-shadow-active;
        }

        &:focus {
            outline: none;
        }
    }

    &__detail {
        padding: 8px 2.5rem;
        background-color: white;
        color: $color-primary;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 10rem;
        display: inline-block;
        transition: all 0.3s;
        &:hover {
            background-color: $color-grey-light-2;
        }
        &:active {
            transform: translateY(1px);
            box-shadow: $box-shadow-active;
        }
        &:focus {
            outline: none;
        }
    }

    &__play {
        position: absolute;

        cursor: pointer;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 2rem;
        color: $color-primary-dark;
        font-weight: 600;
        transition: all 0.2s;

        &:hover {
            transform: translateY(-3px);
        }
        &:active {
            transform: translateY(-1px);
        }

        &-icon {
            height: 10rem;
            width: 10rem;
            fill: rgba(146, 146, 146, 0.788);
        }
    }
}
