.enquiry{
    list-style: none;
    max-width: 110rem;
    width: 80%;
    border-radius: 1rem;
    margin: 2rem auto;
    background-color: $color-primary-light;
    overflow: hidden;

    &__title{
        padding: 1rem 4rem;
        letter-spacing: 1px;
        font-size: 1.6rem;
        color: $color-secondary;
        background-color: $color-primary-dark;
    }
}