.orders{   
    /////////////////////////
    //---- Card ----//
    /////////////////////////
    &__card{
        padding: 1rem 3rem;
        margin: 2rem auto;
        width: 100rem;
        display: flex;
        margin-bottom: 2rem;
        border-radius: 5px;
        border: 2px solid $color-primary-transparent;
        justify-content: space-evenly;
        
        @include respond(tab-land) { //width <1200
            width: 95rem;
        }
        @include respond(tab-port) { //width <1200
            max-width: 95%;
            justify-content: space-around;
        }
        @include respond(small-screen) { //width <500
            @include absCenter;
        }
    }


    ////---- Image Part ----////
    &__img-container{
        flex: 0 0 18rem;
        display: flex;
        margin-right: 3rem;
        align-self: center;
        justify-content: flex-start;

        @include respond(small-screen) { //width <500
            margin: 2rem;
        }
    }
    
    &__img{
        max-width: 15rem;
        max-height: 25rem;
    }


    ////---- Info Part----////
    &__info-container{
        @include respond(small-screen) { //width <500
            @include absCenter;
        }

        h2{
            @include respond(small-screen) { //width <500
               text-align: center; 
        }}
    }
}