.blog{

    &__card{
        display: flex;
        flex-direction: column;
        padding: 3rem 7rem;
        align-items: center;
        text-align: center;
        background-color: $color-primary-dark;
        color: $color-grey-light-2;
        border-radius: 3px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.35);
        width: 60%;
        
        @include respond(tab-land) { //width <1200
            padding: 3rem 4rem;
            width: 70%;
        }
        @include respond(tab-port) { //width <1200
            width: 80%;
        }
        @include respond(phone) { //width <1200
            width: 90%;
        }
    }

    &__heading{
        color: white;
        font-size: 2.7rem;
        font-weight: 300;
    }

    &__para{
        word-spacing: 3px;
        letter-spacing: 1px;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2rem;
        margin-bottom: 1.5rem;
        
        @include respond(tab-port) { //width <1200
            font-size: 1.6rem;
            margin-bottom: 2rem;
            line-height: 2.3rem;
        }
        @include respond(phone) { //width <1200
            line-height: 2.5rem;
        }
        @include respond(big-desktop) { //width <1200
            font-size: 1.5rem;
        }
        
    }

    &__button{
        padding: .5rem 1rem;
        border: 1px solid $color-secondary;
        text-transform: uppercase;
        font-size: 1.3rem !important;
        text-decoration: none;
        font-size: $default-font-size;
        word-spacing: 3px;
        font-weight: 300;
        display: inline-block;
        transition: all .2s ease-out;
        border-radius: 3px;
        
        &:hover{
            background-color: $color-secondary;
            color: $color-primary-dark !important;
            transform: translateY(-3px);
            font-weight: 400;
        }
        &:active{
            transform: translateY(-1px);
            box-shadow: $box-shadow-active;
       }
    }
}