.membership{

    ////////////////////////////////
    ///---- Membership card ----///
    ////////////////////////////////
    &__card-wrapper{
        @include absCenter;
        min-width: 35rem;
        margin-bottom: 3rem;
        transition: all .2s;
        @include respond(phone) { //width <600
            min-width: 40rem;
        }

        &:hover{
            transform: translateY(-1rem);
        }
    }

    //----- Current plan Styling
    &__current-plan{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        opacity: 0;
        
        &-icon{
            height: 2.5rem;
            width: 2.5rem;
            fill: $color-primary-dark;
            margin-right:1.5rem ;
        }
        
        &--active{
            opacity: 1;
        }
    }
    
    //----- Card styling ----//

    &__card{
        border-radius: 1rem;
        @include absCenter;
        width: 90%;
        padding: 2rem;
        @include respond(phone) { //width <600
            width: 97%;
        }
        
        &--style-gp{
            background-color: $color-primary-dark;
        }
        &--style-admin{
            border: 2px solid $color-primary-light;
        }
    }

    &__title{
        font-size: 3rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1rem;
        
        &--style-gp{
            color: $color-secondary-light;
        }
        &--style-admin{
            color: $color-primary-dark;
        }
    }

    //---- Features begin ----//
    &__features-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;

        li{
            list-style: none;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-weight: 300;
            font-size: 1.6rem;
            margin: .2rem 0;

        }
        
        &--style-gp{
            li{
                color: white;
            }
        }
        &--style-admin{
            li{
                color: $color-primary-dark;
                font-weight: 400;
            }
        }

    }

    &__icon{
        height: 1.6rem;
        width: 1.6rem;
        margin-right: 1rem;
        
        &--style-gp{
            fill: white;
        }
        &--style-admin{
            fill: $color-primary-dark;
        }
    }

    //---- Card button ----//
    &__button{
        padding: 1rem 3rem;
        border-radius: 3rem;
        border: none;
        color: $color-primary-dark;
        opacity: 0;
        transition: all .2s;
        cursor: pointer;

        &:hover{
            transform: translateY(-3px);
            box-shadow: $box-shadow-hover;
        }
        &:active{
            transform: translateY(-2px);
            box-shadow: $box-shadow-active;    
        }
        
        &:focus{
            outline: none;
        }

        &--active{
            opacity: 1;
        }
    }
}