.thin{

    border: 1px solid $color-primary-light;
    display: block;
    padding: 1rem;
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: -1px 2px 27px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 27px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 27px -4px rgba(0,0,0,0.75);
    transition: all .2s;

    &:hover{
        transform: translateY(-1rem);
    }

    // Image settings
    &__img{
        height: 8rem;
        width: 8rem;
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);

        img{
            border-radius: 50%;
        }
    }



    // Information Settings

    &__info{
        margin: 5rem 0 2rem 0;
        text-align: center;
        p{
            line-height: 1.6rem;
        }
    }
    
    &__main-txt{
        font-size: 1.3rem;
        text-transform: capitalize;
    }

    &__sm-txt{
        color: $color-primary-dark;
        text-transform: uppercase;
        font-size: .8rem;
        letter-spacing: 1px;
        font-weight: 600;
        margin-top: 1rem;
    }

    // Buttons
    &__btn-container{
        display: flex;
        justify-content: center;
    }
}