.hot-topics{
    &__cards-wrapper{
        list-style: none;
        transition: all .3s;
        &:hover{
            transform: translateY(-1rem);
        }
    }
    
    &__cards{
        text-decoration: none;
        border: 1px solid $color-primary-light;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
        background-color: white;
        min-height: 30rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
    }

    &__title-container{
        background-color: $color-primary-dark;
        width: 108%;
        position: absolute;
        display: inline-block;
        padding: 1.5rem;
        top: 3rem;
    }
    
    &__icon{
        position: absolute;
        height: 2rem;
        width: 2rem;
        display: inline-block;
        z-index: -6546;
        
        &--top-left{
            left: 0;
            top: -2rem;
        }
        &--top-right{
            right: 0;
            top: -2rem;
        }
        &--bottom-left{
            left: 0;
            bottom: -2rem;
        }
        &--bottom-right{
            right: 0;
            bottom: -2rem;
        }
    }


    &__title{
        color: $color-secondary;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 2px;
        font-size: 1.2rem;
    }
    &__title-duplicate{
        font-size: 1.2rem;
        color: black;
        padding: 1.5rem .6rem;
        margin-top: 3rem;
    }

    //////////////////////////
    /// Typography ///
    /////////////////////////

    &__content-container{
        padding: 1rem;
    }
    &__content-para{
        font-size: 1.45rem;
        color: $color-primary;
    }
    &__content-caption{
        font-size: 1.3rem;
        letter-spacing: 1px;
        padding-right: 5px;
        text-transform: capitalize;
    }


    /////////////////////////
    //////////////////////////
    /// About Guestpert ///
    /////////////////////////

    &__guestpert-info{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        margin-top: auto;
    }

    
    &__img-wrapper{
        margin-right: 1rem;
    }

    &__img-container{
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        border: 3px solid $color-secondary;
    }
    &__img{
        border-radius: 50%;
    }
}