.faty{
    &__card{
        border: 1px solid $color-primary-light;
        border-radius: 1rem;
        overflow: hidden;
        margin-bottom: 5rem;
        @include card-hover-shadow ;

        @include respond(phone){
            width: 30rem;
        }
    }

    &__head{
        @include absCenter;
        background-color: $color-primary-light;
        padding: 4rem 1.5rem;
    }

    &__sm-txt{
        font-size: 1.4rem;
    }


    &__card-img{
        height: 12rem;
        margin: -3rem auto 2rem auto;
        width: 12rem;
        bottom: -9rem;
        background-color: $color-primary-dark;
        padding: 3px;
        border-radius: 50%;

        img{
            border-radius: 50%;
        }
    }

    &__card-btns{
        padding: 1.5rem;
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
    }

    &__card-btn-large{
        width: 80%;
        margin-top: 2rem;
    }
}