.products{

    &__cards{
        border-radius: 0;
        @include absCenter;
        
    }
    
    &__cards-details{
        -webkit-box-shadow: 1px 2px 14px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 2px 14px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 2px 14px 0px rgba(0,0,0,0.75);
        border: 2px solid $color-primary-dark;
        border-bottom: none;
        position: relative; 
        background-color: white;
        width: 25rem;

        @include respond(tab-land) { //width <1200
            width: 24rem ;
        }
        
        @include respond(x-small-screen) { //width <400
            width: 102%;
        }
    }

    &__title-container{
        background-color: $color-tertiary-light;
        padding: 1rem ;
        margin-top: 1.5rem;
    }

    &__heading{
        font-size: 1.3rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $color-primary-dark;
    }


    &__content-container{
        padding: 2rem ;
        padding-bottom: 3rem;
        @include respond(tab-land) { //width <1200
            padding: 1rem;
            padding-bottom: 3rem;
        }
        @include respond(x-small-screen) { //width <400
            padding: 2rem;
            padding-bottom: 3rem;
        }

    }


    &__description{
        margin-bottom: 1.5rem;
    }


    &__para{
        font-size: 1.2rem;
        letter-spacing: 1px;
        line-height: 1.8rem;
        color: $color-primary-dark;
    }

    &__price{
        font-size: 3.5rem;
        color: $color-primary-dark;
    }


    /////////////////////////////////////////////////
    /////////// Buttons
    /////////////////////////////////////////////////
    
    ////////////////////////////////
    /// Card Edit & Delete Btns ///
    //////////////////////////////
    
    &__card-btns{
        display: flex;
        width: 90%;
        justify-content: space-between;
        position: absolute;
        z-index: 10;
        left: 5%;
        bottom: 0;
    }
    
    &__buttons{
        display: flex;
        width: 90%;
        justify-content: space-between;
        position: absolute;
        z-index: 10;
        left: 5%;
        bottom: 0;
        padding: 1rem 0;
    }
    
    /////////////////////////////////////////////////
    ///////////  Proceed Button
    /////////////////////////////////////////////////

    &__buy-btn{
        display: flex;
        background: linear-gradient(90deg, #EADA47 -0.01%, #BF5C92 49.44%, #8A1253 100.01%);
        border-radius: 10rem;
        align-items: center;
        text-decoration: none;
        text-transform: capitalize;
        transition: all .3s ease-out;
        min-width: 13.5rem;
        justify-content: center;
        border: none;
        
        &:hover{
            background: linear-gradient(270deg, #EADA47 -0.01%, #BF5C92 49.44%, #8A1253 100.01%);
            transform: translateY(-3px);
            box-shadow: $box-shadow-active;
        }
        
        &:active{
            transform: translateY(-1px);
            box-shadow:  0 5px .6rem rgba($color-black, 0.4);;
        }
        
        &:focus{
            outline: none;
        }
    }

    &__icon-container{
        padding: .7rem .5rem;
        border-radius: 50%;
    }
    &__icon{
        height: 2rem;
        width: 2rem;
        fill: $color-tertiary;
    }
    &__price-txt{
        padding: 0 1rem;
        color: white;
        font-size: 1.2rem;
        text-transform: capitalize;
    }

    /////////////////////////////////////////////////
    ///////////  Listen button
    /////////////////////////////////////////////////

    &__listen-btn{
        text-decoration: none;
        text-transform: capitalize;
        font-size: 1.2rem;
        color: $color-primary;
        font-weight: 600;
        transition: all .2s;

        &:hover{
            transform: translateY(-2px);
            text-shadow: 5px 7px 4px $color-grey-dark;
        }
    }

    /////////////////////////////////////////////////
    ///////////  Product Effects
    /////////////////////////////////////////////////

    &__effect{
        // background-color: tomato;
        height: 5rem;
        position: absolute;
        border: inherit;
        border-top: none;
        border-bottom: 3px solid $color-primary-dark;
        background: inherit;
        left: -2px;
        width: 25rem;
        bottom: -2.8rem;
        -webkit-mask-image:url(/images/shopping_mask-b.png);
        -webkit-mask-size: cover;
        mask-image: url(/images/svg/shopping_mask-b.svg);
        mask-size: cover;

        @include respond(tab-land) { //width <1200
            width: 24rem;
        }
        
        @include respond(x-small-screen) { //width <400
            width: 102%;
        }
    }

    &__img-wrapper{
        padding: 1.5rem 1rem;
        background-color: $color-primary-dark;
        width: 90%;
        -webkit-box-shadow: 1px 2px 14px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 2px 14px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 2px 14px 0px rgba(0,0,0,0.75);
        position: relative;
        z-index: -1;
    }

    &__img-container{
        img{
            min-height: 30rem;
        }
    }

    &__best-seller{
        position: absolute;
        font-size: 1.6rem;
        text-transform: uppercase;
        color: $color-secondary;
        background-color: $color-primary-transparent;
        width: 100%;
        left: 0;
        bottom: 9rem;
        padding: 1rem;
        text-align: center;
    }

    &__card-btns{
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
}