.feedback {
    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 115rem;
        padding: 2rem;
        border-radius: 8px;
        margin: auto;

        @include respond(tab-land) {
            //width <1200
            width: 90%;
        }

        @include respond(tab-port) {
            //width <900
            flex-direction: column;
            width: 95%;
        }
    }

    ////---- Image container
    &__img-wrapper {
        flex: 0 0 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__profile-img {
        height: 12rem;
        width: 12rem;
        border-radius: 50%;

        img {
            border-radius: 50%;
        }
    }

    //// ---- Content Container
    &__content-container {
        padding-left: 2rem;
        flex: 1;
        @include respond(tab-port) {
            //width <500
            padding: 2rem;
            align-items: center;
        }
        @include respond(phone) {
            //width <500
            padding: 0;
            align-items: center;
        }
    }

    ///////////////////////////////////
    ///////// Testimonial video section
    ///////////////////////////////////
    &__video-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 2rem;

        iframe {
            height: 25.4rem;
            width: 48%;
            margin-bottom: 1rem;
            background-color: $color-tertiary-light;
            margin-right: 1rem;

            @include respond(tab-port) {
                //width <900
                width: 60rem;
            }
            @include respond(phone) {
                //width <600
                width: 55rem;
                margin: 2rem 0 0 0;
            }
            @include respond(small-screen) {
                //width <500
                width: 50rem;
                height: 25rem;
            }
            @include respond(x-small-screen) {
                //width <600
                height: 20.4rem;
                width: 100%;
            }
        }
    }

    /////////////////////////////////////
    /// Testimonial feedback content ///
    ///////////////////////////////////

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 4rem;

        p {
            text-align: justify;
            color: $color-primary-dark;
            font-size: 1.6rem;
            letter-spacing: 1px;
            line-height: 2.5rem;
        }

        img {
            margin: 1rem auto;
            width: 60rem;
            height: 30rem;
            object-fit: cover;
            object-position: center;
            display: block;

            @include respond(small-screen) {
                //width <500
                width: 50rem;
                height: 25rem;
            }
            @include respond(x-small-screen) {
                //width <400
                width: 40rem;
                height: 22rem;
            }
        }
    }
}
