.testimonial{
    &__card{
        border: 1px solid $color-primary-light;
        border-radius: 1rem;

        &:hover{
            -webkit-box-shadow: 0px 0px 9px 1px rgba(69,15,69,1);
            -moz-box-shadow: 0px 0px 9px 1px rgba(69,15,69,1);
            box-shadow: 0px 0px 9px 1px rgba(69,15,69,1);
            border: none;
        }
    }

    &__card-img{
        height: 12rem;
        width: 12rem;
        border-radius: 50%;
        padding: 3px;
        margin: 2rem auto;
        background-color: $color-primary-dark;

        img{
            border-radius: 50%;
        }
    }

    &__info{
        padding: 0 2rem;

        p{
            text-align: justify;
            font-size: 1.3rem;
            line-height: 1.9rem;
            color: $color-primary-dark;
        }
    }

    &__card-btns{
        margin: 2rem ;
        @include absCenter;
    }
}