.folder{
    @include absCenter;
    min-height: 70vh;

    &__cards{
        border-radius: 1rem;
        overflow: hidden;
        text-decoration: none;
        -webkit-box-shadow: -1px 2px 27px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 27px -4px rgba(0,0,0,0.75);
        box-shadow: -1px 2px 27px -4px rgba(0,0,0,0.75);
        transition: all .2s;

        &:hover{
            transform: translateY(-1rem);
        }
        &:active{
            transform: translateY(-.7rem); 
            -webkit-box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.75);
            box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.75);
        }
    }

    &__heading{
        background-color: $color-primary-dark;
        height: 7rem;
        position: relative;
    }

    &__icon-container{
        height: 10rem;
        width: 10rem;
        background-color: white;
        border-radius: 50%;
        @include absCenter;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        bottom: -5rem;
        -webkit-box-shadow: -1px 2px 14px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 14px -1px rgba(0,0,0,0.75);
        box-shadow: -1px 2px 14px -1px rgba(0,0,0,0.75);
    }

    &__icon{
        fill: $color-primary;
        height: 5rem;
        width: 5rem;
    }

    &__title{
        height: 15rem;
        @include absCenter;
        color: $color-primary-dark;
        font-size: $default-font-size;
        text-transform: capitalize;
        
    }
    
}