/////////////////////////////////
////---- SERVICES ----/////
/////////////////////////////////

.services{
    &__cards{
        padding: 2rem;
        box-shadow: $box-shadow-active;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all .3s;

        &:hover{
            transform: translateY(-2rem);
        }
    }

    &__para{
        text-align: justify;
        font-size: 1.3rem;
        letter-spacing: 1px;
        
    }

    &__read-more{
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: 1px;
        text-decoration: none;
        display: inline-block;
        .dash{
            transition: all .2s ease-out;
            font-weight: 600;
        }

        &:hover .dash{
            padding-left: 5px;
        }
    }

    &__card-btns{
        display: flex;
        justify-content: space-between;
    }
}