 .users{   
    
    /////////////////////////////////
    ////---- Card ----////
    /////////////////////////////////

    &__card{
        border-radius: 1rem;
        overflow: hidden;
        border: 1px solid $color-primary-light;
        transition: all .2s;

        @include card-hover-shadow
    }

    ///////////////////////////////
    ///--- Card Heading---///
    ///////////////////////////////

    &__card-heading{
        background-color: $color-primary-light;
        min-height: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding: 2rem;
    }

    &__person-title{
        width: 18rem;
        color: $color-primary-dark;
        letter-spacing: 1px;
        margin-top: 5px;
    }


    &__card-img{
        height: 11rem;
        width: 11rem;
        border-radius: 50%;
        background-color: $color-white;
        -webkit-box-shadow: -1px 2px 14px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 14px -1px rgba(0,0,0,0.75);
        box-shadow: -1px 2px 14px -1px rgba(0,0,0,0.75);
        position: absolute;
        transform: translateX(-50%);
        bottom: -5.5rem;
        
        &--position-center{
            left: 50%;
        }
        
        &--position-right{
            left: 79%;
        }

        img{
            border-radius: 50%;
        }
    }


    ///////////////////////////////
    ///--- Card Info ---///
    ///////////////////////////////

    &__info{
        @include absCenter;
        margin-top: 6rem;
    }

    &__card-btns{
        padding: 2rem;
        display: flex;
        justify-content: space-between;
    }
}