.guestpert {
    cursor: pointer;
    margin: 1rem;
    border-radius: 1rem;
    position: relative;
    width: 20rem;
    -webkit-box-shadow: -1px 0px 41px -19px rgba(102, 37, 82, 1);
    -moz-box-shadow: -1px 0px 41px -19px rgba(102, 37, 82, 1);
    box-shadow: -1px 0px 41px -19px rgba(102, 37, 82, 1);
    transition: all 0.2s;

    img {
        border-radius: 1rem 1rem 0px 0px;
        -moz-border-radius: 1rem 1rem 0px 0px;
        -webkit-border-radius: 1rem 1rem 0px 0px;
        border: 0px solid #000000;
    }

    @include respond(x-small-screen) {
        //width <600
        width: 17rem;
    }

    &:hover {
        -webkit-box-shadow: -1px 0px 25px -8px rgba(102, 37, 82, 1);
        -moz-box-shadow: -1px 0px 25px -8px rgba(102, 37, 82, 1);
        box-shadow: -1px 0px 25px -8px rgba(102, 37, 82, 1);
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(-1px);
        -webkit-box-shadow: -1px 0px 18px 0px rgba(102, 37, 82, 1);
        -moz-box-shadow: -1px 0px 18px 0px rgba(102, 37, 82, 1);
        box-shadow: -1px 0px 18px 0px rgba(102, 37, 82, 1);
    }

    &__info {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-primary-dark;
    }

    &__name {
        font-size: 1.8rem;
        text-align: center;
    }
    &__title {
        text-align: center;
        font-size: 1.3rem;
    }
}

.enquiryNum {
    height: 5rem;
    width: 5rem;
    position: absolute;
    background-color: rgb(224, 0, 0);
    font-size: 1.8rem;
    color: white;
    top: -1.5rem;
    right: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
