.edit{
    @include absCenter;
    margin: 8rem auto;
    width: 80%;
    border-radius: 3rem;
    overflow: hidden;

    &__none{
        display: none;
    }
    
    @include respond(tab-land) { //width <1200
        width: 80% ;
    }
    @include respond(phone) { //width <600
        width: 95% ;
    }
    


    /////////////////////////////////////
    //---- profile settings heading----//
    /////////////////////////////////////

    &__heading{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 14rem 0;
        position: relative;
    }

    //---- Profile picture of guestpert

    &__image-container{
        height: 23rem;
        width: 23rem;
        padding: .5rem;
        background-color: $color-primary-dark;
        border-radius: 50%;
        position: absolute;
        cursor: pointer;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-box-shadow: 4px 6px 11px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 6px 11px 0px rgba(0,0,0,0.75);
        box-shadow: 4px 6px 11px 0px rgba(0,0,0,0.75);
        margin-bottom: 2rem;
        transition: background-color .2s;
        
        img{
            border-radius: 50%;
            transition: all .2s;
        }

        .span{
            position: absolute;
            text-align: center;
            transition: display .2s;
            text-transform: capitalize;
            letter-spacing: 1px;
        }
        
        .span--in{
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            font-size: 1.5rem;
            color: rgb(255, 255, 255);
            display: none;
        }
        
        .span--out{
            display: inline-block;
            color: $color-primary-dark;
            font-size: 1.2rem;
            width: 15rem;
            left: 50%;
            transform: translateX(-50%);
            bottom: -2.5rem;
        }
        
    }

    &__image-container:hover{
        background-color: darken( $color-primary-dark, 15% );

        img{
            opacity: .4;
            @supports (filter: blur() or (-webkit-filter: blur()) or (-moz-filter: blur())){
                filter: blur(5px);
            }
        }

        .span--in{
            display: inline-block;
        }
    }
    
    /////////////////////////////////////
    //---- Form begining ----//
    /////////////////////////////////////
    
    
    //---- Form the yellow box
    &__form-container{
        border: 1px solid $color-primary-light;
        border-radius: 5px;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 1rem;
        padding: 3rem 5rem ;
        @include absCenter;
        @include respond(phone) { //width <600
            width: 97% ;
        }
        
        

        @include respond(tab-land) { //width <1200
            padding: 3rem ;
            width: 90%;
        }
        @include respond(phone) { //width <1200
            padding: 2rem ;
        }

    }

    ////----- Input change btns

    &__input-plus-btn{
        display: flex;
    }
    &__btn-change{
        @include absCenter;
        background-color: $color-primary;
        padding: 0 3rem;
        border-radius: 7px;
        font-size: 1.2rem;
        letter-spacing: 1px;
        color: white;
        margin-left: 2rem;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .2s;

        &:hover{
            transform: translateY(-2px);
            -webkit-box-shadow: 1px 7px 17px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 7px 17px 0px rgba(0,0,0,0.75);
            box-shadow: 1px 7px 17px 0px rgba(0,0,0,0.75);
        }
        &:active{
            transform: translateY(-1px);
            -webkit-box-shadow: 1px 7px 11px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 7px 11px 0px rgba(0,0,0,0.75);
            box-shadow: 1px 7px 11px 0px rgba(0,0,0,0.75);
            
        }
    }

    &__change-inputs{
        width: 100%;
    }
    

    ////////////////////////////////
    ////--- Edit button ----////
    ////////////////////////////////
    &__show-cards{
        margin-left: 1rem;
    }

    ////////////////////////////////
    ////--- Fields Container ----////
    ////////////////////////////////

    &__field-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }
}
