.footer{

    &__content{
        display: flex;
        flex-direction: column;
        @include respond(small-screen) { //width <500
            padding: 0 3px;
        }
    }

    &__box{
        list-style: none;
        padding: 0 1rem;
        // height: 2.65rem;
        @include respond(x-small-screen) { //width <400
            padding: 0 3px;
        }
    }

     ////////////////////////////////////
    //****** Footer social icons *******//
    ////////////////////////////////////

    &__social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3.8rem;
        @include respond(small-screen) { //width <500
            margin-bottom: 2rem;
        }

        & > *:not(:last-child) {
            margin-right: 2.7rem;
        }
    }

    &__logo{
        height: 2.7rem;
    }

    &__social-icons-list{
        display: flex;
    }
    
    &__icon-link{
        &:link,
        &:visited{
            border-radius: 5px;
            text-decoration: none;
            padding: 1rem;
            display: flex;
            justify-content: center;
            transition: all .2s ease-in;
        }
        
        &:hover{
            background-color: $color-primary;
            box-shadow: $box-shadow-hover;
            transform: translateY(-2px);
        }
        &:active{
            background-color: $color-primary-dark;
            box-shadow: $box-shadow-active;
            transform: translateY(-1px);
        }
    }

    &__icon-link:hover &__social-icon{
        fill: $color-secondary;
    }

    &__social-icon {
        height: 1.7rem;
        width: 1.7rem;
        fill: $color-primary-dark;
    }

    ////////////////////////////////////
    //****** Footer links*******//
    ////////////////////////////////////

    &__links-list {
        display: flex;
        justify-content: center;

        :not(:last-child){
            border-right: 2px solid $color-primary;
        }
    }
    
    &__link {
        &:link, &:visited{
            padding: 0 5px;
            text-decoration: none;
            text-transform: capitalize;
            transition: all .3s ease-out;
            display: inline-block;
            text-align: center;
            position: relative;
            @include respond(small-screen) { //width <500
                padding: 0 2px;
            }
        }

        &:hover,
        &:active{
            color: $color-secondary;
            transform: translateX(3rem);
            transform: rotate(-5deg) scale(1.1);
            background-color: $color-primary-dark;
        }
    } 


    ////////////////////////////////////
    //****** Footer copyright *******//
    ////////////////////////////////////

    &__copyright{
        margin-top: 3.5rem;
        @include respond(tab-port) { //width <1200
            order: 1;
        }
        @include respond(small-screen) { //width <500
            margin-top: 2rem;
        }
    }

    &__copyright-list{
        display: flex;
        align-items: baseline;
        justify-content: center;

        @include respond(tab-port) { //width <1200
            flex-direction: column;
            align-items: center;
        }
        
        
        & > *:not(:last-child){
            border-right: 2px solid $color-primary;
            @include respond(tab-port) { //width <900
                border-right: none;
            }
        }
    }
    
    &__copyright-icon{
        height: 2rem;
        width: 2rem;
        fill: $color-primary-dark;
        margin-bottom: -2px;
    }

    ////////////////////////////////////
    //****** Footer newsletter *******//
    ////////////////////////////////////

    &__form{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 3rem;
        @include respond(small-screen) { //width <500
            margin-top: 2rem;
            width: 95%;
        }
    }

    &__newsletter-btn-container {
        background-color: white;
        border-radius: 5px;
    }

    &__newsletter-input{
        width: 45rem;
        border-radius: 6px 0px 0px 6px !important;
        -moz-border-radius: 6px 0px 0px 6px !important;
        -webkit-border-radius: 6px 0px 0px 6px !important;
        background-color: $color-white ;
        transition: width 1s ease-in;

        &:focus{
            width: 48rem;
        }

        &:focus ~ .footer__newsletter-btn-container{
            box-shadow: 0 1rem 2rem rgba($color-black ,.6);
        }

        @include respond(small-screen) { //width <500
            width: 40rem;
        }
    }
}