.form {
    display: flex;
    flex-direction: column;

    ///////////////////////////////////////
    //---- Form input + lebel groups----//
    /////////////////////////////////////

    &__group--settings {
        display: flex;
        flex-direction: column;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
        select option {
            outline: none;
        }
    }

    &__group--img-inp {
        align-self: flex-start;
        margin-bottom: 3rem;
    }

    &__group--contact {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__group--auth {
        display: flex;
        align-items: center;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__group--checkbox {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 3rem;
    }

    ///////////////////////////////////////
    //---- customize lebels----//
    /////////////////////////////////////

    &__label {
        font-size: $default-font-size;
        color: $color-primary;
        width: fit-content;

        &--caps {
            text-transform: uppercase;
        }

        &--details {
            font-size: 1.3rem;
            color: $color-primary-dark;
            display: block;
            line-height: 1.7rem;
            margin-bottom: 4px;
        }
    }

    &__label-icon {
        font-size: $default-font-size;
        color: $color-primary;
        display: flex;
        align-items: center;
        z-index: 10;
    }

    ///////////////////////////////////////
    //---- form input----//
    /////////////////////////////////////

    &__control:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-3.2rem) translateX(2rem);
    }

    &__control {
        padding: 1rem 2rem;
        border-radius: 6px 6px 6px 6px;
        -moz-border-radius: 6px 6px 6px 6px;
        -webkit-border-radius: 6px 6px 6px 6px;
        border: 1px solid $color-primary-light; 
        color: $color-grey-dark-3;
        font-size: 1.6rem;
        transition: box-shadow 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.6);
            border-bottom: 2px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 2px solid red;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
            text-transform: capitalize;
        }
    }

    // Error message when entered invalid value
    &__error-msg {
        font-size: 1.2rem;
        color: #b00020;
        letter-spacing: 1px;
        margin-top: 1rem;
        display: none;

        &--show {
            display: block;
        }
    }

    &__inp-img {
        background-color: $color-primary;
        width: fit-content;
        color: white;
        border-radius: 3px;
        padding: 0.4rem 1rem;
        display: inline-block;
        margin-left: 3rem;
        transition: all 0.3s;
        cursor: pointer;

        &:hover,
        &:active {
            transform: translateY(-2px);
            -webkit-box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.75);
        }
    }

    &__inp-img--adrss {
        margin-left: 2rem;
        font-size: 1.3rem;
    }

    ///////////////////////////////////////
    //---- Search form ----//
    /////////////////////////////////////

    &__search {
        display: flex;
    }

    &__search-input {
        width: 30rem;
        border-radius: 6px 0px 0px 6px;
        -moz-border-radius: 6px 0px 0px 6px;
        -webkit-border-radius: 6px 0px 0px 6px;
        background-color: $color-white;
        transition: width 0.2s ease-in;

        &:focus {
            width: 31rem;
        }
    }

    &__search-icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-primary-dark;
    }
    &__search-btn-sm {
        padding: 5px 1rem;
    }

    &__search-btn {
        background-color: $color-secondary-dark;
        border: 1px solid $color-secondary-dark;
        border-radius: 0px 6px 6px 0px;
        -moz-border-radius: 0px 6px 6px 0px;
        -webkit-border-radius: 0px 6px 6px 0px;
        cursor: pointer;
        color: $color-primary-dark;
        transition: all 0.2s;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 1rem rgba($color-black, 0.4);
        }
    }

    ///////////////////////////////////////
    //---- Submit Button ----//
    /////////////////////////////////////

    &__submit-btn {
        display: inline-block;
        padding: 1rem 3rem;
        width: fit-content;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 2px;
        border: none;
        cursor: pointer;

        transition: all 0.2s ease-out;

        &:focus {
            outline: none;
        }

        &:hover {
            transform: translateY(-3px);
            box-shadow: $box-shadow-hover;
        }
        &:active {
            transform: translateY(-1px);
            box-shadow: $box-shadow-active;
        }

        @include respond(small-screen) {
            //width <500
            padding: 0.7rem 2rem;
        }

        &--orange {
            background-color: #ffb70c;
            color: $color-primary-dark;
        }

        &--pink {
            background-color: $color-primary;
            color: white;
        }
    }

    ///////////////////////////////////////
    //---- Subscribe Button----//
    /////////////////////////////////////

    &__subscribe-btn {
        padding: 1rem 2rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        display: flex;
        height: 100%;
    }
}

///////////////////////////////////////
//---- Input Numbers remove arrows ----//
/////////////////////////////////////
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

///////////////////////////////////////
//---- Modern checkbox container ----//
/////////////////////////////////////

.checkbox-container {
    width: 60px;
    height: 26px;
    background: #8a12523a;
    margin-left: 5rem;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.226), 0px 1px 0px rgba(255, 255, 255, 0.2);
    &:after {
        content: "";
        color: #000;
        position: absolute;
        right: 10px;
        z-index: 0;
        font: 12px/26px Arial, sans-serif;
        font-weight: bold;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
    }
    &:before {
        content: "";
        color: #27ae60;
        position: absolute;
        left: 10px;
        z-index: 0;
        font: 12px/26px Arial, sans-serif;
        font-weight: bold;
    }
    label {
        display: block;
        width: 30px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 1;
        background: #66255273;
        border-radius: 50px;
        transition: all 0.4s ease;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    }
    input[type="checkbox"] {
        visibility: hidden;
        &:checked + label {
            left: 27px;
            background: rgb(102, 37, 82);
            background: linear-gradient(0deg, rgba(102, 37, 82, 1) 0%, rgba(184, 23, 110, 1) 100%);
        }
    }
}

///////////////////////////////////////
//---- From Dropdown ----//
/////////////////////////////////////

//---- Setting input to be hidden ----//
#inp-category {
    display: none;
}

//---- Styling the form ----//
.custom {
    &-select {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &-select-wrapper {
        position: relative;
        user-select: none;
        width: 100%;
    }

    &-select__trigger {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 2rem;
        color: $color-grey-dark-3;
        border-radius: 6px 6px 6px 6px;
        -moz-border-radius: 6px 6px 6px 6px;
        -webkit-border-radius: 6px 6px 6px 6px;
        border: 1px solid $color-primary-light;
        font-size: 1.6rem;
        background: #ffffff;
        cursor: pointer;

        span {
            text-transform: capitalize;
        }
    }

    &-options {
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        right: 0;
        border-top: 0;
        border-radius: 6px 6px 6px 6px;
        -moz-border-radius: 6px 6px 6px 6px;
        -webkit-border-radius: 6px 6px 6px 6px;
        border: 1px solid $color-primary-light;
        background: #fff;
        transition: all 0.2s;
        opacity: 0;
        max-height: 30rem;
        overflow-y: auto;
        visibility: hidden;
        pointer-events: none;
        z-index: 2;
        @include scrollBarVer;
    }

    &-select.open &-options {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
    &-option {
        position: relative;
        display: block;
        padding: 0 22px;
        font-size: 1.6rem;
        font-weight: 300;
        color: #3b3b3b;
        line-height: 3.7rem;
        text-transform: capitalize;
        cursor: pointer;
    }

    &-option:hover,
    &-option-hover {
        cursor: pointer;
        background-color: $color-primary-light;
    }
    &-option.selected {
        color: #ffffff;
        background-color: $color-primary-dark;
    }
}

/////////////////////////
//---- Tags Input ----//
///////////////////////
.tags-input {
    border: 1px solid $color-primary-light;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem 0.5rem;
    transition: all 0.2s;

    &__focus {
        box-shadow: 0 1rem 2rem rgba($color-black, 0.6);
    }

    // Tag Styling
    .tag {
        font-size: 1.4rem;
        padding: 0.2rem 0.75rem;
        margin: 0.5rem 0.4rem;
        background-color: $color-primary-light;
        cursor: pointer;
        letter-spacing: 1px;
        transition: all 0.2s;
        border-radius: 3px;

        &:hover {
            background-color: $color-primary;
            color: white;
        }

        // Close Button Styling
        .close {
            font-weight: 600;

            &:hover {
                color: red;
            }
        }
    }

    &__main-input {
        border: 0;
        outline: 0;
        padding: 0.2rem;
        min-height: 4rem;
        min-width: 7rem;
        color: $color-grey-dark-3;
        font-size: 1.6rem;
        flex: 1;
    }
}

/////////////////////////////////////
///// Input type choose file////
/////////////////////////////////////
input[type="file"] {
    display: none;
}
