.gallery {
    width: 35%;
    
    margin: 5rem 0;
    @include respond(tab-land) {
        width: 39%;
        min-width: 39rem;
        max-width: 49rem;
    }
    @include respond(tab-port) {
        max-width: 409rem;
        width: 85%;
        display: flex;
        justify-content: center;
        margin: 5rem 0;
        order: 1;
    }

    &__img-list {
        display: grid;
        position: relative;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 2rem;
        grid-column-gap: 2rem;
        
        @include respond(tab-port) {
            //width <900
            width: 60%;
        }
        @include respond(phone) {
            //width <900
            width: 80%;
        }
        @include respond(small-screen) {
            //width <900
            width: 85%;
        }
        @include respond(x-small-screen) {
            //width <900
            width: 100%;
        }

        &::before {
            content: "";
            height: 3rem;
            width: 8rem;
            background-color: $color-secondary-dark;
            position: absolute;
            top: 0;
            z-index: 1;
            left: -2.2rem;
            transform: rotate(-42deg);
        }
        &::after {
            content: "";
            height: 3rem;
            width: 8rem;
            background-color: $color-secondary-dark;
            position: absolute;
            bottom: -2rem;
            z-index: 1;
            right: -4.2rem;
            transform: rotate(-42deg);
        }
    }

    &__img-container {
        width: 100%;
        list-style: none;
        border: 1px solid $color-primary-dark;
        border-radius: 3px;
    }

    &__about-img {
        width: 100%;
        bottom: 5px;
        left: 0;
        position: absolute;
        overflow: hidden;
        background-color: rgba(88, 13, 53, 0.87);
        z-index: 888;
        display: flex;
        padding: 0.3rem;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__img-frame {
        transform: translateX(7px) translateY(7px);
        position: relative;
        transition: all 0.3s;
    }

    &__rotate-shrink {
        transform: scale(0.01) rotate(180deg);
    }

    ///////////////////////////////////\
    &__modal-img {
        display: none;
    }
}
