  .glide__bullets {
    position: absolute;
    z-index: 2;
    left: 50%;
    display: inline-flex;
    list-style: none;
    transform: translateX(-50%); 
    @include respond(tab-port) { //width <900
        bottom: 6em;
    }

    &--books{
      bottom: -2rem;
    }

    &--header{
      bottom: 2em;
    }
    
    &--appearance{
      bottom: -3em;
    }

}
  
  .glide__bullet {
    background-color: $color-primary;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    line-height: 0;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.178);
    margin: 0 0.25em; 

    
    @include respond(phone) { //width <600
        display: none;
    }

}
    .glide__bullet:focus {
      outline: none; }
    .glide__bullet:hover, .glide__bullet:focus {
      border: 2px solid $color-primary-dark;
      background-color: $color-primary-dark; }
    .glide__bullet--active {
      background-color: $color-secondary }
  
  .glide--swipeable {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab; }
  
  .glide--dragging {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing; }

.glide__slides{
    align-items: stretch;
}

.glide__arrow {
  position: absolute;
  display: block;
  bottom: -8rem;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 1px;
  background-color: transparent;
  border: 2px solid $color-primary;
  border-radius: 50%;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
  transition: all .2s;
}
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    background-color: $color-primary-dark; }
  .glide__arrow--left {
    left: 35%; }
  .glide__arrow--right {
    right: 35%; }
  .glide__arrow--disabled {
    opacity: 0.33; }

  .glide__arrow-icon{
    height: 4rem;
    width: 4rem;
    fill: $color-primary-dark;
    transition: all .2s;

    &:hover{
      fill: white;
    }
  }
  
  