.row{

    &__grid-6{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include respond(small-screen) { //width <500
            width: 95%;
        }
    }

    &__grid-4{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        margin: 0 auto;

        @include respond(tab-port) { //width <900
            width: 95%;
        }
    }
        

    &__grid-3{
        width: 60%;
        display: flex;
        justify-content: space-between;
        

        @include respond(tab-land) { //width <1200
            width: 70%;
        }
        @include respond(tab-port) { //width <900
            width: 80%;
        }
        @include respond(small-screen) { //width <500
            width: 90%;
            flex-direction: column;
            align-items: center;
        }

        &--wrap{
            flex-wrap: wrap;
        }
        // @include respond(x-small-screen) { //width <400
        //     width: 70%;
        //     flex-direction: column;
        //     align-items: center;
        // }
    }

    &__grid-featured-books {
        width: 55%;
        max-width: 75rem;
        display: flex;
        justify-content: space-between;
        

        @include respond(tab-land) { //width <1200
            width: 70%;
        }
        @include respond(tab-port) { //width <900
            width: 80%;
        }
        @include respond(small-screen) { //width <500
            width: 90%;
            flex-direction: column;
            align-items: center;
        }

        &--wrap{
            flex-wrap: wrap;
        }
        // @include respond(x-small-screen) { //width <400
        //     width: 70%;
        //     flex-direction: column;
        //     align-items: center;
        // }
    }

    &__grid-2{
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        @include respond(tab-land) { //width <1200
            width: 90%;
        }
        @include respond(tab-port) { //width <500
            width: 80%;
            flex-direction: column;
            align-items: center;
        }
        @include respond(small-screen) { //width <500
            width: 96%;
        }
    }
    
    &__grid-3-fx{
        max-width: 110rem;
        padding: 3rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;

        @include respond(x-small-screen) { //width <400
            padding: 3rem 0;
        }
    }
    
    &__grid-flexible{
        padding: 3rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    
        @include respond(x-small-screen) { //width <400
            padding: 3rem 0;
        }
    }
}




.card-6{
    width: 15rem;
    margin: 3rem 2rem;
}

.card-4{
    width: 25rem;
    border-radius: 5px;
    margin: 3rem 1.2rem;

    @include respond(tab-land) { //width <1200
        width: 24rem;
    }
    
    @include respond(x-small-screen) { //width <400
        width: 29rem;
    }
}

.card-3{
    width: 30rem;
    margin-bottom: 3rem;
    &:not(:last-child) {
        margin-right: 1rem;
        @include respond(small-screen) { //width <500
            margin-right: 0;
        }
    }
    @include respond(small-screen) { //width <500
        width: 90%;
        max-width: 35rem;
    }
}

.card-2{
    width: 48%;
    margin-bottom: 3rem;
    @include respond(tab-land) { //width <1200
        width: 48%;
    }
    @include respond(tab-port) { //width <900
        width: 62rem;
        margin-bottom: 4rem;
    }
    @include respond(phone) { //width <600
        width: 90%;
    }
    @include respond(x-small-screen) { //width <400
        width: 95%;
    }
}