////////////////////////////////////
//****** Slide 1 *******//
////////////////////////////////////

.caption-container {

    color: $color-secondary-text;
    margin-top: 2rem;
    p {
        font-size: 1.8rem;
        @include respond(tab-land) {
            //width <1200
            font-size: 1.7rem;
        }
        @include respond(small-screen) {
            //width <500
            font-size: 1.5rem;
        }
    }
    
    a{
        color: inherit;
        font-size: 1.8rem;
        @include respond(tab-land) {
            //width <1200
            font-size: 1.7rem;
        }
        @include respond(small-screen) {
            //width <500
            font-size: 1.5rem;
        }
    }
}

.slide-1 {
    min-height: 92vh;
    display: flex;
    align-self: center;
    @include absCenter;

    &__hero-fig-container {
        display: flex;
        margin: 5rem auto 0 auto;
        position: relative;
    }

    &__image-container {
        height: 25rem;
        width: 46rem;
        position: relative;
        margin-right: -4rem;
        background-size: cover;
        border: 2rem solid #4d0b2e8e;
        background-repeat: no-repeat;

        @include respond(phone) {
            //width <600
            height: 24rem;
            width: 41rem;
        }
        @include respond(small-screen) {
            //width <500
            height: 16rem;
            width: 25rem;
            margin-right: -5.3rem;
        }

        @supports (-webkit-mask-image: url()) or (mask-image: url()) {
            background-image: none;
            border: none;
            margin-right: -9.3rem;
            &::before {
                content: "";
                height: 97%;
                width: 93%;
                top: -14px;
                left: 18px;
                position: absolute;
                transform: rotate(-4deg);
                mask-image: url(../images/slide-1-mask.png);
                -webkit-mask-image: url(../images/slide-1-mask.png);
                -webkit-mask-size: cover;
                mask-size: cover;
                background-size: cover;
                background-position: top;

                @include respond(phone) {
                    //width <600
                    height: 97%;
                    width: 94%;
                    top: -5px;
                    left: 10px;
                }
                @include respond(small-screen) {
                    //width 500
                    width: 95%;
                    top: -1px;
                    left: 7px;
                }
            }
            @include respond(small-screen) {
                //width <500
                margin-right: -5.3rem;
            }
        }
    }

    &__image-boundary {
        display: none;
    }

    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        &__image-boundary {
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    &__illustration {
        // height: 35rem;
        // width: 40rem;
        height: 29rem;
        width: 40rem;
        @include respond(tab-port) {
            //width <900
            height: 32rem;
            width: 35rem;
        }
        @include respond(phone) {
            //width <500
            height: 28rem;
            width: 31rem;
        }
        @include respond(small-screen) {
            //width <500
            height: 20rem;
            width: 23rem;
        }
    }

    &__button-play {
        top: 35%;
        left: 47%;
    }

    // Content Container
    &__content-container {
        display: flex;
        margin-bottom: 5.5rem;
        flex-direction: column;
        align-items: flex-start;
        width: 60%;
        justify-content: flex-start;

        @include respond(tab-land) {
            //width <1200
            width: 80%;
        }
        @include respond(small-screen) {
            //width <400
            margin-top: 3rem;
        }
    }

    &__title {
        margin-bottom: 2rem;
    }
}

////////////////////////////////////
//****** Slide 2 *******//
////////////////////////////////////
.slide-2 {
    display: flex;
    min-height: 92vh;
    align-self: center;
    @include respond(phone) {
        //width <600
        flex-direction: column;
        justify-content: center;
    }

    ///////////////////////////////
    ///// Image

    &__img-wrapper {
        flex: 0 0 40%;
        // background-color: dodgerblue;
        @include absCenter;
        margin: 10rem 0;
        @include respond(phone) {
            //width <600
            margin: 5rem 0;
        }
    }

    &__img-container {
        width: 25rem;
        position: relative;
        @include respond(phone) {
            //width <600
            width: 21rem;
        }
    }

    &__play-btn {
        top: 40%;
        right: 0;
    }

    &__btn-icon {
        fill: $color-primary-dark;
    }

    &__img-background {
        position: absolute;

        &--1 {
            background: url(../images/book_frame.png);
            background-size: cover;
            bottom: -58px;
            left: -10rem;
            width: 150%;
            height: 12rem;
            z-index: -1;

            @include respond(phone) {
                //width <600
                bottom: -28px;
                height: 10rem;
            }
        }

        &--2 {
            background: url(../images/book_frame-4.png);
            background-size: contain;
            bottom: -31px;
            right: -5rem;
            width: 14rem;
            height: 8rem;
            z-index: -1;

            @include respond(phone) {
                //width <600
                bottom: -16px;
                right: -3rem;
            }
        }

        &--3 {
            background: url(../images/book_frame-2.png);
            background-size: contain;
            top: -31px;
            left: -6rem;
            width: 12.6rem;
            height: 12.9rem;
            z-index: -1;
            @include respond(phone) {
                //width <600
                top: -15px;
                left: -5rem;
            }
        }

        &--4 {
            background: url(../images/book_frame-3.png);
            background-size: contain;
            top: -31px;
            right: -6rem;
            width: 12.6rem;
            height: 12.9rem;
            z-index: -1;
            @include respond(phone) {
                //width <600
                top: -23px;
            }
        }
    }

    ///////////////////////////////
    ///// Content

    &__content {
        @include absCenter;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 6rem;
        @include respond(phone) {
            //width <600
            margin-bottom: 3rem;
            padding: 0 4rem;
        }
    }

    &__author-name {
        text-transform: uppercase;
    }
}

////////////////////////////////////
//****** Slide 3 *******//
////////////////////////////////////
.slide-3 {
    display: flex;
    align-self: stretch;
    min-height: 92vh;
    flex: 1;
    position: relative;
    @include respond(phone) {
        //width <600
        flex-direction: column;
        justify-content: center;
    }

    &__curvy-bg--v {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 40%;
        overflow: hidden;

        @include respond(tab-port) {
            //width <900
            width: 45%;
        }
        @include respond(phone) {
            //width <600
            display: none;
        }
    }
    &__curvy-bg--h {
        display: none;
        position: absolute;
        z-index: -1;
        height: 30%;
        top: 0;
        width: 100%;

        @include respond(phone) {
            //width <900
            display: block;
        }
    }

    ///////////////////////////////
    ///// Image

    &__img-wrapper {
        flex: 0 0 40%;
        align-self: stretch;
        @include absCenter;
    }

    &__img-container {
        position: relative;
        background-image: url(../images/coffeeConnection.JPG);
        height: 26rem;
        width: 45rem;
        margin-right: -4rem;
        background-size: cover;
        border: 2rem solid #4d0b2e8e;
        background-repeat: no-repeat;

        @include respond(tab-land) {
            //width <1200
            height: 20rem;
            width: 35rem;
        }
        @include respond(phone) {
            //width <600
            height: 23rem;
            width: 40rem;
        }
        @include respond(small-screen) {
            //width <500
            height: 21rem;
            width: 35rem;
        }

        @supports (-webkit-mask-image: url()) or (mask-image: url()) {
            background-image: none;
            border: none;
            margin-right: -9.3rem;
            height: auto;
            width: auto;
            &::before {
                content: "";
                height: 61%;
                width: 77%;
                top: 8.4rem;
                left: 7.2rem;
                position: absolute;
                mask-image: url(../images/tvMask.png);
                background-image: url(../images/coffeeConnection.JPG);
                -webkit-mask-image: url(../images/tvMask.png);
                -webkit-mask-size: cover;
                background-size: cover;
                background-position: top;
                mask-size: cover;

                @include respond(phone) {
                    //width <600
                    height: 60%;
                    width: 85%;
                    top: 8.7rem;
                    left: 7.2rem;
                }
            }
            @include respond(tab-land) {
                //width <1200
                margin-right: 1px;
            }

            @include respond(phone) {
                //width <900
                width: 31rem;
            }

            @include respond(small-screen) {
                //width <500
                margin: 0 auto;
            }
        }
    }

    &__img {
        width: 35rem;
        height: 35rem;
        display: none;
        @supports (-webkit-mask-image: url()) or (mask-image: url()) {
            display: block;
        }
    }

    ///////////////////////////////
    ///// Content

    &__content {
        @include absCenter;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 6rem;

        @include respond(phone) {
            //width <600
            margin-bottom: 3rem;
            padding: 0 4rem;
            align-items: center;
            text-align: justify;
        }
    }

    &__author-name {
        text-transform: uppercase;
    }

    ///////////////////////
    // button play

    &__button-play {
        left: 25%;
        width: 20rem;
        top: 40%;
        color: #eeeeee;
    }
}

////////////////////////////////////
//****** Slide 4 *******//
////////////////////////////////////
.slide-4 {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

    &__author-name-container {
        width: 10rem;
        @include respond(phone) {
            //width <600
            margin: 0 auto;
        }
    }

    &__hero-container {
        display: flex;
        width: 115rem;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        -webkit-box-shadow: 3px 3px 11px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 3px 11px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 3px 11px -5px rgba(0, 0, 0, 0.75);

        @include respond(tab-land) {
            //width <1200
            width: 95rem;
        }
        @include respond(tab-port) {
            //width <600
            margin: 2rem auto;
            flex-direction: column;
            justify-content: center;
            width: 90%;
        }
    }

    &__img-container {
        flex: 0 0 35rem;
        display: flex;
        position: relative;
        height: 40rem;
        background-image: url(../images/slide-4-img-min.JPG);
        background-size: cover;
        background-position: center;

        @include respond(tab-port) {
            //width <900
            flex: 0 0 40rem;
            height: 40rem;
        }

        @supports (-webkit-mask-image: url()) or (mask-image: url()) {
            background-image: none;
            border: none;
            margin-right: -1rem;

            &::before {
                content: "";
                height: 52%;
                width: 67%;
                top: 12.2rem;
                left: 5.1rem;
                position: absolute;
                mask-image: url(../images/slide4Mask.png);
                background-image: url(../images/slide-4-img-min.JPG);
                -webkit-mask-image: url(../images/slide4Mask.png);
                -webkit-mask-size: cover;
                background-size: cover;
                background-position: top;
                mask-size: cover;

                @include respond(phone) {
                    //width <600
                    height: 52%;
                    width: 78%;
                    top: 12.7rem;
                    left: 5.2rem;
                }
            }

            @include respond(phone) {
                //width <900
                width: 31rem;
            }

            @include respond(small-screen) {
                //width <500
                margin: 0 auto;
            }
        }
    }

    &__frame {
        height: 100%;
        display: none;

        @supports (-webkit-mask-image: url()) or (mask-image: url()) {
            display: block;
        }
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 2rem 3rem;
        text-align: justify;
        justify-content: center;
        align-items: flex-start;

        @include respond(tab-port) {
            //width <900
            // padding: 0;
            order: 1;
            align-items: center;
        }
    }

    ////////// Play Btn ///////////

    &__button-play {
        left: 25%;
        width: 20rem;
        top: 55%;
        color: #eeeeee;
    }

    &__btn-icon {
        fill: #eee;
        width: 6rem;
        height: 6rem;
    }
}

////////////////////////////////////
//****** Slide 5 *******//
////////////////////////////////////
.slide-5 {
    display: flex;
    min-height: 92vh;
    align-items: center;
    justify-content: space-between;
    @include respond(phone) {
        //width <600
        flex-direction: column;
        justify-content: flex-start;
    }

    ///////////////////////////////
    ////// content

    &__content-container {
        flex: 0 0 55%;
        display: flex;
        @include respond(phone) {
            //width <600
            order: 1;
            margin-bottom: 2rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        width: 70%;
        @include respond(tab-land) {
            //width <1200
            width: 80%;
        }
        @include respond(phone) {
            //width <600
            align-items: center;
            justify-content: center;
        }
    }

    &__content-heading {
        margin-top: 4rem;

        @include respond(phone) {
            //width <600
            margin-top: 2rem;
        }
    }

    ///////////////////////////////
    ////// image

    &__img-wrapper {
        flex: 1;
        align-self: stretch;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        @include respond(phone) {
            //width <600
            height: 35rem;
            flex-direction: column;
            justify-content: flex-start;
            flex: 0 0 27rem;
        }
    }

    &__img-wrapper-hlf {
        background-color: $color-primary-dark;
        flex: 0 0 60%;
        height: 100%;
        @include respond(phone) {
            //width <600
            width: 100%;
        }
    }

    &__img-container {
        width: 40rem;
        height: 25rem;
        padding: 1.21rem;
        background-color: white;
        position: absolute;
        left: 40%;
        top: 50%;
        order: 1;
        transform: translate(-50%, -50%);
        border-radius: 30px 0px 30px 0px;
        -moz-border-radius: 30px 0px 30px 0px;
        -webkit-border-radius: 30px 0px 30px 0px;

        @include respond(tab-port) {
            //width <900
            width: 32rem;
            height: 21rem;
        }

        @include respond(phone) {
            left: 50%;
        }
    }

    &__img {
        border-radius: 30px 0px 30px 0px;
        -moz-border-radius: 30px 0px 30px 0px;
        -webkit-border-radius: 30px 0px 30px 0px;
    }

    ////////// Play Btn ///////////

    &__button-play {
        left: 25%;
        width: 20rem;
        top: 55%;
        color: #eeeeee;
    }

    &__btn-icon {
        fill: #eee;
        width: 6rem;
        height: 6rem;
    }
}
