.header-bar{

    &__logo-container{
        padding: 1rem 0;
    }

    &__logo{
        height: 7rem;
        @include respond(big-desktop) {
            height: 7rem;
        }
        @include respond(tab-port) { // width < 900 
            height: 5rem;
        }
        @include respond(small-screen) { // width < 500 
            height: 4rem;
        }
        transition: all .2s ease-in-out;
    }
    
    &__logo-anime{
        margin-left: 21rem;
        @include respond(tab-land) { // width < 1200 
            margin-left: 24rem; 
        }
        @include respond(phone) { // width < 600 
            margin-left: 26rem; 
        }
        @include respond(small-screen) { // width < 500 
            margin-left: 14rem;
        }
        @include respond(x-small-screen) { // width < 400 
            margin-left: 27rem;
        }
    }
    
    &__links-list{
        display: flex;
        align-self: stretch;
        

        @include respond(small-screen) { // width < 500 
            width: 100%;
            justify-content: space-between;  
            border-top: 1px solid $color-secondary;
            background-color: $color-secondary-light;
        }

    }

    &__link-box {
        list-style: none;
        display: flex;
        // padding: 1rem;
        transition: all .3s ease-out;
        padding: 0 2rem;
        @include respond(tab-port) { // width < 900 
            padding: 0 1rem;
        }
        @include respond(small-screen) { // width < 500 
            padding: 1rem 3px;
            flex: 1;  
            justify-content: center;
        }
        
        &:hover{
            background-color: $color-secondary;
        }
    }

    &__link-box:hover &__icon{
        fill: $color-white;
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        
    }

    &__icon{
        margin-right: .5rem;
        width: 2.5rem;
        height: 2.5rem;
        @include respond(phone) { // width < 600 
            width: 1.7rem;
        }
    }

////////////////////////////////////
//****** All texts *******//
////////////////////////////////////

    &__link-txt--sm{
        display: block;
        text-transform: capitalize;
        margin-bottom: -.5rem;
    }

    &__link{
        color: $color-primary;
        text-transform: uppercase;
        font-size: 1.7rem;
        
        @include respond(big-desktop) {
            font-size: 2rem;
        }
    }
    
    &__link-txt{
        @include respond(x-small-screen) {
          font-size: 1.4rem;
          font-weight: bold;
        }
      }
      
      &__link-txt--sm{
        font-size: 1.3rem;
        display: block;
        padding-bottom: 3px;
        letter-spacing: 1px;
        text-transform: capitalize;
        @include respond(x-small-screen) {
            font-size: 1.2rem;
            font-weight: 400;
        }
        @include respond(big-desktop) {
          font-size: 1.3rem !important;
        }
      }
}