.info-list{
    @include absCenter;
    width: 90%;
    margin: auto;

    li{
        list-style: none;
        display: flex;
        width: 100%;
        color: $color-primary-dark;
        margin-bottom: 1.5rem;
        overflow: hidden;
        justify-content: flex-start;
    }

    //-- Key styles
    &__key{
        text-transform: uppercase;
        font-size: 1.3rem;
        letter-spacing: 1px;
        font-weight: 600;
        flex: 0 0 40%;
    }
    
    &__value{
        flex: 1;
        padding-left: 1rem;
        font-size: 1.3rem;
        letter-spacing: 1px;
        text-transform: capitalize;
        overflow-x: auto;

        @include scrollBarHori;
    }
}

