.info{
    display: flex;
    padding: 1rem 2rem;
    background-color: #8a125338;
    border: 2px solid $color-primary-dark;
    border-radius: 1rem;
    margin: 0 1rem;

    &__msg{
        font-size: 1.8rem;
        color: $color-primary-dark;
    }

    &__btn{
        margin-left: 3rem;
        font-size: 1.6rem;
        padding: 0 1rem;
        background-color: inherit;
        border: 1px solid $color-primary-dark;
        color: $color-primary-dark;
        transition: all .2s;
        cursor: pointer;
        
        &:active{
            border: none;
        }
        &:focus{
            outline: none;
        }
    }
}