.page{
    display: flex;
    justify-content: flex-end;
    margin: 0 auto 8rem auto;
    width: 80%;
    @include respond(phone) { //width <600
        width: 100%;
        justify-content: center;
    }

    &__list{
        list-style: none;
        display: none;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
    }

    &__num{
        padding: 5px 1.2rem;
        font-size: $default-font-size;
        color: $color-primary;
        border-radius: 5px;
        order: 5;
        cursor: pointer;
        transition: all .2s;
        
        @include respond(x-small-screen) { //width <400
            padding: 5px .8rem;
        }

        &--active,
        &:hover{
            background-color: $color-primary;
            color: white;
        }
    }

    &__prev{
        order: 1;
    }
    &__next{
        order: 10;
    }
}