///////////////////////////////////////////
///-------- Popup messages ------///
/////////////////////////////////////////

.message {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    z-index: 100;
    top: 7rem;
    width: 100%;

    &__txt {
        min-width: 60%;
        padding: 1rem 3rem;
        text-align: center;
        font-size: $default-font-size;
        letter-spacing: 1px;
        color: white;
        text-transform: capitalize;

        &--error {
            background: rgb(194, 18, 18);
            background: linear-gradient(
                90deg,
                rgba(194, 18, 18, 0.03995101458552175) 0%,
                rgba(194, 18, 18, 0.7458333675266982) 20%,
                rgba(194, 18, 18, 0.8998949921765581) 40%,
                rgba(194, 18, 18, 0.8942927512801996) 60%,
                rgba(194, 18, 18, 0.7542367288712359) 80%,
                rgba(194, 18, 18, 0.03714989413734249) 100%
            );
        }

        &--success {
            background: rgb(255, 255, 255);
            background: -moz-linear-gradient(
                90deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(219, 119, 173, 1) 10%,
                rgba(203, 61, 138, 1) 20%,
                rgba(138, 18, 83, 1) 50%,
                rgba(203, 61, 138, 1) 80%,
                rgba(219, 119, 173, 1) 90%,
                rgba(255, 255, 255, 1) 100%
            );
            background: -webkit-linear-gradient(
                90deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(219, 119, 173, 1) 10%,
                rgba(203, 61, 138, 1) 20%,
                rgba(138, 18, 83, 1) 50%,
                rgba(203, 61, 138, 1) 80%,
                rgba(219, 119, 173, 1) 90%,
                rgba(255, 255, 255, 1) 100%
            );
            background: linear-gradient(
                90deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(219, 119, 173, 1) 10%,
                rgba(203, 61, 138, 1) 20%,
                rgba(138, 18, 83, 1) 50%,
                rgba(203, 61, 138, 1) 80%,
                rgba(219, 119, 173, 1) 90%,
                rgba(255, 255, 255, 1) 100%
            );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
        }
    }
}
