.popup {
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0rem;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 88888;
    display: none;

    transition: all 0.3s;

    &__active {
        display: flex;
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    ////////////////////////////////////////////////
    ///-------- Popup preview box ------///
    ////////////////////////////////////////////////

    &__preview-box {
        padding: 1.5rem;
        background-color: #eee;
        border-radius: 1rem;
        max-height: 70vh;
        width: 80rem;
        overflow-y: auto;
        display: none;
        @include scrollBarVer;

        @include respond(tab-port) {
            width: 80%;
        }
        @include respond(phone) {
            width: 90%;
            max-height: 85vh;
        }
    }

    &__email-subject {
        font-size: $default-font-size;
    }

    &__email {
        margin: 2rem 0;

        p {
            font-size: 1.3rem;
            line-height: 1.9rem;
            letter-spacing: 1px;
            font-weight: 400;
            color: $color-primary-dark;
        }
    }

    ////////////////////////////////////////////////
    ///-------- Guestpert email change ------///
    ////////////////////////////////////////////////

    &__change-email,
    &__change-phone {
        z-index: 99999;
        padding: 0.7rem 3rem;
        border-radius: 1rem;
        background-color: $color-secondary-light;
        width: 60rem;
        display: none;
    }

    ////------- popup message
    &__msg {
        color: $color-primary-dark;
        font-size: 1.4rem;
        text-align: center;
        display: none;
    }

    ////------- Email + verify-btn

    &__input-verify-btn-container {
        display: flex;
    }

    &__email-input,
    &__phone-input {
        width: 100%;
        margin-right: -7.4rem;
    }

    &__verify-button {
        padding: 0 2rem;
        border: none;
        border-radius: 0px 7px 7px 0px;
        -moz-border-radius: 0px 7px 7px 0px;
        -webkit-border-radius: 0px 7px 7px 0px;
        border: 0px solid #000000;
        background-color: $color-primary-dark;
        color: white;
        text-transform: capitalize;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    ////------- Verification Input box
    &__verification-input {
        width: 10.6rem;
        padding: 1rem;
        letter-spacing: 0.5rem;
        display: none;

        &::placeholder {
            font-size: 1.1rem;
            letter-spacing: 1px;
        }
    }

    ////------- Buttons box
    &__new-email-btns {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }

    ////////////////////////////////////////////////
    ///-------- profile pic change ------///
    ////////////////////////////////////////////////

    &__change-profile-picture {
        @include absCenter;
        z-index: 99999;
        padding: 3rem;
        border-radius: 1rem;
        background-color: $color-secondary-light;
        display: none;
    }

    /////---- image and input file box
    &__change-image-container {
        display: flex;
        align-items: center;
    }

    /////---- input file and label
    &__input-img {
        display: none;
    }
    &__input-lebel {
        display: inline-block;
        padding: 1rem 2rem;
        background-color: $color-primary-transparent;
        color: white;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-size: 1.2rem;
        border-radius: 0.5rem;
        cursor: pointer;
        margin-left: 5rem;
    }

    /////---- Guestpert image container
    &__change-img {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        overflow: hidden;
        background-color: $color-primary-dark;
    }

    /////---- buttons box
    &__change-btns-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 2rem;
    }

    ////////////////////////////////////////////////
    ///-------- Should I Delete box ------///
    ////////////////////////////////////////////////

    &__del-box {
        display: none;
        background-color: $color-secondary-light;
        // width: 30rem;
        border-radius: 1rem;
        padding: 2rem 1rem;

        form {
            width: 100%;
        }
    }

    &__del-btns {
        display: flex;
        justify-content: space-between;
    }

    ///////////////////////////////////////////
    ///-------- SubAdmin Details Box ------///
    /////////////////////////////////////////

    &__users-info {
        background-color: #fbfbfb;
        border-radius: 5px;
        padding: 1rem 3rem;
        display: none;
        width: 50rem;
        max-width: 95%;
        max-height: 80vh;
        overflow: auto;
        @include scrollBarVer;
    }

    &__users-img {
        height: 15rem;
        width: 15rem;
        padding: 4px;
        border-radius: 50%;
        background-color: $color-primary-dark;
        margin: 0 auto;

        img {
            border-radius: 50%;
        }
    }

    &__all-details {
        max-width: 50rem;
        @include absCenter;
        align-items: stretch;

        li {
            display: flex;
            margin: 1rem 0;
            color: $color-primary-dark;
            overflow-x: auto;
            @include scrollBarHori;

            @include respond(phone) {
                //width <500
                flex-direction: column;
                margin: 1.5rem 0;
            }
        }

        .all-details__key {
            flex: 0 0 14rem;
            // width: 14rem;
            font-size: 1.4rem;
            letter-spacing: 1px;
            font-weight: 700;
            text-transform: uppercase;
            @include respond(phone) {
                //width <500
                font-weight: 600;
                font-size: 1.8rem;
                width: 100%;
                flex: 0;
            }
        }

        .all-details__value {
            flex: 1;
            font-size: 1.3rem;
            letter-spacing: 1px;
            @include respond(phone) {
                //width <500
                font-size: 1.6rem;
            }
        }
    }
}

///////////////////////////////////////////
///-------- Popup messages ------///
/////////////////////////////////////////

.message {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    z-index: 90000;
    top: 7rem;
    width: 100%;

    &__txt {
        min-width: 60%;
        padding: 1rem 3rem;
        text-align: center;
        font-size: $default-font-size;
        letter-spacing: 1px;
        color: white;
        text-transform: capitalize;

        &--error {
            background: rgb(194, 18, 18);
            background: linear-gradient(
                90deg,
                rgba(194, 18, 18, 0.03995101458552175) 0%,
                rgba(194, 18, 18, 0.7458333675266982) 20%,
                rgba(194, 18, 18, 0.8998949921765581) 40%,
                rgba(194, 18, 18, 0.8942927512801996) 60%,
                rgba(194, 18, 18, 0.7542367288712359) 80%,
                rgba(194, 18, 18, 0.03714989413734249) 100%
            );
        }

        &--success {
            background: rgb(255, 255, 255);
            background: -moz-linear-gradient(
                90deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(219, 119, 173, 1) 10%,
                rgba(203, 61, 138, 1) 20%,
                rgba(138, 18, 83, 1) 50%,
                rgba(203, 61, 138, 1) 80%,
                rgba(219, 119, 173, 1) 90%,
                rgba(255, 255, 255, 1) 100%
            );
            background: -webkit-linear-gradient(
                90deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(219, 119, 173, 1) 10%,
                rgba(203, 61, 138, 1) 20%,
                rgba(138, 18, 83, 1) 50%,
                rgba(203, 61, 138, 1) 80%,
                rgba(219, 119, 173, 1) 90%,
                rgba(255, 255, 255, 1) 100%
            );
            background: linear-gradient(
                90deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(219, 119, 173, 1) 10%,
                rgba(203, 61, 138, 1) 20%,
                rgba(138, 18, 83, 1) 50%,
                rgba(203, 61, 138, 1) 80%,
                rgba(219, 119, 173, 1) 90%,
                rgba(255, 255, 255, 1) 100%
            );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
        }
    }
}
