.popup{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0rem;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 88888;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__active{
        opacity: 1;
        visibility: visible;
    }

    &:target{
        opacity: 1;
        visibility: visible;
    }

    //////////////////////////////////////////
    ////// Close on click outside
    &__close{
        height: 100vh;
        width: 100%;
        background-color: transparent;
        position: absolute;
    }

    //////////////////////////////////////////
    ////// Close icon
    &__close-icon-container{
        // background-color: tomato;
        height: 6rem;
        width: 6rem;
        position: absolute;
        overflow: hidden;
        top: 0;
        right: 0;
    }
    &__close--icon{
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        position: absolute;
        top: -67%;
        left: 0;
        border: 3px solid $color-grey-dark-2;
        z-index: 999999;
        transition: all.2s;

        &:hover  &::before{
            transform: rotate(225deg);
        }
        &:hover &::after{
            transform: rotate(225deg);
        }

        &::before{
            content: "";
            height: 3px;
            width: 3rem;
            background-color: $color-grey-dark-2;
            position: absolute;
            top: 65%;
            left: 35%;
            transform: translate(-50%, -50%) rotate(45deg);
            
            
        }
        &::after{
            content: "";
            height: 3px;
            width: 3rem;
            background-color: $color-grey-dark-2;
            position: absolute;
            top: 65%;
            left: 35%;
            transform: translate(-50%, -50%) rotate(-45deg);
            
        }
    }

    //////////////////////////////////////////
    ///// Content divisions
    &__content-wrapper{
        background-color: white;
        width: 115rem;
        // max-height: 70vh;

        @include respond(tab-land) { //width <1200
            width: 90%;
            
        }
        @include respond(phone) { //width <600
            
        }
    }
    
    &__content {
        padding: 4rem;
        width: 100%;
        max-height: 70vh;
        z-index: 99999;
        background: url(../images/bg-lat.png), bottom;
        background-size: auto;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        display: flex;
        align-items: flex-start;
        transition: overflow 5s;
        @include scrollBarVer;
        
        @include respond(tab-land) { //width <1200
            padding: 4rem 2rem;  
        }
        @include respond(phone) { //width <600
            display: block;
            max-height: 85vh;
        }
        @include respond(small-screen) { //width <400
            padding: 2rem;
        }
    }

    ////////////////////////////////////
    /////// Text box////////////
    ////////////////////////////////////

    &__content-txt{
        display: table;
        @include respond(phone) { //width <600
           @include absCenter;
        }

        p{
            padding-right: 1rem;
            font-size: 1.6rem;
            color: $color-primary-dark;
            letter-spacing: 1px;
            text-align: justify;
            @include respond(phone) { //width <600
            padding: 0;
            }
        }

        h2{
            padding-right: 5rem;
            font-size: 3.5rem;
            line-height: 3.5rem;
            text-align: left;
            text-transform: uppercase;
            font-weight: 300;
            display: inline-block;
            letter-spacing: 1px;
            color: $color-primary;
            transition: all 0.2s;

            &:hover{
                transform: scale(1.1);
                text-shadow: 5px 7px 8px $color-grey-dark;
            }
        }

        h3{
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 2.5rem;
            color: $color-primary-dark;
            text-transform: capitalize;
        }

        img{
            height: 20rem;
            width: 32rem; 
        }
    }
    
    &__content-sm{
        font-size: 1.4rem;
        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2 ;
        
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2 ;

        @include respond(tab-port) { //width <1200
        -moz-column-count: 1;
        -moz-column-gap: 4rem;
        -moz-column-rule: none ;
        
        column-count: 1;
        column-gap: 4rem;
        column-rule: none ;  
        }
        
    }

    

    //////////////////////////////////////////
    ///// Image

    &__person-img-wrapper{
        flex: 0 0 20rem;
        @include respond(tab-land) { //width <1200
            flex: 0 0 15rem;
        }
        @include respond(phone) { //width <1200
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 3rem;
        }

    }

    &__person-img-container{
        border-radius: 50%;
        width: 20rem;
        height: 20rem;
        border: 1rem solid $color-secondary-dark;
        margin-right: 3rem;
        @include respond(tab-land) { //width <1200
            width: 15rem;
            height: 15rem;
        }
        @include respond(phone) { //width <600
            width: 20rem;
            height: 20rem;
            
        }
        
    }
    &__person-img{
        border-radius: 50%;
    }

    ////////////////////////////////////////////////
    ///-------- popup Youtube video ---------///
    ////////////////////////////////////////////////

    &__video-container{
        display: flex;
        justify-content: center;
        z-index: 99999;
        padding: 3rem;
        background-color: $color-secondary-light;
        @include respond(phone) { //width <600 
            padding: 1.8rem;
        }
    }
    iframe{
        height: 35rem;
        width: 63rem;

        @include respond(tab-port) { //width <900
            height: 32rem;
            width: 58rem;
        }
        @include respond(phone) { //width <600
            height: 28rem;
            width: 54rem;
        }
        @include respond(small-screen) { //width <500
            height: 24rem;
            width: 43rem;
        }
        @include respond(x-small-screen) { //width <500
            height: 21rem;
            width: 37rem;
        }
    }

}