    
.ribon{
    display: flex;
    justify-content: center; 
    padding: 3rem 0;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/tvg_ribon.png);
    background-size: cover;
    background-position-x: center;

    &__content{
        width: 60%;

        @include respond(tab-port) { //width <1200
            width: 82% ;
        }
    }

}