.side-nav{
    font-size: $default-font-size;
    font-weight: 400;
    list-style: none;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    background-color: white;
    height: 100vh;
    width: 28rem;
    overflow-y: auto;
    overflow-x: hidden;
    width: 0;
    transition: all .2s;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    @include scrollBarVer ;
    
    @media only screen and (max-width: small-scree){
        font-size: 1.8rem;
    }

    &__active{
        width: 27.5rem;
        @media only screen and (max-width: small-screen){
            width: 30rem;
        }
    }
    
    
    &__item {
        position: relative;
        @media only screen and (max-width: tab-port){
            flex: 1;
        }

        &:not(:last-child){
            margin-bottom: .5rem;
            @media only screen and (max-width: tab-port){
                margin: 0;
            }
        }
    }
    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: $color-tertiary;
        transform: scaleY(0);
        transition: transform .1s , width .3s cubic-bezier(1, 0 , 0, 1).2s , backgrould-color .1s ;
        transform-origin: bottom;
    }
    
    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }
    
    &__item--active::before{
        background-color: #eee;
    }

    &__link:link,
    &__link:visited {
        padding: 1.5rem 3rem;
        position: relative;
        color: $color-primary-dark;
        text-decoration: none;
        text-transform: capitalize;
        letter-spacing: 1px;
        z-index: 10;
        
        display: flex;
        align-items: center;

        @media only screen and (max-width: tab-port){
            justify-content: center;
        }

        @media only screen and (max-width: phone){
            flex-direction: column;
            justify-content: center;
            padding: 1.5rem .5rem; 
        }
        
    }
    
    &__icon {
        height: 1.75rem;
        width: 1.75rem;
        fill: currentColor;
        margin-right: 2rem;
        @media only screen and (max-width: phone){
            margin-right: 0;
            margin-bottom: 7px;
            width: 1.5rem;
            height: 1.5rem;

        }
    }
}

.hamburger-menu{
    background-color: $color-primary-dark;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba($color-black, .5);
    cursor: pointer;
    @include absCenter;
    transition: all .2s;
    border: none;
    position: fixed;
    top: 9.5rem;
    left: 11.11rem;
    transition: opacity .2s, transform .2s, box-shadow .2s;
    opacity: 0;
    display: none;
    z-index: 1;
    
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .5);
    }
    
    &:active{
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba($color-black, .7);
    }

    &:focus{
        outline: none;
    }

    &__icon{
        height: 3rem;
        width: 3rem;
    }

}