.spinner-box {
    height: 50vh;
    background-color: white;
    @include absCenter;
}

.spinner-box--large{
    height: 100vh;
    width: 100%;
    @include absCenter;
    z-index: 20;
    position: fixed;
    top: 0;
    background-color: rgba(19, 19, 19, 0.877);
}

#loading {
    margin: 1rem;
    display: inline-block;
    width: 9rem;
    height: 9rem;
    border: 5px solid $color-primary-light;
    border-radius: 50%;
    border-top-color: $color-primary;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

#loading--white{
    margin: 1rem;
    display: inline-block;
    width: 9rem;
    height: 9rem;
    border: 5px solid rgba(255, 255, 255, 0.24);
    border-radius: 50%;
    border-top-color: white;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
