input[type="checkbox"] {
    width: 100%;
    height: 100%;
    opacity: 0;
    // cursor: pointer;
}
label {
    position: relative;
    width: 2.5rem;
    height: 3.7rem;
    display: inline-block;

    @include respond(tab-port){
        height: 4rem;
    }
    @include respond(phone){
        height: 4.5rem;
        width: 2rem;
    }
    @include respond(x-small-screen){
        width: 1.4rem;
    }
}
.check::before,
.rated::after {
    content: "\2605";
    font-size: 3rem;
    position: absolute;
    color: #777;
    left: 0;
    bottom: 0;
    line-height: 50px;

    @include respond(x-small-screen){
        font-size: 2rem;
    }
}
.rated::after {
    color: orange;
    // cursor: pointer;
}
// .check:hover::before {
//     color: orange;
// }
