.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
            
    &:nth-of-type(odd){
        .card__person-photo-container{
            order: -1;
        }
        background-color: $color-tertiary;
    }
    
    &:nth-of-type(even){
        .card__person-photo-container{
            order: 10;
            
            @include respond(phone) { //width <600
                order: 0;
            }
        }
    }

    &__person-wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5rem 2rem;
        width: 100%;
        
        @include respond(phone) { //width <600
            flex-direction: column;
        }
        
    }


    ////////////////////////////////
    //--- Image of the person ---//
    ////////////////////////////////

    &__person-photo-container{
        height: auto;
        width: 20%;
        border: 1px solid $color-primary;
        border-radius: 0px 20px 0px 20px;
        -moz-border-radius: 0px 20px 0px 20px;
        -webkit-border-radius: 0px 20px 0px 20px;

        @include respond(tab-land) { //width <1200
            width: 25%;
        }
        @include respond(tab-port) { //width <900
            width: 30%;
        }
        @include respond(phone) { //width <600
            margin-bottom: 3rem;
            width: 45%;
        }
        @include respond(x-small-screen) { //width <400
            width: 50%;
        }
    }
    
    &__person-photo{
        transform: translateX(1rem) translateY(1rem);
        border-radius: 0px 20px 0px 20px;
        -moz-border-radius: 0px 20px 0px 20px;
        -webkit-border-radius: 0px 20px 0px 20px;
    }
    

    ///////////////////////////
    // --- Content part --- //
    ///////////////////////////

    &__person-content{
        position: relative;
        width: 50%;
        @include respond(tab-port) { //width <1200
            width: 55%;
        }
        @include respond(phone) { //width <600
            width: 80%;
            order: 1;
        }
    }

    ///////////////////////////////
    ///// Marker and tvg logo //////
    //////////////////////////////

    &__marker{
        width: 40%;
        padding: .5rem;
        color: white;
        font-size: 1.6rem;
        letter-spacing: 1px;
        text-align: center;

        @include respond(tab-land) { //width <1200
            width: 50%;
        }
        @include respond(tab-port) { //width <900
            width: 70%;
        }
        @include respond(small-screen) { //width <500
            width: 80%;
        }

        &--standard{
            background: $background-standard-1;
        }
        &--elite{
            background: $background-elite-1;
        }
        &--platinum{
            background: $background-platinum-1
        }
    }

    &__premium-logo{
        position: absolute;
        height: 5rem;
        bottom: 0;
        right: 0;
    }
}