.header-bar{
    display: flex;
    justify-content: space-between;
    padding: 0 8rem;
    align-items: center;
    border-bottom: 1px solid $color-secondary-dark;
    
    @include respond(tab-land) { //width <1200
        padding: 0 5rem;
    }
    @include respond(tab-port) { // width < 900 
        padding: 0 4rem;
    }
    @include respond(phone) { // width < 600 
        padding: 0 2rem;
    }
    @include respond(small-screen) { // width < 500 
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}