.navigation{
    &__checkbox {
        display: none;
    }

    &__btn{
        background-color: $color-secondary-light;
        @include absCenter;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 12rem;
        left: 6rem;
        border-radius: 50%;
        z-index: 88888;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;

        @include respond(phone) { //width <600
            top: 14.5rem;
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        display: inline-block;
        top:12.5rem;
        left: 6.5rem;
        background-image:radial-gradient($color-primary, $color-primary-dark);
        z-index: 1000;
        transition: all .4s cubic-bezier(.86, 0, 0.07, 1);

        @include respond(phone) { //width <600
            top: 15rem;
        }
    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1500;
        @include absCenter;
        opacity: 0;
        transition: all .4s cubic-bezier(.86, 0, 0.07, 1);
        // width: 0;
    }

    &__list {
        list-style: none;
        text-align: center;
        max-height: 90vh;
        overflow-y: auto;
        overflow-x: hidden;
        @include scrollBarVer;
}


    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 2.3rem;
            padding:  4px 2rem;
            font-weight: 300; 
            color: $color-white;
            word-spacing: 3px;
            text-transform: uppercase;
            text-decoration: none;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 250%;
            transition: all .4s;

            span {
                margin-right: 1rem;
                display: inline-block;
            }
        } 
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }

        

    }

    //FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }
    
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        z-index: 1500;
    }


    //ICON
    &__icon {
        position: relative;
        @include absCenter;

        &-line-up,
        &-line-middle,
        &-line-down {
            width: 3rem;
            height: 4px;
            border-radius: 10%;
            background-color: $color-primary-dark;
            display: inline-block;
        }

        &-line-up,
        &-line-down{
            position: absolute;
            left: 0;
            border-radius: 20%;
            transition: all .2s;

        }
        &-line-up{
            top: -8px;
        }
        &-line-down {
            top: 8px;
        }
    }

    &__btn:hover &__icon-line-up{
        top: -1rem;
    }
    &__btn:hover &__icon-line-down{
        top: 1rem;
    }

    &__checkbox:checked + &__btn &__icon-line-middle {
        background-color: transparent;
    } 
    &__checkbox:checked + &__btn &__icon-line-up {
        top: 0;
        transform: rotate(135deg) ;
    } 
    &__checkbox:checked + &__btn &__icon-line-down {
        top: 0;
        transform: rotate(-135deg);
    } 
}