<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Company Tags</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo" id="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar" id="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>

    <button class="hamburger-menu hamburger-btn" id="hamburger-menu">
        <svg class="hamburger-menu__icon">
            <use xlink:href="#hamburger menu"></use>
        </svg>
    </button>

    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->

    <nav class="sidebar">
        <ul class="side-nav" id="sidebar">
            <li class="side-nav__item">
                <a href="#home" class="side-nav__link">
                    <span>Manage Admin</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Manage Settings</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Manage Pages</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Manage Newsletter</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Manage Tags</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Manage Users</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Manage Membership</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Jaquie's Info</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Products</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Orders</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Testimonials</span>
                </a>
            </li>
        </ul>
    </nav>

    <section class="edit ">        
        <!-- ----- Personal Info ------ -->
        
        <form action="#" method="POST" class="edit__form-container u-mar-t-3">

            <h2 class="heading-secondary u-center-text edit__form-heading u-mar-t-2 u-mar-b-3">company Tags</h2>

            <!-- ------ General Settings other emails box ------ -->
            <div class="form__group--settings companyTags__box">
                <div class="u-mar-t-1">
                    <label for="kal65xc4" class="form__label">
                        <span class="form__label--caps">Tag</span>
                    </label>
                    <div class="edit__input-plus-btn">
                        <input type="text" class="form__control edit__change-inputs" id="kal65xc4" required>
                        <div class="edit__btn-change btn_remove">Remove</div>
                    </div>
                </div>
                
                <div class="button__primary u-high-order u-mar-t-2" id="btn-newTag">Add new Tag</div>
            </div>

            <!-- ------ Other emails box ------ -->

            <div class="edit__form-button-container u-mar-t-3">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>
        </form>


        
        <form action="#" method="POST" class="edit__form-container u-mar-t-3">
            <h2 class="heading-secondary u-center-text edit__form-heading u-mar-t-2 u-mar-b-3">upcoming appearences</h2>

            <div class="form__group--settings set-upcomingAppearances-tags">
                <div class="u-mar-t-1">
                    <label for="kapc5kdo" class="form__label">
                        <span class="form__label--caps">Guestpert</span>
                    </label>
                    <div class="edit__input-plus-btn">
                        <input type="text" class="form__control edit__change-inputs" id="kapc5kdo" required>
                        <div class="edit__btn-change btn_remove">Remove</div>
                    </div>
                </div>
                
                <div class="button__primary u-high-order u-mar-t-2" id="btn-newUpcomingAppearance">Add new appearance</div>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>


        <form action="#" method="POST" class="edit__form-container u-mar-t-3">
            <h2 class="heading-secondary u-center-text edit__form-heading u-mar-t-2 u-mar-b-3">hot topics</h2>

            <div class="form__group--settings setHotTopicsTags">
                <div class="u-mar-t-1">
                    <label for="kapcgyza" class="form__label">
                        <span class="form__label--caps">Hot Topic</span>
                    </label>
                    <div class="edit__input-plus-btn">
                        <input type="text" name="hotTopicTag" class="form__control edit__change-inputs" id="kapcgyza" required>
                        <div class="edit__btn-change btn_remove">Remove</div>
                    </div>
                </div>
                
                <div class="button__primary u-high-order u-mar-t-2" id="btn-newHotTopic">Add new HotTopic</div>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>
    </section>
</body>
</html>