<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo" id="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar" id="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>

    <button class="hamburger-menu hamburger-btn" id="hamburger-menu">
        <svg class="hamburger-menu__icon">
            <use xlink:href="#hamburger menu"></use>
        </svg>
    </button>

    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->

    <nav class="sidebar">
        <ul class="side-nav" id="sidebar">
            <li class="side-nav__item">
                <a href="#home" class="side-nav__link">
                    <span>Manage Admin</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Manage Settings</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Manage Pages</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Manage Newsletter</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Manage Tags</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Manage Users</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Manage Membership</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Jaquie's Info</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Products</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Orders</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="#" class="side-nav__link">
                    <span>Testimonials</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->

    <section class="dashboard">
        <h1 class="heading-secondary u-mar-b-6 u-center-text text-bold-1">Welcome to admin pannel</h1>

        <table class="dashboard__shortcut">
            <tr>
                <th>
                    <a href="#" class="dashboard__shortcut-link">
                        <svg class="dashboard__icon">
                            <use xlink:href="#icon_newsletter"></use>
                        </svg>
                        Manage Newsletter
                    </a>
                </th>
                <th>
                    <a href="#" class="dashboard__shortcut-link">
                        <svg class="dashboard__icon">
                            <use xlink:href="#icon_HomePage"></use>
                        </svg>
                        Edit Home page
                    </a>
                </th>
                <th>
                    <a href="#" class="dashboard__shortcut-link">
                        <svg class="dashboard__icon">
                            <use xlink:href="#icon_product"></use>
                        </svg>
                        products
                    </a>
                </th>
            </tr>
            <tr>
                <th>
                    <a href="#" class="dashboard__shortcut-link">
                        <svg class="dashboard__icon">
                            <use xlink:href="#icon_Users"></use>
                        </svg>
                        Users
                    </a>
                </th>
                <th>
                    <a href="#" class="dashboard__shortcut-link">
                        <svg class="dashboard__icon">
                            <use xlink:href="#icon_order"></use>
                        </svg>
                        Orders
                    </a>
                </th>
                <th>
                    <a href="#" class="dashboard__shortcut-link">
                        <svg class="dashboard__icon">
                            <use xlink:href="#icon_info"></use>
                        </svg>
                        Jaquie's Info
                    </a>
                </th>
            </tr>
        </table>

    </section>
</body>
</html>