<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Settings</title>
</head>

<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->

    <section class="email-template">
        <div class="email-template__show-btns">
            <button class="button__primary btn-createNew">create new</button>
        </div>

        <div class="row__grid-4 u-mar-b-5 u-mar-t-5">
            <div href="#" class="card-4 email-template__cards">
                <div class="email-template__heading">
                    <div class="email-template__icon-container">
                        <svg class="email-template__icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </div>
                </div>
                <div class="email-template__content">
                    <p class="paragraph-tertiary color-txt-dark u-center-text">New Contact Request To Admin</p>
                    <ul class="info-list u-mar-t-3">
                        <li>
                            <p class="info-list__key">segment</p>
                            <p class="info-list__value">frontend</p>
                        </li>
                        <li>
                            <p class="info-list__key">created</p>
                            <p class="info-list__value">11 Sept 2017</p>
                        </li>
                        <li>
                            <p class="info-list__key">modified</p>
                            <p class="info-list__value">11 Sept 2017</p>
                        </li>
                    </ul>
                    <div class="email-template__btns u-mar-t-1">
                        <button class="button__primary edit-email" data-id="objId1">Edit</button>
                    </div>
                </div>
            </div>
            <div href="#" class="card-4 email-template__cards">
                <div class="email-template__heading">
                    <div class="email-template__icon-container">
                        <svg class="email-template__icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </div>
                </div>
                <div class="email-template__content">
                    <p class="paragraph-tertiary color-txt-dark u-center-text">New Contact Request To Admin</p>
                    <ul class="info-list u-mar-t-3">
                        <li>
                            <p class="info-list__key">segment</p>
                            <p class="info-list__value">frontend</p>
                        </li>
                        <li>
                            <p class="info-list__key">created</p>
                            <p class="info-list__value">11 Sept 2017</p>
                        </li>
                        <li>
                            <p class="info-list__key">modified</p>
                            <p class="info-list__value">11 Sept 2017</p>
                        </li>
                    </ul>
                    <div class="email-template__btns u-mar-t-1">
                        <button class="button__primary edit-email" data-id="objId1">Edit</button>
                    </div>
                </div>
            </div>
            <div href="#" class="card-4 email-template__cards">
                <div class="email-template__heading">
                    <div class="email-template__icon-container">
                        <svg class="email-template__icon">
                            <use xlink:href="#envelope"></use>
                        </svg>
                    </div>
                </div>
                <div class="email-template__content">
                    <p class="paragraph-tertiary color-txt-dark u-center-text">New Contact Request To Admin</p>
                    <ul class="info-list u-mar-t-3">
                        <li>
                            <p class="info-list__key">segment</p>
                            <p class="info-list__value">frontend</p>
                        </li>
                        <li>
                            <p class="info-list__key">created</p>
                            <p class="info-list__value">11 Sept 2017</p>
                        </li>
                        <li>
                            <p class="info-list__key">modified</p>
                            <p class="info-list__value">11 Sept 2017</p>
                        </li>
                    </ul>
                    <div class="email-template__btns u-mar-t-1">
                        <button class="button__primary edit-email" data-id="objId1">Edit</button>
                    </div>
                </div>
            </div>
            <div href="#" class="card-4 email-template__cards">
                <div class="email-template__heading">
                    <div class="email-template__icon-container">
                        <svg class="email-template__icon">
                            <use xlink:href="#envelope"></use>
                        </svg>
                    </div>
                </div>
                <div class="email-template__content">
                    <p class="paragraph-tertiary color-txt-dark u-center-text">New Contact Request To Admin</p>
                    <ul class="info-list u-mar-t-3">
                        <li>
                            <p class="info-list__key">segment</p>
                            <p class="info-list__value">frontend</p>
                        </li>
                        <li>
                            <p class="info-list__key">created</p>
                            <p class="info-list__value">11 Sept 2017</p>
                        </li>
                        <li>
                            <p class="info-list__key">modified</p>
                            <p class="info-list__value">11 Sept 2017</p>
                        </li>
                    </ul>
                    <div class="email-template__btns u-mar-t-1">
                        <button class="button__primary edit-email" data-id="objId1">Edit</button>
                    </div>
                </div>
            </div>
            <div href="#" class="card-4 email-template__cards">
                <div class="email-template__heading">
                    <div class="email-template__icon-container">
                        <svg class="email-template__icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </div>
                </div>
                <div class="email-template__content">
                    <p class="paragraph-tertiary color-txt-dark u-center-text">New Contact Request To Admin</p>
                    <ul class="info-list u-mar-t-3">
                        <li>
                            <p class="info-list__key">segment</p>
                            <p class="info-list__value">frontend</p>
                        </li>
                        <li>
                            <p class="info-list__key">created</p>
                            <p class="info-list__value">11 Sept 2017</p>
                        </li>
                        <li>
                            <p class="info-list__key">modified</p>
                            <p class="info-list__value">11 Sept 2017</p>
                        </li>
                    </ul>
                    <div class="email-template__btns u-mar-t-1">
                        <button class="button__primary edit-email" data-id="objId1">Edit</button>
                    </div>
                </div>
            </div>
            <div href="#" class="card-4 email-template__cards">
                <div class="email-template__heading">
                    <div class="email-template__icon-container">
                        <svg class="email-template__icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </div>
                </div>
                <div class="email-template__content">
                    <p class="paragraph-tertiary color-txt-dark u-center-text">New Contact Request To Admin</p>
                    <ul class="info-list u-mar-t-3">
                        <li>
                            <p class="info-list__key">segment</p>
                            <p class="info-list__value">frontend</p>
                        </li>
                        <li>
                            <p class="info-list__key">created</p>
                            <p class="info-list__value">11 Sept 2017</p>
                        </li>
                        <li>
                            <p class="info-list__key">modified</p>
                            <p class="info-list__value">11 Sept 2017</p>
                        </li>
                    </ul>
                    <div class="email-template__btns u-mar-t-1">
                        <button class="button__primary edit-email" data-id="objId1">Edit</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- /////////////////////////////////////// -->
        <!-- ///--- Page Numbers ---/// -->
        <!-- /////////////////////////////////////// -->
        <div class="page">
            <ul class="page__list" id="page__list">
            </ul>
        </div>

    </section>


    <!-- Spinner animation -->
    <section id="animations"></section>





    <!-- /////////////////////////////////////// -->
    <!-- ///--- Edit Sub Admin form ---/// -->
    <!-- /////////////////////////////////////// -->

    <section class="edit edit__none" id="editSection">
        <div class="email-template__show-btns u-mar-t-1 u-mar-b-4">
            <button class="button__primary edit__show-cards">Show Emails</button>
        </div>

        <!-- ---- Form Header ---- -->
        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create Template</h2>

        <!-- ----- Personal Info ------ -->

        <form action="#" method="POST" class="edit__form-container u-mar-t-3">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Personal Details</p>


            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="inp-category" class="form__label">
                    <span class="form__label--caps">Segment</span>
                </label>
                <div class="custom-select-wrapper" id="custom-options-wrapper">
                    <div class="custom-select">
                        <div class="custom-select__trigger"><span>Select a Category</span>
                            <div class="arrow"></div>
                        </div>
                        <div class="custom-options">
                            <span class="custom-option" data-key="frontend">Frontend</span>
                            <span class="custom-option" data-key="backend">Backend</span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="segment" id="inp-category">
            </div>

            <div class="form__group--settings">
                <label for="emailSubject" class="form__label">
                    <span class="form__label--caps">Subject</span>
                    <span class="form__label--details">It should be of max 10 words or 52 characters with spaces</span>
                </label>
                <input class="form__control" id="emailSubject" required>
            </div>
            <div class="form__group--settings">
                <label for="emailContent" class="form__label">
                    <span class="form__label--caps">Email Content</span>
                </label>
                <textarea type="text" class="form__control" id="emailContent"></textarea>
            </div>


            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>

    </section>


    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>
</body>

</html>