<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Settings</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->

    <section class="message" style="display: flex;">
        <div class="message__txt message__txt--error">whats up</div>
    </section>

    <section class="edit settings">        
        
        <form action="#" method="POST" class="edit__form-container u-mar-t-3">

            <h2 class="heading-secondary u-center-text edit__form-heading u-mar-t-2 u-mar-b-3">Site Settings</h2>

            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="site_name" class="form__label">
                    <span class="form__label--caps">Site Name*</span>
                </label>
                <input type="text" class="form__control" name="site_name" id="site_name" required>
            </div>

            <div class="form__group--settings">
                <label for="admin_email" class="form__label">
                    <span class="form__label--caps">admin/notificationemail*</span>
                </label>
                <input type="email" class="form__control" name="admin_Email" id="admin_email" required>
            </div>


            <!-- ------ General Settings other emails box ------ -->
            <div class="form__group--settings settings__other-emails">
                <div class="u-mar-t-1">
                    <label for="kal65xc4" class="form__label">
                        <span class="form__label--caps">email</span>
                    </label>
                    <div class="edit__input-plus-btn">
                        <input type="email" class="form__control edit__change-inputs" id="kal65xc4" required>
                        <div class="edit__btn-change btn_remove">Remove</div>
                    </div>
                </div>
                
                <div class="button__primary u-mar-t-2" id="settings__btn-newEmail">Add new Email</div>
            </div>

            <!-- ------ General Settings other emails box ------ -->
            <div class="form__group--settings settings__mailAddress">
                <div class="settings__mail-address-box u-mar-t-1">
                    <label for="kalcwiyg" class="form__label">
                        <span class="form__label--caps">Mail Address</span>
                    </label>
                    <div class="edit__input-plus-btn">
                        <input type="email" class="form__control edit__change-inputs" id="kalcwiyg" required>
                        <div class="edit__btn-change btn_remove">Remove</div>
                    </div>
                </div>

                <div class="button__primary u-mar-t-2" id="settings__btn-newMailAddress">Add new Mail Address</div>
            </div>

            <div class="form__group--settings">
                <label for="admin_phone" class="form__label">
                    <span class="form__label--caps">phone*</span>
                </label>
                <input type="number" class="form__control" name="phone" id="admin_phone" required>
            </div>

            <div class="form__group--settings">
                <label for="copyright" class="form__label">
                    <span class="form__label--caps">copyright*</span>
                </label>
                <input type="number" class="form__control" name="copyright" id="copyright" required>
            </div>

            <div class="form__group--settings">
                <label for="twitterLink" class="form__label">
                    <span class="form__label--caps">twitter link</span>
                </label>
                <input type="number" class="form__control" name="twitter" id="twitterLink" required>
            </div>

            <div class="form__group--settings">
                <label for="facebookLink" class="form__label">
                    <span class="form__label--caps">facebook link</span>
                </label>
                <input type="number" class="form__control" name="facebook" id="facebookLink" required>
            </div>

            <div class="form__group--settings">
                <label for="youtubeLink" class="form__label">
                    <span class="form__label--caps">youtube link</span>
                </label>
                <input type="number" class="form__control" name="youtube" id="youtubeLink" required>
            </div>

            <div class="form__group--settings">
                <label for="instagramLink" class="form__label">
                    <span class="form__label--caps">instagram link</span>
                </label>
                <input type="number" class="form__control" name="instagram" id="instagramLink" required>
            </div>

            <div class="form__group--settings">
                <label for="radioshowLink" class="form__label">
                    <span class="form__label--caps">radio show link</span>
                </label>
                <input type="number" class="form__control" name="radioshow" id="radioshowLink" required>
            </div>


            <!-- ------ Other emails box ------ -->

            <div class="edit__form-button-container u-mar-t-3">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>
        </form>


        
        <form action="#" method="POST" class="edit__form-container u-mar-t-7">
            <h2 class="heading-secondary u-center-text edit__form-heading u-mar-t-2 u-mar-b-3">seo information</h2>

            <div class="form__group--settings">
                <label for="siteKeywords" class="form__label">
                    <span class="form__label--caps">site keywords</span>
                </label>
                <input type="text" class="form__control" id="siteKeywords" required>
            </div>
            <div class="form__group--settings">
                <label for="siteDescription" class="form__label">
                    <span class="form__label--caps">site description</span>
                </label>
                <input type="text" class="form__control" id="siteDescription" required>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>



        <form action="#" method="POST" class="edit__form-container u-mar-t-7">
            <h2 class="heading-secondary u-center-text edit__form-heading u-mar-t-2 u-mar-b-3">paypal setup</h2>

            <div class="form__group--settings">
                <label for="paypalEmail" class="form__label">
                    <span class="form__label--caps">paypal id/email</span>
                </label>
                <input type="email" class="form__control" id="paypalEmail" required>
            </div>
            <div class="form__group--settings">
                <label for="paypalUsername" class="form__label">
                    <span class="form__label--caps">paypal username</span>
                </label>
                <input type="text" class="form__control" id="paypalUsername" required>
            </div>
            <div class="form__group--settings">
                <label for="paypalpassword" class="form__label">
                    <span class="form__label--caps">paypal password</span>
                </label>
                <input type="text" class="form__control" id="paypalpassword" required>
            </div>
            <div class="form__group--settings">
                <label for="paypalsignature" class="form__label">
                    <span class="form__label--caps">paypal signature</span>
                </label>
                <input type="text" class="form__control" id="paypalsignature" required>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>
    </section>

</body>
</html>