<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Admin Guestpert</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->


    <section class="edit settings">
        <form action="#" method="POST" class="edit__form-container u-mar-t-3">
            <h2 class="heading-secondary u-center-text edit__form-heading u-mar-t-2 u-mar-b-3">walkthrough video</h2>

            <div class="form__group--settings">
                <label for="title" class="form__label">
                    <span class="form__label--caps">title</span>
                </label>
                <input type="text" class="form__control" id="title" required>
            </div>
            <div class="form__group--settings">
                <label for="link" class="form__label">
                    <span class="form__label--caps">link</span>
                    <span class="form__label--details">Put only embed code with &#60;iframe&#62; tag for vimeo and youtube</span>
                </label>
                <input type="url" class="form__control" id="link" required>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>
    </section>
</body>
</html>