<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Homepage Testimonials</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->

    <section class="homePage u-absCenter">
        <h1 class="heading-secondary u-center-text u-mar-t-5">Testimonials on Home page</h1>
        <p class="caption-text-bg u-center-text color-txt-dark u-mar-t-1">Maximum 2 testimonials are allowed to be in Home Page And testimonial with images and videos are not allowed in Home page</p>

        <div class="row__grid-2 u-mar-t-4" id="homepage-testimonials-box">
            <div class="card-2 testimonial__card" >
                
                <div class="testimonial__card-img">
                    <img src="../../images/guestperts/1493250524-DarrenCampoHeadshot.2017.jpg" class="fluid-img">
                </div>

                <p class="paragraph-primary txt-capitalize u-center-text testimonial__guestpert">darren Campo</p>
                <div class="testimonial__info u-mar-t-2 ">
                    <p>Authors dream - New York Times Bestselling Author; Today Show appearance on the day the book comes out, and a People Magazine snapshot of celebrity Jordin Sparks holding our book and complimenting us on the...</p>
                </div>
                
                <div class="testimonial__card-btns">
                    <button data-id="objId345" class="remove-from-home button__primary">Remove</button>
                </div>
            </div>
            <div class="card-2 testimonial__card" >
                
                <div class="testimonial__card-img">
                    <img src="../../images/guestperts/1493250524-DarrenCampoHeadshot.2017.jpg" class="fluid-img">
                </div>

                <p class="paragraph-primary txt-capitalize u-center-text testimonial__guestpert">darren Campo</p>
                <div class="testimonial__info u-mar-t-2 ">
                    <p>Authors dream - New York Times Bestselling Author; Today Show appearance on the day the book comes out, and a People Magazine snapshot of celebrity Jordin Sparks holding our book and complimenting us on the...</p>
                </div>
                
                <div class="testimonial__card-btns">
                    <button data-id="objId345" class="remove-from-home button__primary">Remove</button>
                </div>
            </div>
        </div>
    </section>



    <section class="addnew u-absCenter u-mar-t-5">
        <h2 class="heading-secondary u-center-text u-mar-t-3">Add new to home page</h2>

        <div class="form__search u-mar-b-3 u-mar-t-6">
            <input class="form__control form__search-input" id="search-input" type="text" placeholder="Search Hot Topics" required>
            <input type="hidden" value="" class="form__hidden-input" id="hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="row__grid-2 u-mar-t-4 u-mar-b-7" id="add-new-box">
            <div class="card-2 testimonial__card" >
                
                <div class="testimonial__card-img">
                    <img src="../../images/guestperts/1498513638-Gayani Headshot. 2017v2..jpg" class="fluid-img">
                </div>

                <p class="paragraph-primary txt-capitalize u-center-text testimonial__guestpert">darren Campo</p>
                <div class="testimonial__info u-mar-t-2 ">
                    <p>Authors dream - New York Times Bestselling Author; Today Show appearance on the day the book comes out, and a People Magazine snapshot of celebrity Jordin Sparks holding our book and complimenting us on the...</p>
                </div>
                
                <div class="testimonial__card-btns">
                    <button data-id="objId345" class="button__primary">Add to home</button>
                </div>
            </div>
            <div class="card-2 testimonial__card" >
                
                <div class="testimonial__card-img">
                    <img src="../../images/guestperts/Ivy headshot.jpg" class="fluid-img">
                </div>

                <p class="paragraph-primary txt-capitalize u-center-text testimonial__guestpert">Ivy Spater</p>
                <div class="testimonial__info u-mar-t-2 ">
                    <p>Authors dream - New York Times Bestselling Author; Today Show appearance on the day the book comes out, and a People Magazine snapshot of celebrity Jordin Sparks holding our book and complimenting us on the...</p>
                </div>
                
                <div class="testimonial__card-btns">
                    <button data-id="objId345" class="button__primary">Add to home</button>
                </div>
            </div>
        </div>
    </section>

    <!-- /////////////////////////////////////// -->
    <!-- ///--- Page Numbers ---/// -->
    <!-- /////////////////////////////////////// -->
    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>


    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>

    <section class="animation" id="animation"></section>

</body>
</html>