<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage homepage hot topics</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /////////////////////////----
        Address bar above
    ----////////////////////////// -->

    <section class="homepage u-absCenter u-mar-t-3">
        <h2 class="heading-secondary u-center-text u-mar-t-3">Hot Topics on home page</h2>
        <p class="caption-text-bg color-txt-dark u-mar-t-1">Minimum 6 hot topics should be there in homepage for the animation to work</p>

        <div class="row__grid-6 u-mar-b-5 u-mar-t-5" id="homepage-topics-box">
            <div class="card-6 thin">
                <div class="thin__img">
                    <img src="../../images/guestperts/Ivy headshot.jpg"  alt="guestpert image" class="fluid-img">
                </div>
                <div class="thin__info">
                    <p class="thin__main-txt color-txt-dark">ptsd tips for the rest of us</p>
                    <p class="thin__sm-txt">addiction and recovery</p>
                </div>
                <div class="thin__btn-container">
                    <button data-id="232323" class="remove-from-home button__primary">Remove</button>
                </div>
            </div>
            <div class="card-6 thin">
                <div class="thin__img">
                    <img src="../../images/guestperts/Ivy headshot.jpg"  alt="guestpert image" class="fluid-img">
                </div>
                <div class="thin__info">
                    <p class="thin__main-txt color-txt-dark">ptsd tips for the rest of us</p>
                    <p class="thin__sm-txt">addiction and recovery</p>
                </div>
                <div class="thin__btn-container">
                    <button data-id="232323" class="remove-from-home button__primary">Remove</button>
                </div>
            </div>
            <div class="card-6 thin">
                <div class="thin__img">
                    <img src="../../images/guestperts/Ivy headshot.jpg"  alt="guestpert image" class="fluid-img">
                </div>
                <div class="thin__info">
                    <p class="thin__main-txt color-txt-dark">ptsd tips for the rest of us</p>
                    <p class="thin__sm-txt">addiction and recovery</p>
                </div>
                <div class="thin__btn-container">
                    <button data-id="232323" class="remove-from-home button__primary">Remove</button>
                </div>
            </div>
            <div class="card-6 thin">
                <div class="thin__img">
                    <img src="../../images/guestperts/Ivy headshot.jpg"  alt="guestpert image" class="fluid-img">
                </div>
                <div class="thin__info">
                    <p class="thin__main-txt color-txt-dark">ptsd tips for the rest of us</p>
                    <p class="thin__sm-txt">addiction and recovery</p>
                </div>
                <div class="thin__btn-container">
                    <button data-id="232323" class="remove-from-home button__primary">Remove</button>
                </div>
            </div>
            <div class="card-6 thin">
                <div class="thin__img">
                    <img src="../../images/guestperts/Ivy headshot.jpg"  alt="guestpert image" class="fluid-img">
                </div>
                <div class="thin__info">
                    <p class="thin__main-txt color-txt-dark">ptsd tips for the rest of us</p>
                    <p class="thin__sm-txt">addiction and recovery</p>
                </div>
                <div class="thin__btn-container">
                    <button data-id="232323" class="remove-from-home button__primary">Remove</button>
                </div>
            </div>
            <div class="card-6 thin">
                <div class="thin__img">
                    <img src="../../images/guestperts/Ivy headshot.jpg"  alt="guestpert image" class="fluid-img">
                </div>
                <div class="thin__info">
                    <p class="thin__main-txt color-txt-dark">ptsd tips for the rest of us</p>
                    <p class="thin__sm-txt">addiction and recovery</p>
                </div>
                <div class="thin__btn-container">
                    <button data-id="232323" class="remove-from-home button__primary">Remove</button>
                </div>
            </div>
            
        </div>
    </section>


    <section class="addnew u-absCenter">
        <h2 class="heading-secondary u-center-text u-mar-t-3">Add new to home page</h2>

        <div class="form__search u-mar-b-3 u-mar-t-6">
            <input class="form__control form__search-input" id="search-input" type="text" placeholder="Search Hot Topics" required>
            <input type="hidden" value="" class="form__hidden-input" id="hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="row__grid-6 u-mar-b-5 u-mar-t-5" id="add-new-box">
            <div class="card-6 thin">
                <div class="thin__img">
                    <img src="../../images/guestperts/Ivy headshot.jpg"  alt="guestpert image" class="fluid-img">
                </div>
                <div class="thin__info">
                    <p class="thin__main-txt color-txt-dark">ptsd tips for the rest of us</p>
                    <p class="thin__sm-txt">addiction and recovery</p>
                </div>
                <div class="thin__btn-container">
                    <button class="button__primary">add to home</button>
                </div>
            </div>
            <div class="card-6 thin">
                <div class="thin__img">
                    <img src="../../images/guestperts/Ivy headshot.jpg"  alt="guestpert image" class="fluid-img">
                </div>
                <div class="thin__info">
                    <p class="thin__main-txt color-txt-dark">i love my life</p>
                    <p class="thin__sm-txt">and how did you do</p>
                </div>
                <div class="thin__btn-container">
                    <button class="button__primary">add to home</button>
                </div>
            </div>
        </div>
    </section>

    <!-- /////////////////////////////////////// -->
    <!-- ///--- Page Numbers ---/// -->
    <!-- /////////////////////////////////////// -->
    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>


    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>

    <section class="animation" id="animation"></section>

</body>
</html>