<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page Settings</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->

    <section class="home">
        <div class="row__grid-4 u-mar-b-5 u-mar-t-5">
            <a href="#" class="card-4 home__cards">
                <div class="home__sections">
                    <p>Manage slides</p>
                    <svg class="home__icon home__icon--top-left">
                        <use xlink:href="#left-top"></use>
                    </svg>
                    <svg class="home__icon home__icon--top-right">
                        <use xlink:href="#right-top"></use>
                    </svg>
                </div>
            </a>
            <a href="#" class="card-4 home__cards">
                <div class="home__sections">
                    <p>Tag Lines</p>
                    <svg class="home__icon home__icon--top-left">
                        <use xlink:href="#left-top"></use>
                    </svg>
                    <svg class="home__icon home__icon--top-right">
                        <use xlink:href="#right-top"></use>
                    </svg>
                </div>
            </a>
            <a href="#" class="card-4 home__cards">
                <div class="home__sections">
                    <p>Featured Guestperts</p>
                    <svg class="home__icon home__icon--top-left">
                        <use xlink:href="#left-top"></use>
                    </svg>
                    <svg class="home__icon home__icon--top-right">
                        <use xlink:href="#right-top"></use>
                    </svg>
                </div>
            </a>
            <a href="#" class="card-4 home__cards">
                <div class="home__sections">
                    <p>Hot Topics</p>
                    <svg class="home__icon home__icon--top-left">
                        <use xlink:href="#left-top"></use>
                    </svg>
                    <svg class="home__icon home__icon--top-right">
                        <use xlink:href="#right-top"></use>
                    </svg>
                </div>
            </a>
            <a href="#" class="card-4 home__cards">
                <div class="home__sections">
                    <p>testimonials</p>
                    <svg class="home__icon home__icon--top-left">
                        <use xlink:href="#left-top"></use>
                    </svg>
                    <svg class="home__icon home__icon--top-right">
                        <use xlink:href="#right-top"></use>
                    </svg>
                </div>
            </a>
            <a href="#" class="card-4 home__cards">
                <div class="home__sections">
                    <p>Books</p>
                    <svg class="home__icon home__icon--top-left">
                        <use xlink:href="#left-top"></use>
                    </svg>
                    <svg class="home__icon home__icon--top-right">
                        <use xlink:href="#right-top"></use>
                    </svg>
                </div>
            </a>
        </div>
    </section>

    <!-- 
        <svg class="home__icon home__icon--top-left">
                    </svg>
     -->
</body>
</html>