<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaquie's Appearance</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->

    <section class="slides u-mar-b-5 u-mar-t-5 u-absCenter">

        <h2 class="heading-secondary u-mar-b-3">Jaquie's Appearances</h2>

        <div class="row">
            <button class="button__primary btn-createNew">create new</button>
        </div>

        <div class="slides__card u-mar-b-2">
            <div class="slides__content-left">
                <div class="slides__video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/a6RIYe28QVE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="slides__content-right">
                <p class="paragraph-primary txt-capitalize u-mar-b-2 slide-title">CNN: Jacquie Jordan, Pop Culture Expert, discusses Abbey Road </p>

                <ul class="info-list slides__info">
                    <li>
                        <p class="info-list__key">Created</p>
                        <p class="info-list__value slide-anchor">11 sept 2018</p>
                    </li>
                    <li>
                        <p class="info-list__key">Acitve</p>
                        <p class="info-list__value slide-active">yes</p>
                    </li>
                </ul>

                <div class="ctrl-btns">
                    <button data-id="14sxc44jwkg9tw9j1"  class="button__primary u-mar-r-1 slides__edit-btn">Edit</button>
                    <button data-id="14sxc44jwkg9tw9j1"  class="button__primary slides__delete-btn">Delete</button>
                </div>
            </div>
        </div>
        
    </section>


    <section class="edit edit__none">

        <div class="row u-mar-b-4 u-mar-t-1">
            <button class="button__primary edit__show-cards">Show appearances</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-b-2">Create New appearance</h2>


        
        <form action="#" method="POST" class="edit__form-container">

            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="videoTitle" class="form__label">
                    <span class="form__label--caps">video title</span>
                </label>
                <input type="text" class="form__control" id="videoTitle" required>
            </div>

            <div class="form__group--settings">
                <label for="videoLink" class="form__label">
                    <span class="form__label--caps">video link</span>
                </label>
                <input type="url" class="form__control" id="videoLink" required>
            </div>
            
            <div class="form__group--checkbox">
                <label for="active" class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active" name="active" checked />
                    <label for="active"></label>
                </div>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-1">
                <button type="submit" class="form__submit-btn--orange form__submit-btn" id="loco">save</button>
            </div>
        </form>
    </section>


    <div class="popup">
        <div class="popup__del-box">
            <form action="#">
                <input type="hidden" value="234234234234234" class="card-id">
                <p class="paragraph-tertiary color-txt-dark u-mar-b-2">Are you sure to delete this appearance?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Spinner animation -->
    <section id="animations"></section>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>

</body>
</html>