<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Membership</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->


    <section class="membership u-absCenter u-mar-t-5">

        <h2 class="heading-secondary u-center-text">Membership</h2>

        <div class="about__show-btns row">
            <button class="button__primary btn-createNew">Create feature</button>
            <button class="button__primary btn-editFeature">edit feature</button>
        </div>

        <div class="row__grid-4 u-mar-b-5 u-mar-t-5">
            <div class="membership__card-wrapper">
                <div class="membership__card membership__card--style-admin">
                    <div class="membership__price" data-price="11$"></div>
                    <div class="membership__title membership__title--style-admin">Standard</div>

                    <ul class="membership__features-box membership__features-box--style-admin">
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Headshot
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Biography
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Area of expertise
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            hot topics
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#close"></use>
                            </svg>
                            blogging
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#close"></use>
                            </svg>
                            inclusion in home page
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#close"></use>
                            </svg>
                            social media maintenance
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#close"></use>
                            </svg>
                            crafted pitches
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#close"></use>
                            </svg>
                            demo tape streaming
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#close"></use>
                            </svg>
                            book publishing
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#close"></use>
                            </svg>
                            national distribution
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#close"></use>
                            </svg>
                            stragic distribution
                        </li>
                    </ul>

                    <button data-id="234234234" class="button__ghost button__ghost--sm btn-editMembership">Edit</button>
                </div>
            </div>
     
            <div class="membership__card-wrapper">
                <div class="membership__card membership__card--style-admin">
                    <div class="membership__price" data-price="11$"></div>
                    <div class="membership__title membership__title--style-admin">Elite</div>

                    <ul class="membership__features-box membership__features-box--style-admin">
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Headshot
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Biography
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Area of expertise
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            hot topics
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            blogging
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            inclusion in home page
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            social media maintenance
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            crafted pitches
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            demo tape streaming
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#close"></use>
                            </svg>
                            book publishing
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#close"></use>
                            </svg>
                            national distribution
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#close"></use>
                            </svg>
                            stragic distribution
                        </li>
                    </ul>

                    <button data-id="435353423" class="button__ghost button__ghost--sm btn-editMembership">Edit</button>
                </div>
            </div>
            
            <div class="membership__card-wrapper">
                <div class="membership__card membership__card--style-admin">
                    <div class="membership__price" data-price="11$"></div>
                    <div class="membership__title membership__title--style-admin">Platinum</div>

                    <ul class="membership__features-box membership__features-box--style-admin">
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Headshot
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Biography
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Area of expertise
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            hot topics
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            blogging
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            inclusion in home page
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            social media maintenance
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            crafted pitches
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            demo tape streaming
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            book publishing
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            national distribution
                        </li>
                        <li>
                            <svg class="membership__icon membership__icon--style-admin">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            stragic distribution
                        </li>
                    </ul>

                    <button data-id="3242342345" class="button__ghost button__ghost--sm btn-editMembership">Edit</button>
                </div>
            </div>
            
            </div>
        </div>
    </section>



    <!-- /////////////////////////////////////// -->
    <!-- ///--- Edit Sub Admin form ---/// -->
    <!-- /////////////////////////////////////// -->

    <section class="edit edit__none" id="editMembership">

        <div class="about__show-btns row">
            <button class="button__primary edit__show-cards">Show SubAdmins</button>
        </div>

        <!-- ---- Form Header ---- -->
        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Membership</h2>

        <!-- ----- Personal Info ------ -->

        <form action="#" method="POST" class="edit__form-container u-mar-t-3">


            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="membershiptitle" class="form__label">
                    <span class="form__label--caps">membership Title</span>
                </label>
                <input type="text" class="form__control" id="membershiptitle" required>
            </div>
            <div class="form__group--settings">
                <label for="membershipprice" class="form__label">
                    <span class="form__label--caps">price</span>
                </label>
                <input type="number" class="form__control"  id="membershipprice" required>
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">Headshot</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="any id" id="any id" name="feature"/>
                    <label for="any id"></label>
                </div>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-2">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>

    </section>





    <!-- /////////////////////////////////////// -->
    <!-- ///--- Create new feature ---/// -->
    <!-- /////////////////////////////////////// -->

    <section class="edit edit__none" id="createFeature">

        <div class="about__show-btns row">
            <button class="button__primary edit__show-cards">Show Memberships</button>
        </div>

        <!-- ---- Form Header ---- -->
        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create Feature</h2>

        <form action="#" method="POST" class="edit__form-container u-mar-t-3">

            <!-- ------Inputs and Lebels------ -->
            <div class="form__group--settings">
                <label for="feature-name" class="form__label">
                    <span class="form__label--caps">Feature Name</span>
                </label>
                <input type="text" class="form__control" id="feature-name" required>
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">available on Standard</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="yes" id="std-available" name="std-available" checked/>
                    <label for="std-available"></label>
                </div>
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">available on Elite</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="yes" id="std-elite" name="std-elite" checked/>
                    <label for="std-elite"></label>
                </div>
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">available on Platinum</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="yes" id="std-platinum" name="std-platinum" checked/>
                    <label for="std-platinum"></label>
                </div>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-2">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>
    </section>



    <!-- /////////////////////////////////////// -->
    <!-- ///--- Edit a feature ---/// -->
    <!-- /////////////////////////////////////// -->

    <section class="edit edit__none" id="editFeature">

        <div class="about__show-btns row">
            <button class="button__primary edit__show-cards">Show Memberships</button>
        </div>

        <!-- ---- Form Header ---- -->
        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">edit Feature</h2>

        <form action="#" method="POST" class="edit__form-container u-mar-t-3">

            <!-- ------Inputs and Lebels------ -->
            <div class="form__group--settings">
                <label for="inp-category" class="form__label">
                    <span class="form__label--caps">Select a Feature</span>
                </label>
                <div class="custom-select-wrapper">
                    <div class="custom-select">
                        <div class="custom-select__trigger"><span>Select a Feature</span>
                            <div class="arrow"></div>
                        </div>
                        <div class="custom-options">
                            <span class="custom-option selected" data-value="tesla">Headshot</span>
                            <span class="custom-option" data-value="volvo">Biography</span>
                            <span class="custom-option" data-value="volvo">Area of expertise</span>
                        </div>
                    </div>
                </div>
                <input type="text" name="segment" id="inp-category">
            </div>
            <div class="form__group--settings">
                <label for="feature-rename" class="form__label">
                    <span class="form__label--caps">Rename Title</span>
                </label>
                <input type="text" class="form__control" id="feature-rename" required>
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">available on Standard</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="yes" id="edit-std-available" name="std-available" checked/>
                    <label for="edit-std-available"></label>
                </div>
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">available on Elite</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="yes" id="edit-std-elite" name="std-elite" checked/>
                    <label for="edit-std-elite"></label>
                </div>
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">available on Platinum</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="yes" id="edit-std-platinum" name="std-platinum" checked/>
                    <label for="edit-std-platinum"></label>
                </div>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-2">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>
    </section>

    <div id="csrf" data-csrf=""></div>

</body>
</html>