<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Tags</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->

    <section class="tags u-absCenter u-mar-t-5 u-mar-b-5">

        <h2 class="heading-secondary u-center-text">Subscriber list</h2>

        <div class="row u-mar-b-4 u-mar-t-1">
            <button class="button__primary btn-createNew">Create new tag</button>
        </div>
        
        <div class="form__search u-mar-b-3 u-mar-t-3">
            <input class="form__control form__search-input" id="search-input" type="text" placeholder="Search Tags" required>
            <input type="hidden" value="" class="form__hidden-input" id="hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="row__grid-4 u-mar-t-4 u-mar-b-2" id="tags-box">
            <div class="card-4 thin">
                <ul class="info-list books__info u-mar-t-2">
                    <li>
                        <p class="info-list__key">Keyword</p>
                        <p class="info-list__value tag-keyword">Nature</p>
                    </li>
                    <li>
                        <p class="info-list__key">Created</p>
                        <p class="info-list__value">11 Sept 2017</p>
                    </li>
                    <li>
                        <p class="info-list__key">Modified</p>
                        <p class="info-list__value">11 Sept 2017</p>
                    </li>
                    <li>
                        <p class="info-list__key">Active</p>
                        <p class="info-list__value">Yes</p>
                    </li>
                </ul>
                <div class="tags__card-btns u-flexCenter u-mar-t-2">
                    <button data-id="objId345" class="tags__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId345" class="tags__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                </div>
            </div>
            <div class="card-4 thin">
                <ul class="info-list books__info u-mar-t-2">
                    <li>
                        <p class="info-list__key">Keyword</p>
                        <p class="info-list__value tag-keyword">water</p>
                    </li>
                    <li>
                        <p class="info-list__key">Created</p>
                        <p class="info-list__value">11 Sept 2017</p>
                    </li>
                    <li>
                        <p class="info-list__key">Modified</p>
                        <p class="info-list__value">11 Sept 2017</p>
                    </li>
                    <li>
                        <p class="info-list__key">Active</p>
                        <p class="info-list__value">Yes</p>
                    </li>
                </ul>
                <div class="tags__card-btns u-flexCenter u-mar-t-2">
                    <button data-id="objId345" class="tags__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId345" class="tags__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                </div>
            </div>
            <div class="card-4 thin">
                <ul class="info-list books__info u-mar-t-2">
                    <li>
                        <p class="info-list__key">Keyword</p>
                        <p class="info-list__value tag-keyword">umbrella</p>
                    </li>
                    <li>
                        <p class="info-list__key">Created</p>
                        <p class="info-list__value">11 Sept 2017</p>
                    </li>
                    <li>
                        <p class="info-list__key">Modified</p>
                        <p class="info-list__value">11 Sept 2017</p>
                    </li>
                    <li>
                        <p class="info-list__key">Active</p>
                        <p class="info-list__value">Yes</p>
                    </li>
                </ul>
                <div class="tags__card-btns u-flexCenter u-mar-t-2">
                    <button data-id="objId345" class="tags__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId345" class="tags__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                </div>
            </div>
            <div class="card-4 thin">
                <ul class="info-list books__info u-mar-t-2">
                    <li>
                        <p class="info-list__key">Keyword</p>
                        <p class="info-list__value tag-keyword">longestWordthatIhaveHeard</p>
                    </li>
                    <li>
                        <p class="info-list__key">Created</p>
                        <p class="info-list__value">11 Sept 2017</p>
                    </li>
                    <li>
                        <p class="info-list__key">Modified</p>
                        <p class="info-list__value">11 Sept 2017</p>
                    </li>
                    <li>
                        <p class="info-list__key">Active</p>
                        <p class="info-list__value">Yes</p>
                    </li>
                </ul>
                <div class="tags__card-btns u-flexCenter u-mar-t-2">
                    <button data-id="objId345" class="tags__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId345" class="tags__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                </div>
            </div>
        </div>

    </section>

    <!-- /////////////////////////////////////// -->
    <!-- ///--- Page Numbers ---/// -->
    <!-- /////////////////////////////////////// -->
    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>



    <section class="edit edit__none">

        <div class="row u-mar-b-4 u-mar-t-1">
            <button class="button__primary edit__show-cards">Show tags</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-b-2">Create New service</h2>


        
        <form action="#" method="POST" class="edit__form-container">

            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="tag-keyword" class="form__label">
                    <span class="form__label--caps">Tag Keyword</span>
                </label>
                <input type="text" class="form__control" id="tag-keyword" required>
            </div>
            
            <div class="form__group--checkbox">
                <label for="active" class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active" name="active" checked />
                    <label for="active"></label>
                </div>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-1">
                <button type="submit" class="form__submit-btn--orange form__submit-btn" id="loco">save</button>
            </div>
        </form>
    </section>


    <div class="popup">
        <div class="popup__del-box">

            <div>
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this tag?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </div>

        </div>
    </div>


    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>

    <div id="csrf" data-csrf=""></div>

    <div class="animation" id="animation"></div>

    </body>
</html>