<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage hotTopics Category</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->


    <section class="ht-categories u-absCenter u-mar-t-3">
        <h2 class="heading-secondary u-center-text u-mar-t-3">Current Hot Topics categories</h2>

        <div class="ht-categories__show-btns u-mar-t-3 ">
            <button class="button__primary btn-createNew">Create new</button>
        </div>

        <div class="row__grid-6 u-mar-b-5 u-mar-t-3">
            <div class="card-6 ht-categories__card">
                <div class="ht-categories__info">
                    <p class="ht-categories__main-txt">Addiction and recovery</p>
                    <div class="active-stats" data-active="yes"></div>
                </div>
                <div class="ht-categories__btn-container">
                    <button data-id="id123" class="button__primary btn-ht-edit">Edit</button>
                </div>
            </div>
            <div class="card-6 ht-categories__card">
                <div class="ht-categories__info">
                    <p class="ht-categories__main-txt">Addiction and recovery</p>
                    <div class="active-stats" data-active="yes"></div>
                </div>
                <div class="ht-categories__btn-container">
                    <button data-id="id123" class="button__primary btn-ht-edit">Edit</button>
                </div>
            </div>
            <div class="card-6 ht-categories__card">
                <div class="ht-categories__info">
                    <p class="ht-categories__main-txt">Addiction and recovery</p>
                    <div class="active-stats" data-active="yes"></div>
                </div>
                <div class="ht-categories__btn-container">
                    <button data-id="id123" class="button__primary btn-ht-edit">Edit</button>
                </div>
            </div>
            <div class="card-6 ht-categories__card">
                <div class="ht-categories__info">
                    <p class="ht-categories__main-txt">Addiction and recovery</p>
                    <div class="active-stats" data-active="yes"></div>
                </div>
                <div class="ht-categories__btn-container">
                    <button data-id="id123" class="button__primary btn-ht-edit">Edit</button>
                </div>
            </div>
            <div class="card-6 ht-categories__card">
                <div class="ht-categories__info">
                    <p class="ht-categories__main-txt">Addiction and recovery</p>
                    <div class="active-stats" data-active="yes"></div>
                </div>
                <div class="ht-categories__btn-container">
                    <button data-id="id123" class="button__primary btn-ht-edit">Edit</button>
                </div>
            </div>
            <div class="card-6 ht-categories__card">
                <div class="ht-categories__info">
                    <p class="ht-categories__main-txt">Addiction and recovery</p>
                    <div class="active-stats" data-active="yes"></div>
                </div>
                <div class="ht-categories__btn-container">
                    <button data-id="id123" class="button__primary btn-ht-edit">Edit</button>
                </div>
            </div>
        </div>
    </section>

    <!-- /////////////////////////////////////// -->
    <!-- ///--- Page Numbers ---/// -->
    <!-- /////////////////////////////////////// -->
    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>

    <div id="csrf"></div>
    <section class="edit edit__none">

        <div class="ht-categories__show-btns u-mar-b-4 u-mar-t-1">
            <button class="button__primary edit__show-cards">Show Categories</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-b-2">Create New category</h2>


        <!-- /////////////////////////
             ----- Personal Info ------ 
            ////////////////////////////// -->
        <form action="#" method="POST" class="edit__form-container edit__form-container--hotTopics" id="createEdit_form">

            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="catTitle" class="form__label">
                    <span class="form__label--caps">category title*</span>
                </label>
                <input type="text" class="form__control" id="catTitle" required>
            </div>

            <div class="form__group--settings" id="inpFile-box">
                <label for="choose-img-file" class="form__label">
                    <span class="form__label--caps">blog cover Image*</span>
                    <span class="form__inp-img">Choose Image</span>
                    <span class="form__inp-img--adrss"></span>
                </label>
                <span class="form__label--details u-mar-t-1">Image should be of max 200 KB and size should be of aspect ratio 1:1</span>
                <input type="file" id="choose-img-file">
            </div>

            <div class="form__group--checkbox">
                <label for="prefix" class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active" name="active" checked />
                    <label for="active"></label>
                </div>
            </div>
            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-2">
                <button type="submit" class="form__submit-btn--orange form__submit-btn" id="loco">save</button>
            </div>
        </form>
    </section>
</body>
</html>