<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Products</title>
</head>

<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->

    <section class="active-products u-absCenter u-mar-t-4">
        <h1 class="heading-secondary u-center-text">Active Products</h1>

        <div class="row">
            <button class="button__primary btn-createNew">create new</button>
        </div>

        <div class="form__search u-mar-b-2 u-mar-t-3">
            <input class="form__control form__search-input" id="active-products-search" type="text"
                placeholder="Search products" required>
            <input type="hidden" value="" class="form__hidden-input" id="active-hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="row__grid-4 u-mar-b-5 u-mar-t-3" id="activeCards-box">

            <div class="product_details__card-wrapper collection-products">
                <div class="card-4 products__cards products">
                    <div class="products__cards-details">
                        <div class="products__title-container">
                            <h3 class="products__heading">A Psychiatrist's Guide </h3>
                        </div>

                        <ul class="info-list u-mar-t-2 u-mar-b-4">
                            <li>
                                <p class="info-list__key">Created</p>
                                <p class="info-list__value">11 Sept 2017</p>
                            </li>
                            <li>
                                <p class="info-list__key">Modified</p>
                                <p class="info-list__value">11 Sept 2017</p>
                            </li>
                            <li>
                                <p class="info-list__key">Product Type</p>
                                <p class="info-list__value">Book</p>
                            </li>
                            <li>
                                <p class="info-list__key">payment Mode</p>
                                <p class="info-list__value">Paypal</p>
                            </li>
                            <li>
                                <p class="info-list__key">Price</p>
                                <p class="info-list__value">11$</p>
                            </li>
                        </ul>

                        <div class="products__card-btns u-mar-b-1">
                            <button data-id="objId2" class="products__card-btn-edit button__primary">Edit</button>
                            <button data-id="objId2"
                                class="products__card-btn-delete button__ghost button__ghost--sm">Delete</button>
                        </div>

                        <div class="products__effect card-4__effect"></div>
                    </div>
                    <div class="products__img-wrapper">
                        <div class="products__img-container">
                            <img src="../../images/books/1503704437-APsychiatristGuide.FINAL.HighRes2.jpg" alt="image"
                                class="fluid-img">
                        </div>
                        <div class="products__best-seller">Best Seller</div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <!-- /////////////////////////////////////// -->
    <!-- ///--- Page Numbers ---/// -->
    <!-- /////////////////////////////////////// -->
    <div class="page" id="page-activeProducts">
        <ul class="page__list" id="page-activeProd-list">
        </ul>
    </div>


    <section class="inactive-products u-absCenter u-mar-t-4">

        <h1 class="heading-secondary u-center-text">Add Book Covers to Products</h1>

        <div class="form__search u-mar-b-3 u-mar-t-3">
            <input class="form__control form__search-input" id="inactive-products-search" type="text"
                placeholder="Search products" required>
            <input type="hidden" value="" class="form__hidden-input" id="inactive-hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="row__grid-4 u-mar-b-5 u-mar-t-3" id="inactiveCards-box">

            <div class="product_details__card-wrapper collection-books">
                <div class="card-4 products__cards">
                    <div class="products__cards-details">
                        <div class="products__title-container">
                            <h3 class="products__heading">A Psychiatrist's Guide </h3>
                        </div>

                        <ul class="info-list u-mar-t-2 u-mar-b-4">
                            <li>
                                <p class="info-list__key">Created</p>
                                <p class="info-list__value">11 Sept 2017</p>
                            </li>
                            <li>
                                <p class="info-list__key">Modified</p>
                                <p class="info-list__value">11 Sept 2017</p>
                            </li>
                            <li>
                                <p class="info-list__key">Published</p>
                                <p class="info-list__value">11 Sept 2017</p>
                            </li>
                            <li>
                                <p class="info-list__key">Product Type</p>
                                <p class="info-list__value">Book</p>
                            </li>
                        </ul>

                        <div class="products__card-btns u-absCenter u-mar-b-1">
                            <button data-id="objId2" class="button__oval add-to-shop">Add to Shop</button>
                        </div>

                        <div class="products__effect card-4__effect"></div>
                    </div>
                    <div class="products__img-wrapper">
                        <div class="products__img-container">
                            <img src="../../images/books/1503704437-APsychiatristGuide.FINAL.HighRes2.jpg" alt="image"
                                class="fluid-img">
                        </div>
                        <div class="products__best-seller">Best Seller</div>
                    </div>

                </div>
            </div>

        </div>
    </section>



    <!-- /////////////////////////////////////// -->
    <!-- ///--- Page Numbers ---/// -->
    <!-- /////////////////////////////////////// -->
    <div class="page" id="page-inactiveProducts">
        <ul class="page__list" id="page-inactiveProd-list">
        </ul>
    </div>




    <!-- /////////////////////////////////////// -->
    <!-- ///--- Edit Sub Admin form ---/// -->
    <!-- /////////////////////////////////////// -->

    <section class="edit edit__none">

        <div class="about__show-btns row">
            <button class="button__primary edit__show-cards">Cancel and go back</button>
        </div>

        <!-- ---- Form Header ---- -->
        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Product Details</h2>

        <!-- ----- Personal Info ------ -->

        <form action="#" method="POST" class="edit__form-container u-mar-t-3">

            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="inp-category" class="form__label">
                    <span class="form__label--caps">Mode</span>
                </label>
                <div class="custom-select-wrapper">
                    <div class="custom-select">
                        <div class="custom-select__trigger"><span>Select One</span>
                            <div class="arrow"></div>
                        </div>
                        <div class="custom-options">
                            <span class="custom-option" data-key="paypal">paypal</span>
                            <span class="custom-option" data-key="thirdparty">Third Party</span>
                            <span class="custom-option" data-key="order">Order</span>
                        </div>
                    </div>
                </div>
                <input type="text" name="segment" id="inp-category">
            </div>


            <div class="form__group--settings">
                <label for="productTitle" class="form__label">
                    <span class="form__label--caps">product Title</span>
                </label>
                <input type="text" class="form__control" id="productTitle" required>
            </div>

            <div class="form__group--settings">
                <label for="productType" class="form__label">
                    <span class="form__label--caps">product Type</span>
                </label>
                <input type="text" class="form__control" id="productType" required>
            </div>
            
            <div class="form__group--settings thirdparty-box"></div>
            
            <div class="form__group--settings">
                <label for="videoUrl" class="form__label">
                    <span class="form__label--caps">Video Url</span>
                </label>
                <input type="text" class="form__control" id="videoUrl" required>
            </div>

            <div class="form__group--settings">
                <label for="productDescription" class="form__label">
                    <span class="form__label--caps">Description</span>
                </label>
                <textarea type="text" class="form__control" id="productDescription"></textarea>
            </div>


            <div class="form__group--settings" id="inpFile-box">
                <label for="choose-img-file" class="form__label">
                    <span class="form__label--caps">Product Image</span>
                    <span class="form__inp-img">Choose Image</span>
                    <span class="form__inp-img--adrss "></span>
                </label>
                <span class="form__label--details u-mar-t-1">Image should be of max 200 KB and size should be of aspect
                    ratio 16:9</span>
                <input type="file" id="choose-img-file">
            </div>


            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">Active</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="any id" id="active" name="product_active" checked />
                    <label for="active"></label>
                </div>
            </div>

            <div class="form__group--settings">
                <label for="audioLink" class="form__label">
                    <span class="form__label--caps">Audio Link</span>
                    <span class="form__label--details">Audio link of the product eg. www.audible.com/eieqdsfhlly</span>
                </label>
                <textarea type="url" class="form__control" name="audioLink"  id="audioLink"></textarea>
            </div>

            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">Best Seller</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="bestSeller" name="bestSeller" />
                    <label for="bestSeller"></label>
                </div>
            </div>

            <div class="form__group--settings">
                <label for="currency" class="form__label">
                    <span class="form__label--caps">Currency</span>
                </label>
                <input type="text" class="form__control" id="currency" required>
            </div>

            <div class="form__group--settings">
                <label for="product_price" class="form__label">
                    <span class="form__label--caps">Price</span>
                </label>
                <input type="number" class="form__control" id="product_price" required>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-2">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>
        </form>
    </section>


    <div class="popup">
        <div class="popup__del-box">
            <div>
                <p class="paragraph-secondary u-mar-b-2">Are you sure to remove this Product?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <a class="button__primary btn__cancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>


    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>

    <div id="csrf" data-csrf=""></div>

    <section class="animation" id="animation"></section>
</body>

</html>