<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestpert's Testimonial</title>
</head>

<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->

    <section class="testimonial u-absCenter u-mar-t-5 u-mar-b-6">

        <h2 class="heading-secondary u-mar-t-3">All testimonials</h2>

        <div class="email-template__show-btns row">
            <button class="button__primary btn-createNew">create new</button>
        </div>

        <div class="testimonial__card-box"></div>

    </section>




    <!-- /////////////////////////////////////// -->
    <!-- ///--- Page Numbers ---/// -->
    <!-- /////////////////////////////////////// -->
    <div class="page">
        <ul class="page__list" id="page__list"></ul>
    </div>



    <section class="edit edit__none" id="editTestimonial">

        <div class="testimonial__show-btns row">
            <button class="button__primary edit__show-cards">Show all Testimonials</button>
        </div>

        <!-- ---- Form Header ---- -->
        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create Testimonial</h2>

        <!-- ----- Personal Info ------ -->

        <form action="#" method="POST" class="edit__form-container u-mar-t-3">

            <!-- ------Inputs and Lebels------ -->

            <span class="span u-absCenter color-txt-dark u-mar-t-5 u-mar-b-2">Please make sure that the image is of ratio 1:1 and size is of max
                500KB</span>
            <div class="edit__heading changeDP u-mar-b-4">
                <label for="img-input" class="edit__image-container">
                    <img src="../../images/user.png" alt="guestpert image" class="fluid-img" id="preview-img">
                    <span class="span span--in">Change profile picture</span>
                    <span class="span span--out">Click here to change</span>
                </label>
                <input type="file" class="popup__input-img" id="img-input">
            </div>


            <div class="form__group--settings">
                <label for="inp-category" class="form__label">
                    <span class="form__label--caps">Select Role</span>
                </label>
                <div class="custom-select-wrapper">
                    <div class="custom-select">
                        <div class="custom-select__trigger"><span>Select a Category</span>
                            <div class="arrow"></div>
                        </div>
                        <div class="custom-options">
                            <span class="custom-option" data-key="guestpert">Guestpert</span>
                            <span class="custom-option" data-key="producer">Producer</span>
                            <span class="custom-option" data-key="other">Other</span>
                        </div>
                    </div>
                </div>
                <input type="text" name="segment" id="inp-category">
            </div>


            <div class="form__group--settings">
                <label for="name" class="form__label">
                    <span class="form__label--caps">name</span>
                </label>
                <input type="text" class="form__control" id="name" required>
            </div>
            <div class="form__group--settings">
                <label for="title" class="form__label">
                    <span class="form__label--caps">title</span>
                </label>
                <input type="text" class="form__control" id="title" required>
            </div>
            <div class="form__group--settings">
                <label for="content" class="form__label">
                    <span class="form__label--caps">content</span>
                </label>
                <textarea type="text" class="form__control" id="content"></textarea>
            </div>


            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="create_active" name="active" checked />
                    <label for="create_active"></label>
                </div>
            </div>


            <!-- ------ General Settings other emails box ------ -->
            <div class="form__group--settings testimonial-video">

                <div class="testimonial-video__link-container">
                    <div class="u-mar-t-1">
                        <label for="kal65xc4" class="form__label">
                            <span class="form__label--caps">Video Link</span>
                        </label>
                        <div class="edit__input-plus-btn">
                            <input type="url" class="form__control edit__change-inputs" id="kal65xc4" required>
                            <div class="edit__btn-change btn_remove">Remove</div>
                        </div>
                    </div>
                </div>

                <div class="button__primary u-mar-t-2 u-high-order" id="settings__btn-link">Add new link</div>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-3">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>

    </section>
    <div id="csrf"></div>

    <section class="popup">
        <div class="popup__del-box">
            <div>
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this testimonial?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </div>
        </div>
    </section>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>

    <div class="animation" id="animation"></div>

</body>

</html>