<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Slides</title>
</head>

<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->
    <h1 class="heading-primary u-center-text u-mar-t-5 u-mar-b-5">Manage Slides</h1>
    

    <section class="slides">
        <div class="slides__card">
            <div class="slides__content-left">
                <div class="slides__picture">
                    <img src="../../images/books/1584398997-Joanna Book Cover---Culture Shock.jpg" class="fluid-img slide-img">
                </div>
            </div>
            <div class="slides__content-right">
                <h2 class="heading-secondary u-mar-b-2 u-center-text slide-heading">Coffee Connection</h2>
                <p class="paragraph-tertiary u-mar-b-3 u-mar-t-3 color-txt-dark slide-caption">Saturday, April 25th, 2020 from 1-5 pm in Playa Vista. Meet the producer and be a celebrity Guestpert. This intensive platform building luncheon includes one-on-one time with a decision making producer, content building, on-camera time, professional contructive feedback, take home “Get on TV!” kit and lunch.</p>
                <div id="caption" data-caption=""></div>

                <div class="slides__video">
                    <a class="slides__video-container" href="#">
                        <svg class="slides__video-icon">
                            <use xlink:href="#play-circle"></use>
                        </svg>
                        <span class="slide-vidLink">https://tvguestpert.com/guestpert/details/91</span>
                    </a>
                </div>

                <div class="slides__more-details">
                    <ul class="info-list slides__info u-mar-t-2">
                        <li>
                            <p class="info-list__key">Anchor</p>
                            <p class="info-list__value slide-anchor">Ivy Slater</p>
                        </li>
                        <li>
                            <p class="info-list__key">Acitve</p>
                            <p class="info-list__value slide-active">yes</p>
                        </li>
                    </ul>
                </div>
                <button data-slide="1" class="button__primary slides__edit-btn">Edit</button>
            </div>
        </div>
        <div class="slides__card">
            <div class="slides__content-left">
                <div class="slides__picture">
                    <img src="../../images/books/1503704437-APsychiatristGuide.FINAL.HighRes2.jpg" class="fluid-img slide-img">
                </div>
            </div>
            <div class="slides__content-right">
                <h2 class="heading-secondary u-mar-b-2 u-center-text slide-heading">Business of Business</h2>
                <p class="paragraph-tertiary u-mar-b-3 u-mar-t-3 color-txt-dark slide-caption">Saturday, April 25th, 2020 from 1-5 pm in Playa Vista. Meet the producer and be a celebrity Guestpert. This intensive platform building luncheon includes one-on-one time with a decision making producer, content building, on-camera time, professional contructive feedback, take home “Get on TV!” kit and lunch.</p>

                <div class="slides__video">
                    <a class="slides__video-container" href="#">
                        <svg class="slides__video-icon">
                            <use xlink:href="#play-circle"></use>
                        </svg>
                        <span class="slide-vidLink">https://tvguestpert.com/guestpert/details/91</span>
                    </a>
                </div>

                <div class="slides__more-details">
                    <ul class="info-list slides__info u-mar-t-2">
                        <li>
                            <p class="info-list__key">Anchor</p>
                            <p class="info-list__value slide-anchor">Ivy Slater</p>
                        </li>
                        <li>
                            <p class="info-list__key">Acitve</p>
                            <p class="info-list__value slide-active">yes</p>
                        </li>
                    </ul>
                </div>
                <button data-slide="2" class="button__primary slides__edit-btn">Edit</button>
            </div>
        </div>
    </section>





    <section class="edit edit__none" id="editSlides">

        <div class="slides__show-btns u-mar-b-5">
            <button class="button__primary edit__show-cards">Cancel and Go back</button>
        </div>

        <form action="#" method="POST" class="edit__form-container u-mar-t-3">

            <h1 class="heading-primary u-center-text u-mar-b-2">Edit Slides</h1>


            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="slideTitle" class="form__label">
                    <span class="form__label--caps">Slide title</span>
                    <span class="form__label--details">It should be of max 30 characters with spaces. Style can differ in different slides</span>
                </label>
                <input class="form__control" id="slideTitle" required>
            </div>
            <div class="form__group--settings">
                <label for="slideCaption" class="form__label">
                    <span class="form__label--caps">Slide Caption</span>
                    <span class="form__label--details">It should be of max 310 characters with spaces. Style can differ in different slides</span>
                </label>
                <textarea type="text" class="form__control" id="slideCaption"></textarea>
            </div>
            <div class="form__group--settings">
                <label for="videoLink" class="form__label">
                    <span class="form__label--caps">Video Link</span>
                    <span class="form__label--details">Can be of Vimeo or Youtube video, wrapped in iframe.</span>
                </label>
                <input type="url" class="form__control" id="videoLink">
            </div>
            <div class="form__group--settings">
                <label for="anchor" class="form__label">
                    <span class="form__label--caps">anchor</span>
                </label>
                <input type="text" class="form__control" id="anchor">
            </div>
            <div class="form__group--checkbox">
                <label for="active" class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active" name="active" />
                    <label for="active"></label>
                </div>
            </div>
            <div class="form__group--settings u-mar-t-3" id="inpFile-box">
                <label for="choose-img-file" class="form__label">
                    <span class="form__label--caps">blog cover Image*</span>
                    <span class="form__inp-img">Choose Image</span>
                    <span class="form__inp-img--adrss "></span>
                    <span class="form__label--details u-mar-t-1">Make sure that the image match the size and background behind</span>
                </label>
                <input type="file" id="choose-img-file">
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container">
                <button type="submit" data-slide="" class="form__submit-btn--orange form__submit-btn" id="edit__send-button">save</button>
            </div>
        </form>

    </section>

    <div id="csrf"></div>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>
</body>