<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage about page</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->

    <section class="about u-mar-t-5 u-absCenter" id="about-section">

        <h2 class="heading-secondary u-mar-b-3">Primary Team</h2>

        <div class="about__show-btns">
            <button data-type="prime" class="button__primary btn-createNew">create new</button>
        </div>

        <div class="row__grid-4 about__row u-mar-b-7">
            
            <div class="card-4 faty__card">
                <div class="faty__head">
                    <p  class=" u-center-text paragraph-primary txt-uppercase">stephanie Cobian</p>
                    <p class="caption-txt-sm color-txt-dark txt-capitalize">VP of Talent Relations and Media Services</p>
                    
                </div>

                <div class="faty__card-img">
                    <img src="../../images/team/about_img1.jpg" class="fluid-img">
                </div>
                
                <div class="faty__card-btns">
                    <button data-id="5f804f08a7419319b45a7d1f" class="faty__card-btn-edit button__primary">Edit</button>
                    <button data-id="5f804f08a7419319b45a7d1f" class="faty__card-btn-delete button__ghost button__ghost--sm">Remove</button>
                </div>
            </div>
            <div class="card-4 faty__card">
                <div class="faty__head">
                    <p  class=" u-center-text paragraph-primary txt-uppercase">richard waner</p>
                    <p class="caption-txt-sm color-txt-dark txt-capitalize">VP Of Media Marketing And Sales, Executive Producer</p>
                    
                </div>

                <div class="faty__card-img">
                    <img src="../../images/team/richard_waner.jpg" class="fluid-img">
                </div>
                
                <div class="faty__card-btns">
                    <button data-id="objId345" class="faty__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId348" class="faty__card-btn-delete button__ghost button__ghost--sm">Remove</button>
                </div>
            </div>
            <div class="card-4 faty__card">
                <div class="faty__head">
                    <p class="paragraph-primary txt-capitalize">RACHEL QUAILL</p>
                    <p class="caption-txt-sm color-txt-dark txt-capitalize">Project Manager</p>
                    
                </div>

                <div class="faty__card-img">
                    <img src="../../images/team/TVG Workshop Fernita with Rachel.jpg" class="fluid-img">
                </div>
                
                <div class="faty__card-btns">
                    <button data-id="objId345" class="faty__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId345" class="faty__card-btn-delete button__ghost button__ghost--sm">Remove</button>
                </div>
            </div>
            <div class="card-4 faty__card">
                <div class="faty__head">
                    <p class="paragraph-primary txt-capitalize">SEREE MALKIN</p>
                    <p class="caption-txt-sm color-txt-dark txt-capitalize">Special Projects Assistant</p>
                    
                </div>

                <div class="faty__card-img">
                    <img src="../../images/team/Souri pic cropped.jpg" class="fluid-img">
                </div>
                
                <div class="faty__card-btns">
                    <button data-id="objId345" class="faty__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId345" class="faty__card-btn-delete button__ghost button__ghost--sm">Remove</button>
                </div>
            </div>
            <div class="card-4 faty__card">
                <div class="faty__head">
                    <p class="paragraph-primary txt-capitalize">MARK OGUSCHEWITZ</p>
                    <p class="caption-txt-sm color-txt-dark txt-capitalize">Lead Editor</p>
                    
                </div>

                <div class="faty__card-img">
                    <img src="../../images/team/Mark Oguschewitz. 2018.jpg" class="fluid-img">
                </div>
                
                <div class="faty__card-btns">
                    <button data-id="objId345" class="faty__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId345" class="faty__card-btn-delete button__ghost button__ghost--sm">Remove</button>
                </div>
            </div>
            <div class="card-4 faty__card">
                <div class="faty__head">
                    <p class="paragraph-primary txt-capitalize">LUISA HOTZ</p>
                    <p class="caption-txt-sm color-txt-dark txt-capitalize">Office Admin</p>
                    
                </div>

                <div class="faty__card-img">
                    <img src="../../images/team/Souri pic cropped.jpg" class="fluid-img">
                </div>
                
                <div class="faty__card-btns">
                    <button data-id="objId345" class="faty__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId345" class="faty__card-btn-delete button__ghost button__ghost--sm">Remove</button>
                </div>
            </div>
        </div>
    


        <h2 class="heading-secondary u-mar-b-3">Other Members</h2>

        <div class="about__show-btns">
            <button data-type="others" class="button__primary btn-createNew">create new</button>
        </div>

        <div class="row__grid-4 about__row">
    
            <div class="card-4 faty__card">
                <div class="faty__head">
                    <p  class=" u-center-text paragraph-primary txt-uppercase">stephanie Cobian</p>
                    <p class="faty__sm-txt color-txt-dark txt-capitalize">VP of Talent Relations and Media Services</p>
                </div>
                
                <div class="faty__card-btns">
                    <button data-id="objId345" class="faty__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId345" class="faty__card-btn-delete button__ghost button__ghost--sm">Remove</button>
                </div>
            </div>
            <div class="card-4 faty__card">
                <div class="faty__head">
                    <p  class=" u-center-text paragraph-primary txt-uppercase">richard waner</p>
                    <p class="caption-txt-sm color-txt-dark txt-capitalize">VP Of Media Marketing And Sales, Executive Producer</p>
                </div>
                
                <div class="faty__card-btns">
                    <button data-id="objId345" class="faty__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId345" class="faty__card-btn-delete button__ghost button__ghost--sm">Remove</button>
                </div>
            </div>
        </div>

    </section>



    <!-- Spinner animation -->
    <section id="animations"></section>



    <!-- /////////////////////////////////////// -->
    <!-- ///--- Edit Prime Members ---/// -->
    <!-- /////////////////////////////////////// -->

    <section class="edit edit__none" id="editPrimeMembers">

        <div class="about__show-btns">
            <button class="button__primary btn__show-cards">Show SubAdmins</button>
        </div>

        <!-- ---- Form Header ---- -->
        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create Team</h2>

        <!-- ----- Personal Info ------ -->

        <form action="#" method="POST" class="edit__form-container u-mar-t-3">

            <!-- ------Inputs and Lebels------ -->

            <span class="span color-txt-dark u-mar-b-2">Please make sure that the image is of ratio 1:1 and size is of max 500KB</span>
            <div class="edit__heading changeDP" >
                <label for="img-input" class="edit__image-container">
                    <img  src="../../images/user.png" alt="guestpert image" class="fluid-img" id="preview-img">
                    <span class="span span--in">Change profile picture</span>
                    <span class="span span--out">Click here to change</span>
                </label>
                <input type="file" class="popup__input-img" id="img-input">
            </div>

            <div class="form__group--settings">
                <label for="firstName" class="form__label">
                    <span class="form__label--caps">first Name</span>
                </label>
                <input type="text" class="form__control" id="firstName" required>
            </div>
            <div class="form__group--settings">
                <label for="lastName" class="form__label">
                    <span class="form__label--caps">last name</span>
                </label>
                <input type="text" class="form__control" id="lastName" required>
            </div>
            <div class="form__group--settings">
                <label for="title" class="form__label">
                    <span class="form__label--caps">title</span>
                </label>
                <input type="text" class="form__control" id="title" required>
            </div>
            <div class="form__group--settings">
                <label for="description" class="form__label">
                    <span class="form__label--caps">Description</span>
                </label>
                <textarea type="text" class="form__control" id="description"></textarea>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <input type="hidden" name="hidden-id" id="hidden-id">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>
    </section>


    <!-- /////////////////////////////////////// -->
    <!-- ///--- Edit Other Members ---/// -->
    <!-- /////////////////////////////////////// -->
    
    <section class="edit edit__none" id="editOtherMembers">

        <div class="about__show-btns">
            <button class="button__primary btn__show-cards">Show SubAdmins</button>
        </div>

        <!-- ---- Form Header ---- -->
        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create Other Members</h2>

        <!-- ----- Personal Info ------ -->

        <form action="#" method="POST" class="edit__form-container u-mar-t-3">

            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="firstName" class="form__label">
                    <span class="form__label--caps">first Name</span>
                </label>
                <input type="text" class="form__control" id="firstName" required>
            </div>
            <div class="form__group--settings">
                <label for="lastName" class="form__label">
                    <span class="form__label--caps">last name</span>
                </label>
                <input type="text" class="form__control" id="lastName" required>
            </div>
            <div class="form__group--settings">
                <label for="title" class="form__label">
                    <span class="form__label--caps">title</span>
                </label>
                <input type="text" class="form__control" id="title" required>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <input type="hidden" name="hidden-id" id="hidden-id">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>
        </form>
    </section>

    <div class="popup">
        <div class="popup__del-box">
            <div>
                <p class="paragraph-tertiary color-txt-dark u-mar-b-2">Are you sure to delete this appearance?</p>
                <div class="popup__del-btns">
                    <button data-id="" class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>
    <div id="csrf"></div>
</body>
</html>