<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Service Page</title>
</head>

<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->



    <section class="u-mar-t-5 u-absCenter services">

        <h2 class="heading-secondary u-mar-b-3">Service List</h2>

        <div class="services__show-btns">
            <button class="button__primary btn-createNew">create new</button>
        </div>


        <div class="row__grid-4 u-mar-b-5 u-mar-t-5">
            <div class="card-4 services__cards" id="std-membership">
                <h3 class="paragraph-primary">Standard Guestpert Membership</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">Standard Guestpert Membership allows you to post your
                    profile: biography, headshot, areas of expertise, and segment pitches (aka Hot Topics) on the
                    TVGuestpert website...</p>
                <div class="services__card-btns">
                    <button data-id="objId345" class="services__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId345"
                        class="services__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                </div>
            </div>

            <div class="card-4 services__cards" id="elite-membership">
                <h3 class="paragraph-primary">Elite GuestPert Membership</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">Elite Guestpert Membership provides all the features of
                    the Standard Membership Profile: biography, areas of expertise, pitches...</p>
                    <div class="services__card-btns">
                        <button data-id="objId345" class="services__card-btn-edit button__primary">Edit</button>
                        <button data-id="objId345" class="services__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                    </div>
            </div>

            <div class="card-4 services__cards" id="elite-plus-membership">
                <h3 class="paragraph-primary">Elite Plus GuestPert Membership</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">Recognized as a "run and gun"
                    Provides all the features of the Standard Membership and Elite Membership Plus : Stratetegic
                    placement launch...</p>
                    <div class="services__card-btns">
                        <button data-id="objId345" class="services__card-btn-edit button__primary">Edit</button>
                        <button data-id="objId345" class="services__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                    </div>
            </div>

            <div class="card-4 services__cards" id="platinum-membership">
                <h3 class="paragraph-primary">Platinum GuestPert Membership</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">Recognized as a Media Management Account Provides all of
                    the features of the Elite Plus Membership Plus: Book Publishing Services...</p>
                    <div class="services__card-btns">
                        <button data-id="objId345" class="services__card-btn-edit button__primary">Edit</button>
                        <button data-id="objId345" class="services__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                    </div>
            </div>

            <div class="card-4 services__cards" id="publishing-services">
                <h3 class="paragraph-primary">Publishing Services</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">What makes our publishing services unique is that we are
                    not a 'self-publishing' company. There are no 'agent fees.' We can turn around the publishing
                    process of a book in...</p>
                    <div class="services__card-btns">
                        <button data-id="objId345" class="services__card-btn-edit button__primary">Edit</button>
                        <button data-id="objId345" class="services__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                    </div>
            </div>

            <div class="card-4 services__cards" id="video-production">
                <h3 class="paragraph-primary">Video Production</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">A reel of past performances highlights is always helpful,
                    but here at TVGuestpert, we strongly recommend showing producers not just what you've done, but
                    what...</p>
                    <div class="services__card-btns">
                        <button data-id="objId345" class="services__card-btn-edit button__primary">Edit</button>
                        <button data-id="objId345" class="services__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                    </div>
            </div>

            <div class="card-4 services__cards" id="camera-training">
                <h3 class="paragraph-primary">On Camera Training</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">Once you get booked on TV, there is a whole process for
                    protecting the integrity of your message, honoring the booking, and delivering a successful
                    interview for yourself and the...</p>
                    <div class="services__card-btns">
                        <button data-id="objId345" class="services__card-btn-edit button__primary">Edit</button>
                        <button data-id="objId345" class="services__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                    </div>
            </div>

            <div class="card-4 services__cards" id="broadcast-radio-distribution">
                <h3 class="paragraph-primary">Broadcast Radio Distribution</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">We have distribution deals with several local broadcast
                    stations and can produce four hourly radio shows a month. Schedule will depend on several varying
                    production...</p>
                    <div class="services__card-btns">
                        <button data-id="objId345" class="services__card-btn-edit button__primary">Edit</button>
                        <button data-id="objId345" class="services__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                    </div>
            </div>

            <div class="card-4 services__cards" id="celebrity-headshot-photography">
                <h3 class="paragraph-primary">Celebrity Headshot Photography</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">Our professional celebrity photographers can transform
                    your headshots. TVG's photographer has shot for Ben Affleck, Tom Hanks, Morgan Freeman, Jane Lynch,
                    Tim Robbin...</p>
                    <div class="services__card-btns">
                        <button data-id="objId345" class="services__card-btn-edit button__primary">Edit</button>
                        <button data-id="objId345" class="services__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                    </div>
            </div>

            <div class="card-4 services__cards" id="press-kits">
                <h3 class="paragraph-primary">Press Kits</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">We have a full service graphic designer to produce a press
                    kit that will get you booked on TV! We also help you fashion the content of your press kit/materials
                    so that it is consistent...</p>
                    <div class="services__card-btns">
                        <button data-id="objId345" class="services__card-btn-edit button__primary">Edit</button>
                        <button data-id="objId345" class="services__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                    </div>
            </div>

            <div class="card-4 services__cards" id="website-design">
                <h3 class="paragraph-primary">Website Design</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">TVGuestpert will provide full service web design to keep
                    it all within your branding. We realized early on that we were bringing to the table amazing
                    television appearances that...</p>
                    <div class="services__card-btns">
                        <button data-id="objId345" class="services__card-btn-edit button__primary">Edit</button>
                        <button data-id="objId345" class="services__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                    </div>
            </div>

            <div class="card-4 services__cards" id="media-consultation">
                <h3 class="paragraph-primary">Media Consultation</h3>
                <p class="services__para u-mar-b-2 u-mar-t-2">Media Consultation is the active development of your media
                    plan, vision, strategy, and overall message. We evaluate your current platform and help you design a
                    blueprint for...</p>
                    <div class="services__card-btns">
                        <button data-id="objId345" class="services__card-btn-edit button__primary">Edit</button>
                        <button data-id="objId345" class="services__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                    </div>
            </div>
        </div>
    </section>


    <!-- /////////////////////////////////////// -->
    <!-- ///--- Page Numbers ---/// -->
    <!-- /////////////////////////////////////// -->
    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>


    <section class="edit edit__none">

        <div class="services__show-btns u-mar-b-4 u-mar-t-1">
            <button class="button__primary edit__show-cards">Show Services</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-b-2">Create New service</h2>


        
        <form action="#" method="POST" class="edit__form-container">

            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="serviceTitle" class="form__label">
                    <span class="form__label--caps">service Title</span>
                </label>
                <input type="text" class="form__control" id="serviceTitle" required>
            </div>

            <div class="form__group--settings">
                <label for="shortDescription" class="form__label">
                    <span class="form__label--caps">short description</span>
                    <span class="form__label--details">It should be max 30 words</span>
                </label>
                <textarea type="text" class="form__control" id="shortDescription"></textarea>
            </div>
            <div class="form__group--settings">
                <label for="description" class="form__label">
                    <span class="form__label--caps">description</span>
                </label>
                <textarea type="text" class="form__control" id="description"></textarea>
            </div>
            
            <div class="form__group--checkbox">
                <label for="active" class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active" name="active" checked />
                    <label for="active"></label>
                </div>
            </div>
            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-2">
                <button type="submit" class="form__submit-btn--orange form__submit-btn" id="loco">save</button>
            </div>
        </form>
    </section>


    <div class="popup">
        <div class="popup__del-box">

            <div>
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this Service?</p>
                <div class="popup__del-btns">
                    <button data-id="" class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </div>

        </div>
    </div>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>
    <div class="animation" id="animation"></div>

</body>

</html>