<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Jaquies Blog</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->


    <section class="blogs u-absCenter u-mar-b-5 u-mar-t-5">
        <h2 class="heading-secondary u-center-text">Jaquie's Blogs</h2>

        <div class="row">
            <button class="button__primary btn-createNew">create new</button>
        </div>


        <ul class="row__grid-4 u-mar-b-5 u-mar-t-5" id="all-blogs-box">
        </ul>
        
    </section>

    <section class="animations" id="animations"></section>

    <!-- /////////////////////////////////////// -->
    <!-- ///--- Page Numbers ---/// -->
    <!-- /////////////////////////////////////// -->
    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>


    <section class="edit edit__none" id="editBlog">

        <div class="row">
            <button class="button__primary edit__show-cards">Blog Edit</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-b-2">Create New Hot topic</h2>

        <!-- /////////////////////////
             ----- Personal Info ------ 
            ////////////////////////////// -->
        <form action="/admin/createFounderBlog" method="POST" class="edit__form-container edit__form-container--hotTopics" enctype="multipart/form-data">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>


            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="title" class="form__label">
                    <span class="form__label--caps">Title*</span>
                </label>
                <input type="text" name="title" class="form__control" id="title" required>
            </div>
            <div class="form__group--settings" id="inpFile-box">
                <label for="choose-img-file" class="form__label">
                    <span class="form__label--caps">blog cover Image*</span>
                    <span class="form__inp-img">Choose Image</span>
                    <span class="form__inp-img--adrss"></span>
                </label>
                <span class="form__label--details u-mar-t-1">Image should be of max 500 KB and size should be of aspect ratio 16:9</span>
                <input type="file" name="image" id="choose-img-file">
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active-stats" name="check" checked />
                    <label for="active-stats"></label>
                </div>
            </div>
            <div class="form__group--settings">
                <label for="content" class="form__label">
                    <span class="form__label--caps">Content*</span>
                </label>
                <textarea type="text" name="content" class="form__control" id="content"></textarea>
            </div>


            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn" id="loco">save</button>
            </div>
        </form>

    </section>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>

    <div id="csrf" data-csrf=""></div>

    <div class="popup">
        <div class="popup__del-box">
            <form action="#">
                <input type="hidden" value="234234234234234" class="card-id">
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this topic ?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>