<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Faq page</title>
</head>

<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->

    <section class="faq u-mar-t-5 u-absCenter">

        <h2 class="heading-secondary u-mar-b-3">Primary Team</h2>

        <div class="faq__show-btns">
            <button class="button__primary btn-createNew u-mar-t-1 u-mar-r-1">create new</button>
        </div>

        <div class="row__grid-4">

            <div class="card-4 faty__card">
                <div class="faty__head">
                    <p class="paragraph-tertiary color-txt-dark u-center-text">What is the difference between scripted
                        and non-scripted television?</p>
                </div>

                <div class="faty__card-btns">
                    <button data-id="objId345" class="faty__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId345"
                        class="faty__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                </div>
            </div>
            <div class="card-4 faty__card">
                <div class="faty__head">
                    <p class="paragraph-tertiary color-txt-dark u-center-text">What is the difference between scripted
                        and non-scripted television?</p>
                </div>

                <div class="faty__card-btns">
                    <button data-id="objId454" class="faty__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId454"
                        class="faty__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                </div>
            </div>

        </div>
    </section>


    <section class="edit edit__none" id="edit-section">

        <div class="faq_show-btns u-mar-b-4 u-mar-t-1">
            <button class="button__primary edit__show-cards u-mar-t-1 u-mar-r-1">show all FAQ</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-b-2">Create New FAQ</h2>


        <!-- /////////////////////////
             ----- Personal Info ------ 
            ////////////////////////////// -->
        <form action="#" method="POST" class="edit__form-container">

            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="question" class="form__label">
                    <span class="form__label--caps">Question</span>
                </label>
                <input type="text" class="form__control" name="question" id="question" required>
            </div>
            <div class="form__group--settings">
                <label for="answerTitle" class="form__label">
                    <span class="form__label--caps">answer Title</span>
                </label>
                <input type="text" class="form__control" name="answerTitle" id="answerTitle" required>
            </div>
            <div class="form__group--settings">
                <label for="answerTitle" class="form__label">
                    <span class="form__label--caps">video link</span>
                </label>
                <input type="text" class="form__control" name="videoLink" id="videoLink" required>
            </div>

            <div class="form__group--settings">
                <label for="answer" class="form__label">
                    <span class="form__label--caps">answer</span>
                </label>
                <textarea type="text" class="form__control" name="answer" id="answer"></textarea>
            </div>

            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active" name="active" checked />
                    <label for="active"></label>
                </div>
            </div>
            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-2">
                <button type="submit" class="form__submit-btn--orange form__submit-btn" id="loco">save</button>
            </div>
        </form>
    </section>


    <div class="popup">
        <div class="popup__del-box">
            <div>
                <p class="paragraph-tertiary color-txt-dark u-mar-b-2">Are you sure to delete this FAQ ?</p>
                <div class="popup__del-btns">
                    <button data-id="" class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Spinner animation -->
    <section id="animations"></section>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>

</body>

</html>