<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->

    <section class="newsletter u-mar-t-5 u-absCenter">

        <h2 class="heading-secondary u-mar-b-3">Newsletter Templates</h2>

        <div class="newsletter__show-btns">
            <button class="button__primary btn-createNew u-mar-t-1 u-mar-r-1">create new</button>
        </div>

        <div class="row__grid-4" id="newsletter__cardBox">
            
            <div class="card-4 faty__card">
                <div class="faty__head">
                    <p class="paragraph-tertiary color-txt-dark u-center-text">General Newsletter</p>
                </div>
                
                <div class="faty__card-btns">
                    <button data-id="objId345" class="faty__card-btn-edit button__primary">Post</button>
                    <button data-id="objId345" class="faty__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                </div>
            </div>
            
        </div>
    </section>


    <!-- /////////////////////////////////////// -->
    <!-- ///--- Page Numbers ---/// -->
    <!-- /////////////////////////////////////// -->
    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>



    <section class="edit edit__none" id="editSlides">

        <div class="newsletter__show-btns u-mar-b-5">
            <button class="button__primary u-mar-r-1 u-mar-t-1 edit__show-cards">Cancel and Go back</button>
        </div>

        <h2 class="heading-secondary u-absCenter u-center-text u-mar-b-2">Edit newsletter template</h2>

        <form action="#" method="POST" class="edit__form-container u-mar-t-3">

            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings u-mar-t-3" id="inpFile-box">
                <label for="choose-img-file" class="form__label">
                    <span class="form__label--caps">Newsletter*</span>
                    <span class="form__inp-img">Choose Newsletter</span>
                    <span class="form__inp-img--adrss "></span>
                    <span class="form__label--details u-mar-t-1">PDF size should not extend 5 MB</span>
                </label>
                <input type="file" name="newsletter" id="choose-img-file">
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container">
                <button type="submit" data-slide="" class="form__submit-btn--orange form__submit-btn" id="edit__send-button">save</button>
            </div>
        </form>
    </section>



    <div class="popup">
        <div class="popup__del-box">
            <div>
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this media?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>

    <div id="csrf" data-csrf=""></div>

    <div class="animation" id="animation"></div>
</body>
</html>