<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter Subscriber</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->

    <section class="newsletter-subscriber u-mar-t-5 u-mar-b-5">
        <h2 class="heading-secondary u-center-text">Subscriber list</h2>

        <div class="form__search u-mar-b-3 u-mar-t-3">
            <input class="form__control form__search-input" id="search-input" type="text" placeholder="Search Subscriber Email" required>
            <input type="hidden" value="" class="form__hidden-input" id="hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="row__grid-3-fx u-mar-t-4 u-mar-b-7" id="newsletter-subs__box"></div>
    </section>


    <div class="popup">
        <div class="popup__del-box">
            <div>
                <p class="paragraph-secondary u-mar-b-2">Are you sure to remove this Subscriber?</p>
                <div class="popup__del-btns">
                    <button data-id="" class="popup__del-btn button__primary">Delete</button>
                    <a class="button__primary btn__cancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>


    <!-- /////////////////////////////////////// -->
    <!-- ///--- Page Numbers ---/// -->
    <!-- /////////////////////////////////////// -->
    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>

    <div id="csrf" data-csrf=""></div>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>

    <div class="animation" id="animation"></div>


</body>
</html>