<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter history</title>
</head>
<body>
    <nav class="header-bar">
    <a href="/" class="header-bar__logo-container">
        <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
    </a>
    <ul class="header-bar__links-list">
        <li class="header-bar__link-box">
            <a href="#" class="header-bar__link">
                <svg class="header-bar__icon">
                    <use xlink:href="#logout"></use>
                </svg>
                <span class="header-bar__link-txt">Log out</span>
            </a>
        </li>
        <li class="header-bar__link-box">
            <a href="#" class="header-bar__link">
                <svg class="header-bar__icon">
                    <use xlink:href="#profile"></use>
                </svg>
                <span class="header-bar__link-txt">Dashboard</span>
            </a>
        </li>
    </ul>
</nav>
<!-- /////////////////////////
    Header bar above
////////////////////////////// -->
<nav class="address-bar">
    <div class="address-bar__hamburger-container">
        <button class="address-bar__hamburger-btn">
            <svg class="address-bar__icon">
                <use xlink:href="#hamburger menu"></use>
            </svg>
        </button>
    </div>
    <ul class="address-bar__links-list">
        <li class="address-bar__link-box">
            <a href="#" class="address-bar__link">
                <svg class="address-bar__icon  u-mar-r-1">
                    <use xlink:href="#home"></use>
                </svg>
                <span class="address-bar__link-txt">Dashboard</span>
            </a>
        </li>
        <li class="address-bar__link-box">
            <a href="#" class="address-bar__link">
                <svg class="address-bar__icon">
                    <use xlink:href="#chevron-right"></use>
                </svg>
                <span class="address-bar__link-txt">Manage Admin</span>
            </a>
        </li>
        <li class="address-bar__link-box">
            <a href="#" class="address-bar__link">
                <svg class="address-bar__icon">
                    <use xlink:href="#chevron-right"></use>
                </svg>
                <span class="address-bar__link-txt">Frontend UI</span>
            </a>
        </li>
        <li class="address-bar__link-box">
            <a href="#" class="address-bar__link">
                <svg class="address-bar__icon">
                    <use xlink:href="#chevron-right"></use>
                </svg>
                <span class="address-bar__link-txt">Manage Home Page</span>
            </a>
        </li>
    </ul>
</nav>

<!-- /////////////////////////
    Address bar above
////////////////////////////// -->
    <section class="newsletter-history u-mar-t-5 u-mar-b-5">
        <h2 class="heading-secondary u-center-text">History</h2>

        <div class="newsletter-history__card-box u-absCenter" style="width: 100%;">
            <div class="newsletter-history__card">
                <ul class="newsletter-history__info">
                    <li>
                        <p class="newsletter-history__key">Subject</p>
                        <p class="newsletter-history__value">General Newsletter</p>
                    </li>
                    <li>
                        <p class="newsletter-history__key">Content</p>
                        <div class="newsletter-history__value">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ullam consequuntur distinctio suscipit aperiam consequatur libero! Consequuntur dolorum provident qui</p>
                            <p>&nbsp;</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit fuga tenetur, excepturi sunt quam explicabo blanditiis. Ducimus, ipsum! Perspiciatis, aperiam harum excepturi tenetur velit ipsam placeat alias quis quia quaerat.</p>
                            <p>&nbsp;</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae molestiae consequuntur dicta fugit rem error dignissimos maiores labore! Quis quod nulla ea amet quibusdam ab voluptatum quam! Possimus repellendus, pariatur amet id accusantium quos? Voluptas.</p>
                        </div>
                    </li>
                    <li>
                        <p class="newsletter-history__key">Posted</p>
                        <p class="newsletter-history__value">11 Sept 2017</p>
                    </li>
                </ul>
            </div>
            <div class="newsletter-history__card">
                <ul class="newsletter-history__info">
                    <li>
                        <p class="newsletter-history__key">Subject</p>
                        <p class="newsletter-history__value">General Newsletter</p>
                    </li>
                    <li>
                        <p class="newsletter-history__key">Content</p>
                        <div class="newsletter-history__value">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ullam consequuntur distinctio suscipit aperiam consequatur libero! Consequuntur dolorum provident qui</p>
                            <p>&nbsp;</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit fuga tenetur, excepturi sunt quam explicabo blanditiis. Ducimus, ipsum! Perspiciatis, aperiam harum excepturi tenetur velit ipsam placeat alias quis quia quaerat.</p>
                            <p>&nbsp;</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae molestiae consequuntur dicta fugit rem error dignissimos maiores labore! Quis quod nulla ea amet quibusdam ab voluptatum quam! Possimus repellendus, pariatur amet id accusantium quos? Voluptas.</p>
                        </div>
                    </li>
                    <li>
                        <p class="newsletter-history__key">Posted</p>
                        <p class="newsletter-history__value">11 Sept 2017</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!-- /////////////////////////////////////// -->
    <!-- ///--- Page Numbers ---/// -->
    <!-- /////////////////////////////////////// -->
    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>
</body>
</html>