<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Orders</title>
</head>
<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->
    

    <section class="orders u-absCenter u-mar-t-5 u-mar-b-5">
        <h1 class="heading-primary u-center-text u-mar-b-6">All Orders</h1>

        <div class="row ">
            <button class="button__primary btn-filter">Show active orders</button>
        </div>

        <div class="orders__card">
            <div class="orders__img-container">
                <div class="orders__img">
                    <img src="../../images/books/1503704437-APsychiatristGuide.FINAL.HighRes2.jpg" alt="product image" class="fluid-img">
                </div>
            </div>
            <div class="orders__info-container">
                <h2 class="heading-secondary">Alex Detail's Revolution</h2>

                <ul class="info-list u-mar-t-2">
                    <li>
                        <p class="info-list__key">Transaction Id</p>
                        <p class="info-list__value">1212121212121221</p>
                    </li>
                    <li>
                        <p class="info-list__key">Amount</p>
                        <p class="info-list__value">$11</p>
                    </li>
                    <li>
                        <p class="info-list__key">payment Status</p>
                        <p class="info-list__value">paid</p>
                    </li>
                    <li>
                        <p class="info-list__key">purchased On</p>
                        <p class="info-list__value">11 Sept 2019</p>
                    </li>
                    <li>
                        <p class="info-list__key">Address</p>
                        <p class="info-list__value">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore, rerum.</p>
                    </li>
                    <li>
                        <p class="info-list__key">Phone</p>
                        <p class="info-list__value">1231231231</p>
                    </li>
                </ul>

                <button class="button__primary u-mar-t-2">Download Invoice</button>
            </div>
        </div>
    </section>


    <!-- /////////////////////////////////////// -->
    <!-- ///--- Page Numbers ---/// -->
    <!-- /////////////////////////////////////// -->
    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>


</body>
</html>