<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sub Admin Settings</title>
</head>

<body>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <a href="#" class="header-bar__link">
                    <svg class="header-bar__icon">
                        <use xlink:href="#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /////////////////////////
        Header bar above
    ////////////////////////////// -->
    <nav class="address-bar">
        <div class="address-bar__hamburger-container">
            <button class="address-bar__hamburger-btn">
                <svg class="address-bar__icon">
                    <use xlink:href="#hamburger menu"></use>
                </svg>
            </button>
        </div>
        <ul class="address-bar__links-list">
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon  u-mar-r-1">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="address-bar__link-txt">Dashboard</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Admin</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Frontend UI</span>
                </a>
            </li>
            <li class="address-bar__link-box">
                <a href="#" class="address-bar__link">
                    <svg class="address-bar__icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <span class="address-bar__link-txt">Manage Home Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /////////////////////////
        Address bar above
    ////////////////////////////// -->

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>

    <section class="subAdmins">
        <div class="subAdmins__show-btns">
            <button class="button__primary btn-createNew">create new</button>
        </div>
        <div class="row__grid-3-fx">

            <div class="card-3 users__card ">
                <div class="users__card-heading">
                    <div class="users__card-img users__card-img--position-center">
                        <img src="../../images/guestperts/1493250524-DarrenCampoHeadshot.2017.jpg" class="fluid-img">
                    </div>
                </div>
                <div class="users__info">
                    <ul class="info-list u-mar-t-2">
                        <li>
                            <p class="info-list__key">User name</p>
                            <p class="info-list__value">Assistant 2 sdfsdfsdfsdfsdfsdfsdfsdfsdfsdf</p>
                        </li>
                        <li>
                            <p class="info-list__key">Joined</p>
                            <p class="info-list__value">11 Feb 2019</p>
                        </li>
                        <li>
                            <p class="info-list__key">Active</p>
                            <p class="info-list__value">Yes</p>
                        </li>
                    </ul>
                </div>
                <div class="users__hidden-info">
                    <img src="../../images/guestperts/1493250524-DarrenCampoHeadshot.2017.jpg" class="hide-img">
                    <div class="subAdmin__firstName" data-firstName="Maura"></div>
                    <div class="subAdmin__lastName" data-lastName="Sandford"></div>
                    <div class="subAdmin__username" data-username="Assistant 2 sdfsdfsdfsdfsdfsdfsdfsdfsdfsdf"></div>
                    <div class="subAdmin__email" data-email="bernadette.dare@gmail.com"></div>
                    <div class="subAdmin__phone" data-phone="1234567890"></div>
                    <div class="subAdmin__address" data-address="7138 Southampton Road Greer, SC 29650"></div>
                    <div class="subAdmin__joined" data-joined="11 Feb 2019"></div>
                    <div class="subAdmin__active" data-active="no"></div>
                </div>
                <div class="users__card-btns">
                    <button data-id="objId345fdg345345345345" class="users__card-btn-edit button__primary">Edit</button>
                    <button data-id="objId345" class="users__card-btn-details button__ghost button__ghost--sm">More
                        Details</button>
                </div>
            </div>

        </div>
    </section>




    <!-- /////////////////////////////////////// -->
    <!-- ///--- Create Sub Admin form ---/// -->
    <!-- /////////////////////////////////////// -->

    <section class="edit edit__none" id="createSubAdmin">
        <div class="subAdmins__show-btns u-mar-t-1 u-mar-b-4">
            <button class="button__primary edit__show-cards">Show SubAdmins</button>
        </div>

        <!-- ---- Form Header ---- -->
        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create New Admin</h2>


        <!-- /////////////////////////
             ----- Personal Info ------ 
            ////////////////////////////// -->


        <form action="#" method="POST" class="edit__form-container u-mar-t-3">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Personal Details</p>


            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="create_firstName" class="form__label">
                    <span class="form__label--caps">First Name*</span>
                </label>
                <input type="text" class="form__control" id="create_firstName" required>
            </div>
            <div class="form__group--settings">
                <label for="create_lastName" class="form__label">
                    <span class="form__label--caps">Last Name*</span>
                </label>
                <input type="text" class="form__control" id="create_lastName" required>
            </div>
            <div class="form__group--settings">
                <label for="create_address" class="form__label">
                    <span class="form__label--caps">address</span>
                </label>
                <input type="text" class="form__control" id="create_address">
            </div>

            <div class="form__group--settings" id="create_inpFile-box">
                <label for="create_choose-img-file" class="form__label">
                    <span class="form__label--caps">Admin Headshot</span>
                    <span class="form__inp-img">Choose Image</span>
                    <span class="form__inp-img--adrss "></span>
                    <span class="form__label--details u-mar-t-1">Image should be of max 2 MB and size should be of ratio
                        1:1</span>
                </label>
                <input type="file" id="create_choose-img-file">
            </div>

            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="create_active" name="active" checked />
                    <label for="create_active"></label>
                </div>
            </div>

            <p class="paragraph-secondary u-center-text u-mar-t-5">Credentials Details</p>

            <div class="form__group--settings">
                <label for="create_email" class="form__label">
                    <span class="form__label--caps">Email*</span>
                </label>
                <input type="email" class="form__control" id="create_email" required>
            </div>
            <div class="form__group--settings">
                <label for="create_username" class="form__label">
                    <span class="form__label--caps">username*</span>
                </label>
                <input type="text" class="form__control" id="create_username" required>
            </div>
            <div class="form__group--settings">
                <label for="create_password" class="form__label">
                    <span class="form__label--caps">password</span>
                </label>
                <input type="password" class="form__control" id="create_password">
            </div>
            <div class="form__group--settings">
                <label for="create_confirmpassword" class="form__label">
                    <span class="form__label--caps">confirm password</span>
                </label>
                <input type="text" class="form__control" id="create_confirmpassword">
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">Create</button>
            </div>
        </form>

    </section>



    <!-- /////////////////////////////////////// -->
    <!-- ///--- Edit Sub Admin form ---/// -->
    <!-- /////////////////////////////////////// -->

    <section class="edit edit__none" id="editSubAdmin">
        <div class="subAdmins__show-btns u-mar-t-1 u-mar-b-4">
            <button class="button__primary edit__show-cards">Show SubAdmins</button>
        </div>

        <!-- ---- Form Header ---- -->
        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Edit this admin</h2>


        <!-- ----- Personal Info ------ -->

        <form action="#" method="POST" class="edit__form-container u-mar-t-3 edit__form-basics">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Personal Details</p>


            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="edit_firstName" class="form__label">
                    <span class="form__label--caps">First Name*</span>
                </label>
                <input type="text" class="form__control" id="edit_firstName" required>
            </div>
            <div class="form__group--settings">
                <label for="edit_lastName" class="form__label">
                    <span class="form__label--caps">Last Name*</span>
                </label>
                <input type="text" class="form__control" id="edit_lastName" required>
            </div>
            <div class="form__group--settings">
                <label for="edit_address" class="form__label">
                    <span class="form__label--caps">address</span>
                </label>
                <input type="text" class="form__control" id="edit_address">
            </div>
            <div class="form__group--settings">
                <label for="create_lastName" class="form__label">
                    <span class="form__label--caps">Phone*</span>
                    <span class="form__label--details">Must be a 10 digit phone number</span>
                </label>
                <input type="number" pattern="\d*" name="phone" maxlength="10" class="form__control" id="edit_phone" required>
            </div>

            <div class="form__group--settings u-mar-t-2" id="edit_inpFile-box">
                <label for="edit_choose-img-file" class="form__label">
                    <span class="form__label--caps">Admin Headshot</span>
                    <span class="form__inp-img">Choose Image</span>
                    <span class="form__inp-img--adrss"></span>
                </label>
                <span class="form__label--details u-mar-t-1">Image should be of max 2 MB and size should be of ratio
                    1:1</span>
                <input type="file" id="edit_choose-img-file">
            </div>

            <div class="form__group--checkbox u-mar-t-2">
                <label class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="edit_active" name="active">
                    <label for="edit_active"></label>
                </div>
            </div>

            <div class="edit__form-button-container u-mar-t-3">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>
        </form>

        <form action="#" method="POST" class="edit__form-container u-mar-t-3 edit__form-credentials">
            <p class="paragraph-secondary u-center-text u-mar-t-5">Credentials Details</p>

            <div class="form__group--settings">
                <label for="edit_email" class="form__label">
                    <span class="form__label--caps">Email*</span>
                </label>
                <input type="email" class="form__control" id="edit_email" required>
            </div>
            <div class="form__group--settings">
                <label for="edit_username" class="form__label">
                    <span class="form__label--caps">username*</span>
                </label>
                <input type="text" class="form__control" id="edit_username" required>
            </div>
            <div class="form__group--settings">
                <label for="edit_password" class="form__label">
                    <span class="form__label--caps">password</span>
                </label>
                <input type="password" class="form__control" id="edit_password">
            </div>
            <div class="form__group--settings">
                <label for="edit_confirmpassword" class="form__label">
                    <span class="form__label--caps">confirm password</span>
                </label>
                <input type="text" class="form__control" id="confirmpassword">
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>


        <div class="edit__form-container u-mar-t-3">

            <div>
                <p class="paragraph-secondary">Do you want to delete this Admin? Please remember that you will not be
                    able to retrive this admin once you delete it.</p>
                <button id="delete-subAdmin-btn" data-id=""
                    class="form__submit-btn--pink form__submit-btn u-mar-t-2">Delete</button>
            </div>
        </div>

    </section>




    <div class="popup">

        <div class="popup__users-info">
            <div class="popup__users-img">
                <img src="../../images/guestperts/1576546502-Simpson_Portraits_Joanna_Massey_7630 (2)..jpg"
                    alt="subAdmin image" class="fluid-img">
            </div>

            <ul class="popup__all-details u-mar-t-2">
                <li id="popup__subAdmin-id">
                    <p class="all-details__key">Id</p>
                    <p class="all-details__value">ObjectId("507f1f77bcf86cd799439011")</p>
                </li>
                <li id="popup__subAdmin-name">
                    <p class="all-details__key">name</p>
                    <p class="all-details__value">Maura Sandford</p>
                </li>
                <li id="popup__subAdmin-username">
                    <p class="all-details__key">User name</p>
                    <p class="all-details__value">Assistant 2</p>
                </li>
                <li id="popup__subAdmin-email">
                    <p class="all-details__key">Email</p>
                    <p class="all-details__value">bernadette.dare@gmail.com</p>
                </li>
                <li id="popup__subAdmin-phone">
                    <p class="all-details__key">Phone</p>
                    <p class="all-details__value">1234567890</p>
                </li>
                <li id="popup__subAdmin-address">
                    <p class="all-details__key">Address</p>
                    <p class="all-details__value">7138 Southampton Road
                        Greer, SC 29650 7138 Southampton Road
                        Greer, SC 29650</p>
                </li>
                <li id="popup__subAdmin-joined">
                    <p class="all-details__key">Joined</p>
                    <p class="all-details__value">11 Feb 2019</p>
                </li>
                <li id="popup__subAdmin-active">
                    <p class="all-details__key">Active</p>
                    <p class="all-details__value">Yes</p>
                </li>
            </ul>
        </div>


        <div class="popup__del-box">
            <form action="#">
                <input type="hidden" value="234234234234234" class="card-id">
                <p class="paragraph-secondary u-mar-b-2">Are you sure to remove this admin?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <a class="button__primary btn__cancel">Cancel</a>
                </div>
            </form>
        </div>
    </div>

    <div id="csrf"></div>

</body>

</html>